.map-container {
  margin-top: 10px;
  overflow: auto;
  width: 100%;
}
.map-frame {
  border: 1px solid rgba(108, 108, 108, 0.353);;
}

#map {
  width: 100%;
  height: 400px;
  box-shadow: 5px 5px 5px #888;
}

.leaflet-popup-content img{
  width:100%;
}