<div class="p-card">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">LISTA DE PROBLEMAS</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" iconPos="right" icon="pi pi-save"
                    class="guardar-boton" ></button>
        </ng-template>
    </p-toolbar>
    <br>
    <div class="grid p p-fluid">
        <div class="col-12 md:col-6 lg:col-6">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <h3 class="mt-2">Problemas Crónicos</h3>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus"
                            class="guardar mr-2" style="background-color: #689F38" (click)="openNewCronico()"></button>
                </ng-template>
            </p-toolbar>
            <p-table class="table-over" [value]="problemasCronicos" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro </th>
                        <th style="text-align: center" class="font-1">Fecha</th>
                        <th style="text-align: center" class="font-2">Problema</th>
                        <th style="text-align: center" class="font-2">Controlado</th>
                        <th style="text-align: center" class="font-2">Observaciones</th>
                        <th style="text-align: center" class="font-2">Acciones</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.fecha }}</td>
                        <td style="text-align: center">{{ rowData.problemas }}</td>
                        <td style="text-align: center">{{ rowData.controlado }}</td>
                        <td style="text-align: center">{{ rowData.observaciones }}</td>

                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                    (click)="openDialogEditarProblemasCronicos(rowData,rowIndex)" pTooltip="Editar">
                            </button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarProblemaCronico(rowIndex)" pTooltip="Eliminar">
                            </button>
                            <button pButton (click)="openDialogEditarProblemasCronicos(rowData,rowIndex)" pTooltip="Visualizar" pRipple type="button"
                                    icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                            </button>

                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <h3 class="mt-2">Problemas Agudos</h3>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus"
                            class="guardar mr-2" style="background-color: #689F38" (click)="openNewAgudo()"></button>
                </ng-template>
            </p-toolbar>
            <p-table class="table-over" [value]="problemasAgudos" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro </th>
                        <th style="text-align: center" class="font-1">Fecha</th>
                        <th style="text-align: center" class="font-2">Problema</th>
                        <th style="text-align: center" class="font-2">Controlado</th>
                        <th style="text-align: center" class="font-2">Observaciones</th>
                        <th style="text-align: center" class="font-2">Acciones</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.fecha }}</td>
                        <td style="text-align: center">{{ rowData.problemas }}</td>
                        <td style="text-align: center">{{ rowData.controlado }}</td>
                        <td style="text-align: center">{{ rowData.observaciones }}</td>

                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                    (click)="openDialogEditarProblemasCronicos(rowData,rowIndex)" pTooltip="Editar">
                            </button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarProblemaCronico(rowIndex)" pTooltip="Eliminar">
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>
<p-dialog  [(visible)]="dialogProblemaCronico"
           [modal]="true"
           [style]="{width: '30%'}">
    <ng-template pTemplate="header">
        <h3>PROBLEMAS CRONICOS</h3>
    </ng-template>

    <form [formGroup]='formProblemasCronicos'>
        <div class="grid p-fluid">
            <div class="col-12 md:col-8 lg:col-8 p-field">
                <label>Fecha:</label>
                <input type="date"  pInputText formControlName='fechaProblemasCronicos' placeholder="Examenes Auxiliares"
                       required/>
            </div>
            <div class="col-12 md:col-4 lg:col-4 p-field">
                <label>Fecha:</label>
                <p-selectButton [options]="sino"  optionValue="value"
                                optionLabel="label" formControlName="controladoCronico"></p-selectButton>

            </div>
            <br>
            <br>
            <div class="col-12">
                <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="problemaCronico" rows="5" cols="30" pInputTextarea formControlName="problemaCronico"> </textarea>
                    <label for="problemaCronico">Problemas Crónicos:</label>
                 </span>
            </div>
            <div class="col-12">
                <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="observaciones" rows="5" cols="30" pInputTextarea formControlName="observaciones"> </textarea>
                    <label for="observaciones">Observaciones:</label>
                 </span>
            </div>

        </div>
    </form>
    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="save()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
    </div>
</p-dialog>
<p-dialog  [(visible)]="dialogProblemaAgudo"
           [modal]="true"
           [style]="{width: '30%'}">
    <ng-template pTemplate="header">
        <h3>PROBLEMAS AGUDOS</h3>
    </ng-template>
    <form [formGroup]='formProblemasAgudos'>
        <div class="grid p-fluid">
            <div class="col-12 md:col-8 lg:col-8 p-field">
                <label>Fecha:</label>
                <input type="date"  pInputText formControlName='fechaProblemasAgudos' placeholder="Examenes Auxiliares"
                       required/>
            </div>
            <div class="col-12 md:col-4 lg:col-4 p-field">
                <label>Fecha:</label>
                <p-selectButton [options]="sino"  optionValue="value"
                                optionLabel="label" formControlName="controladoAgudo"></p-selectButton>

            </div>
            <br>
            <div class="col-12">
                 <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="ProblemasAgudos" rows="5" cols="30" pInputTextarea formControlName="problemaAgudo"> </textarea>
                    <label for="ProblemasAgudos">Problemas Agudos:</label>
                 </span>
            </div>
            <br>
            <div class="col-12">
                 <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="observacionesAgudo" rows="5" cols="30" pInputTextarea formControlName="observacionesAgudo"> </textarea>
                    <label for="observacionesAgudo">Observaciones:</label>
                 </span>
            </div>

        </div>
    </form>
    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="save()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
    </div>
</p-dialog>