p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
  background: #0c3866;
  border-color: #0c3866;
}
p-calendar >>> .p-button {
  background: #0c3866;
  border: 1px solid #0c3866;
  align-self: center;
  height: 29px;
}
.agregar {
  border-color: #0c3866;
  color: #0c3866;
  align-items: start;
}
p-calendar >>> .p-inputtext {
  font-size: 11px;
}
