<div class="grid">
  <div *ngFor="let mes of inmunizacionesAgrupadas;let i=index" class="col-12">
    <div>
      <p-fieldset>
        <ng-template pTemplate="header">
          <div>
            Inmunizacion del mes {{ (edadMes[i])}}
          </div>
        </ng-template>
        <div class="grid">
          <div class="col-5 text-center" style="font-weight: bold">Nombre de la Vacuna</div>
          <div class="col-1 text-center" style="font-weight: bold">Dosis</div>
          <div class="col text-center" style="font-weight: bold">Fecha Tentativa</div>
          <div class="col text-center" style="font-weight: bold">Fecha Aplicacion</div>
          <div class="col-2 text-center" style="font-weight: bold">Estado</div>
        </div>
        <div class="grid" *ngFor="let inmunizacion of mes">
<!--          <div class="col-3 text-center">-->
<!--            {{nombreVacuna(inmunizacion.descripcion)}}-->
<!--          </div>-->
          <div class="col-5 text-center">
            {{inmunizacion.descripcion}}
          </div>
          <div class="col-1 text-center">
            {{inmunizacion.dosis}}
          </div>
          <div class="col text-center">
            <p-calendar
                    [showIcon]="true"
                    placeholder="Fecha"
                    [disabled]="true"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="inmunizacion.fechaTentativa"
                    [ngClass]="{
                        vacunado: inmunizacion.fechaAdministracion,
                        noVacunado: !inmunizacion.fechaAdministracion
                      }"
            ></p-calendar>
          </div>
          <div class="col text-center">
            <p-calendar
                    [showIcon]="true"
                    placeholder="Fecha"
                    [disabled]="true"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="inmunizacion.fechaAdministracion"
                    [ngClass]="{
                        vacunado: inmunizacion.fechaAdministracion,
                        noVacunado: !inmunizacion.fechaAdministracion
                      }"
            ></p-calendar>
          </div>
          <div class="col-2 text-center">
            <span *ngIf="inmunizacion.estadoAdministrado;else noVacunado;">
              <p-tag severity="success" value="Administrado" [rounded]="true"></p-tag>
            </span>
            <ng-template #noVacunado>
              <span>
                <p-tag severity="warning" value="No Administrado" [rounded]="true"></p-tag>
              </span>
            </ng-template>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>
