<button pButton type="button" icon="pi pi-check" iconPos="left" (click)="save()"></button>
<div class="grid">
    <div class="lg:col-4 md:col-6 col-fixed">
        <div class="card flex flex-column">
            <div class="field grid">
                <div class="mr-2 text-right" style="width:170px">Fecha</div>
                <div class="text-right" style="width:135px">Fecha Tentativa</div>
            </div>
            <div class="field grid" *ngFor="let inmu1 of lista1">
                <span class="col-fixed text-right mr-1" style="width:100px;">{{inmu1.nombreVacuna}}:</span>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" placeholder="Fecha" [disabled]=false
                                dateFormat="yy-mm-dd"
                                [(ngModel)]="inmu1.fecha"></p-calendar>
                </div>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" [disabled]=true placeholder="Fecha" dateFormat="yy-mm-dd"
                                [(ngModel)]="inmu1.fechaTentativa"></p-calendar>
                </div>
<!--                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined agregar" pTooltip="Editar Inmunización" (click)=editarSesion(item)></button>-->
            </div>
        </div>
    </div>
    <div class="lg:col-4 md:col-6 col-fixed">
        <div class="card flex flex-column">
            <div class="field grid">
                <div class="mr-2 text-right" style="width:170px">Fecha</div>
                <div class="text-right" style="width:135px">Fecha Tentativa</div>
            </div>
            <div class="field grid" *ngFor="let inmu2 of lista2">
                <span class="col-fixed text-right mr-1" style="width:100px">{{inmu2.nombreVacuna}}:</span>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha" dateFormat="yy-mm-dd"
                    [(ngModel)]="inmu2.fecha" [disabled]=false></p-calendar>
                </div>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" inputId="icon" [disabled]=true placeholder="Fecha" dateFormat="yy-mm-dd"
                    [(ngModel)]="inmu2.fechaTentativa"></p-calendar>
                </div>
<!--                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined agregar" pTooltip="Editar Inmunización" (click)=editarSesion(item)></button>-->
            </div>
        </div>
    </div>
    <div class="lg:col-4 md:col-6 col-fixed">
        <div class="card flex flex-column">
            <div class="field grid">
                <div class="mr-2 text-right" style="width:170px">Fecha</div>
                <div class="text-right" style="width:135px">Fecha Tentativa</div>
            </div>
            <div class="field grid" *ngFor="let inmu3 of lista3">
                <span class="col-fixed text-right mr-1" style="width:100px">{{inmu3.nombreVacuna}}:</span>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" inputId="icon" placeholder="Fecha" dateFormat="yy-mm-dd"
                    [(ngModel)]="inmu3.fecha" [disabled]=false></p-calendar>
                </div>
                <div style="width:105px" class="mr-2">
                    <p-calendar [showIcon]="true" inputId="icon" [disabled]=true placeholder="Fecha" dateFormat="yy-mm-dd"
                    [(ngModel)]="inmu3.fechaTentativa"></p-calendar>
                </div>
<!--                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded p-button-outlined agregar" pTooltip="Editar Inmunización" (click)=editarSesion(item)></button>-->
            </div>
        </div>
    </div>
</div>

