p-fieldset >>>.p-fieldset .p-fieldset-legend {
    font-weight: 650;
    
    
}
p-fieldset >>> .p-fieldset-legend>span {
    padding: 1rem;
}

p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0C3866;
    border-color: #0C3866;
    
}
/* 
p-dropdown >>> .p-dropdown {
    background: #bdbdbd;
} */