<div [formGroup]="familiarFG">
    <p-fieldset legend="Antecedentes Familiares" [toggleable]="true">
        <div class="flex align-items-center justify-content-center">
            <span>Antecedentes :</span>
            <div class="col-3">
                <!-- <p-autoComplete placeholder="digite el antecedente" formControlName="enfermedad" [virtualScroll]="true" [suggestions]="listaAntecedentes"
                                [itemSize]="34" (completeMethod)="filterItems($event)" field="code" [dropdown]="true">
                </p-autoComplete> -->
                <p-dropdown
                        placeholder="seleccione"
                        [options]="listaEnfermedades"
                        formControlName="enfermedad"
                        optionValue="code"
                        optionLabel="name">
                </p-dropdown>
            </div>
            <div class="col-2">
                <p-dropdown
                        placeholder="seleccione"
                        [options]="familiares"
                        formControlName="pariente"
                        optionValue="code"
                        optionLabel="name">
                </p-dropdown>
            </div>
            <div class="col-1">
                <button [disabled]="!familiarFG.valid" style="background-color: #0c3866" class="button-agregar p-button-rounded" icon="pi pi-plus"
                        pButton type="button"
                        (click)="agregarAlArreglo()"></button>
            </div>
        </div>

        <div class="col">
            <p-table class="table-over" [value]="listaAntecedentes" #dt
                     styleClass="p-datatable-gridlines" [rows]="10"
                     [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro</th>
                        <th style="text-align: center" class="font-2">Antecedente</th>
                        <th style="text-align: center" class="font-2">Familiar</th>
                        <!-- <th style="text-align: center" class="font-2">Accion</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.nombre }}</td>
                        <td style="text-align: center">{{ rowData.pariente }}</td>
                        <!-- <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarAntecedente(rowIndex)" pTooltip="Eliminar">
                            </button>
                        </td> -->
                    </tr>
                </ng-template>
            </p-table>
        </div>

    </p-fieldset>
    <!-- <div class="col col-offset-10">
        <button 
                type="submit"
                pButton
                pRipple
                icon="pi pi-save"
                label="Guardar"
                (click)="save()"
                style="background-color: #0c3866"
                class="p-button-raised p-button-info"></button>
        
    </div> -->
</div>
