<div class="p-card" style="margin-top:20px">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">INTERVALOS GESTACIONALES</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
            <button pButton pRipple label="Siguiente" iconPos="right" icon="pi pi-angle-right"
                    class="guardar mr-2" style="background-color: #0c3866"></button>
        </ng-template>
    </p-toolbar>
    <br>
    <p-toolbar>
        <ng-template pTemplate="left">
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Agregar Atención" icon="pi pi-plus" pButton type="button"
                class="button-agregar" (click)="openDialogIntervaloNuevo()" style="background-color: #0c3866"></button>
        </ng-template>
    </p-toolbar>
    <p-table class="table-over" [value]="todasAtenciones" #dt styleClass="p-datatable-gridlines" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th style="text-align: center" class="font-2">ATENCION</th>
                <th style="text-align: center" class="font-1">Fecha Atención</th>
                <th style="text-align: center" class="font-2">Edad Gest.(Semanas)</th>
                <th style="text-align: center" class="font-1">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center" class="font-2">ATENCION {{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.fecha }}</td>
                <td style="text-align: center">{{ rowData.items[0].valor }}</td>
                <td style="text-align: center">
                    <button pButton (click)="openDialogIntervaloEditar(rowData, rowIndex)" pTooltip="Editar" pRipple type="button"
                        icon="pi pi-pencil" class="p-button-rounded m-1">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
