.image {
    width: 90%;
    height: 80%;
    margin: 10px auto;
    display: block;
}

.p-inputtext:disabled {
    opacity: 1;
}

.footer {
    text-align: right;
    /* display: flexbox; */
    /* text-align: center; */
    background: white;
    position: absolute;
    /* margin-top: 2.5; */
    bottom: 0;
    width: 95%;
    height: 5em;
    color: white;
    bottom: 0;
    z-index: 200;
}

::ng-deep .swal2-container {
    z-index: 1000000;
}

.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}
.border2 {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    background: rgb(248 249 250)
}
