<!--    <p-card class="mb-2">-->
<!--        <div>-->
<!--      <span style="font-weight: bold;font-size: 1.2rem">-->
<!--        Descripcion :-->
<!--      </span>-->
<!--            <span>{{ suplemento.descripcion }}</span>-->
<!--        </div>-->
<!--        &lt;!&ndash;    <div>&ndash;&gt;-->
<!--        &lt;!&ndash;      <span style="font-weight: bold;font-size: 1.2rem">&ndash;&gt;-->
<!--        &lt;!&ndash;        Dosis:&ndash;&gt;-->
<!--        &lt;!&ndash;      </span>&ndash;&gt;-->
<!--        &lt;!&ndash;      <span>{{suplemento.nombre=='SF'?'2mg/kg/dia':suplemento.nombre=='MNM'?'1 Sobre Diario':'100,000UI'}}</span>&ndash;&gt;-->
<!--        &lt;!&ndash;    </div>&ndash;&gt;-->
<!--        <div>-->
<!--      <span style="font-weight: bold;font-size: 1.2rem">-->
<!--       Frecuencia :-->
<!--      </span>-->
<!--            <span>{{ consumoDiario }}</span>-->
<!--        </div>-->
<!--    </p-card>-->
<div class="" [formGroup]="dosajeFG">
    <div class="grid border pt-2">
        <div class="col-6 grid">
            <div class="col-4">Fecha Programada:</div>
            <div class="col-6 p-fluid">
                <p-calendar
                        formControlName="fechaTentativa"
                        [showIcon]="true"
                        inputId="icon"
                        dateFormat="dd/mm/yy"
                ></p-calendar>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-4">Fecha Toma de prueba:</div>
            <div class="col-6 p-fluid">
                <p-calendar
                        formControlName="fechaAdministrada"
                        [showIcon]="true"
                        inputId="icon"
                        dateFormat="dd/mm/yy"
                ></p-calendar>
            </div>
        </div>
    </div>
    <div class="grid border pt-2">
        <div class="col-6 grid ">
            <div class="col-4">Valor Hemoglobina:</div>
            <div class="col-6 p-fluid ">
                <div class="flex">
                    <div class="col-9">
                        <input (ngModelChange)="valorCorrejido($event)" type="number" pInputText
                               formControlName="valorHb"
                               class="inputfield w-full text-center"/>
                    </div>
                    <div class="infoInput">
                        g/dl
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 grid ">
            <div class="col-4">Factor de Ajuste por Altitud:</div>
            <div class="col-6 p-fluid ">
                <input type="text" pInputText disabled="true" [(ngModel)]="factorAjuste"
                       [ngModelOptions]="{standalone: true}">
            </div>
        </div>
        <div class="col-6 grid ">
            <div class="col-4">Valor Hemoglobina ajustada:</div>
            <div class="col-6 p-fluid">
                <div class="flex">
                    <div class="col-9">
                        <input type="text" pInputText placeholder="10.5" formControlName="valorHbRestado"
                               class="text-center">
                    </div>
                    <div class="infoInput">
                        g/dl
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 grid ">
            <div class="col-4">resultado:</div>
            <div class="col-8 p-fluid ">
                <p-selectButton [options]="positivoNegativo" formControlName="positivoAnemia" optionLabel="name"
                                optionValue="code" (click)="cambiamosResultado($event)"></p-selectButton>
            </div>
        </div>
        <div class="col-6 grid" *ngIf="!isDisabledNivelAnemia">
            <div class="col-4">Nivel de anemia:</div>
            <div class="col-8 p-fluid ">
                <p-dropdown [options]="nivelAnemia" [(ngModel)]="nivelAnemiaSelected" [disabled]="isDisabledNivelAnemia"
                            optionLabel="name" optionValue="code" placeholder="Seleccione nivel"
                            [ngModelOptions]="{standalone: true}" (onChange)="yaEstoyHabilidado()"></p-dropdown>
            </div>
        </div>
    </div>

</div>
<div class="flex justify-content-end mt-5">
    <button
            pButton
            type="button"
            label="Cerrar"
            class="p-button-danger p-button px-5 mx-1 text-center p-button-danger"
            icon="pi pi-times-circle"
            style="border-radius: 0.5rem"
            (click)="cancel()"
    ></button>
    <button
            pButton
            [disabled]="!botonGuardar()"
            type="button"
            label="Guardar"
            class="p-button-info p-button px-5 mx-1 text-center"
            icon="pi pi-save"
            style="border-radius: 0.5rem"
            (click)="save()"
    ></button>
</div>

<p-confirmDialog
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '25vw'}"
        key="claveDialog">
</p-confirmDialog>
