<div class="">
    <p-card>
        <div>
      <span style="font-weight: bold;font-size: 1.2rem">
        Edad(mes):
      </span>
            <span>{{ edadMes }}</span>
            <span style="font-weight: bold;font-size: 1.2rem">
       Edad:
      </span>
            <span>{{this.amd.anio}} Años {{this.amd.mes}} Meses {{this.amd.dia}} Dias</span>
        </div>
    </p-card>
</div>
<div class="mt-3">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div>
                DOSAJE DE HEMOGLOBINA PREVENTIVO
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-1 text-center" style="font-weight: bold">Edad Mes</div>
            <div class="col-1 text-center" style="font-weight: bold">Nro Control</div>
            <div class="col-2 text-center" style="font-weight: bold">Estado Controlado</div>
            <div class="col text-center" style="font-weight: bold">Fecha Tentativa</div>
            <div class="col text-center" style="font-weight: bold">Fecha Prueba</div>
            <div class="col text-center" style="font-weight: bold">Hemoglobina ajustada</div>
            <div class="col text-center" style="font-weight: bold">Resultado</div>
            <div class="col-2 text-center" style="font-weight: bold">Accion</div>
        </div>
        <!--        <div *ngIf="dataPreventivo.length>=1;else noCorresponde">-->

        <div class="" *ngFor="let dosaje of dataPreventivo">
            <div class="grid" *ngIf="dosaje.edadMes==edadMes">
                <div class="col-1 text-center">
                    {{dosaje.edadMes}}
                </div>
                <div class="col-1 text-center">
                    {{dosaje.nroControl}}
                </div>
                <div class="col-2 text-center">
                    <span *ngIf="dosaje.estadoControlado;else noControlado">
                        <p-tag severity="success" value="prueba Tomada" [rounded]="true">
                        </p-tag>
                    </span>
                    <ng-template #noControlado>
                        <p-tag severity="warning" value="prueba no Tomada" [rounded]="true">
                        </p-tag>
                    </ng-template>
                </div>
                <div class="col text-center">
                    <p-calendar
                            [showIcon]="true"
                            placeholder="Fecha"
                            [disabled]="true"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="dosaje.fechaTentativa"
                            [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                    ></p-calendar>
                </div>
                <div class="col text-center">
                    <p-calendar
                            [showIcon]="true"
                            placeholder="Fecha"
                            [disabled]="true"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="dosaje.fecha"
                            [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                    ></p-calendar>
                </div>
                <div class="col text-center">
                    {{dosaje.valorHb}}
                </div>
                <div class="col text-center">
                     <span *ngIf="dosaje.tieneAnemia=='SI';else negativo">
                        <p-tag severity="danger" value="Positivo" [rounded]="true">
                        </p-tag>
                    </span>
                    <ng-template #negativo>
                        <span *ngIf="dosaje.tieneAnemia=='NO';else noTomado">
                            <p-tag severity="warning" value="Negativo" [rounded]="true">
                            </p-tag>

                        </span>
                        <ng-template #noTomado>
                            <p-tag severity="success" value="prueba no Tomada" [rounded]="true">
                            </p-tag>
                        </ng-template>
                    </ng-template>
                </div>

                <div class="col-2 flex justify-content-around">
                    <button *ngIf="!dosaje.estadoControlado;" (click)="agregarDosaje(dosaje)" pButton pRipple
                            type="button" icon="pi pi-pencil"
                            pTooltip="Agregar Dosaje de Hemoglobina"
                            tooltipPosition="bottom"
                            class="p-button-rounded p-button-warning p-button-outlined"></button>
                    <button *ngIf="!dosaje.estadoControlado;" pButton pRipple
                            type="button" icon="pi pi-briefcase"
                            pTooltip="Solicitar Examen a Laboratorio"
                            tooltipPosition="bottom"
                            class="p-button-rounded p-button-warning p-button-outlined"></button>
                </div>
            </div>
        </div>
        <!--        </div>-->
        <!--        <ng-template #noCorresponde>-->


        <!--            <h1>no corresponde</h1>-->
        <!--        </ng-template>-->
    </p-fieldset>
</div>
<div class="mt-3">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div>
                DOSAJE DE HEMOGLOBINA TERAPEUTICO
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-1 text-center" style="font-weight: bold">Edad Mes</div>
            <div class="col-1 text-center" style="font-weight: bold">Nro Control</div>
            <div class="col-2 text-center" style="font-weight: bold">Estado Controlado</div>
            <div class="col text-center" style="font-weight: bold">Fecha Tentativa</div>
            <div class="col text-center" style="font-weight: bold">Fecha Prueba</div>
            <div class="col text-center" style="font-weight: bold">Hemoglobina ajustada</div>
            <div class="col text-center" style="font-weight: bold">Resultado</div>
            <div class="col-2 text-center" style="font-weight: bold">Accion</div>
        </div>
        <!--        <div *ngIf="dataPreventivo.length>=1;else noCorresponde">-->

        <div class="" *ngFor="let dosaje of dataTerapeutico">
            <div class="grid">
                <div class="col-1 text-center">
                    {{dosaje.edadMes}}
                </div>
                <div class="col-1 text-center">
                    {{dosaje.nroControl}}
                </div>
                <div class="col-2 text-center">
                    <span *ngIf="dosaje.estadoControlado;else noControlado">
                        <p-tag severity="success" value="prueba Tomada" [rounded]="true">
                        </p-tag>
                    </span>
                    <ng-template #noControlado>
                        <p-tag severity="warning" value="prueba no Tomada" [rounded]="true">
                        </p-tag>
                    </ng-template>
                </div>
                <div class="col text-center">
                    <p-calendar
                            [showIcon]="true"
                            placeholder="Fecha"
                            [disabled]="true"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="dosaje.fechaTentativa"
                            [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                    ></p-calendar>
                </div>
                <div class="col text-center">
                    <p-calendar
                            [showIcon]="true"
                            placeholder="Fecha"
                            [disabled]="true"
                            dateFormat="dd/mm/yy"
                            [(ngModel)]="dosaje.fecha"
                            [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                    ></p-calendar>
                </div>
                <div class="col text-center">
                    {{dosaje.valorHb}}
                </div>
                <div class="col text-center">
                     <span *ngIf="dosaje.tieneAnemia=='POSITIVO';else negativo">
                        <p-tag severity="danger" value="Positivo" [rounded]="true">
                        </p-tag>
                    </span>
                    <ng-template #negativo>
                        <span *ngIf="dosaje.tieneAnemia=='NEGATIVO';else noTomado">
                            <p-tag severity="warning" value="Negativo" [rounded]="true">
                            </p-tag>

                        </span>
                        <ng-template #noTomado>
                            <p-tag severity="success" value="prueba no Tomada" [rounded]="true">
                            </p-tag>
                        </ng-template>
                    </ng-template>
                </div>

                <div class="col-2 flex justify-content-around">
                    <div *ngIf="dosaje.edadMes==edadMes">

                        <button *ngIf="!dosaje.estadoControlado;" (click)="agregarDosaje(dosaje)" pButton pRipple
                                type="button" icon="pi pi-pencil"
                                pTooltip="Agregar Dosaje de Hemoglobina"
                                tooltipPosition="bottom"
                                class="p-button-rounded p-button-warning p-button-outlined"></button>
                        <button *ngIf="!dosaje.estadoControlado;" pButton pRipple
                                type="button" icon="pi pi-briefcase"
                                pTooltip="Solicitar Examen a Laboratorio"
                                tooltipPosition="bottom"
                                class="p-button-rounded p-button-warning p-button-outlined"></button>
                    </div>
                </div>
            </div>
        </div>
        <!--        </div>-->
        <!--        <ng-template #noCorresponde>-->


        <!--            <h1>no corresponde</h1>-->
        <!--        </ng-template>-->
    </p-fieldset>
</div>