p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: rgb(149 158 166);
    border-color: rgb(149 158 166);
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}

p-fieldset >>> .p-fieldset .p-fieldset-content {
    padding: 2px;
    font-size: xx-small;
}

/*:host ::ng-deep >>> .p-inputnumber-input {*/
/*    border: 1px solid rgb(189, 184, 184);*/
/*    border-radius: 10px;*/
/*    padding:5px 10px;*/
/*}*/


p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src/assets/svg-icons/check-svgrepo-com.svg");
}

/* fondo amarillo */
/*::ng-deep .yellow .p-radiobutton .p-radiobutton-box {*/
/*    background: #faf44f;*/
/*}*/

/*::ng-deep .yellow .p-radiobutton .p-radiobutton-icon {*/
/*    background: rgb(242, 236, 56);*/
/*    border: rgb(242, 236, 56);*/
/*}*/

/*!* fondo rojo *!*/
/*::ng-deep .red .p-radiobutton .p-radiobutton-box {*/
/*    background: #bf0d21;*/
/*}*/

/*::ng-deep .red .p-radiobutton .p-radiobutton-icon {*/
/*    background: red;*/
/*    border: red;*/
/*}*/

/*!* fondo blanco *!*/
/*::ng-deep .whit1 .p-radiobutton .p-radiobutton-box {*/
/*    background: white;*/
/*}*/

/*::ng-deep .white .p-radiobutton .p-radiobutton-icon {*/
/*    background: blue;*/
/*}*/

/*::ng-deep .yellowNumber .p-inputnumber-input {*/
/*    background: #faf44f;*/
/*}*/
::ng-deep .yellowNumber .p-checkbox .p-checkbox-box {
    background: rgb(234, 187, 38);
    border-color: rgb(206 212 218);
}

/*p-checkbox >>> .p-checkbox .p-checkbox-box .p-checkbox-icon {*/
/*    transition-duration: 0.2s;*/
/*    color: white;*/
/*    font-size: 14px;*/
/*}*/


::ng-deep .yellow .p-radiobutton .p-radiobutton-box,
::ng-deep .yellow .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .yellow .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .yellow .p-radiobutton .p-radiobutton-icon {
    background: rgb(234, 187, 38);
    border-color: rgb(206 212 218);
}

::ng-deep .red .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .red .p-radiobutton .p-radiobutton-box,
::ng-deep .red .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .red .p-radiobutton .p-radiobutton-icon {
    border-color: rgb(246, 26, 26);
    background: rgba(197, 0, 9, 0.63);
}

::ng-deep .blanco .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .blanco .p-radiobutton .p-radiobutton-box,
::ng-deep .blanco .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .blanco .p-radiobutton .p-radiobutton-icon {
    background: #ffffff;
    border-color: rgb(206 212 218);
}

/**----------------------------------------------------**/
/*p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {*/
/*    border-color: rgb(164, 164, 164);*/
/*}*/

/*p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {*/
/*    border: rgb(164, 164, 164);*/
/*    background: rgb(164, 164, 164);*/

/*}*/

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-box.p-highlight:hover {
    border: rgb(164, 164, 164);
    background: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box:hover {
    border-color: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border: rgb(164, 164, 164);
    background: rgb(164, 164, 164);
}

/*p-radiobutton >>> .p-radiobutton .p-radiobutton-box.p-highlight {*/
/*    display: none;*/
/*    border-color: rgb(164, 164, 164);*/
/*    !*background: #ffffff;*!*/
/*}*/


/*p-selectbutton >>> .p-selectbutton .p-button {*/
/*    color: #6e6e6e;*/
/*    !*font-size: xx-large;*!*/
/*    background-color: "blue";*/
/*    padding: 5px;*/
/*}*/

/*p-selectbutton >>> .p-selectbutton .p-button.p-highlight {*/
/*    background-color: #0c3866;*/
/*}*/

.text-right {
    padding: 3px;
    text-align: right;
}

.text-left {
    padding: 3px;
    text-align: left;
}

.text-center {
    padding: 3px;
    text-align: center;
}

::ng-deep .colorIconCalendar .p-button.p-button-icon-only {
    background-color: #495057;
    /*width: 25px;*/
    /*height: 25px;*/
}

::ng-deep .fechaRuptura .p-button.p-button-icon-only {
    background-color: #495057;
    /*width: 25px;*/
    /*height: 25px;*/
}

/*:host ::ng-deep .p-cellEditor {*/
/*  padding-top: 0 !important;*/
/*  padding-bottom: 0 !important;*/
/*}*/
::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}

/*::ng-deep p-table >>> .p-datatable table {*/
/*    width: auto;*/
/*    background: red;*/
/*    !*overflow: visible;*!*/
/*}*/
:host ::ng-deep p-table >>> .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    font-size: 1rem;
    word-wrap: break-word;
    /*padding: 1rem;*/

}

p-table >>> .p-datatable .p-datatable-tbody > tr > td {


    text-align: center;
    font-size: 1rem;
    word-break: break-all;
    /*padding: 1rem;*/

}

p-table >>> .p-datatable {
    border: 1px solid #dee2e6;
    /*width: auto;*/

}

.border {
    border: 1px solid rgb(222 226 230);
    /*border: 1px solid rgb(12 56 102);*/
    border-radius: 3px;

}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
}

p-toolbar >>> .p-toolbar {
    background: rgb(216 222 229);
    border: 1px solid rgb(222 226 230);
    padding: 0.5rem;
    height: auto;
    border-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: left;
}
