p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}

p-fieldset >>> .p-fieldset .p-fieldset-content {
    padding: 2px;
    font-size: xx-small;
}

:host ::ng-deep >>> .p-inputnumber-input {
    border: 1px solid rgb(189, 184, 184);
    border-radius: 10px;
    padding: 3px 10px;
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

/* fondo amarillo */
::ng-deep .yellow .p-radiobutton .p-radiobutton-box {
    background: #faf44f;
}

::ng-deep .yellow .p-radiobutton .p-radiobutton-icon {
    background: rgb(242, 236, 56);
    border: rgb(242, 236, 56);
}

/* fondo rojo */
::ng-deep .red .p-radiobutton .p-radiobutton-box {
    background: #bf0d21;
}

::ng-deep .red .p-radiobutton .p-radiobutton-icon {
    background: red;
    border: red;
}

/* fondo blanco */
::ng-deep .whit1 .p-radiobutton .p-radiobutton-box {
    background: white;
}

::ng-deep .white .p-radiobutton .p-radiobutton-icon {
    background: blue;
}

::ng-deep .yellowNumber .p-inputnumber-input {
    background: #faf44f;
}

p-checkbox >>> .p-checkbox .p-checkbox-box .p-checkbox-icon {
    transition-duration: 0.2s;
    color: white;
    font-size: 14px;
}

p-selectbutton >>> .p-selectbutton .p-button {
    color: black;
    font-size: xx-large;
    background-color: "blue";
    padding: 5px;
}

p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background-color: #0c3866;
}

.text-right {
    padding: 3px;
    text-align: right;
}

.text-left {
    padding: 3px;
    text-align: left;
}

.text-center {
    padding: 3px;
    text-align: center;
}

::ng-deep .colorIconCalendar .p-button.p-button-icon-only {
    background-color: #495057;
    /*width: 25px;*/
    /*height: 25px;*/
}

::ng-deep .fechaRuptura .p-button.p-button-icon-only {
    background-color: #495057;
    /*width: 25px;*/
    /*height: 25px;*/
}

/*:host ::ng-deep .p-cellEditor {*/
/*  padding-top: 0 !important;*/
/*  padding-bottom: 0 !important;*/
/*}*/
::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}
