<div class="p-card">
    <p-toolbar styleClass="p-mb-4">

        <ng-template pTemplate="left">
            <h3 class="p-m-0">Lista de Grupos Etarios</h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table [value]="data" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [autoLayout]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Descripcion</th>
                <th style="text-align: center">Edad mínima</th>
                <th style="text-align: center">Edad máxima</th>
                <th style="text-align: center">Gestante</th>
                <th style="text-align: center">Sexo</th>
                <th style="text-align: center">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.descripcion }}</td>
                <td style="text-align: center">{{ rowData.edadMinima }}</td>
                <td style="text-align: center">{{ rowData.edadMaxima }}</td>
                <td style="text-align: center">
                    <p-tag *ngIf="verificarGestante(rowData.esGestante)" styleClass="p-mr-2" severity="primary" value="Gestante" [rounded]="true"></p-tag>
                    <p-tag *ngIf="!verificarGestante(rowData.esGestante)" styleClass="p-mr-2" severity="danger" value="No Gestante" [rounded]="true"></p-tag>
                </td>
                <td style="text-align: center">
                    <p-tag *ngIf="verificarFemenino(rowData.sexo)" styleClass="p-mr-2" severity="danger" value="Femenino" [rounded]="true"></p-tag>
                    <p-tag *ngIf="verificarMasculino(rowData.sexo)" styleClass="p-mr-2" severity="primary" value="Masculino" [rounded]="true"></p-tag>
                    <p-tag *ngIf="verificarAmbos(rowData.sexo)" styleClass="p-mr-2" severity="success" value="Ambos" [rounded]="true"></p-tag>
                </td>
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                        (click)="editar(rowData)">
                    </button>
                    <button pButton (click)="eliminar(rowData)" pTooltip="Eliminar grupo etario" pRipple type="button"
                        icon="pi pi-trash" class="p-button-rounded p-button-danger m-1">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>


<p-dialog [(visible)]="grupoEtarioDialog" [style]="{width: '600px'}" [modal]="true"
    styleClass="p-fluid " autoZIndex>
    <ng-template pTemplate="header">
        <h3>{{titulo()}}</h3>
    </ng-template>

    <ng-template pTemplate="body">
        <form [formGroup]='form'>
            <div class="grid">
                <div class="p-field col-12">
                    <label id="descripcion">Descripcion:</label>
                    <input type="text" pInputText formControlName='descripcion' required />
                </div>
            </div>
            <br>
            <div class="grid">
                <div class="p-field col-6">
                    <label>Edad Minima</label>
                    <p-inputNumber formControlName='edadMinima' mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [min]="0" [max]="150">
                    </p-inputNumber>
                </div>
                <div class="p-field col-6">
                    <label>Edad Maxima</label>
                    <p-inputNumber formControlName='edadMaxima' mode="decimal" [showButtons]="true"
                        inputId="minmax-buttons" [min]="0" [max]="150">
                    </p-inputNumber>
                </div>

            </div>
            <div class="grid">
                <div class="p-field col-6">
                    <label>Gestante</label>
                    <p-selectButton [options]="stateOptions" formControlName="esGestante" optionLabel="label" optionValue="value"></p-selectButton>
                </div>

                <div class="p-field col-6">
                    <label>Sexo</label>
                    <div class="p-field">
                        <p-dropdown (onChange)="valorSexo()" inputId="dropdown" [options]="sexoList" formControlName="sexo" optionLabel="label" optionValue="value"
                            defaultLabel="Seleccione sexo" id="sexoid">
                        </p-dropdown>
                    </div>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="canceled()"></button>
        <button *ngIf="!isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar" (click)="saveForm()" ></button>
        <button *ngIf="isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar" (click)="editarDatos()" ></button>
    </ng-template>
</p-dialog>