p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}
p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}
.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}
p-toolbar >>> * {
    align-self: center;
}
/* interconsulta */
div#opc {
    position: static;
}
p-speeddial >>> .p-button.p-button-icon-only.p-button-rounded {
    background: green;
    border-color: green;
}
:host ::ng-deep .speeddial-semi-circle .p-speeddial-direction-left {
    right: 0;
    top: 300px;
}
:host ::ng-deep .button-agregar .p-button {
    background-color: #0c3866;
}

:host ::ng-deep .table-over .p-table {
    margin: 0;
    padding: 0;
}
.divcero {
    margin: 0;
    padding: 0;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    font-size: small;
    word-wrap: break-word;
    padding: 0.2rem;
    border: 1px solid #b6b6b6;
    background-color: #dddddd;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    font-size: x-small;
    word-wrap: break-word;
    padding: 0.2rem;
}

p-table >>> .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    font-size: x-small;
    word-wrap: break-word;
    color: rgb(6, 51, 95);
    border: 1px solid #b6b6b6;
}

.footer {
    text-align: right;
    /* display: flexbox; */
    /* text-align: center; */
    background: rgb(255, 255, 255);
    position: absolute;
    /* margin-top: 2.5; */
    bottom: 0;
    width: 95%;
    height: 5em;
    color: white;
    bottom: 0;
    z-index: 100;
}
.no-data-found {
    background-image: url(src\assets\images\no_data_found.svg);
    width: 23rem;
    height: 30rem;
    display: block;
    margin: auto;
}