<div class="p-card">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">TRATAMIENTO</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
            <button pButton pRipple label="Siguiente" iconPos="right" icon="pi pi-angle-right"
                    class="guardar mr-2" style="background-color: #0c3866" (click)="guardar()"></button>
        </ng-template>
    </p-toolbar>
    <br>
    <div class="grid">
        <div class="col-6 md-4 lg-3">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <span class="p-m-0">Tratamiento</span>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus-circle"
                            class="guardar mr-2" (click)="openTratamiento()" style="background-color: #0c3866"></button>
                </ng-template>
            </p-toolbar>

            <p-table class="table-over" [value]="tratamientos" #dt styleClass="p-datatable-gridlines" [rows]="10"
                     [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro</th>
                        <th style="text-align: center" class="font-2">TRATAMIENTO</th>
                        <th style="text-align: center" class="font-2">ACCIÓN</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.descripcion }}</td>
                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                    (click)="editarTratamiento(rowData,rowIndex)" pTooltip="Editar"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarTratamiento(rowIndex)" pTooltip="Eliminar">
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <div class="col-6 md-4 lg-3">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <span class="p-m-0">Acuerdos y compromisos negociados con la madre y/o cuidador del niño</span>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus-circle"
                            class="guardar mr-2" style="background-color: #0c3866" (click)="openAcuerdo()"></button>
                </ng-template>
            </p-toolbar>

            <p-table class="table-over" [value]="acuerdos" #dt styleClass="p-datatable-gridlines" [rows]="10"
                     [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro</th>
                        <th style="text-align: center" class="font-2">ACUERDO</th>
                        <th style="text-align: center" class="font-2">ACCIÓN</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.descripcion }}</td>
                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                    (click)="editarAcuerdo(rowData,rowIndex)" pTooltip="Editar"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarAcuerdo(rowIndex)" pTooltip="Eliminar">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="grid">
        <div class="col-6 md-4 lg-3">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <span class="p-m-0">Evaluación de ojos y presión</span>
                </ng-template>
            </p-toolbar>
            <div class="grid">
                <div class="flex col-6 md-4 lg-3 align-items-center">
                    <div class="col-2 md-4 lg-3">
                        <span>OD: </span>
                    </div>
                    <div class="col-10 md-4 lg-3">
                        <input type="text"
                               pInputText
                               class="inputfield w-full"
                               placeholder="Otros"/>
                    </div>
                </div>
                <div class="flex col-6 md-4 lg-3 align-items-center">
                    <div class="col-2 md-4 lg-3">
                        <span>OI: </span>
                    </div>
                    <div class="col-10 md-4 lg-3">
                        <input type="text"
                               pInputText
                               class="inputfield w-full"
                               placeholder="Otros"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 md-4 lg-3">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <span class="p-m-0">Tamisaje en salud mental (VIF)</span>
                </ng-template>
            </p-toolbar>
        </div>
    </div>
</div>

<!-- Dialog Tratamiento --->
<p-dialog header="TRATAMIENTO" [(visible)]="dialogTratamiento" [modal]="true" [style]="{width: '40%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formTratamiento'>
        <div class="grid">
            <div class="col-12 justify-content-center">
                    <textarea style="border-radius: 10px" id="indAdicional" rows="5" cols="90" pInputTextarea
                              formControlName="textoTratamiento"> </textarea>

            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelTratamiento()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveTratamiento()"></button>

    </ng-template>
</p-dialog>

<!-- Dialog Acuerdo --->
<p-dialog header="ACUERDO" [(visible)]="dialogAcuerdos" [modal]="true" [style]="{width: '40%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formAcuerdos'>
        <div class="grid">
            <div class="col-12 justify-content-center">
                    <textarea style="border-radius: 10px" id="indAdicionala" rows="5" cols="90" pInputTextarea
                              formControlName="textoAcuerdo"> </textarea>

            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelAcuerdo()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveAcuerdo()"></button>

    </ng-template>
</p-dialog>