<div class="">
    <p-tabView class="">
        <p-tabPanel header="INMUNIZACION" leftIcon="pi pi-user" [selected]="true">
            <ng-template pTemplate="content">
                <app-tratamiento-inmunizacion></app-tratamiento-inmunizacion>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="SUPLEMENTACION" leftIcon="pi pi-calendar">
            <ng-template pTemplate="content">
                <app-suplementacion-cred></app-suplementacion-cred>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="TRATAMIENTO" leftIcon="pi pi-user">
            <ng-template pTemplate="content">
                <app-tratamiento-cred></app-tratamiento-cred>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="ACUERDOS" leftIcon="pi pi-bell">
            <ng-template pTemplate="content">
                <app-acuerdos-cred></app-acuerdos-cred>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
<!-- <div id="opc">
    <div class="speeddial-circle-demo">
        <div class="speeddial-semi-circle">
            <p-speedDial showIcon="pi pi-desktop" hideIcon="pi pi-angle-double-down" [model]="tooltipItems" radius="80"
                direction="left" type="semi-circle"></p-speedDial>
        </div>
    </div>
</div> -->
<!-- End Datos generales -->
<!-- Dialog Interconsulta --->
<p-dialog header="INTERCONSULTA" [(visible)]="dialogInterconsulta" [modal]="true" [style]="{ width: '60%' }"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="formInterconsulta">
        <div class="grid align-items-center">
            <div class="col-12 flex align-items-center">
                <div class="col-2 md:col-2">Fecha:</div>
                <div class="col-10 md:col-10 p-fluid">
                    <p-calendar class="w-full" [ngModel]="fecha" formControlName="fecha" [showIcon]="true"
                        inputId="icon"></p-calendar>
                </div>
            </div>
            <div class="col-12 flex align-items-center">
                <div class="col-6 md:col-2">Motivo:</div>
                <div class="col-6 md:col-10">
                    <textarea class="inputfield w-full" formControlName="motivo" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-6 flex align-items-center">
                <div class="col-3 md:col-3 p-fluid">Servicio:</div>
                <div class="col-9 md:col-9 p-fluid">
                    <p-dropdown class="w-full" [options]="servicios" formControlName="servicio"
                        placeholder="Seleccione un servicio" optionLabel="nombreUPS" optionValue="nombreUPS"
                        [showClear]="false" (onChange)="ListaServicios()">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-4 flex align-items-center">
                <div class="col-6 md:col-6 p-fluid">Nivel Urgencia:</div>
                <div class="col-6 md:col-6 p-fluid">
                    <p-dropdown class="w-full" [options]="urgencia" formControlName="urgencia" optionLabel="name"
                        optionValue="code"></p-dropdown>
                </div>
            </div>
            <div class="col-2 p-fluid">
                <p-button class="w-full button-agregar" label="Agregar" icon="pi pi-plus" [loading]="loading"
                    (onClick)="agregarInterconsulta()"></p-button>
            </div>
        </div>
    </form>
    <p-table class="table-over" [value]="listInterconsulta" #dt styleClass="p-datatable-gridlines" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center" class="font-2">Nro</th>
                <th style="text-align: center" class="font-2">CITA</th>
                <th style="text-align: center" class="font-2">MOTIVO</th>
                <th style="text-align: center" class="font-2">SERVICIO</th>
                <th style="text-align: center" class="font-2">NIVEL</th>
                <th style="text-align: center" class="font-2">ACCIÓN</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center" class="font-2">
                    {{ rowIndex + 1 }}
                </td>
                <td style="text-align: center">{{ rowData.fecha }}</td>
                <td style="text-align: center">{{ rowData.motivo }}</td>
                <td style="text-align: center">{{ rowData.servicio }}</td>
                <td style="text-align: center">{{ rowData.nivelUrgencia }}</td>
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1" (click)="
                            eliminarInterconsulta(rowData.idCupos, rowIndex)
                        " pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!--<ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancelar"
      style="background-color: #0c3866"
      class="button-cancelar"
      icon="pi pi-times"
      (click)="cancelInterconsulta()"
    ></button>
    <button
      class="button-agregar"
      icon="pi pi-save"
      style="background-color: #0c3866"
      pButton
      type="button"
      label="Guardar"
      (click)="saveInterconsulta()"
    ></button>
  </ng-template>-->
</p-dialog>
<p-dialog header="PREVISUALIZACIÓN DE HIS Y FUA" [(visible)]="dialogHIS" [modal]="true" [style]="{ width: '95%' }" [draggable]="false"
    [resizable]="false" class="show-fua-his-dialog">
    <p-tabView styleClass="tabview-custom" class="area">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-file"></i>
                <span>HIS</span>
            </ng-template>
            <div class="col-12 no-data-found" *ngIf="!existData">

            </div>
            <div *ngFor="let itemHIS of listHIS">
                <div class="col-12 divcero">
                    <p-table class="table-over" [value]=[itemHIS] #dt styleClass="p-datatable-gridlines">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>AÑO</th>
                                <th>MES</th>
                                <th>NOMBRE DEL ESTABLECIMIENTO DE SALUD(IPRESS)</th>
                                <th>UNIDAD PRESTADORA DE SERVICIOS(UPSS)</th>
                                <th colspan="2">
                                    NOMBRE DEL RESPONSABLE DE ATENCION
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr>
                                <td>{{ rowData.anio }}</td>
                                <td>{{ rowData.mes }}</td>
                                <td>{{ rowData.nombreIpress }}</td>
                                <td>{{ rowData.upsAuxiliar }}</td>
                                <td>DNI : {{ rowData.dniProfesional }}</td>
                                <td>{{ rowData.nombreProfesional }}</td>
                            </tr>
                            <tr>
                                <td colspan="6">
                                    NOMBRES Y APELLIDOS PACIENTE:
                                    {{
                                    rowData.nombre +
                                    " " +
                                    rowData.apePaterno +
                                    " " +
                                    rowData.apeMaterno
                                    }}
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="flex divcero">
                    <div class="col-6 divcero">
                        <p-table class="table-over" [value]=[itemHIS] #dt styleClass="p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="3">DIA</th>
                                    <th>DNI</th>
                                    <th rowspan="2">FINANC.</th>
                                    <th rowspan="2">DISTRITO</th>
                                    <th rowspan="3">EDAD</th>
                                    <th rowspan="3">SEXO</th>
                                    <th rowspan="2">P. CEF</th>
                                    <th colspan="2" rowspan="1">EVALUA.</th>
                                    <th rowspan="3">ESTAB.</th>
                                    <th rowspan="3">SERVICIO</th>
                                </tr>
                                <tr>
                                    <th>HISTORIA</th>
                                    <th colspan="2">ANTROPOME.</th>
                                </tr>
                                <tr>
                                    <th>GESTANTE</th>
                                    <th>ETNIA</th>
                                    <th>CENTRO P.</th>
                                    <th>ABDOM.</th>
                                    <th colspan="2">HEMOGLOBI.</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <tr>
                                    <td rowspan="3">{{ rowData.dia }}</td>
                                    <td>{{ rowData.nroDoc }}</td>
                                    <td rowspan="2">
                                        {{
                                        rowData.financiamiento === "null"
                                        ? ""
                                        : rowData.financiamiento
                                        }}
                                    </td>
                                    <td rowspan="2">{{ rowData.distrito }}</td>
                                    <td rowspan="3">{{ rowData.edad }}</td>
                                    <td rowspan="3">
                                        {{
                                        rowData.sexo === "FEMENINO" ? "F" : "M"
                                        }}
                                    </td>
                                    <td rowspan="2">
                                        {{ rowData.perimetroCefalico }}
                                    </td>
                                    <td>PESO</td>
                                    <td>{{ rowData.peso }}</td>
                                    <td>N</td>
                                    <td>N</td>
                                </tr>
                                <tr>
                                    <td>{{ rowData.nroHcl }}</td>
                                    <td>TALLA</td>
                                    <td>{{ rowData.talla }}</td>
                                    <td>C</td>
                                    <td>C</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{ rowData.etnia }}</td>
                                    <td>{{ rowData.ccpp }}</td>
                                    <td>{{ rowData.perimentroAbdominal }}</td>
                                    <td>Hb</td>
                                    <td>
                                        {{
                                        rowData.hb === "null" ? "" : rowData.hb
                                        }}
                                    </td>
                                    <td>R</td>
                                    <td>R</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                    <div class="col-6 divcero">
                        <p-table class="table-over" [value]=[itemHIS] #dt styleClass="p-datatable-gridlines">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th rowspan="3">
                                        DIAGNOSTICO MOTIVO DE CONSULTA Y/O ACTIVIDAD
                                        DE SALUD
                                    </th>
                                    <th rowspan="2" colspan="3">TIPO DIAG.</th>
                                    <th rowspan="3">LAB</th>
                                    <th rowspan="3">CODIGO CIE</th>
                                </tr>
                                <tr></tr>
                                <tr>
                                    <th>P</th>
                                    <th>D</th>
                                    <th>R</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                                <tr *ngFor="let item of rowData.diagnosticos">
                                    <td>
                                        {{ item.diagnostico }}
                                    </td>
                                    <td *ngIf="item.tipoDx === 'P'; else tipo">
                                        x
                                    </td>
                                    <ng-template #tipo>
                                        <td></td>
                                    </ng-template>
                                    <td *ngIf="item.tipoDx === 'D'; else tipo1">
                                        x
                                    </td>
                                    <ng-template #tipo2>
                                        <td></td>
                                    </ng-template>
                                    <td *ngIf="item.tipoDx === 'R'; else tipo2">
                                        x
                                    </td>
                                    <ng-template #tipo3>
                                        <td></td>
                                    </ng-template>
                                    <td>{{ item.lab }}</td>
                                    <td>{{ item.cie_10 }}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
                <br />
            </div>
        </p-tabPanel>
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-file"></i>
                <span>FUA</span>
            </ng-template>
            <!-- <div class="information">
                <div class="col-12">
                    <label>Nombre: </label>
                    <span>{{personalData.nombre}}</span>
                    <label>{{personalData.tipoDoc}}</label>
                    <span>{{personalData.nroDoc}}</span>
                </div>
            </div> -->
            <div *ngFor="let fua of arrayFua">
                <div class="col-1 cod-prestacion">
                    <p-table class="pb-0" [value]="[fua]" styleClass="p-datatable-gridlines" >
                        <ng-template pTemplate="header">
                            <tr>
                                <th>COD PRESTACIÓN</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-i="rowIndex">
                            <tr>
                                <td> {{rowData.codPrestacion}}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="grid">
                    <div class="col-6 table-diag">
                        <div class="">
                            <div *ngFor="let item of fua.diagnosticos">
                                <p-table [value]="[item]" styleClass="p-datatable-gridlines" class="pt-0">
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th colspan="3">DIAGNOSTICOS</th>
                                        </tr>
                                        <tr>
                                            <th>Diagnostico</th>
                                            <th>cie_10</th>
                                            <th>tipoDx</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-diagnosticos let-i="rowIndex">
                                        <tr>
                                            <td>{{diagnosticos.diagnostico}}</td>
                                            <td>{{diagnosticos.cie_10}}</td>
                                            <td>{{diagnosticos.tipoDx}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 table-inmu">
                        <div class="">
                            <div *ngFor="let item of fua.inmunizaciones">
                                <p-table [value]="[item]" styleClass="p-datatable-gridlines" class="p-0">
                                    <ng-template pTemplate="header">
                                        <tr >
                                            <th colspan="2">INMUNIZACIONES</th>
                                        </tr>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Nombre Comercial</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-inmunizaciones let-i="rowIndex">
                                        <tr>
                                            <td>{{inmunizaciones.nombre}}</td>
                                            <td>{{inmunizaciones.nombreComercial}}</td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </p-tabPanel>
    </p-tabView>
    <div class="col-12 footer">
        <button pButton type="button" label="Cerrar Consulta" (click)="concludeConsultation()"></button>
    </div>
</p-dialog>