<div class="p-card">

    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">ANTECEDENTES</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" iconPos="right" icon="pi pi-save"
                    class="guardar-boton" ></button>
        </ng-template>
    </p-toolbar>
    <br>
    <div class="grid">
        <div class="col-12 md:col-8 lg:col-8">
            <p-fieldset legend="Antecedentes Personales">
                <!--primera fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Hipertensión Art.: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Hepatitis: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--2 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Diabetes: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Tuberculosis: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--3 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Dislipidemias (Colesterol Alto): </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Hospitalizado último año: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--4 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Osteoartritis: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Transfuciones: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--5 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">ACV Derrame Cerebral: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Intervención Quirúrgica: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--6 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Enfermedad Cardiovascular (infarto, arritmia,ICC): </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Accidentes: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--6 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Cancér: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Cáncer de cervix/mama: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--7 fila-->
                <div class="grid">
                    <div class="col-6 md:col-4 lg:col-4 p-field">
                        <label class="">Cancér de próstata: </label>
                    </div>
                    <div class="col-6 md:col-2 lg:col-2 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>

            </p-fieldset>
        </div>
        <div class="col-12 md:col-4 lg:col-4">
            <p-fieldset legend="Antecedentes Familiares">
                <div class="grid">
                    <div class="col-8">
                    </div>
                    <div class="col-4">
                        <h4>Quién?</h4>
                    </div>
                </div>
                <!--1 fila-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Tuberculosis:</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
                <!-- 2 fila-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Hipertensión Art.:</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
                <!--3 fila-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Diabetes:</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
                <!--4 fila-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Infarto de Miocardio:</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
                <!--5 fila-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Demencia:</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>
                <!-- 6 FILA-->
                <div class="grid">
                    <div class="col-4 p-field">
                        <label class="">Cáncer (mama, estómago, colon):</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value"
                                        optionLabel="label"></p-selectButton>
                    </div>
                    <div class="col-4 p-field">
                        <p-dropdown
                                [options]="familiares"
                                optionLabel="nombrefamiliar"
                                optionValue="nombrefamiliar"
                                placeholder="Selec"
                                [showClear]="false">
                        </p-dropdown>
                    </div>
                </div>

            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 p-fluid">
            <h4>Descripción de Antecedentes y otros:</h4>
        </div>
        <div class="col-12 p-fluid">
            <textarea pInputTextarea autoResize="autoResize" placeholder="Descripcion" p-field></textarea>
        </div>
    </div>
    <br>
    <div class="">
        <p-toolbar>
            <ng-template pTemplate="left">
                <h3 class="mt-2">Medicamento(s) de uso frecuente</h3>
            </ng-template>
            <ng-template pTemplate="right" class="button">
                <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus"
                        class="guardar mr-2" style="background-color: #689F38" (click)="openNew()"></button>
            </ng-template>
        </p-toolbar>
        <p-table class="table-over" [value]="medicamentoFrecuentes" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                 [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

            <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                <tr>
                    <th style="text-align: center" class="font-2">Nro </th>
                    <th style="text-align: center" class="font-1">Nombre</th>
                    <th style="text-align: center" class="font-2">Dosis</th>
                    <th style="text-align: center" class="font-2">Observaciones</th>
                    <th style="text-align: center" class="font-2">Acciones</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.nombre }}</td>
                    <td style="text-align: center">{{ rowData.dosis }}</td>
                    <td style="text-align: center">{{ rowData.observaciones }}</td>
                                       <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                (click)="openDialogEditarTratamientosfrec(rowData,rowIndex)" pTooltip="Editar">
                        </button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarTratamientoFrecuente(rowIndex)" pTooltip="Eliminar">
                        </button>
                        <button pButton (click)="openDialogEditarTratamientosfrec(rowData,rowIndex)" pTooltip="Visualizar" pRipple type="button"
                                icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                        </button>
                    </td>
                </tr>
            </ng-template>

        </p-table>
    </div>
    <div class="">
        <h4>Reacción Adversa a Medicamentos</h4>
        <div class="grid">
            <div class="col-12 p-field">
                <p-selectButton [options]="sino"  optionValue="value"
                                optionLabel="label"></p-selectButton>
            </div>
        </div>
    </div>
</div>
<!--- DIALOGO TRATAMIENTO FRECUENTE---->
<p-dialog  [(visible)]="dialogTratamientoFrecuente"
           [modal]="true"
           [style]="{width: '30%'}">
    <ng-template pTemplate="header">
        <h3>PROBLEMAS CRONICOS</h3>
    </ng-template>

    <form [formGroup]='formTratamientoFrecuente'>
        <div class="grid p-fluid">
            <div class="col-12 md:col-9 lg:col-9 p-field">
                <label>Nombre:</label>
                <input type="text"  pInputText formControlName='nombre' placeholder="Nombre" required/>
            </div>
            <div class="col-12 md:col-3 lg:col-3 p-field">
                <label>Dosis:</label>
                <input type="number"  pInputText formControlName='dosis' placeholder="Dosis" required/>
            </div>
            <br>
            <div class="col-12">
                <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="observaciones" rows="5" cols="30" pInputTextarea formControlName="observaciones"> </textarea>
                    <label for="observaciones">Observaciones:</label>
                 </span>
            </div>

        </div>
    </form>
    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="saveTratamientos()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
    </div>
</p-dialog>