<div class="card">
    <p-card>
        <div class="grid">
            <div class="col-9" style="margin: 0 0 0 20px;">
                <span style="font-size: 2em;">ADOLESCENTE> Consulta </span>
            </div>
        </div>
    </p-card>
</div>
<div class="datosPersonales margen mb-4">
    <div class="grid align-items-center font-style">
        <div *ngIf="genere=='F'" class="col-12 md:col-12 lg:col-3 imagen-F">
        </div>
        <div *ngIf="genere=='M'" class="col-12 md:col-12 lg:col-3 imagen-M">
        </div>
        <div class="col-3">
            <div class="flex flex-column ">
                <label class="text-blue-700">Paciente: </label>
                <span>{{data.nombres +', '+ data.apellidos}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="flex flex-column">
                <label class="text-blue-700">Tipo Doc: </label>
                <span>{{data.tipoDoc}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="flex flex-column">
                <label class="text-blue-700">Nro Doc: </label>
                <span>{{data.nroDoc}}</span>
            </div>
        </div>
        <div class="col-2">
            <div class="flex flex-column">
                <label class="text-blue-700">Fecha Nacimiento: </label>
                <span>{{paciente.nacimiento.fechaNacimiento|date:'dd/MM/yyyy'}}</span>
            </div>
        </div>
        <!-- <div class="col-2">
            <div class="flex flex-column">
                <label>Fecha Nacimiento: </label>
                <span>12/10/2000</span>
            </div>
        </div> -->
    </div>
</div>
<p-steps [model]="items" styleClass="step-custom" [readonly]="false" [(activeIndex)]="indiceActivo"
    (activeIndexChange)="ChangeStep($event)">
</p-steps>
<div class="stepsdemo-content" *ngIf="stepName === 'datos'">
    <p-card>
        <ng-template pTemplate="content">
            <app-datos-generales-consulta-adolescente></app-datos-generales-consulta-adolescente>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'examen'">
    <p-card>
        <app-examenes-consulta-adolescente></app-examenes-consulta-adolescente>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'diagnostico'">
    <p-card>
        <ng-template pTemplate="content">
            <app-diagnostico-consulta-adolescente></app-diagnostico-consulta-adolescente>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'tratamiento'">
    <p-card>
        <ng-template pTemplate="content">
            <app-tratamiento-consulta-adolescente></app-tratamiento-consulta-adolescente>
        </ng-template>
    </p-card>
</div>