
    <form [formGroup]="formPurperio">
        <div class="grid" >
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Fecha de atencion:</label>
                <p-calendar type="date" showIcon="true" type dateFormat="yy-mm-dd" formControlName="fechaAtencion"></p-calendar>
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Horas/Dias PostParto:</label>
                <input type="text" pInputText class="inputfield" formControlName="horasDiasPostPartoAborto">
            </div>

            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Pulso (latido/minuto):</label>
                <input type="text" pInputText class="inputfield" formControlName="pulso">
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Involucion Uterina:</label>
                <input type="text" pInputText class="inputfield" formControlName="involucionUteriana">
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Herida operación:</label>
                <input type="text" pInputText class="inputfield" formControlName="heridaOperacion">
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Observaciones:</label>
                <input type="text" pInputText class="inputfield" formControlName="observaciones">
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Temperatura:</label>
                <input type="text" pInputText class="inputfield" formControlName="temperatura">

            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Pres. Arterial max/min (mm. Hg.):</label>
                <input type="text" pInputText class="inputfield" formControlName="presionArterialMaxima">
            </div>
            <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
                <label>Caract. Loquios:</label>
                <input type="text" pInputText class="inputfield" formControlName="caracteristicasLoquios">
            </div>
        </div>
    </form>

    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="closeDialogGuardar()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="closeDialog()"  class="p-button-danger mt-4"></button>
    </div>
