<div class="p-card">
    <!-- <p-toolbar>
        <ng-template pTemplate="left">
            <span class="mt-2">ATENCIONES GESTACIONALES</span>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
            <button pButton pRipple label="Siguiente" iconPos="right" icon="pi pi-angle-right" class="guardar mr-2"
                style="background-color: #0c3866"></button>
        </ng-template>
    </p-toolbar> -->
    <br>
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="p-m-0"></h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Ir a menú" icon="pi pi-angle-double-left"
            class="button-back-menu mr-2" pButton type="button" (click)="backPregmantMenu()"></button>
            <button pButton pRipple label="Graficar Peso Madre" icon="pi pi-file-o" icon="pi pi-chart-line"
                class="button-graficar mr-2" pButton type="button" (click)="graficarPesoMadre('normal')"></button>
            <button pButton pRipple label="Graficar Altura Uterina" icon="pi pi-file-o" icon="pi pi-chart-line"
                class="button-graficar" pButton type="button" (click)="graficarAlturaUterina()"></button>
            <!--            <button pButton pRipple label="Agregar Atención" icon="pi pi-plus" pButton type="button"-->
            <!--                    class="button-agregar" (click)="openDialogAtenciones()"></button>-->
        </ng-template>
    </p-toolbar>
    <p-table class="table-over" [value]="listaAtenciones" #dt styleClass="p-datatable-gridlines" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
        <!--- INICIO CAMBIOS---->
        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th style="text-align: center" class="font-2">ATENCION PRENATAL</th>
                <th style="text-align: center" class="font-1">Fecha Atención</th>
                <th style="text-align: center" class="font-2">Edad Gest.(Semanas)</th>
                <th style="text-align: center" class="font-2">Peso Madre (Kg)</th>
                <!--                <th style="text-align: center" class="font-1">Eval. Nutricional</th>-->
                <th style="text-align: center" class="font-2">Temperatura(°C)</th>
                <th style="text-align: center" class="font-1">Presion Arterial(mm. Hg)</th>
                <th style="text-align: center" class="font-2">Pulso Materno(por min)</th>
                <th style="text-align: center" class="font-1">Altura Uterina(cm)</th>
                <th style="text-align: center" class="font-1">Acción</th>

            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center">{{ "Atención " + rowData.nroAtencion }}</td>
                <td style="text-align: center">{{ rowData.fechaAtencion }} </td>
                <td style="text-align: center">{{ rowData.edadGestacionalSemanas + " " + rowData.edadGestacionalDias +
                    "/7" }}</td>
                <td style="text-align: center">{{ rowData.peso}}</td>
                <!--                <td style="text-align: center">{{ rowData.evaluacionNutricional.valor + " " + rowData.evaluacionNutricional.indicador}}</td>-->
                <td style="text-align: center">{{ rowData.t}}</td>
                <td style="text-align: center">{{ rowData.presionSistolica + "/" + rowData.presionDiastolica}}</td>
                <td style="text-align: center">{{ rowData.fc}}</td>
                <td style="text-align: center">{{ rowData.alturaUterina}}</td>
                <td style="text-align: center">

                    <button pButton (click)="openDialogMostrarAtenciones(rowData,rowIndex)" pTooltip="Visualizar"
                        pRipple type="button" icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                    </button>

                </td>
            </tr>
        </ng-template>
        <!------FIN CAMBIOS----->
        <!--        <ng-templ
ate pTemplate="header" styleClass="p-datatable-gridlines">-->
        <!--            <tr>-->
        <!--                <th style="text-align: center" class="font-2">ATENCION PRENATAL</th>-->
        <!--                <th style="text-align: center" class="font-1">Fecha Atención</th>-->
        <!--                <th style="text-align: center" class="font-2">Edad Gest.(Semanas)</th>-->
        <!--                <th style="text-align: center" class="font-2">Peso Madre (Kg)</th>-->
        <!--&lt;!&ndash;                <th style="text-align: center" class="font-1">Eval. Nutricional</th>&ndash;&gt;-->
        <!--                <th style="text-align: center" class="font-2">Temperatura(°C)</th>-->
        <!--                <th style="text-align: center" class="font-1">Presion Arterial(mm. Hg)</th>-->
        <!--                <th style="text-align: center" class="font-2">Pulso Materno(por min)</th>-->
        <!--                <th style="text-align: center" class="font-1">Altura Uterina(cm)</th>-->
        <!--                <th style="text-align: center" class="font-1">Acción</th>-->

        <!--            </tr>-->
        <!--        </ng-template>-->
        <!--        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">-->
        <!--            <tr>-->
        <!--                <td style="text-align: center">{{ "Atención " + rowData.nroAtencion }}</td>-->
        <!--                <td style="text-align: center">{{ rowData.fechaAtencion }} </td>-->
        <!--                <td style="text-align: center">{{ rowData.edadGestacionalSemanas + " " + rowData.edadGestacionalDias + "/7" }}</td>-->
        <!--                <td style="text-align: center">{{ rowData.peso}}</td>-->
        <!--&lt;!&ndash;                <td style="text-align: center">{{ rowData.evaluacionNutricional.valor + " " + rowData.evaluacionNutricional.indicador}}</td>&ndash;&gt;-->
        <!--                <td style="text-align: center">{{ rowData.t}}</td>-->
        <!--                <td style="text-align: center">{{ rowData.presionSistolica + "/" + rowData.presionDiastolica}}</td>-->
        <!--                <td style="text-align: center">{{ rowData.fc}}</td>-->
        <!--                <td style="text-align: center">{{ rowData.alturaUterina}}</td>-->
        <!--                <td style="text-align: center">-->

        <!--                    <button pButton (click)="openDialogMostrarAtenciones(rowData,rowIndex)" pTooltip="Visualizar" pRipple type="button"-->
        <!--                            icon="pi pi-eye" class="p-button-rounded p-button-help m-1">-->
        <!--                    </button>-->

        <!--                </td>-->
        <!--            </tr>-->
        <!--        </ng-template>-->

    </p-table>

</div>