<div class="grid">
  <div *ngFor="let mes of inmunizacionesAgrupadas;let i=index" class="col-7">
    <div>
      <p-fieldset *ngIf="edadMes[i]<=mesActual">
        <ng-template pTemplate="header">
          Inmunizacion del mes {{ (edadMes[i])}} <span *ngIf="edadMes[i]==mesActual" style="color:#FBC02D;font-weight: bold;font-size: 1.5rem" >Mes en transcurso</span>
        </ng-template>
        <div class="grid">
          <div class="col-3 text-center" style="font-weight: bold">Nombre de la Vacuna</div>
          <div class="col-1 text-center" style="font-weight: bold">Dosis</div>
          <div class="col text-center" style="font-weight: bold">Fecha Tentativa</div>
          <div class="col text-center" style="font-weight: bold">Fecha Aplicacion</div>
          <div class="col-2 text-center" style="font-weight: bold">Estado</div>
          <div class="col-1 text-center" style="font-weight: bold">Accion</div>
        </div>
        <div class="grid" *ngFor="let inmunizacion of mes">
          <div class="col-3 text-center">
            {{nombreVacuna(inmunizacion.descripcion)}}
          </div>
          <div class="col-1 text-center">
            {{inmunizacion.dosis}}
          </div>
          <div class="col text-center">
            <p-calendar
                    [showIcon]="true"
                    placeholder="Fecha"
                    [disabled]="true"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="inmunizacion.fechaTentativa"
                    [ngClass]="{
                        vacunado: inmunizacion.fecha,
                        noVacunado: !inmunizacion.fecha
                      }"
            ></p-calendar>
          </div>
          <div class="col text-center">
            <p-calendar
                    [showIcon]="true"
                    placeholder="Fecha"
                    [disabled]="true"
                    dateFormat="dd/mm/yy"
                    [(ngModel)]="inmunizacion.fecha"
                    [ngClass]="{
                        vacunado: inmunizacion.fecha,
                        noVacunado: !inmunizacion.fecha
                      }"
            ></p-calendar>
          </div>
          <div class="col-2 text-center">
            <span *ngIf="inmunizacion.estadoAdministrado;else noVacunado;">
              <p-tag severity="success" value="Administrado" [rounded]="true"></p-tag>
            </span>
            <ng-template #noVacunado>
              <span>
                <p-tag severity="warning" value="No Administrado" [rounded]="true"></p-tag>
              </span>
            </ng-template>
          </div>
          <div class="col-1 text-center">
            <button *ngIf="!inmunizacion.estadoAdministrado;" (click)="agregarVacuna(inmunizacion,nombreVacuna(inmunizacion.descripcion))" pButton pRipple
                    type="button" icon="pi pi-pencil"
                    pTooltip="Agregar inmunizacion"
                    tooltipPosition="bottom"
                    class="p-button-rounded p-button-warning p-button-outlined"></button>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
</div>
