<p-card>
    <div class="col-12">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-6" *ngFor="let exam of listaExamenes">
                <p-fieldset legend={{exam.groupName}} class="atencion">
                    <div *ngFor="let item of exam.listaExamName" class="p-field-checkbox grid align-items-center">
                        <div class="col-10">
                            <span [for]="item">{{ item.examName }}</span>
                        </div>
                        <div class="col-2">
                            <p-checkbox [inputId]="item" name="item" [value]="item" [(ngModel)]="reqLabo"
                                [readonly]="item.saved">
                            </p-checkbox>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end">
        <button style="background-color: #0c3866" class="" pButton type="button" (click)="saveLabRequest()">Guardar
        </button>
    </div>
</p-card>