.button-toolbar{
    margin: 5px;
}
.button-cancelar{
    background: #BF0D21;

}
.button-agregar{
    background: #003C71;

}
p-calendar >>> .p-button.p-button-icon-only {
    background-color: #003c71;

}


/*.form-register{*/
/*    width: 95%;*/

/*    maring: auto;*/
/*    background: white;*/
/*    border-radius: 7px;*/
/*    height: 90%;*/
/*    font-size: small;*/
/*}*/
p {
    margin: 0;
}
.table-over{
    overflow-x: auto;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-d-inline{
    width: auto;
    z-index: 5;
}
:host >>> .p-dialog  {
    z-index: 5;
    width: auto;
    background: #FFFFFF;
}
.p-table >>> .p-table{
    overflow-x: auto;
}
p-panel>>>.p-panel .p-panel-header{
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;

}
p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #D32F2F;

}
/*estilo para responsive formulario*/
.resp{
    max-with:1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    padding: 2px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 300px){

}

@media (min-width: 500px){

}
@media (min-width: 900px){

}
