p-table >>> .p-datatable table {
  /*display:block;*/
}
:host ::ng-deep .p-datatable-header {
  font-size: 1.2rem;
  font-weight:normal;
  text-align: center;
}
::ng-deep .asignado .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  font-size: 1rem;
  word-wrap: break-word;
  padding: 0rem;
  font-weight: normal;
  min-width: 4rem;
}
::ng-deep .asignado .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: 1rem;
  word-wrap: break-word;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0rem;
  padding-right: 0rem;
}
::ng-deep .primero .p-datatable .p-datatable-header{
  padding: 0.5rem;
}
.borde {
  border: solid 1px #CDCDCD;
  border-radius: 10px;
}
:Host >>> .ui-dropdown-item {
  background: red;
}
:host::ng-deep .servicio  .p-dropdown {
  margin:0rem;
  border-radius: 0.5rem;
  /*box-shadow: 0px 0px 2px 1px black;*/
}
:host::ng-deep .bordeDropTurno .p-dropdown {
  margin:0rem;
  border-radius: 1rem;
}
::ng-deep .dialogo .p-dialog-mask .p-element{
  display: block;
}
span p{
  margin: 0rem;
}
/*stylos para poner frozen*/
.frozenCol {
  background: inherit;
  grid-area: topright;
  border: solid 1px black;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.frozenCol:after {
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px black !important;
}
  .frozenCol-th {
    background: inherit;
  position: sticky;
  top: 0;
}
.frozenCol-th::after {
  position: absolute;
  overflow-x: auto;
}




/* :host::ng-deep.p-dialog .p-dialog-header {
  background-color: red;
  border-bottom: 0 none;
  color: blue;
  height: 80px;
  font-size: 2rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
} */

::ng-deep >>> .p-dialog .p-dialog-header .p-dialog-header-icon {
  width: 2rem;
  height: 2rem;
  color: #f8f9fa;
  border: 0 none;
  background: transparent;
  border-radius: 50%;
  transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
  margin-right: 0.5rem;
}


host::ng-deep >>> .p-dialog .p-dialog-header .p-dialog-title {
  font-size: 1.2rem;
  text-align: right;
}