p-table >>> .p-datatable table {
  width: auto;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
  text-align: center;
  font-size: small;
  word-wrap: break-word;
  padding: 0rem;
  border: 1px solid #b6b6b6;

  /* background-color: #dddddd; */
}
p-table >>> .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: small;
  word-wrap: break-word;
}
p-button >>> .p-button-icon {
  font: red;
}

/* .frozenCol {
  background: inherit;
  grid-area: topright;
  border: solid 1px black;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}
.frozenCol:after {
  bottom: 0;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 1px black !important;
}
.frozenCol-th {
  background: inherit;
  position: sticky;
  top: 0;
}
.frozenCol-th::after {
  position: absolute;
  overflow-x: auto;
} */
.borde {
  border: solid 1px black;
  border-radius: 10px;
}
