<div >
    <p-card class="mb-2 ">
        <div class="">
    <span style="font-weight: bold">
      Descripcion:
    </span>{{inmunizacion.descripcion}}
        </div>
    </p-card>
    <div class="grid mt-2" [formGroup]="inmunizacionFC">
        <div class="col-6 grid">
            <div class="col-4">Fecha Programa:</div>
            <div class="col-8 p-fluid">
                <p-calendar formControlName="fechaTentativa" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" ></p-calendar>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-4">Fecha Aplicacion:</div>
            <div class="col-8 p-fluid">
                <p-calendar formControlName="fechaAplicacion" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"></p-calendar>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-4">Via administracion:</div>
            <div class="col-8 p-fluid">
                <p-dropdown [options]="viaAdministracionList" formControlName="viaAdministracion" optionLabel="name" optionValue="code" ></p-dropdown>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-3">
                Dosis:
            </div>
            <div class="col-9 p-fluid">
                <p-dropdown [options]="dosisList" formControlName="cantidad" optionLabel="name" optionValue="code"  [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}" ></p-dropdown>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-4">
                fecha Vencimiento:
            </div>
            <div class="col-5 p-fluid">
                <p-calendar formControlName="fechaVencimiento" [showIcon]="true" inputId="icon" dateFormat="dd/mm/yy" [style]="{'position': 'fixed', 'overflow': 'visible', 'z-index': '999'}"></p-calendar>
            </div>
        </div>
        <div class="col-6 grid">
            <div class="col-3">Lote:</div>
            <div class="col-9 p-fluid">
                <p-inputNumber formControlName="lote" mode="decimal" inputId="withoutgrouping" [useGrouping]="false">
                </p-inputNumber>
            </div>
        </div>
    </div>
    <div class="flex justify-content-end mt-5">
        <button
                pButton
                type="button"
                label="Cerrar"
                class="p-button-danger p-button px-5 mx-1 text-center p-button-danger "
                icon="pi pi-times-circle"
                style="border-radius: 0.5rem"
                (click)="cancelar()"
        ></button>
        <button
                pButton
                [disabled]="inmunizacionFC.invalid"
                type="button"
                label="Guardar"
                class="p-button-info p-button px-5 mx-1 text-center"
                icon="pi pi-save"
                style="border-radius: 0.5rem"
                (click)="save()"
        ></button>
    </div>
</div>
<p-confirmDialog [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '25vw'}" key="claveDialog">
    Content
</p-confirmDialog>
