<!-- <div class="border2 m-2">
    <form [formGroup]='formReqLabo'>
        <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
            <div class="grid m-2">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                    <div class="border2">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-2 p-field flex flex-column">
                                <label>CAMA NRO:</label>
                                <input type="text" pInputText class="inputTest" formControlName="camaNro" />
                            </div>
                            <div class="col-12 md:col-6 lg:col-2 p-field flex flex-column">
                                <label>Tipo diagnostico:</label>
                                <p-dropdown inputId="dropdown" [options]="tipoList" formControlName="DxPresuntivo"
                                    placeholder="Seleccione" optionLabel="label" optionValue="value"
                                    defaultLabel="Seleccione:" appendTo="body" class="inputfield p-fluid w-full">
                                </p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid m-2">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                    <div class="border">
                        <div class="grid m-2">
                            <div class="col-12 md:col-4 lg:col-4 p-field flex flex-column">
                                <label>PRESTACION:</label>
                                <p-dropdown [options]="listPrestaciones" formControlName="prestacion" appendTo="body"
                                    (onChange)="onChangeDiagnostico($event)" optionLabel="descripcion"
                                    class="inputfield p-fluid w-full" placeholder="Seleccione prestacion"></p-dropdown>
                            </div>
                            <div class="col-12 md:col-2 lg:col-2 p-field flex flex-column">
                                <label>NOMBRE UPS</label>
                                <p-dropdown [options]="listaUps" optionLabel="nombreUPS"
                                    class="inputfield p-fluid w-full" formControlName="nombreUPS"></p-dropdown>
                            </div>
                            <div class="col-12 md:col-2 lg:col-2 p-field flex flex-column">
                                <label>NOMBRE UPS AUX</label>
                                <p-dropdown [options]="listaUpsHis" optionLabel="nombreUPS"
                                    class="inputfield p-fluid w-full" formControlName="nombreUPSAux"></p-dropdown>
                            </div>
                            <div class="col-12 md:col-6 lg:col-2 p-field flex flex-column">
                                <label>COD. PRESTACION:</label>
                                <input type="text" pInputText class="inputTest" formControlName="codPrestacion" />
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field flex flex-column">
                                <label>SERVICIO LABORATORIO:</label>
                                <p-dropdown [options]="listSubTipoLabo" formControlName="subTipo" appendTo="body"
                                    optionLabel="nombre" class="inputfield p-fluid w-full" placeholder="Seleccione" (onChange)="onChangeExamType($event)" >
                                </p-dropdown>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field flex flex-column">
                                <label>NOMBRE EXAMEN:</label>
                                <p-dropdown [options]="listExamsName" formControlName="nombreExamen" appendTo="body"
                                    optionLabel="nombreExamen" class="inputfield p-fluid w-full" placeholder="Seleccione">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-4 p-field flex flex-column">
                                <label>LUGAR DE EXAMEN:</label>
                                <p-dropdown [options]="LugarExamen" formControlName="lugarExamen" appendTo="body"
                                    optionLabel="nombre" class="inputfield p-fluid w-full"
                                    placeholder="Seleccione lugar de examen"></p-dropdown>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid m-2">
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <label>PROCEDIMIENTO SIS</label>
                        </ng-template>
                    </p-toolbar>
                    <div class="border">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-12 p-field">
                                <div class="grid mt-2">
                                    <label>Procedimiento: </label>
                                    <p-dropdown [options]="procedimientos" formControlName="autocompleteSIS"
                                        appendTo="body" (onChange)="selectedOptionNameCIE($event,0)"
                                        optionLabel="procedimiento" class="inputfield p-fluid w-full"
                                        placeholder="Seleccione"></p-dropdown>
                                    <textarea [rows]="3" class="inputfield w-full mt-2" formControlName="diagnosticoSIS"
                                        pInputTextarea></textarea>
                                </div>
                                <div class="grid mt-2 ">
                                    <label class="mr-2">CIE 10: </label>
                                    <p-dropdown [options]="procedimientos" formControlName="SISCIE" appendTo="body"
                                        optionLabel="codigo" class="inputfield p-fluid w-full" placeholder="Seleccione"
                                        (onChange)="selectedOption($event,0)"></p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-toolbar>
                        <ng-template pTemplate="left">
                            <label>PROCEDIMIENTO HIS</label>
                        </ng-template>
                    </p-toolbar>
                    <div class="border">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-12 p-field">
                                <div class="grid mt-2">
                                    <label>Procedimiento: </label>
                                    <p-autoComplete [suggestions]="listaDeCIE" (completeMethod)="filterCIE10($event)"
                                        appendTo="body" field="descripcionItem" [minLength]="1" class="areaText "
                                        class="inputfield p-fluid w-full" formControlName="autocompleteHIS"
                                        (onSelect)="selectedOptionNameCIE($event,1)">
                                    </p-autoComplete>
                                    <textarea [rows]="3" class="inputfield w-full mt-2" formControlName="diagnosticoHIS"
                                        pInputTextarea disabled></textarea>
                                </div>
                                <div class="grid mt-2">
                                    <label class="mr-2">CIE 10: </label>
                                    <p-autoComplete formControlName="HISCIE" [suggestions]="listaDeCIE"
                                        (completeMethod)="filterCIE10($event)" field="codigoItem" [minLength]="1"
                                        class="inputfield p-fluid w-full" (onSelect)="selectedOption($event,1)"
                                        [forceSelection]="true" dataKey="codigoItem">
                                    </p-autoComplete>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid m-2">
                <div class="col-12 md:col-6 lg:col-9 p-field">
                    <div class="border">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-12 p-field flex flex-column">
                                <label>OBSERVACIONES:</label>
                                <input type="text" pInputText class="inputTest" formControlName="observaciones" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div> -->
<div class="col-12">
    <form [formGroup]="formReqLabo">
        <div class="grid pt-2">
            <div class="col-2 image1"></div>
            <div class="col-10">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-8 flex align-items-center">
                        <div class="col-fixed" style="width:140px"><span>Apellidos y Nombres:</span></div>
                        <input type="text" pInputText class="w-full text-center"
                               formControlName="apellidosNombres"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:50px"><span>Edad:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="edad"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:70px"><span>N° Cama:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="camaNro"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4 flex align-items-center">
                        <div class="col-fixed" style="width:80px"><span>Servicio:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="servicio"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4 flex align-items-center">
                        <div class="col-fixed" style="width:70px"><span>N° H.CL:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="HCL"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-4 flex align-items-center">
                        <div class="col-fixed" style="width:100px"><span>Dx. Presuntivo:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="DxPresuntivo"/>
                    </div>
                </div>
            </div>
            <p-divider align="center" type="dashed">
            </p-divider>
        </div>
    </form>
</div>
<div class="col-12">
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3" *ngFor="let exam of examGroup">
            <p-fieldset legend={{exam.nombreGrupo}} class="atencion">
                <div *ngFor="let item of exam.listaExam" class="p-field-checkbox grid align-items-center">
                    <div class="col-10">
                        <span [for]="item">{{ item.nombreExamen }}</span>
                    </div>
                    <div class="col-2">
                        <p-checkbox [inputId]="item" name="item" [value]="item" [(ngModel)]="examName">
                        </p-checkbox>
                    </div>
                </div>
            </p-fieldset>
        </div>
    </div>
</div>
<div class="footer">
    <button pButton type="button" (click)="addReq()" label="Guardar" class="p-button-primary mt-4 mr-2"></button>
    <button pButton type="button" label="Cancelar" class="p-button-danger mt-4"></button>
</div>