<div style="background: #f8f9fa; height: 100%;">
      <div class="card">
          <div class="flex" style="margin-top:20px; margin-bottom:20px">
              <div class="col-12" style="text-align:center;">
                  <span style="font-size:2em ;">
                      VISITA DOMICILIARIA DE NIÑOS Y NIÑAS POR IPRESS
                  </span>
              </div>
      </div>
      <p-card>
          <form [formGroup]="formListaVisitas" class="p-fluid p-formgrid p-grid">
              <div >
                  <div class="anios">
                      <p-dropdown
                             
                              [options]="anios"
                              optionLabel="anio" formControlName="busquedaAnio"
                              optionValue="anio"
                              placeholder="Año"
                              [showClear]="false"
                              [style]="{ width: '100%' }"
                              [(ngModel)]="selectedAnio"
                              >
                      </p-dropdown>
                  </div>
                  <div class="meses">
                      <p-selectButton 
                                      [options]="meses"  
                                      optionValue="value" 
                                      [(ngModel)]="selectedMes"
                                      formControlName="busquedaMes"
                                      optionLabel="label"></p-selectButton>
                  </div>
              </div>
          </form>
          <!--MapStreet-->
      </p-card>
  <p-table [value]="profesionalesIpress" dataKey="name" responsiveLayout="scroll">
      <ng-template pTemplate="header">
          <tr>
              <th style="width: 3rem"></th>
              <th>Nro</th>
              <th>DNI</th>
              <th>Nombres</th>
              <th>Apellidos</th>
              <th>Telefono</th>
              <th>EESS</th>
              <th pSortableColumn="inventoryStatus">Nro Visitas<p-sortIcon field="name"></p-sortIcon></th>
          </tr>
      </ng-template>
      <ng-template pTemplate="body" let-visita let-expanded="expanded" let-rowIndex="rowIndex">
          <tr>
              <td>
                  <button  type="button" pButton pRipple [pRowToggler]="visita" class="p-button-text p-button-rounded p-button-plain p-button-secondary" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
              </td>
              <td>{{rowIndex+1}}</td>
              <td>{{visita.dni}}</td>
              <td>{{visita.nombres}}</td>
              <td>{{visita.apellidos}}</td>
              <td>{{visita.celular}}</td>
              <td>{{visita.eess}}</td>
              <td>2</td>
          </tr>
      </ng-template>
      <ng-template pTemplate="rowexpansion" let-visita>
          <tr>
              <td colspan="12">
                  <div class="p-3">
                      <p-table [value]="visita.validator" dataKey="id">
                          <ng-template pTemplate="header">
                              <tr>
                                  <th>Nro</th>
                                  <th>DNI</th>
                                  <th>Nombres</th>
                                  <th>Apellidos</th>
                                  <th>Nro Visita</th>
                                  <th>Fecha de la visita</th>
                                  <th>DNI Apoderado</th>
                                  <th>Nombre madre</th>
                                  <th>Direccion</th>
                                  <th>Respuestas</th>
                                  <th>Acciones</th>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="body" let-order>
                              <tr>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">{{visita.value.dni_ninio}}</td>
                                  <td style="text-align: center">
                                      <button  pButton type="button" label="Ver"  icon="pi pi-eye"  class="buttonAcciones"></button>
                                  </td>
                                  <td style="text-align: center">
                                      <button pButton type="button" label="Reporte" icon="pi pi-file-pdf" class="buttonAcciones"></button>
                                  </td>
                              </tr>
                          </ng-template>
                          <ng-template pTemplate="emptymessage">
                              <tr>
                                  <td colspan="12">No tiene visitas asignadas</td>
                              </tr>
                          </ng-template>
                      </p-table>
                  </div>
              </td>
          </tr>
      </ng-template>
  </p-table>
  </div>
  <p-card>
      <app-map-visitas></app-map-visitas>
  </p-card>
  </div>
