p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}


p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: rgb(149 158 166);
    border-color: rgb(149 158 166);
}

/*.amarillo >>> .p-selectbutton .p-button.p-highlight {*/
/*    background: rgb(234, 187, 38);*/
/*    border-color: rgb(234, 187, 38);*/
/*}*/

p-calendar >>> .p-button {
    background: #a4a4a4;
    border: 1px solid #ffffff;
    align-self: center;
}

p-calendar >>> .p-button:enabled:hover {
    background: #333232;
    color: #ffeaf3;
    border-color: #a4a4a4;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}


.logo_Region {
    width: 100%;
    height: 100%;
}

.colorear {
    font-weight: bold;
}

p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
}


.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}

/*.amarillo .p-checkbox .p-checkbox-box {*/
/*    background: rgba(197, 0, 9, 0.63) !important;*/
/*}*/

::ng-deep .default .p-checkbox .p-checkbox-box {
    background: #ffffff;
    border-color: rgb(192, 192, 192);
}

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
    background: rgb(234, 187, 38);
    border-color: rgb(164, 164, 164);
}

::ng-deep .rojo .p-checkbox .p-checkbox-box {
    background: rgba(197, 0, 9, 0.63);
    border-color: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src/assets/svg-icons/check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
    background: rgb(234, 187, 38);
    border-color: rgb(164, 164, 164);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
    border-color: rgb(150, 86, 86);
    background: rgba(197, 0, 9, 0.63);
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    background: #ffffff;
    border-color: rgb(164, 164, 164);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: center;
    height: 22px;
}

/*.amarilloInput {*/
/*    background: rgb(252, 213, 90);*/
/*    color: rgb(0, 0, 0);*/
/*}*/
/*.rojoInput {*/
/*    background: rgba(197, 0, 9, 0.63);*/
/*    color: rgb(255, 255, 255);*/
/*}*/

::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}

.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

.border2 {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    background: rgb(248 249 250)
}

.border3 {
    border: 1px solid rgb(255 255 255);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
}

svg {
    /*text-align: center;*/
    position: relative;
    z-index: 100;
    display: block;
    height: 300px;
    width: 880px;
    /*margin: auto;*/
    /*background-color: rgba(250, 89, 100, .3);*/
    margin: 0 auto;
    fill: red;


    /*float: right;*/
    /*bottom: 2rem;*/
    /*left:2rem;*/
    /*margin-right:1rem;*/

    /*max-width: 180%;*/
    /*max-height: 100%;*/

}

@media screen and (min-width: 500px) {
    svg {
        position: relative;
        z-index: 100;
        display: block;
        height: 300px;
        width: 880px;
        /*margin: auto;*/
        /*background-color: rgba(250, 89, 100, .3);*/
        margin: 0 auto;
        fill: red;
    }
}


p-toolbar >>> .p-toolbar {
    background: rgb(248 249 250);
    border: 1px solid rgb(222 226 230);
    padding: 0.5rem;
    height: auto;
    border-radius: 3px;
}


p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
    border-color: rgb(164, 164, 164);
}


p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border: rgb(164, 164, 164);
    background: rgb(164, 164, 164);

}

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-box.p-highlight:hover {
    border: rgb(164, 164, 164);
    background: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box:hover {
    border-color: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border: rgb(164, 164, 164);
    background: rgb(164, 164, 164);
}
