p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

label {
    font-weight: normal;
}

.logo_Region {
    width: 100%;
    height: 100%;
}

.colorear {
    font-weight: bold;
}

p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
}


.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}

.amarillo .p-checkbox .p-checkbox-box {
    background: red !important;
}

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
    background: rgb(242, 236, 56);
    border-color: rgb(242, 236, 56);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
    background: rgb(234, 187, 38);
    border: rgb(234, 187, 38);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
    border-color: red;
    background: red;
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    background: #2196f3;
    border: #2196f3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: left;
}

::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}


canvas {
    border: 1px solid #b4b4b4;
}
