p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}


.logo_Region {
    width: 100%;
    height: 100%;
}

.colorear {
    font-weight: bold;
}

p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
}


.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}

.amarillo .p-checkbox .p-checkbox-box {
    background: red !important;
}

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
    background: rgb(234, 187, 38);
    border-color: rgb(234, 187, 38);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
    background: rgb(234, 187, 38);
    border: rgb(234, 187, 38);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
    border-color: red;
    background: red;
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    background: #2196f3;
    border: #2196f3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: center;
    height: 22px;
}

/*.amarilloInput {*/
/*    background: rgb(252, 213, 90);*/
/*    color: rgb(0, 0, 0);*/
/*}*/
/*.rojoInput {*/
/*    background: rgba(197, 0, 9, 0.63);*/
/*    color: rgb(255, 255, 255);*/
/*}*/

::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}

.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

.border2 {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    background: rgb(248 249 250)
}

.border3 {
    border: 1px solid rgb(255 255 255);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
}

svg {
    /*text-align: center;*/
    position: relative;
    z-index: 100;
    display: block;
    height: 280px;
    width: 880px;
    margin: auto;
    /*background-color: rgba(250, 89, 100, .3);*/
    margin: 0 auto;
    fill: red;
    /*max-width: 180%;*/
    /*max-height: 100%;*/
}
