p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background-color: #0c3866;
}
.guardar-boton{
    background-color: #C50009;
    border-color: #C50009;
}
.p-dialog{
    pointer-events: auto;
    z-index: 5;
}
.boton-listar{
    background-color: #0c3866;
    border-color: #0c3866;
}
.titulo{
    background-color: #0c3866;
    border-color: #0c3866;
    height: 30px;
    text-color: #FFFFF ;
}

