<div #calendarWrapper></div>
<p-table
  rowExpandMode="single"
  scrollDirection="both"
  sortMode="single"
  selectionMode="single"
  [resizableColumns]="'false'"
  #dt
  styleClass="p-datatable p-datatable-gridlines p-mt-3"
  [value]="personalServicioSelected"
  [rowHover]="true"
>
  <ng-template pTemplate="header">
    <tr>
      <th rowSpan="2" colSpan="3" class="text-center frozenCol">
        <strong>
          <label class="line-height-4" for="username2" class="text-base">
            Personal por servicio(UPS):</label
          >
        </strong>
        <div>
          <p-dropdown
            [options]="tipoPersonalServicio"
            #dd
            [(ngModel)]="selectedPersonalServicio"
            optionLabel="nombre"
            optionValue="id"
            placeholder="Personal Servicio"
            styleClass="my-2 py-1"
            (onChange)="changePersonalServicio($event, dd)"
          ></p-dropdown>
        </div>
      </th>
      <th
        [colSpan]="cabeceraMes.length + 1"
        style="background-color: #dfe6e9; padding: 10px"
      >
        <div>
          <p-calendar
            [appendTo]="calendarWrapper"
            [(ngModel)]="dateValue"
            (onSelect)="cambiarFecha($event)"
            view="month"
            dateFormat="mm/yy"
            [yearNavigator]="true"
            yearRange="2000:2030"
          ></p-calendar>
        </div>
      </th>
    </tr>
    <tr>
      <th
        *ngFor="let dia of cabeceraMes"
        [style]="
          dia.bg == 'background-color:#dfe6e9'
            ? 'background-color:#f3a683;'
            : 'background-color:white;'
        "
        style="padding: 10px"
      >
        {{ dia.abreviatura }}
      </th>
      <th rowspan="2">Horas</th>
    </tr>
    <tr>
      <th
        class="frozenCol"
        pFrozenColumn
        [frozen]="true"
        style="background-color: #dfe6e9"
      >
        Nro
      </th>
      <th
        class="frozenCol"
        pFrozenColumn
        [frozen]="true"
        style="background-color: #dfe6e9"
      >
        Apellidos
      </th>
      <th
        class="frozenCol"
        pFrozenColumn
        [frozen]="true"
        style="background-color: #dfe6e9"
      >
        Nombres
      </th>
      <th
        *ngFor="let dia of cabeceraMes"
        [style]="dia.bg"
        style="padding: 10px"
      >
        {{ dia.dia }}
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-rowData let-i="rowIndex;">
    <tr>
      <td class="border-500 text-900 frozenCol" pFrozenColumn>
        {{ i + 1 }}
      </td>
      <td
        class="border-500 text-900 frozenCol"
        style="background-color: #f3a683"
        pFrozenColumn
      >
        {{ rowData.nombres }}
      </td>
      <td
        class="border-500 text-900 frozenCol"
        style="background-color: #f3a683"
        pFrozenColumn
      >
        {{ rowData.apellidos }}
      </td>
      <td
        *ngFor="let dia of cabeceraMes; let j = index"
        index="rowIndex"
        class="border-500 text-900"
      >
        <!-- {{ i }} -{{ j }} -->
        <p-dropdown
          [options]="turno"
          [virtualScroll]="true"
          optionLabel="name"
          optionValue="code"
          [(ngModel)]="matriz[i][j]"
          itemSize="30"
        ></p-dropdown>
      </td>
      <td class="border-500 text-900">8</td>
    </tr>
  </ng-template>
</p-table>
<p-card>
  <h3 style="color: red" class="text-xl">Leyenda</h3>
  <div class="grid">
    <div class="col-10">
      <div class="grid borde">
        <div class="col-2">
          <span
            ><h3>M-Mañana</h3>
            <h3>T-Tarde</h3>
            <h3>M/T-Mañana Tarde</h3></span
          >
        </div>
        <div class="col-3">
          <span
            ><h3>GD-Guardia diurna</h3>
            <h3>GN-Guardia Nocturna</h3>
            <h3>T/GN-Tarde Guardia Nocturna</h3></span
          >
        </div>
        <div class="col-2">
          <span
            ><h3>N-Noche</h3>
            <h3>R-Reten</h3>
            <h3>L-Libre</h3></span
          >
        </div>
        <div class="col-3">
          <span
            ><h3>V-Vacaciones</h3>
            <h3>O-Onomastico</h3>
            <h3>GD(GN)-Guardia Diurna y Nocturna</h3></span
          >
        </div>
        <div class="col-2">
          <span><h3>F-Feriado</h3> </span>
        </div>
      </div>
    </div>
    <div class="col-2 flex align-content-center flex-wrap card-container">
      <button
        pButton
        type="button"
        label="Asignar"
        class="p-button-danger p-button-lg px-7 mx-3"
        (click)="designar()"
      ></button>
    </div>
  </div>
</p-card>
