<div style="background: #f8f9fa; height: 100%;">
    <div class="p-panel">
        <br>
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-12 p-field" style="text-align:center;">
                <label style="font-size: 16px;">LISTA DE PACIENTES EN OBSTETRICIA</label>
            </div>
        </div>
        <br>
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <form [formGroup]="formCitas">
                    <div class="grid">
                        <div class="col-12 md:col-4 lg:col-3 p-fluid">
                            <label class="">TIPO DOC</label>
                            <p-dropdown [options]="listaDocumentosIdentidad"
                                        formControlName="tipoDoc"
                                        placeholder="Tipo Documento"
                                        optionLabel="abreviatura"
                                        optionValue="abreviatura"
                                        [showClear]="false">
                            </p-dropdown>
                        </div>
                        <div class="col-12 md:col-4 lg:col-5 p-field">
                            <label class="">DOCUMENTO DEL PACIENTE</label>
                            <div class="p-inputgroup">
                                <input type="text" pInputText formControlName="nroDoc"/>
                                <p-button icon="pi pi-search" (click)="buscarCupoXdniFecha()"></p-button>
                            </div>
                        </div>
                        <div class="col-12 md:col-4 lg:col-4 p-field">
                            <label class="">FILTRAR POR FECHA</label>
                            <div class="p-inputgroup">
                                <p-calendar dateFormat="yy-mm-dd"
                                            formControlName="fechaBusqueda"
                                            [readonlyInput]="true"
                                            (onSelect)="buscarCuposPorPersonal()">
                                </p-calendar>
                            </div>
                        </div>
                    </div>
                </form>
            </ng-template>
            <ng-template pTemplate="right">
                <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-success"></button>
            </ng-template>
        </p-toolbar>
    </div>

    <div>
        <p-table [value]="dataPaciente" #dt styleClass="p-datatable-gridlines">
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.nroDoc }}</td>
                    <td style="text-align: center">{{ rowData.apePaterno }}</td>
                    <td style="text-align: center">{{ rowData.apeMaterno }}</td>
                    <td style="text-align: center">{{ rowData.primerNombre }}</td>
                    <td style="text-align: center">{{ rowData.celular }}</td>
                    <td style="text-align: right">
                        <button pButton pRipple routerLink="gestante" (click)="enviarData2(rowData)"
                                class="boton-azul" label="Atender"
                                icon="pi pi-check"></button>
                        <button pButton pRipple class="boton-mostaza" label="No Control"
                                icon="pi pi-book" (click)="irConsultaNoControl(rowData)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <div>
        <p-accordion>
            <p-accordionTab header="LISTA DE PACIENTES CON CUPOS PARA EL DIA DE HOY" [selected]="true">
                <p-table [value]="DataCupos" #dt [globalFilterFields]="['fecha']" styleClass="p-datatable-gridlines "
                         [rows]="10" [loading]="loading" responsiveLayout="scroll" class="CitasList"
                         [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                         currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                    <ng-template pTemplate="header">
                        <tr>
                            <th style="text-align: center; font-size: 11px">Nro</th>
                            <th style="text-align: center; font-size: 11px">DNI</th>
                            <th style="text-align: center; font-size: 11px">APELLIDOS</th>
                            <th style="text-align: center; font-size: 11px">NOMBRES</th>
                            <th style="text-align: center; font-size: 11px">HORA ATENCION</th>
                            <th style="text-align: center; font-size: 11px">FECHA ATENCION</th>
                            <!--                        <th style="text-align: center; font-size: 11px">SERVICIO</th>-->
                            <th style="text-align: center; font-size: 11px">TELEFONO</th>
                            <th style="text-align: center; font-size: 11px">ACCION</th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center; font-size: 11px">{{ rowIndex + 1 }}</td>
                            <td style="text-align: center; font-size: 11px">{{ rowData.paciente.nroDoc }}</td>
                            <td style="text-align: center; font-size: 11px">{{ rowData.paciente.apellidos }}</td>
                            <td style="text-align: center; font-size: 11px">{{ rowData.paciente.nombre}}</td>
                            <td style="text-align: center; font-size: 11px">{{ rowData.horaAtencion}}</td>
                            <td style="text-align: center; font-size: 11px">{{ rowData.fechaAtencion}}</td>
                            <!--                        <td style="text-align: center; font-size: 11px">{{ rowData.ipress.servicio}}</td>-->
                            <td style="text-align: center; font-size: 11px">{{ rowData.paciente.nroTelefono}}</td>

                            <td style="text-align: center">
                                <button pButton pRipple type="button" label="Gestante"
                                        class="p-button-secondary"
                                        (click)="enviarData(rowData)" style="font-size: 11px"
                                        icon="pi pi-angle-double-right"></button>
                                <button pButton pRipple type="button" (click)="openDialogTriaje(rowData)" label="Triaje"
                                        class="p-button-help" style="font-size: 11px"
                                        icon="pi pi-check-circle"></button>
                                <!-- <button pButton pRipple class="boton-mostaza" label="Consulta externa"
                                        icon="pi pi-book" (click)="irConsultaNoControl(rowData)"
                                        style="; font-size: 11px"></button> -->
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>


            <p-accordionTab header="LISTA DE GESTANTES CON CITAS NO ATENDIDAS">
                <p-table [value]="citas" #dt styleClass="p-datatable-gridlines" [rows]="5"
                         [rowsPerPageOptions]="[5, 10, 50]"
                         [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                         currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                    <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                        <tr>
                            <th style="text-align: center">Nro</th>
                            <th style="text-align: center">DNI</th>
                            <th style="text-align: center">APELLIDOS</th>
                            <th style="text-align: center">NOMBRES</th>
                            <th style="text-align: center">CONSULTORIO</th>
                            <th style="text-align: center">HORARIO</th>
                            <th style="text-align: center">FECHA</th>
                            <th style="text-align: center">ACCIONES</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center">{{ rowIndex + 1 }}</td>
                            <td style="text-align: center">{{ rowData.dni }}</td>
                            <td style="text-align: center">{{ rowData.apellidos }}</td>
                            <td style="text-align: center">{{ rowData.nombres }}</td>
                            <td style="text-align: center">{{ rowData.consultorio }}</td>
                            <td style="text-align: center">{{ rowData.horario }}</td>
                            <td style="text-align: center">{{ rowData.fecha }}</td>
                            <td style="text-align: center">
              <span class="p-buttonset">
                <button pButton pRipple class="boton-azul" label="Reprogramar"
                        icon="pi pi-undo"></button>
                <button pButton pRipple class="boton-morado" label="Cancelar" icon="pi pi-times"></button>
                <button pButton pRipple class="boton-red" label="Eliminar" icon="pi pi-trash"></button>
              </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
            <p-accordionTab header="LISTA DE GESTANTES CON CITAS CANCELADAS">
                <p-table [value]="citas" #dt styleClass="p-datatable-gridlines" [rows]="10"
                         [rowsPerPageOptions]="[10, 25, 50]"
                         [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                         currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                    <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                        <tr>
                            <th style="text-align: center">Nro</th>
                            <th style="text-align: center">DNI</th>
                            <th style="text-align: center">APELLIDOS</th>
                            <th style="text-align: center">NOMBRES</th>
                            <th style="text-align: center">CONSULTORIO</th>
                            <th style="text-align: center">HORARIO</th>
                            <th style="text-align: center">FECHA</th>
                            <th style="text-align: center">ACCIONES</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center">{{ rowIndex + 1 }}</td>
                            <td style="text-align: center">{{ rowData.dni }}</td>
                            <td style="text-align: center">{{ rowData.apellidos }}</td>
                            <td style="text-align: center">{{ rowData.nombres }}</td>
                            <td style="text-align: center">{{ rowData.consultorio }}</td>
                            <td style="text-align: center">{{ rowData.horario }}</td>
                            <td style="text-align: center">{{ rowData.fecha }}</td>
                            <td style="text-align: center">
              <span class="p-buttonset">
                <button pButton pRipple class="boton-azul" label="Reprogramar" icon="pi pi-undo"></button>
                <button pButton pRipple class="boton-red" label="Eliminar" icon="pi pi-trash"></button>
              </span>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>