<div class="card">
    <p-card>
        <form [formGroup]="formCitas">

            <div class="grid">
                <div class="col-12 md:col-6 lg:col-12 p-field" style="text-align:center;">
                    <span style="font-size: 2em;">LISTA DE PACIENTES CON RESERVA DE CUPOS EN OBSTETRICIA</span>
                </div>
            </div>
            <br>

            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6 p-field">
                            <label class="">Documento de identidad: </label>
                            <div class="p-inputgroup">
                                <input type="text" pInputText formControlName="nroDoc" (blur)="getPacientesXnroDocumento()">
                                <p-button icon="pi pi-search" (click)="getPacientesXnroDocumento()"></p-button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <div class="grid">
                        <div class="col-12 md:col-6 lg:col-6 p-field">
                            <label class="">Fecha de Inicio</label>
                            <div class="p-inputgroup">
                                <p-calendar dateFormat="yy-mm-dd" formControlName="fechaInicio"
                                            (click)="getCitasGestantes()"></p-calendar>
                            </div>
                        </div>

                        <div class="col-12 md:col-6 lg:col-6 p-field">
                            <label class="">Fecha actual</label>
                            <div class="p-inputgroup">
                                <p-calendar dateFormat="yy-mm-dd" (click)="getCitasGestantes()"
                                            formControlName="fechaFinal"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </p-card>
</div>

<div>
    <p-table [value]="dataPaciente2" #dt styleClass="p-datatable-gridlines">

        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center"></td>
                <td style="text-align: center">{{ rowData.nroDoc }}</td>
                <td style="text-align: center">{{ rowData.apellidoPaterno }}</td>
                <td style="text-align: center">{{ rowData.apellidoMaterno }}</td>
                <td style="text-align: center">{{ rowData.nombre }}</td>
                <td style="text-align: center">{{ rowData.telefono }}</td>
                <td style="text-align: right">

                    <button pButton pRipple routerLink="gestante" (click)="enviarData(rowData)"
                            class="boton-azul" label="Gestante"
                            icon="pi pi-check"></button>
                    <button pButton pRipple routerLink="noControl" class="boton-mostaza" label="No Control"
                            icon="pi pi-book" (click)="irConsultaNoControl(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>

</div>

<div>
    <p-accordion>
        <p-accordionTab header="LISTA DE PACIENTES CON CUPOS PARA EL DIA DE HOY" [selected]="true">
            <p-table [value]="dataCitas" #dt styleClass="p-datatable-gridlines" [rows]="4"
                     [rowsPerPageOptions]="[5, 10, 15]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center">Nro</th>
                        <th style="text-align: center">DNI</th>
                        <th style="text-align: center">APELLIDOS</th>
                        <th style="text-align: center">NOMBRES</th>
                        <th style="text-align: center">FECHA</th>
                        <th style="text-align: center">TELEFONO</th>
                        <th style="text-align: center">ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.nroDoc }}</td>
                        <td style="text-align: center">{{ rowData.datosPaciente.apeMaterno }}{{' '}}{{ rowData.datosPaciente.apePaterno }}</td>
                        <td style="text-align: center">{{ rowData.datosPaciente.primerNombre }}</td>
                        <td style="text-align: center">{{ rowData.proxCita.fecha }}</td>
                        <td style="text-align: center">{{ rowData.datosPaciente.celular }}</td>
                        <td style="text-align: center">

                            <button pButton pRipple routerLink="gestante" (click)="enviarData(rowData)"
                                    class="boton-azul" label="Gestante"
                                    icon="pi pi-check"></button>
                            <button pButton pRipple routerLink="noControl" class="boton-mostaza" label="No Control"
                                    icon="pi pi-book" (click)="irConsultaNoControl(rowData)"></button>
                            <button pButton pRipple class="boton-red" label="Cancelar" icon="pi pi-times"></button>

                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="LISTA DE GESTANTES CON CITAS NO ATENDIDAS">
            <p-table [value]="citas" #dt styleClass="p-datatable-gridlines" [rows]="5"
                     [rowsPerPageOptions]="[5, 10, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center">Nro</th>
                        <th style="text-align: center">DNI</th>
                        <th style="text-align: center">APELLIDOS</th>
                        <th style="text-align: center">NOMBRES</th>
                        <th style="text-align: center">CONSULTORIO</th>
                        <th style="text-align: center">HORARIO</th>
                        <th style="text-align: center">FECHA</th>
                        <th style="text-align: center">ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.dni }}</td>
                        <td style="text-align: center">{{ rowData.apellidos }}</td>
                        <td style="text-align: center">{{ rowData.nombres }}</td>
                        <td style="text-align: center">{{ rowData.consultorio }}</td>
                        <td style="text-align: center">{{ rowData.horario }}</td>
                        <td style="text-align: center">{{ rowData.fecha }}</td>
                        <td style="text-align: center">
              <span class="p-buttonset">
                <button pButton pRipple class="boton-azul" label="Reprogramar"
                        icon="pi pi-undo"></button>
                <button pButton pRipple class="boton-morado" label="Cancelar" icon="pi pi-times"></button>
                <button pButton pRipple class="boton-red" label="Eliminar" icon="pi pi-trash"></button>
              </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
        <p-accordionTab header="LISTA DE GESTANTES CON CITAS CANCELADAS">
            <p-table [value]="citas" #dt styleClass="p-datatable-gridlines" [rows]="10"
                     [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center">Nro</th>
                        <th style="text-align: center">DNI</th>
                        <th style="text-align: center">APELLIDOS</th>
                        <th style="text-align: center">NOMBRES</th>
                        <th style="text-align: center">CONSULTORIO</th>
                        <th style="text-align: center">HORARIO</th>
                        <th style="text-align: center">FECHA</th>
                        <th style="text-align: center">ACCIONES</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.dni }}</td>
                        <td style="text-align: center">{{ rowData.apellidos }}</td>
                        <td style="text-align: center">{{ rowData.nombres }}</td>
                        <td style="text-align: center">{{ rowData.consultorio }}</td>
                        <td style="text-align: center">{{ rowData.horario }}</td>
                        <td style="text-align: center">{{ rowData.fecha }}</td>
                        <td style="text-align: center">
              <span class="p-buttonset">
                <button pButton pRipple class="boton-azul" label="Reprogramar" icon="pi pi-undo"></button>
                <button pButton pRipple class="boton-red" label="Eliminar" icon="pi pi-trash"></button>
              </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </p-accordionTab>
    </p-accordion>
</div>
