.hora,
.hoy,
.maniana {
    background: rgb(41, 182, 197);
    border: 1px solid #0c3866;
    width: 4em;
    height: 3em;
    /* text-align: center; */
    margin: 0.5px;
    padding: auto;
}

.datosPersonales,
.datosExtra,
.datos,
.datosServicio {
    border: 1px solid #2570c4;
    border-radius: 10px;
}

.border {
    border: 1px solid #2570c4;
    border-radius: 10px;
}

.btn-buscar {
    margin-top: 1.8em;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: left;
}


::ng-deep.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #ffffff;
    height: 40px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

::ng-deep >>> .p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: #f8f9fa;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}


::ng-deep >>> .p-dialog .p-dialog-header .p-dialog-title {
    font-size: 12px;
    text-align: center;
}

.footer {
    text-align: right;
    background: transparent;
    position: absolute;
    bottom: 0;
    width: 97%;
    height: 5em;
    color: white;
    bottom: 0;
    z-index: 50;
}

::ng-deep .swal2-container {
    z-index: 1000000;
}

::ng-deep .p-disabled, .p-component:disabled{
    opacity: 1;
    background: #EBF5FB;
}