<div class="flex">
    <div class="col-12 md-12 lg-12">
        <p-toolbar>
            <ng-template pTemplate="left">
                <span class="p-m-0">Acuerdos y compromisos negociados con la madre y/o cuidador del niño</span>
            </ng-template>
            <ng-template pTemplate="right" class="button">
                <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus-circle"
                        class="guardar mr-2" style="background-color: #0c3866" (click)="openAcuerdo()"></button>
            </ng-template>
        </p-toolbar>

        <p-table class="table-over" [value]="acuerdosComprimisos" #dt styleClass="p-datatable-gridlines" [rows]="10"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">ACUERDO</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.descripcionAcuerdo }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                (click)="editarAcuerdo(rowData,rowIndex)" pTooltip="Editar"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarAcuerdo(rowIndex)" pTooltip="Eliminar">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<div class="flex">
    <div class="col-6 md-4 lg-3">
        <p-toolbar>
            <ng-template pTemplate="left">
                <span class="p-m-0">Examenes</span>
            </ng-template>
            <ng-template pTemplate="right" class="button">
                <button pButton pRipple label="Examenes Auxiliares" iconPos="right" icon="pi pi-plus-circle"
                        class="guardar mr-2" style="background-color: #0c3866" (click)="openExamen()"></button>
            </ng-template>
        </p-toolbar>

        <p-table class="table-over" [value]="examenesAux" #dt styleClass="p-datatable-gridlines" [rows]="10"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">NRO</th>
                    <th style="text-align: center" class="font-2">LUGAR EXAMEN</th>
                    <th style="text-align: center" class="font-2">EXAMEN</th>
                    <!--<th style="text-align: center" class="font-2">FECHA</th>-->
                    <th style="text-align: center" class="font-2">ACCIONES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.nombreEspecialidad }}</td>
                    <td style="text-align: center">{{ rowData.examen }}</td>
                    <!--<td style="text-align: center">{{ rowData.fecha }}</td>-->
                    <td style="text-align: center">
                        <!--<button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                (click)="editarExamen(rowData,rowIndex)" pTooltip="Editar"></button>-->
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarExamen(rowIndex)" pTooltip="Eliminar">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-6 md-4 lg-3">

        <p-toolbar>
            <ng-template pTemplate="left">
                <span class="p-m-0">Referencia</span>
            </ng-template>
            <ng-template pTemplate="right" class="button">
                <button pButton pRipple label="Referencia" iconPos="right" icon="pi pi-plus-circle"
                        class="guardar mr-2" style="background-color: #0c3866" (click)="openReferencia()"></button>
            </ng-template>
        </p-toolbar>

        <p-table class="table-over" [value]="referencia" #dt styleClass="p-datatable-gridlines" [rows]="10"
                 [rowsPerPageOptions]="[10, 25, 50]"
                 [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">CONSULTORIO</th>
                    <th style="text-align: center" class="font-2">MOTIVO</th>
                    <th style="text-align: center" class="font-2">codRENAES</th>
                    <th style="text-align: center" class="font-2">ACCIONES</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.consultorio }}</td>
                    <td style="text-align: center">{{ rowData.motivo }}</td>
                    <td style="text-align: center">{{ rowData.codRENAES }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"
                                (click)="editarReferencia(rowData,rowIndex)" pTooltip="Editar"></button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarReferencia(rowIndex)" pTooltip="Eliminar">
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-fieldset legend="Acuerdos y Compromisos"
            styleClass="mb-2"
            [toggleable]="true">
    <form [formGroup]="acuerdosFG">
        <!--<div class="col-12 md:col-12 mt-12">
            Acuerdos y compromisos negociados con la madre y/o cuidador del niño :
        </div>
        <textarea class="inputfield w-full mb-2"
                  formControlName="detailAcuerdoFC"
                  pInputTextarea>
        </textarea>-->
        <div class="grid">
            <div class="col-12 md:col-1 mt-2">
                Próxima cita :
            </div>
            <div class="col-12 md:col-3">
                <p-calendar
                        formControlName="proximaCitaFC"
                        [showIcon]="true"
                        inputId="icon"
                ></p-calendar>
            </div>
            <div class="col-12 md:col-1 mt-2">
                Atendido por:
            </div>
            <div class="col-12 md:col-4">
                <input type="text"
                       pInputText
                       formControlName="atendidoFC"
                       class="inputfield w-full"/>
            </div>
            <div class="col-12 md:col-1 mt-2 text-right">
                DNI :
            </div>
            <div class="col-12 md:col-2">
                <input type="text"
                       pInputText
                       formControlName="dniFC"
                       class="inputfield w-full"/>
            </div>

            <div class="col-12 md:col-12 mt-12 text-left">
                <!--<button pButton pRipple label="Examenes Auxiliares" iconPos="right" icon="pi pi-plus-circle"
                        class="guardar mr-2"
                        style="background-color: #0c3866"></button>
                <button pButton pRipple label="Referencia" iconPos="right" icon="pi pi-plus-circle"
                        class="guardar mr-2"
                        style="background-color: #0c3866"></button>-->
                <button pButton pRipple label="Plan de Atención Integral" iconPos="right"
                        icon="pi pi-plus-circle"
                        routerLink="../plan-control-consulta" class="guardar mr-2"
                        style="background-color: #0c3866"></button>
                <button pButton pRipple label="Evaluaciones" iconPos="right" icon="pi pi-plus-circle"
                        routerLink="../evaluaciones-consulta" class="guardar mr-2"
                        style="background-color: #0c3866" (click)="irEvaluaciones()"></button>
            </div>
            <div class="col-12 md:col-2 mt-2">
                Observación :
            </div>
            <textarea class="inputfield w-full mb-2"
                      formControlName="observacionFC"
                      pInputTextarea>
            </textarea>
        </div>
    </form>
</p-fieldset>


<!-- Dialog Acuerdo --->
<p-dialog header="ACUERDO" [(visible)]="dialogAcuerdos" [modal]="true" [style]="{width: '40%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formAcuerdos'>
        <div class="grid">
            <div class="col-12 justify-content-center">
                <textarea style="border-radius: 10px" rows="5" cols="90" pInputTextarea
                          formControlName="descripcionAcuerdo"> </textarea>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelAcuerdo()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveAcuerdo()"></button>

    </ng-template>
</p-dialog>

<!-- Dialog Referencia --->
<p-dialog header="REFERENCIA" [(visible)]="dialogReferencia" [modal]="true" [style]="{width: '30%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formReferencia'>
        <div class="p-grid p-fluid">
            <div class="p-col-6 p-md-4 p-lg-3">
                <label>consultorio</label>
                <div class="grid col-12 p-fluid" style="margin-top:10px;">
                    <input type="text"
                           pInputText
                           formControlName="consultorio"
                           class="inputfield w-full"
                           placeholder="Detalle"/>
                </div>
            </div>
            <div class="p-col-6 p-md-4 p-lg-3">
                <label>motivo</label>
                <div class="grid col-12 p-fluid" style="margin-top:10px;">
                    <input type="text"
                           pInputText
                           formControlName="motivo"
                           class="inputfield w-full"
                           placeholder="Detalle"/>
                </div>
            </div>
            <div class="p-col-6 p-md-4 p-lg-3">
                <label>codRENAES</label>
                <div class="grid col-12 p-fluid" style="margin-top:10px;">
                    <input type="text"
                           pInputText
                           formControlName="codRENAES"
                           class="inputfield w-full"
                           placeholder="Detalle"/>
                </div>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelReferencia()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveReferencia()"></button>

    </ng-template>
</p-dialog>

<!-- Dialog Acuerdo --->
<p-dialog header="ACUERDO" [(visible)]="dialogAcuerdos" [modal]="true" [style]="{width: '40%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formAcuerdos'>
        <div class="grid">
            <div class="col-12 justify-content-center">
                <textarea style="border-radius: 10px" id="indAdicionala" rows="5" cols="90" pInputTextarea
                          formControlName="descripcionAcuerdo"> </textarea>
            </div>
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelAcuerdo()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveAcuerdo()"></button>

    </ng-template>
</p-dialog>

<!-- Dialog Acuerdo --->
<p-dialog header="EXAMEN" [(visible)]="dialogExamenes" [modal]="true" [style]="{width: '30%'}"
          [draggable]="false" [resizable]="false">

    <form [formGroup]='formExamen'>
        <div class="p-grid p-fluid">
            <div class="p-col-6 p-md-4 p-lg-3">
                <label>Especialidad</label>
                <div class="p-field">
                    <p-dropdown inputId="dropdown" [options]="nombreEspecialidad" formControlName="nombreEspecialidad"
                                placeholder="seleccionar" optionLabel="label" optionValue="value"
                                defaultLabel="Seleccione:">
                    </p-dropdown>
                </div>
            </div>
            <div class="p-col-6 p-md-4 p-lg-3">
                <label>Examen</label>
                <div class="p-field">
                    <p-dropdown inputId="dropdown" [options]="examen" formControlName="examen"
                                placeholder="seleccionar" optionLabel="label" optionValue="value"
                                defaultLabel="Seleccione:">
                    </p-dropdown>
                </div>
            </div>
            <!--<div class="p-col-6 p-md-4 p-lg-3">
                <label>Fecha Vencimiento:</label><br>
                <p-calendar type="Date" showIcon="true" formControlName='fecha' dateFormat="yy-mm-dd"
                            inputId="time" required>
                </p-calendar>
            </div>-->
        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelExamen()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveExamen()"></button>

    </ng-template>
</p-dialog>
