<p-panel>
    <ng-template pTemplate="header">
        <h3 class="m-1">COSULTAS OBSTETRICAS</h3>
    </ng-template>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
                <span class="">TIPO DOCUMENTO</span>
            </div>
            <div class="">
                <p-dropdown
                        placeholder="Seleccionarddd"
                        [options]="options"
                        optionLabel="name">
                </p-dropdown>
            </div>
        </div>
        <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
                <span class="">NUMERO DE DOCUMENTO</span>
            </div>
            <div class="p-inputgroup">
                <input type="text" pInputText>
                <button pButton type="button" icon="pi pi-search" iconPos="right"
                        class="p-button-text p-button-text"></button>
            </div>
        </div>

    </div>
    <p-steps [model]="items" [readonly]="false" [(activeIndex)]="indiceActivo"
             (activeIndexChange)="ChangeStep($event)" class="col-12 md:col-6 lg:col-12 p-field">
    </p-steps>

</p-panel>


<br>
<div class="stepsdemo-content" *ngIf="stepName === 'datos'">
    <app-datos-generales></app-datos-generales>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'interrogatorio'">
    <p-card>
        <ng-template pTemplate="content">
            <app-interrogatorio></app-interrogatorio>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'diagnostico'">
    <p-card>
        <ng-template pTemplate="content">
            <app-giagnosticos></app-giagnosticos>
        </ng-template>
    </p-card>
</div>


<div class="stepsdemo-content" *ngIf="stepName === 'tratamiento'">
    <p-card>
        <ng-template pTemplate="content">
            <app-tratamiento></app-tratamiento>
        </ng-template>
    </p-card>
</div>


<div class="stepsdemo-content" *ngIf="stepName === 'resultados'">
    <p-card>
        <ng-template pTemplate="content">
            <app-resultados></app-resultados>
        </ng-template>
    </p-card>
</div>


<!--<div class="stepsdemo-content" *ngIf="stepName === 'puerperio'">-->
<!--    <p-card>-->
<!--        <ng-template pTemplate="content">-->
<!--&lt;!&ndash;            <app-puerperio></app-puerperio>&ndash;&gt;-->
<!--        </ng-template>-->
<!--    </p-card>-->
<!--</div>-->
