<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3 class="p-m-0">RESULTADOS DE LABORATORIO Y ECOGRAFIA</h3>
  </ng-template>
  <ng-template pTemplate="right" class="button">
    <button
      pButton
      pRipple
      label="Atras"
      icon="pi pi-angle-left"
      class="p-button-primary mr-3"
      style="background-color: #5b5b5b"
    ></button>
    <button
      pButton
      pRipple
      label="Guardar"
      routerLink=".."
      icon="pi pi-save"
      class="p-button-primary"
      style="background-color: #003c71"
    ></button>
  </ng-template>
</p-toolbar>
<div class="m-3" >
  <div>
    <p-fieldset legend="Examen de laboratorio">
      <div class="flex justify-content-between">
        <form [formGroup]="resultadoFG" class="col-4 grid border align-self-start mt-3"  >
          <div class="col-12 p-fluid">
              <div>Prueba:</div>
              <div>
                <p-dropdown [options]="examenList"  optionValue="name" optionLabel="name" formControlName="examen"></p-dropdown>
              </div>
          </div>
          <div class="col-6 p-fluid">
            <div>Resultado:</div>
            <div>
              <input type="text" pInputText formControlName="valor"/>
            </div>
          </div>
          <div class="col-6 p-fluid">
            <div>Fecha:</div>
            <div>
              <p-calendar  [showIcon]="true" inputId="icon" formControlName="fecha" ></p-calendar>
            </div>
          </div>
          <div class="col-12 flex justify-content-end pt-3">
            <button
                    pButton
                    pRipple
                    label="Agregar consulta"
                    icon="pi pi-plus-circle"
                    class="p-button-primary"
                    [disabled]="resultadoFG.invalid"
                    style="background-color: #003c71"
                    (click)="agregarResultado()"
            ></button>
          </div>
        </form>

        <div class="col-7 border">
          <p-table [value]="examenTomadosList"  responsiveLayout="scroll" [scrollable]="true" scrollHeight="300px">
            <ng-template pTemplate="header">
              <tr>
                <th>Nro</th>
                <th>Nombre</th>
                <th>Valor</th>
                <th>Fecha</th>
                <th>Accion</th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-examen let-index="rowIndex">
              <tr>
                <td>{{index+1}}</td>
                <td>{{examen.examen}}</td>
                <td>{{examen.resultado}}</td>
                <td>{{examen.fechaResultado |  date: 'shortDate'}}</td>
                <td class="flex justify-content-around">
                  <button
                          pButton
                          pRipple
                          type="button"
                          icon="pi pi-pencil"
                          (click)="isUpdate = true; actualizar(index)"
                          pTooltip="Editar tipo turno"
                          tooltipPosition="bottom"
                          class="p-button-raised p-button-info p-button-rounded"
                  ></button>
                  <button
                          pButton
                          pRipple
                          type="button"
                          (click)=" delete(index)"
                          icon="pi pi-trash"
                          pTooltip="Eliminar tipo turno"
                          tooltipPosition="bottom"
                          class="p-button-raised p-button-danger p-button-rounded"
                  ></button>
                </td>
              </tr>
            </ng-template>
          </p-table>


        </div>

      </div>
    </p-fieldset>

  </div>
  <form [formGroup]="ecografiaResultadosFG">
  <div class="grid mt-3">
    <div class="col-12 xl:col-6">
      <p-fieldset legend="-1° Ecografia">
        <div class="grid">
          <div class="col-3" style="text-align: right">Fecha de ecografía:</div>
          <div class="col-9">
            <p-calendar  [showIcon]="true" inputId="icon" formControlName="fechaEcografia1" ></p-calendar>
          </div>
        </div>
        <div class="grid">
          <div class="col-3 align-self-start" style="text-align: right">
            Resultado:
          </div>
          <div class="col-9">
            <textarea
              [rows]="5"
              [cols]="45"
              pInputTextarea
              autoResize="autoResize"
              placeholder="Ingresar resultado..."
              formControlName="resultado1"
            ></textarea>
          </div>
        </div>
        <div class="grid ">
          <div class="col-3" style="text-align: right">Edad Gestacional(Semana):</div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-40" formControlName="semana1"/>
          </div>
          <div class="col-3 ">
            Edad Gestacional(Dia):
          </div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-7" formControlName="dia1"/>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 xl:col-6">
      <p-fieldset legend="-2° Ecografia">
        <div class="grid">
          <div class="col-3" style="text-align: right">Fecha de ecografía:</div>
          <div class="col-9">
            <p-calendar  [showIcon]="true" inputId="icon" formControlName="fechaEcografia2" ></p-calendar>
          </div>
        </div>
        <div class="grid">
          <div class="col-3 align-self-start" style="text-align: right">
            Resultado:
          </div>
          <div class="col-9">
            <textarea
              [rows]="5"
              [cols]="45"
              pInputTextarea
              autoResize="autoResize"
              placeholder="Ingresar resultado..."
              formControlName="resultado2"

            ></textarea>
          </div>
        </div>
        <div class="grid ">
          <div class="col-3" style="text-align: right">Edad Gestacional(Semana):</div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-40" formControlName="semana2"/>
          </div>
          <div class="col-3 ">
            Edad Gestacional(Dia):
          </div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-7" formControlName="dia2"/>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 xl:col-6">
      <p-fieldset legend="-3° Ecografia">
        <div class="grid">
          <div class="col-3" style="text-align: right">Fecha de ecografía:</div>
          <div class="col-9">
            <p-calendar  [showIcon]="true" inputId="icon" formControlName="fechaEcografia3" ></p-calendar>
          </div>
        </div>
        <div class="grid">
          <div class="col-3 align-self-start" style="text-align: right">
            Resultado:
          </div>
          <div class="col-9">
            <textarea
              [rows]="5"
              [cols]="45"
              pInputTextarea
              autoResize="autoResize"
              placeholder="Ingresar resultado..."
              formControlName="resultado3"

            ></textarea>
          </div>
        </div>
        <div class="grid ">
          <div class="col-3" style="text-align: right">Edad Gestacional(Semana):</div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-40" formControlName="semana3"/>
          </div>
          <div class="col-3 ">
            Edad Gestacional(Dia):
          </div>
          <div class="col-3 p-fluid">
            <input type="text" pInputText  placeholder="1-7" formControlName="dia3"/>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
  </form>
  <div class="flex justify-content-end pt-3">
    <button
      pButton
      pRipple
      (click)="agregar()"
      label="Agregar consulta"
      icon="pi pi-plus-circle"
      class="p-button-primary"
      style="background-color: #003c71"
    ></button>
  </div>
</div>
