<p-toolbar>
    <ng-template pTemplate="left">
        <h3 class="mt-2">RESULTADOS DE LABORATORIO Y ECOGRAFIA</h3>
    </ng-template>
    <ng-template pTemplate="right" class="button">
        <button
                pButton
                pRipple
                label="Atras"
                icon="pi pi-angle-left"
                class="p-button-secondary mr-2"
        ></button>
        <button
                (click)="agregar()"
                pButton
                pRipple
                label="Guardar"
                iconPos="right"
                icon="pi pi-save"
                class="guardar mr-2"
                style="background-color: #0c3866"
                [disabled]="resultadoEcografiaFG.invalid"
        ></button>
    </ng-template>
</p-toolbar>


<div class="m-3">
    <div>
        <p-fieldset legend="Examen de laboratorio">
            <div class="grid">
                <div class="col-4 align-self-start ">
                    <div class="borde">


                    <div class="grid">
                        <div class="col-4 text-right">Seleccione Examen:</div>
                        <div class="col-8 p-fluid">
                            <p-dropdown
                                    placeholder="Seleccione Examen"
                                    [options]="examenes"
                                    optionLabel="display"
                                    (onChange)="seleccionar($event)"
                                    [(ngModel)]="examenSelect"
                                    [disabled]="desabilitado"
                            ></p-dropdown>
                        </div>
                    </div>
                    <!--               formulario dinamico-->
                    <form [formGroup]="examenFG">
                        <div *ngIf="tipoInput1!=0">
                            <div class="grid">
                                <div class="col-4 text-right">Resultado:</div>
                                <!--                                dropdown-->
                                <div class="col-8 p-fluid" *ngIf="tipoInput1==1">
                                    <p-dropdown
                                            placeholder="seleccione"
                                            formControlName="resultado"
                                            [options]="opcionesInput"
                                            optionLabel="name"
                                            optionValue="code"
                                    >
                                    </p-dropdown>
                                </div>
                                <!--                                number-->
                                <div class="col-8 p-fluid" *ngIf="tipoInput1==2">
                                    <p-inputNumber
                                            formControlName="resultado"
                                            mode="decimal"
                                            placeholder="15.5"
                                    ></p-inputNumber>
                                </div>
                                <!--                                    texto-->
                                <div class="col-8 p-fluid" *ngIf="tipoInput1==3">
                                    <input formControlName="resultado"
                                           placeholder="no se que va"
                                           type="text" pInputText/>
                                </div>

                            </div>
                            <div class="grid">
                                <div class="col-4 text-right">Fecha:</div>
                                <div class="col-8 p-fluid">
                                    <p-calendar
                                            formControlName="fechaExamen"
                                            [showIcon]="true"
                                            inputId="icon"
                                            dateFormat="dd/mm/yy"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class=" mt-4 flex justify-content-right ">
                                <button
                                        pButton
                                        pRipple
                                        label="Guardar"
                                        icon="pi pi-plus"
                                        class="p-button-secondary mr-2"
                                        (click)="guardarExamen()"
                                        [disabled]="examenFG.invalid"
                                ></button>
                            </div>

                        </div>
                        <!--                        fin formulario-->
                    </form>
                    </div>
                </div>

                <div class="col-8">
                    <p-table [value]="resultadosList">
                        <ng-template pTemplate="caption">
                            <div class="flex justify-content-between">
                                <button pButton pRipple label="Nuevo examen" icon="pi pi-plus"
                                        class="p-button-danger p-mr-2"
                                        (click)="isUpdate=false;desabilitado=false; examenFG.reset() "></button>
                                <div>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Nro</th>
                                <th>Prueba</th>
                                <th>Resultado</th>
                                <th>Fecha</th>
                                <th>Acciones</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-pru let-i=rowIndex>
                            <tr>
                                <td>{{i + 1}}</td>
                                <td>{{pru.display}}</td>
                                <td>{{pru.valor}}</td>
                                <td>{{pru.fecha}}</td>
                                <td>
                                    <span class="p-column-title">Acciones</span>
                                    <button
                                            pButton
                                            pRipple
                                            type="button"
                                            icon="pi pi-pencil"
                                            (click)="isUpdate=true; actualizarExamen(i,pru)"
                                            pTooltip="Editar tipo turwno"
                                            tooltipPosition="bottom"
                                            class="p-button-raised p-button-info p-button-rounded"
                                    ></button>
                                    <button
                                            pButton
                                            pRipple
                                            type="button"
                                            (click)="deleteExamen(i)"
                                            icon="pi pi-trash"
                                            pTooltip="Eliminar Examen"
                                            tooltipPosition="bottom"
                                            class="p-button-raised p-button-danger p-button-rounded"
                                    ></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>

        </p-fieldset>
    </div>
    <div class=" mt-3">
        <form [formGroup]="resultadoEcografiaFG">
            <div class="">
                <p-fieldset legend="-1° Ecografia">
                    <div class="grid">
                        <div class="col-4">
                            <div class="grid">
                                <div class="col-5" style="text-align: right">
                                    Fecha de ecografía:
                                </div>
                                <div class="col-7">
                                    <p-calendar
                                            [showIcon]="true"
                                            inputId="icon"
                                            formControlName="fechaEcografia1"
                                            dateFormat="dd/mm/yy"
                                    ></p-calendar>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-5" style="text-align: right">
                                    Edad Gestacional(Semana):
                                </div>
                                <div class="col-3 p-fluid">
<!--                                    <input-->
<!--                                            type="text"-->
<!--                                            pInputText-->
<!--                                            placeholder="1-40"-->
<!--                                            formControlName="semana1"-->
<!--                                    />-->
<!--                                    <p-inputMask mask="99" placeholder="1-40" formControlName="semana1" ></p-inputMask>-->
                                    <p-inputNumber formControlName="semana1" mode="decimal" [useGrouping]="false"></p-inputNumber>
                                </div>
                            </div>
                            <div class="grid">
                                <div class="col-5" style="text-align: right">Edad Gestacional(Dia):</div>
                                <div class="col-3 p-fluid">
<!--                                    <input-->
<!--                                            type="text"-->
<!--                                            pInputText-->
<!--                                            placeholder="1-7"-->
<!--                                            formControlName="dia1"-->
<!--                                    />-->
<!--                                    <p-inputMask mask="9/7" placeholder="1/7" formControlName="dia1"></p-inputMask>-->
                                    <p-inputNumber suffix="/7" formControlName="dia1"  mode="decimal" [useGrouping]="false"></p-inputNumber>
                                </div>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="grid">
                                <div class="col-2 align-self-start" style="text-align: right">
                                    Resultado:
                                </div>
                                <div class="col-10">
                                    <textarea
                                            [rows]="5"
                                            [cols]=50
                                            pInputTextarea
                                            autoResize="autoResize"
                                            placeholder="Ingresar resultado..."
                                            formControlName="resultado1"
                                    ></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </form>
    </div>
</div>
