.footer{
      text-align: right;
      text-align: right;
      border-radius: 3px;
      background: rgb(248 249 250);
      margin-top: 2.5rem; 
      bottom: 20px;
      margin-right: 3px;
      margin-left: 3px;
      height:auto;
      color: white;
      z-index: 300;
}
.border2 {
      border-radius: 3px;
      background: rgb(248 249 250);
      bottom: 20px;
      height:400px;
}