.footer{
      text-align: right;
      margin-top: 15px;
      margin-right:15px;
      text-align: right;
      /* display: flexbox; */
      /* text-align: center; */
      background: white;
      position: absolute;
      /* margin-top: 2.5; */
      bottom: 0;
      width: 95%;
      height: 5em;
      color: white;
      bottom: 0;
      z-index: 200;
}