<div class="grid mb-2">
    <div class="col flex justify-content-between">
        <div>
            <button pButton pRipple label="" class="mr-2 p-button-success" icon="pi pi-window-maximize"
                    (click)="expandir=false" styleClass="p-button"></button>
            <button pButton pRipple label="" class="mr-2 p-button-secondary" icon="pi pi-window-minimize"
                    (click)="expandir=true" styleClass="p-button"></button>
        </div>
        <div>
            <button pButton pRipple label="Grafico del Perimetro Cefálico" (click)="onCircumferenceChart()"
                    class="mr-2 p-button-warning " icon="pi pi-chart-line" styleClass="p-button-lg"></button>
            <button pButton pRipple label="Grafica de Peso" (click)="onWeightChart()" class="mr-2 p-button-warning"
                    icon="pi pi-chart-line" styleClass="p-button"></button>
            <button pButton pRipple label="Grafica Estatura" (click)="onHeightChart()" class="mr-2 p-button-warning"
                    icon="pi pi-chart-line" styleClass="p-button"></button>
            <button pButton pRipple label="Grafica de Peso/Longitud" (click)="onHeightWeightChart()"
                    class="p-button-warning" icon="pi pi-chart-line" styleClass="p-button"></button>
        </div>
    </div>
</div>
<div class="grid">
    <div class="lg:col-6 md:col-6 col-fixed justify-content-center grid">
        <p-fieldset legend="Recién Nacido" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 0 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of RN">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="1 año" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 2 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A1">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="3 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 4 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A3">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="5 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 6 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A5">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="6 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 7 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A6">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="8 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 9 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A8">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>

    </div>
    <div class="lg:col-6 md:col-6 col-fixed justify-content-center grid">
        <p-fieldset legend="Menor de 01 año" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 1 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of MA">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="2 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 3 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A2">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="4 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 5 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A4">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="7 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 8 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A7">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
        <br>
        <p-fieldset legend="9 años" [toggleable]="true" [collapsed]="expandir"
                    [hidden]="(descripcionIndex >= 10 ? false : true)">
            <div class="card flex flex-column">
                <div class="field flex justify-content-center">
                    <div class="lg:col-1"></div>
                    <div class="lg:col-2 text-center" style="width:80px;">Peso(gr)</div>
                    <div class="lg:col-2 text-center" style="width:80px;">Talla(cm)</div>
                    <div class="lg:col-2 text-center" style="width:100px;">P. Cefálico(cm)</div>
                    <div [hidden]="hidden" class="lg:col-2 text-center" style="width:110px;">Fecha Tentativa</div>
                    <div class="lg:col-2 text-center" style="width:100px;">Fecha Control</div>
                </div>
                <div class="field grid justify-content-center" *ngFor="let itemRN of A9">
                    <span class="col-fixed text-right mr-4" style="width:20px">{{itemRN.nroControl}}°:</span>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Peso"
                           [(ngModel)]="itemRN.peso"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.talla"/>
                    <input [disabled]=true type="number" class="mr-2 text-center" pInputText style="width:70px"
                           placeholder="Talla"
                           [(ngModel)]="itemRN.perimetroCefalico"/>
                    <div [hidden]="hidden" style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fechaTentativa"></p-calendar>
                    </div>
                    <div style="width:113px">
                        <p-calendar [disabled]=true [showIcon]="true" inputId="icon" placeholder="Fecha"
                                    dateFormat="yy-mm-dd"
                                    [(ngModel)]="itemRN.fecha"></p-calendar>
                    </div>
                </div>
            </div>
        </p-fieldset>
    </div>
</div>
