<div class="mt-3">
    <p-fieldset>
        <ng-template pTemplate="header">
            <div>
                DOSAJE DE HEMOGLOBINA PREVENTIVO
            </div>
        </ng-template>
        <div class="grid">
            <div class="col-1 text-center" style="font-weight: bold">Edad Mes</div>
            <div class="col-1 text-center" style="font-weight: bold">Nro Control</div>
            <div class="col text-center" style="font-weight: bold">Fecha Tentativa</div>
            <div class="col text-center" style="font-weight: bold">Fecha Prueba</div>
            <div class="col-2 text-center" style="font-weight: bold">Resultado Hemoglobina Ajustado</div>
            <div class="col-2 text-center" style="font-weight: bold">Estado Controlado</div>
        </div>
        <!--        <div *ngIf="dataPreventivo.length>=1;else noCorresponde">-->

        <div class="grid" *ngFor="let dosaje of dataDosajePreventivo">

            <div class="col-1 text-center">
                {{dosaje.edadMes}}
            </div>
            <div class="col-1 text-center">
                {{dosaje.nroControl}}
            </div>
            <div class="col text-center">
                <p-calendar
                        [showIcon]="true"
                        placeholder="Fecha"
                        [disabled]="true"
                        dateFormat="dd/mm/yy"
                        [(ngModel)]="dosaje.fechaTentativa"
                        [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                ></p-calendar>
            </div>
            <div class="col text-center">
                <p-calendar
                        [showIcon]="true"
                        placeholder="Fecha"
                        [disabled]="true"
                        dateFormat="dd/mm/yy"
                        [(ngModel)]="dosaje.fecha"
                        [ngClass]="{
                        vacunado: dosaje.estadoControlado,
                        noVacunado: !dosaje.estadoControlado
                      }"
                ></p-calendar>
            </div>
            <div class="col-2 text-center">
                {{dosaje.valorHb}}
            </div>
            <div class="col-2 text-center">
                <span *ngIf="dosaje.estadoControlado;else noControlado">
                    <p-tag severity="success" value="prueba Tomada" [rounded]="true">
                    </p-tag>
                </span>
                <ng-template #noControlado>
                    <p-tag severity="warning" value="prueba no Tomada" [rounded]="true">
                    </p-tag>
                </ng-template>
            </div>
        </div>
    </p-fieldset>
</div>
