<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Intervalo Plan de Parto</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <form [formGroup]='form'>
        <div class="grid">
            <div class=" col-12">
                <p-fieldset legend="Preguntas" [toggleable]="true">
                    <div class="formgrid grid px-6 py-2">
                        <div class="field col-6 md:col-3">
                            <div class="grid">
                                <div class="col-3 text-right">
                                    <label>Fecha:</label>
                                </div>
                                <div class="col-9">
                                    <input class="inputfield w-full" type="date" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                        <div class="field col-6 md:col-3">
                            <div class="grid ">
                                <div class="col-6 text-right">
                                    <label>Edad Gestacional:</label>
                                </div>
                                <div class="col-6">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="grid text-center py-2">
                                <div class="col-5 ">
                                    <label class="text-sm">Donde atenderá su parto:</label>
                                </div>
                                <div class="col-4">
                                    <div class="grid">
                                        <div class="col-6">
                                            <label class="font-medium">Hospital</label>
                                        </div>
                                        <div class="col-6">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="grid">
                                        <div class="col-6">
                                            <label class="font-medium">C.S.</label>
                                        </div>
                                        <div class="col-6">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12">
                            <div class="grid text-center">
                                <div class="col-3">
                                    <label class="text-sm">¿Quién desea que le atienda su parto?: </label>
                                </div>
                                <div class="col-9">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="grid text-center py-2">
                                <div class="col-6 ">
                                    <label class="text-sm">¿En que posición prefiere dar su parto?</label>
                                </div>
                                <div class="col-3">
                                    <div class="grid">
                                        <div class="col-7">
                                            <label class="font-medium">Vertical</label>
                                        </div>
                                        <div class="col-5">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="grid">
                                        <div class="col-7">
                                            <label class="font-medium">Horizontal</label>
                                        </div>
                                        <div class="col-5">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="grid text-center py-2">
                                <div class="col-6 ">
                                    <label class="text-sm">¿Cómo se va a transportar en el momento del parto o en caso
                                        de
                                        emergencia?</label>
                                </div>
                                <div class="col-3">
                                    <div class="grid">
                                        <div class="col-7">
                                            <label class="font-medium">Carro</label>
                                        </div>
                                        <div class="col-5">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="grid">
                                        <div class="col-7">
                                            <label class="font-medium">Otro</label>
                                        </div>
                                        <div class="col-5">
                                            <p-radioButton name="dondeParto" formControlName="dondeParto"
                                                value="Hospital" inputId="dondeParto" class="azul pb-0">
                                            </p-radioButton>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12">
                            <div class="grid text-center">
                                <div class="col-5">
                                    <label class="text-sm">¿Quién le acompañara o avisara al establecimiento de salud en
                                        el momento del
                                        parto o presencia de señales de peligro durante el embarazo? </label>
                                </div>
                                <div class="col-7">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-12">
                <p-fieldset legend="Señales de peligro" [toggleable]="true">
                    <div class="formgrid grid px-6 py-2">
                        <div class="field col-12">
                            <label>Aquí te acompañamos como reconocer LAS SEÑALES DE PELIGRO EN EL EMBARAZO, para acudir
                                INMEDIATAMENTE AL HOSPITAL</label>
                        </div>
                        <br/>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes vómitos frecuentes:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenVomitos"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si hay palidez de la cara y cansancio:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenPalidez"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes Calentura (Fiebre):</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenFiebre"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes dolor de cabeza, visión borrosa (si ves lucecitas) Zumbido de oídos:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenDolorCabeza"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes hinchazón de pies, manos o cara:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenHinchazon"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes dolores antes de la fecha de parto y endurecimiento del vientre:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenDolores"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes poco o falta de movimiento del bebe:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenMovimientoBebe"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si el bebe esta mal acomodado:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenMalAcomodado"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-4">
                            <div class="grid ">
                                <div class="col-12 text-center">
                                    <label>Si tienes perdida de sangre o de liquido por la vagina:</label>
                                </div>
                                <div class="col-4 py-5">
                                    <div class="imagenPerdidaLiquidos"></div>
                                </div>
                                <div class="col-8">
                                    <textarea rows="6" cols="20" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="field col-12">
                            <div class="grid ">
                                <div class="col-6 text-center">
                                    <label>Otras infecciones: tos, diarreas, infecciones urinarias (Ardor al orinar), etc.</label>
                                </div>
                                <div class="col-5 mt-2">
                                    <textarea class="p-fluid w-full" rows="2" cols="85" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class=" col-12">
                <p-fieldset legend="Preguntas" [toggleable]="true">
                    <div class="formgrid grid px-6 py-2">
                        <div class="field col-12 md:col-6">
                            <div class="grid">
                                <div class="col-6 text-center">
                                    <label>¿Quién cuidara sus hijos, su casa y animales durante su ausencia?</label>
                                </div>
                                <div class="col-6">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="grid ">
                                <div class="col-6 text-center">
                                    <label>¿Aceptaría ir a la casa materna u otro cerca del establecimiento?</label>
                                </div>
                                <div class="col-6">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                        <div class="field col-12 md:col-6">
                            <div class="grid ">
                                <div class="col-5 text-center">
                                    <label>¿Sabe cuando debe ir a la casa materna?</label>
                                </div>
                                <div class="col-3 text-center">
                                    <p-selectButton [options]="stateOptions"
                                                formControlName="selected" optionLabel="label"
                                                optionValue="value"></p-selectButton>
                                </div>
                                <div class="col-4 text-center">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class=" col-12">
                <p-fieldset legend="Firmas" [toggleable]="true">
                    <div class="formgrid grid px-6 py-2">
                        <div class="field col-12 md:col-6">
                            <div class="grid">
                                <div class="col-6 text-right">
                                    <label>Firma Gestante</label>
                                </div>
                                <div class="col-6">
                                    <input class="inputfield w-full" type="text" pInputText
                                        formControlName='descripcion' required />
                                </div>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </form>
</div>