p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}
p-checkbox>>>.p-checkbox .p-checkbox-box{
    border-radius: 50%;
}
p-fieldset >>> .p-fieldset .p-fieldset-content {
    padding: 1px;
    font-size: small;
}
.p-inputtext-sm{
    width: 100%;
    height: 25px;
    border-radius: 10px;
}

.espacio{
    margin-bottom: 110px;
}
.espacio-final{
    margin-top: 16px;
}
.margen{
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
p-checkbox>>> .p-checkbox .p-checkbox-box .pi-check:before{
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");    
}
::ng-deep .rojo .p-checkbox  .p-checkbox-box{
    background: rgb(194, 6, 6);
    border-color: rgb(194, 6, 6);
}

::ng-deep .amarillo .p-checkbox  .p-checkbox-box{
    border-color: rgb(223, 217, 57);
    background: rgb(223, 217, 57);
}
p-radiobutton>>> .p-radiobutton .p-radiobutton-icon{
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");    
}
/*clase radio button azul default*/

::ng-deep .azul .p-radiobutton .p-radiobutton-icon{
    background:  #2196F3;
    border:  #2196F3;
}
::ng-deep .azul .p-radiobutton .p-radiobutton-box.p-highlight{
    border-color:  #2196F3;
    background:  #2196F3;
}

/*clase radio button amarillo*/
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box{
    background: rgb(223, 217, 57);
    border: rgb(223, 217, 57);
}
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon{
    background: rgb(223, 217, 57);
    border: rgb(223, 217, 57);
}
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight{
    border-color: rgb(223, 217, 57);
    background: rgb(223, 217, 57);
}
/*clase radio button rojo*/
::ng-deep .rojo .p-radiobutton .p-radiobutton-box{
    background: rgb(194, 6, 6);
    border: rgb(194, 6, 6);
}
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon{
    background: rgb(194, 6, 6);
    border: rgb(194, 6, 6);
}
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight{
    border-color: rgb(194, 6, 6);
    background: rgb(194, 6, 6);
}
.footer {
    text-align: right;
    background: white;
    position: absolute;
    bottom: 0;
    width: 97%;
    height: 5em;
    color: white;
    bottom: 0;
    z-index: 50;
  }