
::ng-deep .tablaPeruano .p-datatable table {
   width: auto;
}
::ng-deep .tablaPeruano .p-datatable .p-datatable-thead > tr > th {
   border: 1px solid #b6b6b6;
   text-align: center ;
   /* background-color: #dddddd; */
   padding: 3px;
}
::ng-deep .tablaPeruano .p-datatable .p-datatable-tbody > tr > td {
   border: 1px solid #b6b6b6;
   text-align: center;
   padding: 3px;
}
::ng-deep .tablaPeruano .p-datatable .p-datatable-tfoot > tr > th {
   padding: 3px;
}
.caja {
   color: white;
   border-radius:10px;
   width: 80px;
   height: 40px;
   margin: 0px;
}
.triangulo {
   width: 0;
   height: 0;
   border-left: 10px solid #FF6601;
   border-top: 13px solid transparent;
   border-bottom: 13px solid transparent;
}
/* COLORES DE LOS CALENDAR */
::ng-deep .calendarioMes1 .p-calendar .p-inputtext{
    background: #4C4C4C;color:white;
}::ng-deep .calendarioMes2 .p-calendar .p-inputtext{
   background: #F0047F;color:white;
}::ng-deep .calendarioMes3 .p-calendar .p-inputtext{
   background: #FF6601;color:white;
}::ng-deep .calendarioMes4 .p-calendar .p-inputtext{
   background: #F30E19;color:white;
}::ng-deep .calendarioMes5 .p-calendar .p-inputtext{
   background: #F93D5A;color:white;
}::ng-deep .calendarioMes6 .p-calendar .p-inputtext{
   background: #FEA61D;color:white;
}::ng-deep .calendarioMes7 .p-calendar .p-inputtext{
   background: #F5923B;color:white;
}::ng-deep .calendarioMes8 .p-calendar .p-inputtext{
   background: #DD360C;color:white;
}::ng-deep .calendarioMes9 .p-calendar .p-inputtext{
   background: #DD6910;color:white;
}::ng-deep .calendarioMes10 .p-calendar .p-inputtext{
   background: #5BBA7D;color:white;
}::ng-deep .calendarioMes11 .p-calendar .p-inputtext{
   background: #5AB543;color:white;
}::ng-deep .calendarioMes12 .p-calendar .p-inputtext{
   background: #9BC922;color:white;
}::ng-deep .calendarioMes15 .p-calendar .p-inputtext{
   background: #5EAA29;color:white;
}::ng-deep .calendarioMes18 .p-calendar .p-inputtext{
   background: #62C2BB;color:white;
}::ng-deep .calendarioMes21 .p-calendar .p-inputtext{
   background: #5C97C6;color:white;
}::ng-deep .calendarioMes24 .p-calendar .p-inputtext{
   background: #5E64AD;color:white;
}::ng-deep .calendarioMes30 .p-calendar .p-inputtext{
   background: #B573B6;color:white;
}
/* TRIANGULOS SUPERIOR INFERIOR */
.triangulo-1 {
   width: 0;
   height: 0;
   border-top: 8px solid #4C4C4C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-2 {
   width: 0;
   height: 0;
   border-top: 8px solid #F0047F;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-3 {
   width: 0;
   height: 0;
   border-top: 8px solid #FF6601;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-4 {
   width: 0;
   height: 0;
   border-top: 8px solid #F30E19;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-5 {
   width: 0;
   height: 0;
   border-top: 8px solid #F93D5A;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-6 {
   width: 0;
   height: 0;
   border-top: 8px solid #FEA61D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-7 {
   width: 0;
   height: 0;
   border-top: 8px solid #F5923B;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-8 {
   width: 0;
   height: 0;
   border-top: 8px solid #DD360C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-9 {
   width: 0;
   height: 0;
   border-top: 8px solid #DD6910;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-10 {
   width: 0;
   height: 0;
   border-top: 8px solid #5BBA7D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-11 {
   width: 0;
   height: 0;
   border-top: 8px solid #5AB543;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-12 {
   width: 0;
   height: 0;
   border-top: 8px solid #9BC922;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-15 {
   width: 0;
   height: 0;
   border-top: 8px solid #5EAA29;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-18 {
   width: 0;
   height: 0;
   border-top: 8px solid #62C2BB;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-21 {
   width: 0;
   height: 0;
   border-top: 8px solid #5C97C6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-24 {
   width: 0;
   height: 0;
   border-top: 8px solid #5E64AD;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-30 {
   width: 0;
   height: 0;
   border-top: 8px solid #B573B6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
/* ultima fila */
.triangulo-1-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #4C4C4C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-2-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F0047F;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-3-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #FF6601;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-4-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F30E19;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-5-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F93D5A;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-6-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #FEA61D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-7-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F5923B;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-8-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #DD360C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-9-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #DD6910;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-10-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5BBA7D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-11-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5AB543;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-12-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #9BC922;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-15-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5EAA29;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-18-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #62C2BB;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-21-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5C97C6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-24-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5E64AD;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-30-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #B573B6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
/* COLORES CHECKBOX */
::ng-deep .nollenado .p-checkbox .p-checkbox-box.p-highlight {
   border-color: #0c3866;
   background: #0c3866;
}

::ng-deep .mes1 .p-checkbox .p-checkbox-box.p-highlight{
   background: #4C4C4C;
   border-color: #4C4C4C;
   color: #4C4C4C;
}
::ng-deep .mes2 .p-checkbox .p-checkbox-box.p-highlight{
   background: #F0047F;
   border-color: #F0047F;
   color: #F0047F;
}

::ng-deep .mes3 .p-checkbox .p-checkbox-box.p-highlight{
   background: #FF6601;
   border-color: #FF6601;
   color: #FF6601;
}
::ng-deep .mes4 .p-checkbox .p-checkbox-box.p-highlight{
   background: #F30E19;
   border-color: #F30E19;
   color: #F30E19;
}
::ng-deep .mes5 .p-checkbox .p-checkbox-box.p-highlight{
   background: #F93D5A;
   border-color: #F93D5A;
   color: #F93D5A;
}
::ng-deep .mes6 .p-checkbox .p-checkbox-box.p-highlight{
   background: #FEA61D;
   border-color: #FEA61D;
   color: #FEA61D;
}
::ng-deep .mes7 .p-checkbox .p-checkbox-box.p-highlight{
   background: #F5923B;
   border-color: #F5923B;
   color: #F5923B;
}
::ng-deep .mes8 .p-checkbox .p-checkbox-box.p-highlight{
   background: #DD360C;
   border-color: #DD360C;
   color: #DD360C;
}
::ng-deep .mes9 .p-checkbox .p-checkbox-box.p-highlight{
   background: #DD6910;
   border-color: #DD6910;
   color: #DD6910;
}
::ng-deep .mes10 .p-checkbox .p-checkbox-box.p-highlight{
   background: #5BBA7D;
   border-color: #5BBA7D;
   color: #5BBA7D;
}
::ng-deep .mes11 .p-checkbox .p-checkbox-box.p-highlight{
   background: #5AB543;
   border-color: #5AB543;
   color: #5AB543;
}
::ng-deep .mes12 .p-checkbox .p-checkbox-box.p-highlight{
   background: #9BC922;
   border-color: #9BC922;
   color: #9BC922;
}
::ng-deep .mes15 .p-checkbox .p-checkbox-box.p-highlight{
   background: #5EAA29;
   border-color: #5EAA29;
   color: #5EAA29;
}
::ng-deep .mes18 .p-checkbox .p-checkbox-box.p-highlight{
   background: #62C2BB;
   border-color: #62C2BB;
   color: #62C2BB;
}
::ng-deep .mes21 .p-checkbox .p-checkbox-box.p-highlight{
   background:#5C97C6 ;
   border-color: #5C97C6;
   color: #5C97C6;
}
::ng-deep .mes24 .p-checkbox .p-checkbox-box.p-highlight{
   background: #5E64AD;
   border-color: #5E64AD;
   color: #5E64AD;
}
::ng-deep .mes30 .p-checkbox .p-checkbox-box.p-highlight{
   background: #B573B6;
   border-color: #B573B6;
   color: #B573B6;
}
