:host ::ng-deep .fondorojo {
   background-color: #fcbfba !important;
}

p-card >>> .p-card .p-card-title{
   margin: 0.5rem 0rem 0.5rem 0.5rem;
}
.tabla{
   width:100%;
}
::ng-deep .fondo1 .p-calendar .p-inputtext{

    flex: 1 1 auto;
    width: 1%;
    background: #FDC070;

}
::ng-deep .fondo2 .p-calendar .p-inputtext{
/**/
   flex: 1 1 auto;
   width: 1%;
   background: #FFFF80;

}
.caja {
   color: white;
   border-radius:10px;
   width: 80px;
   height: 40px;
   margin: 0px;
}
.triangulo {
   width: 0;
   height: 0;
   border-left: 10px solid #FF6601;
   border-top: 13px solid transparent;
   border-bottom: 13px solid transparent;
}
p-table >>> .p-datatable .p-datatable-tbody > tr > td {
   text-align: center;
   font-size: small;
   word-wrap: break-word;
   padding: 2px;
   /*background:red;*/
}
p-dialog >>> .p-dialog .p-dialog-header {
   border-bottom: 0 none;
   background: #0c3866;
   color: #495057;
   padding: 1.5rem;
   border-top-right-radius: 3px;
   border-top-left-radius: 3px;
   z-index:89999;
}
p-dialog >>> .p-dialog .p-dialog-header .p-dialog-title {
   font-weight: 600;
   font-size: 1.25rem;
   color: #ffffff;
   z-index:89999;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
   padding: 3px;
}
p-table >>> .p-datatable .p-datatable-tfoot > tr > th {
   padding: 3px;
}

.triangulo-1 {
   width: 0;
   height: 0;
   border-top: 8px solid #4C4C4C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-2 {
   width: 0;
   height: 0;
   border-top: 8px solid #F0047F;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-3 {
   width: 0;
   height: 0;
   border-top: 8px solid #FF6601;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-4 {
   width: 0;
   height: 0;
   border-top: 8px solid #F30E19;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-5 {
   width: 0;
   height: 0;
   border-top: 8px solid #F93D5A;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-6 {
   width: 0;
   height: 0;
   border-top: 8px solid #FEA61D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-7 {
   width: 0;
   height: 0;
   border-top: 8px solid #F5923B;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-8 {
   width: 0;
   height: 0;
   border-top: 8px solid #DD360C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-9 {
   width: 0;
   height: 0;
   border-top: 8px solid #DD6910;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-10 {
   width: 0;
   height: 0;
   border-top: 8px solid #5BBA7D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-11 {
   width: 0;
   height: 0;
   border-top: 8px solid #5AB543;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-12 {
   width: 0;
   height: 0;
   border-top: 8px solid #9BC922;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-15 {
   width: 0;
   height: 0;
   border-top: 8px solid #5EAA29;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-18 {
   width: 0;
   height: 0;
   border-top: 8px solid #62C2BB;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-21 {
   width: 0;
   height: 0;
   border-top: 8px solid #5C97C6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-24 {
   width: 0;
   height: 0;
   border-top: 8px solid #5E64AD;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-30 {
   width: 0;
   height: 0;
   border-top: 8px solid #B573B6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
/* ultima fila */
.triangulo-1-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #4C4C4C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-2-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F0047F;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-3-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #FF6601;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-4-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F30E19;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-5-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F93D5A;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-6-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #FEA61D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-7-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #F5923B;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-8-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #DD360C;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-9-b{
   width: 0;
   height: 0;
   border-bottom: 8px solid #DD6910;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-10-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5BBA7D;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-11-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5AB543;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-12-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #9BC922;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-15-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5EAA29;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-18-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #62C2BB;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-21-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5C97C6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-24-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #5E64AD;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
.triangulo-30-b {
   width: 0;
   height: 0;
   border-bottom: 8px solid #B573B6;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
}
p-calendar >>> .p-calendar .p-datepicker {
   width: 250px;
}

::ng-deep .nollenado .p-checkbox .p-checkbox-box.p-highlight {
   border-color: #0c3866;
   background: #0c3866;
}

::ng-deep .diagnostico1 .p-checkbox .p-checkbox-box.p-highlight{
   background: red;
   border-color: red;
   color: #ffffff;
}
::ng-deep .diagnostico2 .p-checkbox .p-checkbox-box.p-highlight{
   background: green;
   border-color: green;
   color: #ffffff;
}

::ng-deep .diagnostico3 .p-checkbox .p-checkbox-box.p-highlight{
   background: blue;
   border-color: blue;
   color: #ffffff;
}
::ng-deep .diagnostico4 .p-checkbox .p-checkbox-box.p-highlight{
   background: orangered;
   border-color: orangered;
   color: #ffffff;
}
::ng-deep .diagnostico5 .p-checkbox .p-checkbox-box.p-highlight{
   background: sandybrown;
   border-color: sandybrown;
   color: #ffffff;
}
::ng-deep .diagnostico6 .p-checkbox .p-checkbox-box.p-highlight{
   background: #F0047F;
   border-color: #F0047F;
   color: #ffffff;
}
::ng-deep .diagnostico7 .p-checkbox .p-checkbox-box.p-highlight{
   background: #acd03d;
   border-color: #acd03d;
   color: #ffffff;
}
::ng-deep .diagnostico8 .p-checkbox .p-checkbox-box.p-highlight{
   background: lightslategrey;
   border-color: lightslategrey;
   color: #ffffff;
}
::ng-deep .diagnostico9 .p-checkbox .p-checkbox-box.p-highlight{
   background: crimson;
   border-color: crimson;
   color: #ffffff;
}
::ng-deep .diagnostico10 .p-checkbox .p-checkbox-box.p-highlight{
   background: violet;
   border-color: violet;
   color: #ffffff;
}
::ng-deep .diagnostico11 .p-checkbox .p-checkbox-box.p-highlight{
   background: gray;
   border-color: gray;
   color: #ffffff;
}
::ng-deep .diagnostico12 .p-checkbox .p-checkbox-box.p-highlight{
   background: forestgreen;
   border-color: forestgreen;
   color: #ffffff;
}
::ng-deep .diagnostico15 .p-checkbox .p-checkbox-box.p-highlight{
   background: saddlebrown;
   border-color: saddlebrown;
   color: #ffffff;
}
::ng-deep .diagnostico18 .p-checkbox .p-checkbox-box.p-highlight{
   background: blueviolet;
   border-color: blueviolet;
   color: #ffffff;
}
::ng-deep .diagnostico21 .p-checkbox .p-checkbox-box.p-highlight{
   background: #af0017;
   border-color: #af0017;
   color: #ffffff;
}
::ng-deep .diagnostico24 .p-checkbox .p-checkbox-box.p-highlight{
   background: olive;
   border-color: olive;
   color: #ffffff;
}
::ng-deep .diagnostico30 .p-checkbox .p-checkbox-box.p-highlight{
   background: darkcyan;
   border-color: darkcyan;
   color: #ffffff;
}

::ng-deep  .p-datatable table {
   width: auto;
}

::ng-deep  .p-datatable .p-datatable-thead > tr > th {
   text-align: center !important;
   border: 1px solid #b6b6b6;
   background-color: #dddddd;
   padding: 0.3rem;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
   text-align: center;
   font-size: medium;
   word-wrap: break-word;
}
