<div class="col-12">
    <div class="grid">
        <div class="col-6 md:col-6 sm:col-12">
            <div class="exam border">
                <div class="grid">
                    <div class="col-2 col-offset-3">
                        <span class="title-text">Hg(%)</span>
                    </div>
                    <div class="col-2">
                        <span class="title-text">Factor correción</span>
                    </div>
                    <div class="col-2">
                        <span class="title-text">Lab</span>
                    </div>
                    <div class="col-3 text-center">
                        <span class="title-text">Fecha</span>
                    </div>
                </div>
                <div [formGroup]="hemoForm">
                    <ng-container formArrayName="hemoglobina">
                        <ng-container
                            *ngFor="
                                let hemoForm of hemoglobina.controls;
                                let i = index
                            "
                        >
                            <div class="col-12" [formGroup]="hemoForm">
                                <div class="grid text-right">
                                    <div class="col-3 mt-2 background-color">
                                        <span class="font-semibold"
                                            >Hemoglobina {{ i + 1 }}</span
                                        >
                                    </div>
                                    <div class="col-2">
                                        <input
                                            pInputText
                                            class="w-full"
                                            formControlName="hg"
                                        />
                                    </div>
                                    <div class="col-2">
                                        <input
                                            pInputText
                                            class="w-full"
                                            formControlName="conFactorCorreccion"
                                        />
                                    </div>
                                    <div class="col-2">
                                        <input
                                            pInputText
                                            class="w-full"
                                            formControlName="lab"
                                        />
                                    </div>
                                    <div class="col-3">
                                        <input
                                            type="date"
                                            pInputText
                                            class="w-full"
                                            formControlName="fecha"
                                        />
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
            <br />
            <div class="border">
                <div class="grid text-center">
                    <div class="col-1 col-offset-3 title-text">No reactivo</div>
                    <div class="col-1 title-text">Reactivo</div>
                    <div class="col-1 title-text">No se hizo</div>
                    <div class="col-1 title-text">No aplica</div>
                    <div class="col-2 title-text">Lab</div>
                    <div class="col-3 title-text">Fecha</div>
                </div>
                <div
                    *ngFor="let item of firstGroupExams; let i = index"
                    class="p-field-checkbox grid align-items-center"
                >
                    <div class="col-3 text-right">
                        <span [for]="item" class="font-semibold">{{
                            item.nombre
                        }}</span>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor1"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor2"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor3"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor4"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-2 text-center">
                        <input
                            type="text"
                            [(ngModel)]="item.lab"
                            name="{{ item.nombre }}"
                            pInputText
                            [disabled]="item.saved"
                            class="p-fluid inputfield w-full"
                        />
                    </div>
                    <div class="col-3 text-center">
                        <span [for]="item">{{ item.fecha }}</span>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-6 md:col-6 sm:col-12">
            <div class="border">
                <div class="grid text-center">
                    <div class="col-1 col-offset-3 title-text">Nornal</div>
                    <div class="col-1 title-text">Anormal</div>
                    <div class="col-1 title-text">No se hizo</div>
                    <div class="col-1 title-text">No aplica</div>
                    <div class="col-2 title-text">Lab</div>
                    <div class="col-3 title-text">Fecha</div>
                </div>
                <div
                    *ngFor="let item of secondGroupExams; let i = index"
                    class="p-field-checkbox grid align-items-center"
                >
                    <div class="col-3 text-right">
                        <span [for]="item" class="font-semibold">{{
                            item.nombre
                        }}</span>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor1"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor2"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor3"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor4"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-2 text-center">
                        <input
                            type="text"
                            [(ngModel)]="item.lab"
                            name="{{ item.nombre }}"
                            pInputText
                            [disabled]="item.saved"
                            class="p-fluid inputfield w-full"
                        />
                    </div>
                    <div class="col-3 text-center">
                        <span [for]="item">{{ item.fecha }}</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="border">
                <div class="grid text-center">
                    <div class="col-1 col-offset-3 title-text">Negativo</div>
                    <div class="col-1 title-text">Positivo</div>
                    <div class="col-1 title-text">No se hizo</div>
                    <div class="col-1 title-text">No aplica</div>
                    <div class="col-2 title-text">Lab</div>
                    <div class="col-3 title-text">Fecha</div>
                </div>
                <div
                    *ngFor="let item of thirdGroupExams; index as i"
                    class="p-field-checkbox grid"
                >
                    <div class="col-3 text-right">
                        <span [for]="item" class="font-semibold">{{
                            item.nombre
                        }}</span>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor1"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor2"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor3"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-1 text-center">
                        <p-checkbox
                            [inputId]="i"
                            name="item"
                            [value]="item.nombre + '&' + item.valor4"
                            [(ngModel)]="item.valor"
                            [disabled]="item.saved"
                        >
                        </p-checkbox>
                    </div>
                    <div class="col-2 text-center">
                        <input
                            type="text"
                            [(ngModel)]="item.lab"
                            name="{{ item.nombre }}"
                            pInputText
                            [disabled]="item.saved"
                            class="p-fluid inputfield w-full"
                        />
                    </div>
                    <div class="col-3 text-center">
                        <span [for]="item">{{ item.fecha }}</span>
                    </div>
                </div>
            </div>
            <br />
        </div>
        <div class="col-12 flex flex-row-reverse">
            <button
                style="background-color: #0c3866"
                pButton
                type="button"
                (click)="saveLaboExams()"
                *ngIf="!consultationFinished"
            >
                Guardar
            </button>
        </div>
    </div>
</div>
