<div class="p-card">
    <div class="evaluaciones">
        <p-toolbar>
            <ng-template pTemplate="left">
                <h3 class="mt-2">EVALUACIONES</h3>
            </ng-template>

            <ng-template pTemplate="right" class="button">
                <button class="button-agregar" icon="pi pi-save" pButton type="button" label="Guardar"></button>
            </ng-template>
        </p-toolbar>
        <div class="mt-1">
            <p-tabView>
                <p-tabPanel header="LABORATORIO">
                    <ng-template pTemplate="content">
                        <app-laboratorio></app-laboratorio>
                    </ng-template>
                </p-tabPanel>
                <p-tabPanel header="ECOGRAFIAS">
                    <ng-template pTemplate="content">
                        <app-ecografias></app-ecografias>
                    </ng-template>
                </p-tabPanel>

            </p-tabView>
        </div>
    </div>
</div>