
<p-table class="table-over" [value]="arregloTestTepsi" #dt styleClass="p-datatable-gridlines p-datatable-customers" [rows]="10"
         [rowsPerPageOptions]="[10, 25, 50]"
         [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
         currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
    <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <div class="table-header mt-2">
                    RESULTADOS DE TEST DESARROLLO PSICOMOTOR TEPSI ({{anioEdad}}años,{{mesEdad}}meses,{{edadDias}}dias)-Etapa({{rango}})
                </div>
                <div *ngIf="!hasTaken">
                    <button pButton pRipple label="Evaluar Test" iconPos="right" icon="pi pi-plus-circle"
                    class="guardar mr-2" (click)="displayDialog=true" [disabled]="false"  style="background-color: #0c3866"></button>
                </div>
            </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th style="text-align: center" class="font-2">Nro</th>
            <th style="text-align: center" class="font-2">FECHA</th>
            <th style="text-align: center" class="font-2">EDAD TOMADA EL TEST</th>
            <th style="text-align: center" class="font-2">DIAGNÓSTICO</th>
            <th style="text-align: center" class="font-2">ACCIÓN</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
        <tr>
            <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
            <td style="text-align: center">{{ rowData.fecha | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
            <td style="text-align: center">{{ rowData.edad }} (meses)</td>
            <td style="text-align: center">{{ rowData.diagnostico }}</td>
            <td style="text-align: center">
                <button pButton (click)="displayDialog=true" pTooltip="Ver Test" pRipple type="button"
                        icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                </button>
            </td>
        </tr>
    </ng-template>
</p-table>
<!-- <div class="grid mb-3">
    <div class="col-12 flex justify-content-end">
        <div *ngIf="!isUpdate">
            <button pButton pRipple label="Guardar Test tepsi" iconPos="right" icon="pi pi-plus"
                    class="guardar mr-2" style="background-color: #0c3866" (click)="save()"></button>
        </div>
    </div>
</div> -->
<p-dialog header="TEST DE DESARROLLO PSICOMOTOR TEPSI" [(visible)]="displayDialog" [modal]="true" [style]="{width: '80vw'}" [maximizable]="true" [draggable]="false" [resizable]="false">
<div class="grid">
    <div class="col-6">
        <div class="flex justify-content-start mb-2">
            <div class="col-4 text-right" style="font-weight: bold; ">Edad:</div>
            <span class="flex align-self-center">
                 <strong>{{anioEdad}}</strong>Años,
                <strong>{{mesEdad}}</strong>Meses,
                <strong>{{diaEdad}}</strong>Dias
            </span>
        </div>
        <div [formGroup]="datosGeneralesFG">
            <div class="grid">
                <div style="font-weight: bold" class="col-4 text-right align-self-center">
                    Fecha:
                </div>
                <div class="col-4 p-fluid">
                    <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" inputId="icon" formControlName="fechaSelected"
                                disabled="true"></p-calendar>
                </div>
            </div>
            <div class="grid">
                <div style="font-weight: bold" class="col-4 text-right align-self-center">Nombres y Apellidos
                    Examinador:
                </div>
                <div class="col-8 p-fluid"><input formControlName="nombreExaminador" type="text" pInputText></div>
            </div>
            <!-- <div class="grid">
                {{rango}}
            </div> -->
        </div>

        <!--    movemos los subtest-->
        <div class="">
            <div class="caja2 mt-3" (click)="abrimosModal(0)">
                <div class="azul"></div>
                <div class="blanco">1. SUB TEST COORDINACIÓN</div>
            </div>
            <div class="caja2 mt-3" (click)="abrimosModal(1)">
                <div class="azul"></div>
                <div class="blanco">2. SUB TEST LENGUAJE</div>
            </div>
            <div class="caja2 mt-3" (click)="abrimosModal(2)">
                <div class="azul"></div>
                <div class="blanco">3. SUB TEST MOTRICIDAD</div>
            </div>
        </div>
    </div>
    <div class="col-6 ">
        <table class="resultadosSubTest mb-3">
            <tbody>
            <tr>
                <th colspan="3">RESULTADO TEST TOTAL</th>
            </tr>
            <tr style="height: 10px">
                <th>Puntaje Bruto</th>
                <th>Puntaje T</th>
                <th>Categoria</th>
            </tr>
            <tr>
                <!--          <td>{{resultadoA[0].puntajeBruto}}</td>-->
                <td>{{resultadoA[0].puntajeBruto}}</td>
                <td>{{resultadoA[0].puntajeT}}</td>
                <td>{{resultadoA[0].categoria}}</td>
            </tr>
            </tbody>
        </table>
        <table class="resultadosSubTest" style="margin-bottom: 10px">
            <tbody>
            <tr>
                <th colspan="4" class="text-center">RESULTADOS SUB TEST</th>
            </tr>
            <tr>
                <th>Areas</th>
                <th>Puntaje Bruto</th>
                <th>Puntaje T</th>
                <th>Categoria</th>
            </tr>
            <tr>
                <th>Coordinacion</th>
                <td class="text-center">{{resultadoA[1].puntajeBruto}}</td>
                <td style="text-align: center">{{this.resultadoA[1].puntajeT}}</td>
                <td>{{resultadoA[1].categoria}}</td>
            </tr>
            <tr>
                <th>Lenguaje</th>
                <td class="text-center">{{resultadoA[2].puntajeBruto}}</td>
                <td style="text-align: center">{{resultadoA[2].puntajeT}}</td>
                <td>{{resultadoA[2].categoria}}</td>
            </tr>
            <tr>
                <th>Motricidad</th>
                <td class="text-center">{{resultadoA[3].puntajeBruto}}</td>
                <td style="text-align: center">{{resultadoA[3].puntajeT}}</td>
                <td>{{resultadoA[3].categoria}}</td>
            </tr>
            </tbody>
        </table>
        <div class="grid justify-content-center">
            <div class="field col-12">
                <p-card [style]="{'height': '25rem', 'padding-top': 'unset'}">
                    <ng-template pTemplate="header">
                        <h3 style="margin-bottom: unset;" class="text-center mb-2">Resultado Test</h3>
                        <div class="grid">
                            <div class="col-3 text-right align-self-center">Puntaje T
                            </div>
                            <div class="col-9">
                                <div >
                                    <div class="flex">
                                        <div style="width:2rem "></div>
                                        <div class="text-center" style="width:4rem;font-size: 0.8rem">RETRASO</div>
                                        <div class="text-center" style="width:4rem;font-size: 0.8rem">RIESGO</div>
                                        <div class="text-center" style="width:16rem;font-size: 1rem">NORMALIDAD</div>
                                        <div style="width:2rem "></div>
                                    </div>
                                    <div class="flex" style="height: 18px">
                                        <div class="" style="justify-content: center;width: 2rem"></div>
                                        <div class="color-1" style="justify-content: center;width: 4rem"></div>
                                        <div class="color-2" style="justify-content: center;width: 4rem"></div>
                                        <div class="color-3" style="justify-content: center;width: 4rem"></div>
                                        <div class="color-3" style="justify-content: center;width: 4rem"></div>
                                        <div class="color-3" style="justify-content: center;width: 4rem"></div>
                                        <div class="color-3" style="justify-content: center;width: 4rem"></div>
                                        <div class="" style="justify-content: center;width: 2rem"></div>
                                    </div>
                                    <div class="flex">
                                        <div class="margenes text-center" style="width: 4rem">20</div>
                                        <div class="margenes text-center" style="width: 4rem">30</div>
                                        <div class="margenes text-center" style="width: 4rem">40</div>
                                        <div class="margenes text-center" style="width: 4rem">50</div>
                                        <div class="margenes text-center" style="width: 4rem">60</div>
                                        <div class="margenes text-center" style="width: 4rem">70</div>
                                        <div class="margenes text-center" style="width: 4rem">80</div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ng-template>
                    <div class="flex justify-content-center" style="position: relative;">
                        <div style="position: absolute;width: 30vw;">
                            <p-chart  #chartH type="bar" id="chartH" [data]="chartData" [options]="horizontalOptions" width="25vw"
                                     height="20vh"></p-chart>
                        </div>
                    </div>
                </p-card>
            </div>
        </div>
    </div>
</div>
<ng-template pTemplate="footer">    
    <button *ngIf="!hasTaken" pButton pRipple type="button" label="Guardar" style="background-color: #0c3866;" icon="pi pi-save" (click)="save()" iconPos="right"></button>
</ng-template>
<!-- <div class="grid mb-3">
    <div class="col-12 flex justify-content-end">
        <div *ngIf="!isUpdate">
            <button pButton pRipple label="Guardar Test tepsi" iconPos="right" icon="pi pi-plus"
                    class="guardar mr-2" style="background-color: #0c3866" (click)="save()"></button>
        </div>
    </div>
</div> -->
</p-dialog>
<p-dialog [(visible)]="displayTest[0]" [modal]="true">
    <ng-template pTemplate="header"> 1.SUB. TEST DE COORDINACION</ng-template>
    <table class="tablaCoordinacion">
        <tbody>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][0]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                1C
            </td>
            <td>Traslada agua de un vaso a otro sin derramar (dos vasos)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][1]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                2C
            </td>
            <td>
                Construye un puente con tres cubos con modelo presentes (seis cubos)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][2]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                3C
            </td>
            <td>Construye una torre de 8 ó mas cubos (doce cubos)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][3]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                4C
            </td>
            <td>Desabotona (Estuche)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][4]"
                        (onChange)="calcularResultadoSubTest1(1)"

                ></p-checkbox>
                5C
            </td>
            <td>Abotona (Estuche)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][5]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                6C
            </td>
            <td>Enhebra una aguja (aguja de lana, hilo)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][6]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                7C
            </td>
            <td>Desata cordones (tablero c/cordón)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][7]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                8C
            </td>
            <td>Copia una linea recta (Lamina 1, Lápiz, reverso hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][8]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                9C
            </td>
            <td>Copia de un circulo (Lam 2, lápiz, reverso hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][9]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                10C
            </td>
            <td>Copia una cruz (Lam 3, lápiz, reverso hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][10]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                11C
            </td>
            <td>Copia un triangulo (Lam 4, lápiz, reverso hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][11]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                12C
            </td>
            <td>Copia un cuadrado (Lam 5, lápiz, reverso hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][12]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                13C
            </td>
            <td>
                Dibuja 9 o mas partes de una figura humana (Lápiz, reverso hoja reg.)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][13]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                14C
            </td>
            <td>
                Dibuja 6 o mas partes de una figura humana (Lápiz, reverso hoja reg.)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][14]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                15C
            </td>
            <td>
                Dibuja 3 o mas partes de una figura humana (Lápiz, reverso hoja reg.)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[0][15]"
                        (onChange)="calcularResultadoSubTest1(1)"
                ></p-checkbox>
                16C
            </td>
            <td>Ordena por tamaño (Tablero, barritas)</td>
        </tr>
        <tr>
            <td
                    style="
            width: 60px;
            border: 1px solid #BFBFBF;
            border-radius: 10px;
            text-align: center;
          "
            >
                {{ resultadoA[1].puntajeBruto }}
            </td>
            <td style="font-weight: bold; font-size: 1.3rem">
                TOTAL SUB TEST COORDINACIÓN: PB
            </td>
        </tr>
        </tbody>
    </table>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Terminar Test Coordinacion" iconPos="right" icon=""
                class="" style="background-color: #0c3866"
                (click)="isResolve[0]=true;this.displayTest[0]=false"></button>
    </ng-template>
</p-dialog>
<!--sub test lenguaje-->
<p-dialog
        [(visible)]="displayTest[1]"
        [modal]="true"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '40vw' }"
>
    <ng-template pTemplate="header" style="font-weight: bold;color:red"> 2.SUB. TEST DE LENGUAJE</ng-template>
    <table class="tablaLenguaje">
        <tbody>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][0]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                1L
            </td>
            <td>
                Reconoce grande y chico (Lam 6)<br>
                (Grande)(Chico)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][1]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                2L
            </td>
            <td>
                Reconoce más y menos (Lam 7)<br>
                (Más)(Menos)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][2]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                3L
            </td>
            <td>
                Nombra animales (Lam 8)
                <br/>
                <div class="grid">
                    <div class="col-3 grid">
                        <div class="col-6">Gato</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][0]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Perro</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][1]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Chancho</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][2]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Pato</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][3]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Paloma</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][4]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Oveja</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][5]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Tortuga</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][6]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Gallina</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[0][7]"
                                        (onChange)="evaluandoItem(0)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][3]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                4L
            </td>
            <td>
                Nombra objetos (Lam 9)
                <br/>
                <div class="grid">
                    <div class="col-3 grid">
                        <div class="col-6">Paraguas</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][0]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Vela</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][1]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Escoba</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][2]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Tetera</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][3]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Zapatos</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][4]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Reloj</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][5]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Serrucho</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][6]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Taza</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[1][7]"
                                        (onChange)="evaluandoItem(1)"></p-checkbox>
                        </div>
                    </div>

                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][4]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                5L
            </td>
            <td>Reconoce Largo y corto (Lam 1)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][5]"
                        disabled="true"
                ></p-checkbox>
                6L
            </td>
            <td>
                Verbaliza acciones (Lam 11)<br>
                <div class="grid">
                    <div class="col-3 grid">
                        <div class="col-6">Cortando</div>
                        <div class="col-6 text-center">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[2][0]"
                                        (onChange)="evaluandoItem(2)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Saltando</div>
                        <div class="col-6 text-center">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[2][1]"
                                        (onChange)="evaluandoItem(2)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Planchando</div>
                        <div class="col-6 text-center">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[2][2]"
                                        (onChange)="evaluandoItem(2)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Comiendo</div>
                        <div class="col-6 text-center">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[2][3]"
                                        (onChange)="evaluandoItem(2)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"
                        [(ngModel)]="arregloSubtest[1][6]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                7L
            </td>
            <td>
                Conoce la utilidad de objetos
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Cuchara</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][0]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Lápiz</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][1]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Jabón</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][2]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Escoba</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][3]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Cama</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][4]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Tijera</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[3][5]"
                                        (onChange)="evaluandoItem(3)"></p-checkbox>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][7]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                8L
            </td>
            <td>
                Discrimina pesado y liviano (Bolsas con arena y esponja)
                <br/>
                (Pesado)(Liviano)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][8]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                9L
            </td>
            <td>
                Verbaliza su nombre y apellido
                <br/>
                (Nombre)( Apellido)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][9]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                10L
            </td>
            <td>
                Identifica sexo
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][10]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                11L
            </td>
            <td>
                Conoce el nombre de sus padres
                <br/>(Papa)(Mama )
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][11]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                12L
            </td>
            <td>
                Da respuestas coherentes a situaciones planteadas
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Hambre</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[4][0]"
                                        (onChange)="evaluandoItem(4)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Cansado</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[4][1]"
                                        (onChange)="evaluandoItem(4)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Frío</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[4][2]"
                                        (onChange)="evaluandoItem(4)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][12]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                13L
            </td>
            <td>
                Comprende preposiciones (Lapíz)
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Detrás</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[5][0]"
                                        (onChange)="evaluandoItem(5)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Sobre</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[5][1]"
                                        (onChange)="evaluandoItem(5)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Debajo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[5][2]"
                                        (onChange)="evaluandoItem(5)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][13]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                14L
            </td>
            <td>
                Razona por analogías opuestas
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Hielo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[6][0]"
                                        (onChange)="evaluandoItem(6)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Ratón</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[6][1]"
                                        (onChange)="evaluandoItem(6)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Mamá</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[6][2]"
                                        (onChange)="evaluandoItem(6)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][14]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                15L
            </td>
            <td>
                Nombra colores(Papel lustre azul,amarillo,rojo)
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Azul</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[7][0]"
                                        (onChange)="evaluandoItem(7)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Amarillo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[7][1]"
                                        (onChange)="evaluandoItem(7)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Rojo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[7][2]"
                                        (onChange)="evaluandoItem(7)"></p-checkbox>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][15]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                16L
            </td>
            <td>
                Señala Colores(Papel lustre azul,amarillo,rojo)
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Azul</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[8][0]"
                                        (onChange)="evaluandoItem(8)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Amarillo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[8][1]"
                                        (onChange)="evaluandoItem(8)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Rojo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[8][2]"
                                        (onChange)="evaluandoItem(8)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][16]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                17L
            </td>
            <td>
                Nombra Figuras geométricas (Lam 12)
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">redondo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[9][0]"
                                        (onChange)="evaluandoItem(9)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">cuadrado</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[9][1]"
                                        (onChange)="evaluandoItem(9)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">triangulo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[9][2]"
                                        (onChange)="evaluandoItem(9)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][17]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                18L
            </td>
            <td>
                Señala Figuras geométricas (Lam 12)
                <br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">redondo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[10][0]"
                                        (onChange)="evaluandoItem(10)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">cuadrado</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[10][1]"
                                        (onChange)="evaluandoItem(10)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">triangulo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[10][2]"
                                        (onChange)="evaluandoItem(10)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][18]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                19L
            </td>
            <td>
                Describe escenas (Lam 13 y 14)
                <br/>
                (13)(14)
            </td>
        </tr>

        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][19]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                20L
            </td>
            <td>Reconoce absurdos (Lam 15)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][20]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                21L
            </td>
            <td>Usa plurales (Lam 16)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][21]"
                        (onChange)="calcularResultadoSubTest1(2)"
                ></p-checkbox>
                22L
            </td>
            <td>
                Reconoce antes y después (Lam 17)
                <br/>
                (Antes)(Después)
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][22]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                23L
            </td>
            <td>
                Define palabras
                <div class="grid">
                    <div class="col-3 grid">
                        <div class="col-6">Manzana</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[11][0]"
                                        (onChange)="evaluandoItem(11)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Pelota</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[11][1]"
                                        (onChange)="evaluandoItem(11)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Zapato</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[11][2]"
                                        (onChange)="evaluandoItem(11)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-3 grid">
                        <div class="col-6">Abrigo</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[11][3]"
                                        (onChange)="evaluandoItem(11)"></p-checkbox>
                        </div>
                    </div>
                </div>
                <br/>
            </td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[1][23]"
                        (onChange)="calcularResultadoSubTest1(2)"
                        disabled="true"
                ></p-checkbox>
                24L
            </td>
            <td>
                Nombra caracteristícas de objetos (Pelota, globo inflado bolsa)<br/>
                <div class="grid">
                    <div class="col-4 grid">
                        <div class="col-6">Pelota</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[12][0]"
                                        (onChange)="evaluandoItem(12)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Globo inflado</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[12][1]"
                                        (onChange)="evaluandoItem(12)"></p-checkbox>
                        </div>
                    </div>
                    <div class="col-4 grid">
                        <div class="col-6">Bolsa</div>
                        <div class="col-6 text-left">
                            <p-checkbox binary="true" [(ngModel)]="subPreguntas[12][2]"
                                        (onChange)="evaluandoItem(12)"></p-checkbox>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td style="
            width: 60px;
            border: 1px solid #BFBFBF;
            border-radius: 10px;
            text-align: center;
          "
            >
                {{ resultadoA[2].puntajeBruto }}
            </td>
            <td style="font-weight: bold; font-size: 1.3rem">
                TOTAL SUB TEST LENGUAJE: PB
            </td>
        </tr>
        </tbody>
    </table>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Terminar Test Lenguaje" iconPos="right" icon=""
                class="" style="background-color: #0c3866"
                (click)="isResolve[1]=true;this.displayTest[1]=false"></button>
    </ng-template>
</p-dialog>
<!--sub test motrocidad-->
<p-dialog
        [(visible)]="displayTest[2]"
        [modal]="true"
        [breakpoints]="{ '960px': '75vw', '640px': '100vw' }"
        [style]="{ width: '50vw' }"
>
    <ng-template pTemplate="header"> 3.SUB TEST MOTRICIDAD</ng-template>
    <table class="tablaMotricidad">
        <tbody>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][0]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                1M
            </td>
            <td>Salta con los dos pies en el mismo lugar</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][1]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                2M
            </td>
            <td>Camina dies pasos llevando un vaso de agua(Vazo lleno de agua).</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][2]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                3M
            </td>
            <td>Lanza una pelota en una dirección determinada (Pelota)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][3]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                4M
            </td>
            <td>Se para en un pie sin apoyo 10 seg. ó más.</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][4]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                5M
            </td>
            <td>Separa en un pie sin apoyo 5 seg. ó más.</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][5]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                6M
            </td>
            <td>Separa en un pie sin apoyo 1 seg. ó más.</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][6]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                7M
            </td>
            <td>Camina en punta de pie seis ó más pasos</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][7]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                8M
            </td>
            <td>Salta 20 cms. con los pies juntos (hoja reg.)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][8]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                9M
            </td>
            <td>Salta en un pie tres o mas veces sin apoyo.</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][9]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                10M
            </td>
            <td>Coge una pelota(Pelota)</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][10]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                11M
            </td>
            <td>Camina hacia delante topando talón y punta.</td>
        </tr>
        <tr>
            <td>
                <p-checkbox
                        name="groupname"
                        binary="true"

                        [(ngModel)]="arregloSubtest[2][11]"
                        (onChange)="calcularResultadoSubTest1(3)"
                ></p-checkbox>
                12M
            </td>
            <td>Camina hacia atrás topando punta y talón</td>
        </tr>
        <tr>
            <td
                    style="
            width: 60px;
            border: 1px solid #BFBFBF;
            border-radius: 10px;
            text-align: center;
          "
            >
                {{ resultadoA[3].puntajeBruto }}
            </td>
            <td style="font-weight: bold; font-size: 1.3rem">
                TOTAL SUB TEST LENGUAJE: PB
            </td>
        </tr>
        </tbody>    
    </table>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Terminar Test Motricidad" iconPos="right" icon=""
                class="" style="background-color: #0c3866"
                (click)="isResolve[2]=true;this.displayTest[2]=false"></button>
    </ng-template>
</p-dialog>
<p-toast key="myKey1"></p-toast>