<div>
  <br />
  <div class="grid">
    <div class="col-12 md:col-6 lg:col-12 p-field" style="text-align: center">
      <label style="font-size: 16px"
        >PREGUNTAS PARA LA DETECCIÓN DE VIOLENCIA CONTRA LA MUJER OCACIONADA POR
        LA PAREJA O EXPAREJA</label
      >
    </div>
  </div>
  <br />
  <form [formGroup]="formDatos_Tamisaje">
    <div class="border">
      <div class="col-12 md:col-6 lg:col-12 p-field">
        <div class="grid m-2">
          <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
              <label class="">Documento de identidad: </label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="nroDoc"
                placeholder="Nro documento"
              />
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
              <label class="">Número de historia Clinica: </label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="nroHcl"
                placeholder="Nro historia clínica"
              />
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
              <label class="">Fecha: </label>
              <!-- <p-calendar formControlName="Fecha" dateFormat="yy-mm-dd"></p-calendar> -->
              <input
                type="date"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="Fecha"
                placeholder="Nro historia clínica"
              />
            </div>
          </div>
        </div>
        <div class="grid m-2">
          <div class="col-12 md:col-6 lg:col-4 p-field">
            <div class="">
              <label class="">Apellido Paterno:</label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="apePaterno"
                placeholder="Apellido Paterno"
              />
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4 p-field">
            <div class="">
              <label class="">Apellido Materno: </label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="apeMaterno"
                placeholder="Apellido Materno"
              />
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-4 p-field">
            <div class="">
              <label class="">Nombres: </label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="nombres"
                placeholder="Nombres"
              />
            </div>
          </div>
        </div>
        <div class="grid m-2">
          <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
              <label class="">Edad: </label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="Edad"
                placeholder="Edad"
              />
            </div>
          </div>

          <div class="col-12 md:col-6 lg:col-6 p-field">
            <div class="">
              <label class="">Dirección:</label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="Direccion"
                placeholder="Direccion / Departamento / Provincia / Distrito"
              />
            </div>
          </div>
          <div class="col-12 md:col-6 lg:col-3 p-field">
            <div class="">
              <label class="">Telefono:</label>
              <input
                type="text"
                pInputText
                class="inputfield w-full bg_color"
                formControlName="Telefono"
                placeholder="Telefono"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <br />
  <p-tabView
    (onChange)="tab($event)"
    styleClass="tabview-custom"
    class="tab"
    [(activeIndex)]="indiceActivo"
  >
    <p-tabPanel
      header="Preguntas al Paciente I"
      leftIcon="pi pi-file"
      tooltip="Preguntas"
    >
      <div class="border">
        <p class="texto-justificado m-3">
          Para preguntar directamente a las usuarias sobre una posible
          violencia, el profesional de la salud realiza las siguientes
          preguntas:
        </p>
        <form [formGroup]="formDatos_Tamisaje" class="m-2">
          <div class="grid">
            <div class="col-12 md:col-6 lg:col-4 p-field">
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="1.- En general ¿Cómo describiría su relación de pareja?"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Estresante (3 puntos):</label
                          >
                          <p-radioButton
                            name="Respuesta9"
                            value="3"
                            formControlName="Respuesta9"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Un poco estresante (2 puntos):</label
                          >
                          <p-radioButton
                            name="Respuesta9"
                            value="2"
                            formControlName="Respuesta9"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nada estresante (1 punto):</label
                          >
                          <p-radioButton
                            name="Respuesta9"
                            value="1"
                            formControlName="Respuesta9"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <br />
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="2.- Usted y su pareja resuelven las discusiones con:"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Mucha dificultad (3p):
                          </label>
                          <p-radioButton
                            name="Respuesta10"
                            value="3"
                            formControlName="Respuesta10"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Algo de dificultad (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta10"
                            value="2"
                            formControlName="Respuesta10"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Sin dificultad (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta10"
                            value="1"
                            formControlName="Respuesta10"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="3.- Al terminar las discusiones usted ¿Se siente decaída o mal con usted misma?"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):</label
                          >
                          <p-radioButton
                            name="Respuesta11"
                            value="3"
                            formControlName="Respuesta11"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta11"
                            value="2"
                            formControlName="Respuesta11"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta11"
                            value="1"
                            formControlName="Respuesta11"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4 p-field">
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="4.- Las discusiones ¿terminan en golpes, patadas o empujones?"
                    class="colorearPanel"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):
                          </label>
                          <p-radioButton
                            name="Respuesta12"
                            value="3"
                            formControlName="Respuesta12"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta12"
                            value="2"
                            formControlName="Respuesta12"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta12"
                            value="1"
                            formControlName="Respuesta12"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="5.- ¿Hay situaciones en las cuales ha sentido miedo de las reacciones de  su pareja?"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):
                          </label>
                          <p-radioButton
                            name="Respuesta13"
                            value="3"
                            formControlName="Respuesta13"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta13"
                            value="2"
                            formControlName="Respuesta13"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta13"
                            value="1"
                            formControlName="Respuesta13"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="6.- Su pareja ¿controla el dinero que usted gasta, o la obliga a realizar trabajo en exceso?"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):</label
                          >
                          <p-radioButton
                            name="Respuesta14"
                            value="3"
                            formControlName="Respuesta14"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta14"
                            value="2"
                            formControlName="Respuesta14"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta14"
                            value="1"
                            formControlName="Respuesta14"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
            </div>
            <div class="col-12 md:col-6 lg:col-4 p-field">
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="7.- Su pareja ¿la insulta, grita, humilla o descalifica verbalmente?"
                    class="colorearPanel"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):</label
                          >
                          <p-radioButton
                            name="Respuesta15"
                            value="3"
                            formControlName="Respuesta15"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta15"
                            value="2"
                            formControlName="Respuesta15"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta15"
                            value="1"
                            formControlName="Respuesta15"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <p-panel
                    header="8.- ¿Se ha sentido obligada a tener relaciones sexuales con su pareja para evitar problemas?"
                  >
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Muchas veces (3p):</label
                          >
                          <p-radioButton
                            name="Respuesta16"
                            value="3"
                            formControlName="Respuesta16"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >A veces (2p):</label
                          >
                          <p-radioButton
                            name="Respuesta16"
                            value="2"
                            formControlName="Respuesta16"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                    <div class="grid">
                      <div class="col-12 md:col-6 lg:col-12 p-field">
                        <div class="p-inputgroup">
                          <label class="col-10" style="text-align: right"
                            >Nunca (1p):</label
                          >
                          <p-radioButton
                            name="Respuesta16"
                            value="1"
                            formControlName="Respuesta16"
                            (onClick)="calcularPuntaje()"
                          >
                          </p-radioButton>
                        </div>
                      </div>
                    </div>
                  </p-panel>
                </div>
              </div>
              <div class="grid">
                <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                  <div class="border">
                    <div class="grid m-2">
                      <div class="col" style="text-align: center">
                        <label>Puntaje Total: </label>
                        <input
                          type="text"
                          pInputText
                          formControlName="PuntajeTotal"
                          style="width: 30%"
                        />
                      </div>
                    </div>
                  </div>
                  <br />
                  <div class="grid m-2">
                    <div class="col" style="text-align: center">
                      <label
                        *ngIf="resultadoTamizaje == 'POSITIVO'"
                        style="color: rgba(255, 2, 15, 0.58)"
                        class="text-2xl"
                        >{{ resultadoTamizaje }}</label
                      >
                      <label
                        *ngIf="resultadoTamizaje == 'NEGATIVO'"
                        class="text-2xl"
                        >{{ resultadoTamizaje }}</label
                      >
                    </div>
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>
          <div class="grid">
            <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
              <label class="m-2">Interpretación</label>
              <div class="border2">
                <div class="grid m-2">
                  <div class="col-12 md:col-6 lg:col-5">
                    <div class="border">
                      <div class="grid m-2">
                        <div class="col-4" style="text-align: center">
                          <span></span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span class="">Punto mínimo</span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span class="">Puntaje máximo</span>
                        </div>
                      </div>
                      <div class="grid m-2">
                        <div class="col-4" style="text-align: center">
                          <span class="">Tamisaje Positivo: </span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span> >15 </span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span>24</span>
                        </div>
                      </div>
                      <div class="grid m-2">
                        <div class="col-4" style="text-align: center">
                          <span class="">Tamizaje Negativo: </span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span>8</span>
                        </div>
                        <div class="col-4" style="text-align: center">
                          <span>15</span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-6 lg:col-4">
                    <div class="border">
                      <div class="grid m-2">
                        <div class="col">
                          <span class="texto-justificado"
                            >Si una o más preguntas 4 y 7 son (+), incluso
                            aunque total fuera < de 15 (asegurada la comprensión
                            de las preguntas)</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 md:col-6 lg:col-3">
                    <div class="border">
                      <div class="grid m-2">
                        <div class="col">
                          <span class="texto-justificado"
                            >Caso de violencia confirmado – Tamizaje
                            positivo.</span
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <p-toolbar>
        <ng-template pTemplate="left">
          <h3 class="mt-2"></h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
          <button
            pButton
            pRipple
            type="button"
            icon="pi pi-save"
            label="Guardar"
            (click)="UpdateTamizaje2()"
            class="p-button-danger"
          ></button>
        </ng-template>
      </p-toolbar>
    </p-tabPanel>
  </p-tabView>
</div>