<div class="p-card">
    <p-toolbar styleClass="p-mb-4">

        <ng-template pTemplate="left">
            <h3 class="p-m-0">Ubicacion</h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <!--            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"-->
            <!--                    (click)="openNew()"></button>-->

            <!--            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-primary"></button>-->
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="ubicacions" [rows]="10" [paginator]="true"
             [globalFilterFields]="['nombres','dni','apellidos']"
             [(selection)]="selected_ubicacion" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} listas"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <!--                <h5 class="p-m-0">Personales de salud</h5>-->
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                           (input)="dt.filterGlobal($event.target.value,'contains')"
                           placeholder="Buscar..."/>
                </span>
            </div>
        </ng-template>

        <ng-template class="ng-template" pTemplate="header">
            <tr>
                <th style="text-align: center">DEPARTAMENTO</th>
                <th style="text-align: center">PROVINCIA</th>
                <th style="text-align: center">DISTRITO</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-ubicacion style="text-align: center">
            <tr style="text-align: center">
                <td style="text-align: center">{{ubicacion.departamento}}</td>
                <td style="text-align: center">{{ubicacion.provincia}}</td>
                <td style="text-align: center">{{ubicacion.distrito}}</td>
                <!--                <td style="text-align: center">{{personal.apellidos}}</td>-->
                <!--                <td style="text-align: center">{{personal.nombres}}</td>-->
                <!--                <td style="text-align: center">{{personal.sexo}}</td>-->
                <!--                <td style="text-align: center">{{personal.profesion}}</td>-->
                <!--                <td style="text-align: center">{{personal.tipo_contrato}}</td>-->
                <!--                <td style="text-align: center">{{personal.colegio_profesional}}</td>-->
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary "></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                <!--                En total ahi {{personals ? personals.length : 0 }} Personales.-->
            </div>
        </ng-template>
    </p-table>
</div>
