<div class="p-card">
    <div class="evaluaciones">
        <p-toolbar>
            <ng-template pTemplate="left">
                <h3 class="mt-2">PROCEDIMIENTOS</h3>
            </ng-template>

            <ng-template pTemplate="right" class="button">
                <button class="button-agregar" icon="pi pi-save" pButton type="button" label="Guardar"></button>
            </ng-template>
        </p-toolbar>
        <br>
        <div class="grid">
            <div class="col-12">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <h3 class="mt-2">RESUMEN DE PROCEDIMIENTOS GUARDADOS</h3>
                    </ng-template>
                </p-toolbar>
                <div class="RESUMEN">
                    <p-table class="table-over" [value]="resumen" #dt styleClass="p-datatable-gridlines" [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                            <tr>
                                <th style="text-align: center" class="font-2">Nro </th>
                                <th style="text-align: center" class="font-2">COD. HIS</th>
                                <th style="text-align: center" class="font-2">PROCEDIMIENTO HIS</th>
                                <th style="text-align: center" class="font-1">TIPO</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                                <td style="text-align: center">{{ rowData.codProcedimientoHIS }}</td>
                                <td style="text-align: center">{{ rowData.procedimientoHIS }}</td>
                                <td style="text-align: center">{{ rowData.tipo }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-4">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <h3 class="mt-2">PROCEDIMIENTOS PENDIENTES DE GUARDADO</h3>
                    </ng-template>
                </p-toolbar>
                <div class="RESUMEN">
                    <p-table class="table-over" [value]="resumenPendientes" #dt styleClass="p-datatable-gridlines" [rows]="10"
                        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                        [showCurrentPageReport]="true"
                        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                            <tr>
                                <th style="text-align: center" class="font-2">NRO </th>
                                <th style="text-align: center" class="font-2">NOMBRE</th>
                                <th style="text-align: center" class="font-2">Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                                <td style="text-align: center">{{ rowData.nombre }}</td>
                                <td style="text-align: center">
                                    <button pButton pRipple type="button" icon="pi pi-plus" label="Proced"
                                        class="p-button-rounded p-button-help"
                                        (click)="openDialogProcedimientoConsejeria(rowData.nombre)"></button>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
            <div class="col-8">
                <p-toolbar>
                    <ng-template pTemplate="left">
                        <h3 class="mt-2">PROCEDIMIENTOS</h3>
                    </ng-template>
                    <ng-template pTemplate="right">
                        <button pButton pRipple label="Agregar Procedimiento" icon="pi pi-plus" pButton type="button"
                            class="button-agregar" (click)="openDialogProcedimiento()"></button>
                    </ng-template>
                </p-toolbar>
                <p-table class="table-over" [value]="procedimientos" #dt styleClass="p-datatable-gridlines" [rows]="10"
                    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                    <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                        <tr>
                            <th style="text-align: center" class="font-2">Nro </th>
                            <th style="text-align: center" class="font-1">COD. PRESTACION</th>
                            <th style="text-align: center" class="font-2">PROCEDIMIENTO SIS</th>
                            <th style="text-align: center" class="font-2">PROCEDIMIENTO HIS</th>
                            <th style="text-align: center" class="font-2">Acciones</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                            <td style="text-align: center">{{ rowData.codPrestacion }}</td>
                            <td style="text-align: center">{{ rowData.procedimientoSIS }}</td>
                            <td style="text-align: center">{{ rowData.procedimientoHIS }}</td>
                            <td style="text-align: center">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-primary m-1"
                                    (click)="openDialogEditarProcedimiento(rowData)" pTooltip="Editar">
                                </button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                    (click)="eliminarProcedimiento(rowData.codProcedimientoHIS)" pTooltip="Eliminar">
                                </button>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
        <br>
    </div>
</div>