<div class="text-center"><h2>Editar LAB & TDx de consulta</h2></div>
<div class="col-12 flex justify-content-center align-items-center">
    <span>Fecha: </span>
    <div class="col-3">
        <p-calendar
            dateFormat="dd/mm/yy"
            [showIcon]="true"
            [(ngModel)]="fecha"
        ></p-calendar>
    </div>
    <span>DNI Usuario: </span>
    <div class="col-2 p-inputgroup">
        <p-inputNumber
            class="text-center"
            [(ngModel)]="dni"
            [useGrouping]="false"
            maxlength="8"
        ></p-inputNumber>
        <button
            type="button"
            pButton
            pRipple
            label="buscar"
            (click)="buscar()"
            style="background-color: #0c3866"
        ></button>
    </div>
</div>
<div class="col-12">
    <p-table
        [value]="listaConsulta"
        #dt
        [rows]="3"
        styleClass="p-datatable-sm"
        [paginator]="true"
        [autoLayout]="true"
        class="m-3"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true"
        responsiveLayout="scroll"
    >
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Nombres</th>
                <th style="text-align: center">Apellidos</th>
                <th style="text-align: center">Hora</th>
                <th style="text-align: center">Habilitar</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr style="text-align: center">
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">
                    {{ rowData.nombre }}
                </td>
                <td style="text-align: center">
                    {{ rowData.apePaterno + " " + rowData.apeMaterno }}
                </td>
                <td style="text-align: center">{{ rowData.fechaRegistro }}</td>
                <td style="text-align: center">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-send"
                        class="p-button-rounded p-button-secondary"
                        (click)="habilitar(rowData.id, rowData.diagnosticos)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog
    header="DIAGNOSTICOS"
    [(visible)]="dialogDiagnostico"
    [modal]="true"
    [style]="{ width: '60%' }"
    [draggable]="false"
    [resizable]="false"
>
    <p-table
        class="table-over"
        [value]="[listDiagnosticos]"
        #dt
        styleClass="p-datatable-gridlines"
    >
        <ng-template pTemplate="header">
            <tr>
                <th rowspan="3">
                    DIAGNOSTICO MOTIVO DE CONSULTA Y/O ACTIVIDAD DE SALUD
                </th>
                <th rowspan="2" colspan="3">TIPO DIAGNOSTICO</th>
                <th rowspan="3">LAB</th>
                <th rowspan="3">CODIGO CIE</th>
                <th rowspan="3">ACTUALIZAR</th>
            </tr>
            <tr></tr>
            <tr>
                <th>P</th>
                <th>D</th>
                <th>R</th>
            </tr>
        </ng-template>
        <ng-template
            pTemplate="body"
            let-rowData
            let-rowIndex="rowIndex"
            let-editing="editing"
        >
            <tr *ngFor="let item of rowData">
                <td>
                    {{ item.diagnostico }}
                </td>
                <td colspan="3" style="text-align: center">
                    <div class="p-fluid mx-5">
                        <p-dropdown
                            panelStyleClass="minWidthOverride"
                            [options]="listTDx"
                            appendTo="body"
                            styleClass="my-2 py-1"
                            [(ngModel)]="item.tipoDx"
                            [virtualScroll]="false"
                        ></p-dropdown>
                    </div>
                </td>
                <td pEditableColumn style="text-align: center">
                    <p-cellEditor>
                        <ng-template pTemplate="input">
                            <input
                                pInputText
                                type="text"
                                [(ngModel)]="item.lab"
                            />
                        </ng-template>
                        <ng-template pTemplate="output">
                            {{ item.lab }}
                        </ng-template>
                    </p-cellEditor>
                </td>
                <td style="text-align: center">{{ item.cie_10 }}</td>
                <td style="text-align: center">
                    <button
                        pButton
                        pRipple
                        type="button"
                        icon="pi pi-arrow-circle-up"
                        class="p-button-rounded p-button-success"
                        (click)="actualizar(item.cie_10,item.tipoDx, item.lab)"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-dialog>
