<p-card header="DESARROLLO PSICOMOTOR"></p-card>
<p-card>
   <p-table responsiveLayout="scroll" [value]="sales" [resizableColumns]="true">
      <ng-template pTemplate="header">
         <tr>
            <th style="background-color: white; width: 60px; height: 40px;"><div></div><div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #4C4C4C"><div>1</div><div>MES</div></div><div class="triangulo-1"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #F0047F"><div>2</div><div>MES</div></div><div class="triangulo-2"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #FF6601"><div>3</div><div>MES</div></div><div class="triangulo-3"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #F30E19"><div>4</div><div>MES</div></div><div class="triangulo-4"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #F93D5A"><div>5</div><div>MES</div></div><div class="triangulo-5"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #FEA61D"><div>6</div><div>MES</div></div><div class="triangulo-6"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #F5923B"><div>7</div><div>MES</div></div><div class="triangulo-7"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #DD360C"><div>8</div><div>MES</div></div><div class="triangulo-8"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #DD6910"><div>9</div><div>MES</div></div><div class="triangulo-9"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #5BBA7D"><div>10</div><div>MES</div></div><div class="triangulo-10"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #5AB543"><div>11</div><div>MES</div></div><div class="triangulo-11"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #9BC922"><div>12</div><div>MES</div></div><div class="triangulo-12"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #5EAA29"><div>15</div><div>MES</div></div><div class="triangulo-15"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #62C2BB"><div>18</div><div>MES</div></div><div class="triangulo-18"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #5C97C6"><div>21</div><div>MES</div></div><div class="triangulo-21"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #5E64AD"><div>24</div><div>MES</div></div><div class="triangulo-24"></div></div></th>
            <th style="background-color: white;"><div class="flex justify-content-center flex-column"><div class="flex flex-column justify-content-center caja" style="background-color: #B573B6"><div>30</div><div>MES</div></div><div class="triangulo-30"></div></div></th>
         </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowIndex="rowIndex">
         <tr *ngIf="rowIndex == 0">
            <td style="background-color: #FF8300; border-radius: 15px; width: 100px; color:black; font-weight: bold; padding: 0px; margin: 0px;">FECHA</td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
            <td style="background-color: #FFFF80"></td>
            <td style="background-color: #FDC070"></td>
         </tr>
         <tr>
            <td style="padding: 0px;" class="flex">
               <div style="background-color: #FF6601; color: white; margin: 5px; border-radius: 15px; margin-right: 0px;">
                  <div style="font-weight: bold; font-size: 2rem">
                     A
                  </div>
                  <div style="background-color: #FF6601; color: white; border-radius: 15px; font-weight: bold;" class="flex surface-overlay">
                     <div style="font-size: smaller; width: 110px;" class="white-space-normal">
                        CONTROL DE CABEZA Y TRONCO SENTADO
                     </div>
                  </div>
               </div>
               <div class="triangulo"></div>
            </td>

            <td style="border: 1px solid black">{{1}}</td>
            <td style="border: 1px solid black;">{{2}}</td>
            <td style="border: 1px solid black;">{{3}}</td>
            <td style="border: 1px solid black;">{{4}}</td>
            <td style="border: 1px solid black;">{{5}}</td>
            <td style="border: 1px solid black;">{{6}}</td>
            <td style="border: 1px solid black;">{{7}}</td>
            <td style="border: 1px solid black;">{{8}}</td>
            <td style="border: 1px solid black;">{{9}}</td>
            <td style="border: 1px solid black;">{{10}}</td>
            <td style="border: 1px solid black;">{{11}}</td>
            <td style="border: 1px solid black;">{{12}}</td>
            <td style="border: 1px solid black;">{{15}}</td>
            <td style="border: 1px solid black;">{{18}}</td>
            <td style="border: 1px solid black;">{{21}}</td>
            <td style="border: 1px solid black;">{{24}}</td>
            <td style="border: 1px solid black;">{{30}}</td>
         </tr>
      </ng-template>
   </p-table>
</p-card>
