p-table >>> .p-datatable table {
  width: auto;
}

p-table >>> .p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  border: 1px solid #b6b6b6;
  background-color: #dddddd;
  padding: 0.3rem;
}
p-table >>> .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: medium;
  word-wrap: break-word;
}
input {
  text-align: center;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
  padding: 0.7rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: #d8dee5;
  font-weight: 600;
  border-radius: 5px;
  font-size: small;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.container_steps {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.container_input_datos {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.steps {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 60px;
  border-radius: 21px;
  border: 1px solid #ce181e;
  background-color: #ce181e;
}

.steps_NoSelected {
  display: flex;
  flex-direction: column;
  width: 50px;
  height: 60px;
  border-radius: 21px;
  border: 1px solid #e29497;
  background-color: #e29497;
}

.div-titulo-mes {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30%;
}
.steps-titulo-edadMes {
  color: #ffffff;
  font-size: 10px;
}

.div-titulo-nro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65%;
}
.steps-titulo-edadNro {
  color: #ffffff;
  font-size: 26px;
}

.div-line {
  width: 100%;
  height: 2%;
  margin-bottom: 2px;
  background-color: #ffffff;
  border-color: 1px solid #ffffff;
}

.div_line_Separate_card {
  width: 100%;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #4124aa;
  border-color: 1px solid #4124aa;
}

.input {
  width: 150px;
  margin-left: 8px;
}
.input_examinador {
  width: 250px;
  margin-left: 8px;
}
.label {
  font-weight: bold;
  font-size: 20px;
}
.label_fecha {
  font-weight: bold;
  font-size: 14px;
}
.titulo-1 {
  font-size: 1.1rem;
  color: #1769aa;
}
.descp-1 {
  font-weight: 640;
}
.border {
  border: 0.1rem solid #d4d4d4;
  border-radius: 10px;
  padding: 1rem;
  /* margin-top: 0.25rem; */
  margin-bottom: 1.5rem;
}
.container_steps .ng-star-inserted,
.div-titulo-nro .steps-titulo-edadNro,
.div-titulo-mes .steps-titulo-edadMes {
  cursor: pointer;
}
