p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}
p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

label {
    font-weight: normal;
}

.logo_Region {
    width: 100%;
    height: 100%;
}

.colorear {
    font-weight: bold;
}

p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
}


.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}

.amarillo .p-checkbox .p-checkbox-box {
    background: red !important;
}

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
    background: rgb(234, 187, 38);
    border-color: rgb(234, 187, 38);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
    background: rgb(234, 187, 38);
    border: rgb(234, 187, 38);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
    border-color: red;
    background: red;
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    background: #2196f3;
    border: #2196f3;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"] {
    padding-left: 0.1em;
    text-align: left;
}

::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}


canvas {
    border: 1px solid #b4b4b4;
}


/**DIBUJOS DE**/
#content{
    position:relative;
}
.mydiv{
    border:1px solid #368ABB;
    background-color: #ffffff;
    position:absolute;
}
.mydiv:after{
    content:no-close-quote;
    position:absolute;
    top:50%;
    left:50%;
    background-color:black;
    width:4px;
    height:4px;
    border-radius:50%;
    margin-left:-2px;
    margin-top:-2px;
}
#div1{
    left:100px;
    top:50px;
    width:40px;
    height:20px;
}
#div2{
    left:20px;
    top:50px;
    width:40px;
    height:20px;
}
#line{
    position:absolute;
    width:1px;
    background-color:red;
}

#div3{
    left:150px;
    top:50px;
    width:40px;
    height:20px;
}
.button-toolbar{
    margin: 5px;
}
.button-cancelar{
    background: #d31329;
    border: #d31329;
}
.button-agregar{
    background: #0c3866;
    border: #0c3866;
}

p-dialog>>> .p-autocomplete{
    width:100%;
}
p-dialog>>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #ffffff;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    color:#ffffff;
}
.table-over{
    overflow-x: auto;
}
.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-d-inline{
    width: auto;
    z-index: 5;
}
:host >>> .p-dialog  {
    z-index: 5;
    width: auto;
    background: #FFFFFF;
}
.p-table >>> .p-table{
    overflow-x: auto;
}
p-panel>>>.p-panel .p-panel-header{
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;

}
p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #D32F2F;

}

:host ::ng-deep .row-faltantes {
    background-color: rgba(208, 255, 206, 0.801) !important;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}
::ng-deep .dialogo .p-dialog-mask .p-element {
    display: block;
}

.p-inputtextarea:disabled{
    opacity: 1;
}
.image1{
    background: url('src/assets/images/consulta3.png') no-repeat;
    background-size: contain;
    height: 105px;
    background-position: 50% 50%;
    margin-top: auto;
}