p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #959ea6;
    border-color: #959ea6;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}


.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
}

span {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: #0c3866;
}

p-toolbar >>> .p-toolbar {
    background: rgb(242 242 242);
    /*border: 1px solid rgb(222 226 230);*/
    /*padding: 1rem;*/
    /*border-radius: 3px;*/
}

.image {
    width: 140px;
    height: 150px;
    margin: 10px auto;
    display: block;
}
