/* .button-toolbar{
    margin: 5px;
}
.button-cancelar{
    background: #BF0D21;

}
.button-agregar{
    background: #0c3866;

}
p-calendar >>> .p-button.p-button-icon-only {
    background-color: #0c3866;
}
p-calendar{
    position: absolute;
}
p-autocomplete{
    position: absolute;
}
p-dialog >>> .p-dropdown{
    position: absolute;
}
p-dialog>>> .p-autocomplete{
    width:100%;
}
p-dialog>>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #ffffff;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    color:#ffffff;
}
.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-d-inline{
    width: auto;
    z-index: 5;
}
:host >>> .p-dialog  {
    z-index: 5;
    width: auto;
    background: #FFFFFF;
}

p-panel>>>.p-panel .p-panel-header{
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;

}
p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #D32F2F;

}

@media (min-width: 300px){
}

@media (min-width: 500px){

}
@media (min-width: 900px){

} */
