.button-toolbar{
    margin: 5px;
}
.button-cancelar{
    background: #BF0D21;

}
.button-agregar{
    background: #003C71;

}
p-calendar >>> .p-button.p-button-icon-only {
    background-color: #003c71;

}
p-calendar{
    position: absolute;
}
p-autoComplete{
    position: absolute;
}
p-dialog >>> .p-dropdown{
    position: absolute;
}
p-dialog>>> .p-autocomplete{
    width:305px;
}
.table-over{
    overflow-x: auto;
}
.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}
.p-d-inline{
    width: auto;
    z-index: 5;
}
:host >>> .p-dialog  {
    z-index: 5;
    width: auto;
    background: #FFFFFF;
}
.p-table >>> .p-table{
    overflow-x: auto;
}
p-panel>>>.p-panel .p-panel-header{
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;

}
p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #D32F2F;

}

@media (min-width: 300px){
}

@media (min-width: 500px){

}
@media (min-width: 900px){

}
