/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.titulo-1 {
  font-size: 1.1rem;
  color: #1769aa;
}
.descp-1 {
  font-weight: 640;
}
.nroResult {
  /* color:blue; */
  /* text-align: center; */
  background: #ce181e;
  font-size: 1.1rem;
  border: 0.5px solid;
  font-weight: bold;
  border-radius: 50%;
  width: 50%; 
  color: #fff;
}
::ng-deep .table-desarrollo .p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  border: 1px solid #b6b6b6;
  background-color: #dddddd;
  padding: 0.3rem;
}
