<div class="card">
    <p-fieldset legend="DATOS NIÑO/NIÑA">
        <div class="grid ">
            <div class="col-12 md:col-4 text-center">
                <div class="grid">
                    <div class="col-4">
                        <label class="text-sm">Fecha de atención:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="p-inputtext-sm " pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-2 text-center">
                <div class="grid">
                    <div class="col-4">
                        <label class="text-sm">Hora:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="p-inputtext-sm " pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-2 text-center">
                <div class="grid">
                    <div class="col-4">
                        <label class="text-sm">Edad:</label>
                    </div>
                    <div class="col-8">
                        <input type="text" class="p-inputtext-sm " pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 md:col-4 text-center">
                <div class="grid">
                    <div class="col-6">
                        <label class="text-sm">N° de A. Prenatal:</label>
                    </div>
                    <div class="col-6">
                        <input type="text" class="p-inputtext-sm " pInputText />
                    </div>
                </div>
            </div>
            <div class="col-12 text-center">
                <div class="grid">
                    <div class="col-2">
                        <label class="text-sm">Cambio de Domicilio:</label>
                    </div>
                    <div class="col-10">
                        <input type="text" class="p-inputtext-sm " pInputText />
                    </div>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>