<div class="card">
    <p-fieldset legend="DATOS NIÑO/NIÑA">
        <div class="grid ">
            <div class="col-3 field">
                <div class="col">
                    <label style="padding: 0.5rem;">DNI U OTRA IDENTIFICAON:</label>
                </div>
                <div class="col">
                    <input id="dni"  type="text" placeholder="DNI" class="inputfield w-full"pInputText>
                </div>
            </div>
            
            <div class="col-6 field">
                <div class="col">
                    <label style="padding: 0.5rem;">APELLIDOS Y NOMBRES:</label>
                </div>
                <div class="col">
                    <input id="nombres"  type="text" placeholder="Apellidos y Nombres" class="inputfield w-full"pInputText>
                </div>
            </div>

            <div class="col field">
                <div class="col">
                    <label style="padding: 0.5rem;">EDAD</label>
                </div>
                <div class="col">
                    <input id="edad"  type="text" placeholder="Edad" class="inputfield w-full"pInputText>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col ">
                <label style="padding: 0.5rem;">TELEFONO</label>
                <div class="col">
                    <input id="telefono" placeholder="Telefono" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
            <div class="col">
                <label style="padding: 0.5rem;">NACIONALIDAD</label>
                <div class="col">
                    <input id="nacionalidad" placeholder="Nacionalidad" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
            <div class="col">
                <label style="padding: 0.5rem;">DEPARTAMENTO</label>
                <div class="col">
                    <input id="departamento" placeholder="Departamento" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
            <div class="col">
                <label style="padding: 0.5rem;">PROVINCIA</label>
                <div class="col">
                    <input id="provincia" placeholder="Provincia" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
            <div class="col">
                <label style="padding: 0.5rem;">DISTRITO</label>
                <div class="col">
                    <input id="distrito" placeholder="Distrito" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
        </div>

        <div class="grid">
            <div class="col ">
                <label style="padding: 0.5rem;">CENTRO POBLADO:</label>
                <div class="col">
                    <input id="CP" placeholder="Centro Poblado" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
            <div class="col">
                <label style="padding: 0.5rem;">DOMICILIO ACTUAL:</label>
                <div class="col">
                    <input id="domicilio" placeholder="Domicilio Actual" type="text" class="inputfield w-full"pInputText>
                </div>
            </div>
        </div>
    </p-fieldset>
</div>
<p-fieldset legend="REPROGRAMAR CITA">
        
    <p-table
    rowExpandMode="single"
    scrollDirection="both"
    responsiveLayout="scroll"
    [resizableColumns]="true"
    #dt
    styleClass="p-datatable p-datatable-gridlines p-mt-3"
    [value]="data"
    [autoLayout]="true"
    [rows]="10"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

<ng-template pTemplate="header" let-columns>
    
    <tr>
        
        <th  rowspan="2">HORA</th>
        <th  rowspan="2">LUNES</th>
        <th  rowspan="2">MARTES</th>
        <th  rowspan="2">MIERCOLES</th>
        <th  rowspan="2">JUEVES</th>
        <th  rowspan="2">VIERNES</th>
        <th  rowspan="2">SABADO</th>
        <th  rowspan="2">DOMINGO</th>
        
        
    </tr>
</ng-template>

<ng-template pTemplate="body" let-data let-rowIndex="rowIndex">
    <tr >
        <td  style="font-weight: 600;background-color: #f8f9fa;">{{data[0]}}</td>
        <td  (click)="cambioClick(rowIndex,1)">
            <div *ngIf="data[1]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio($event)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio($event)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template>
        </td>
        <td (click)="cambioClick(rowIndex,2)"> <!-- martes  -->
            <div *ngIf="data[2]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio($event)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio($event)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template>
        </td>
        <td (click)="cambioClick(rowIndex,3)">
            <div *ngIf="data[3]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio(rowIndex,3)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio(rowIndex,3)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template></td>
        <td (click)="cambioClick(rowIndex,4)">
            <div *ngIf="data[4]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio(rowIndex,4)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio(rowIndex,4)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template></td>
        <td (click)="cambioClick(rowIndex,5)">
            <div *ngIf="data[5]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio(rowIndex,5)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio(rowIndex,5)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template></td>
        <td (click)="cambioClick(rowIndex,6)">
            <div *ngIf="data[6]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio(rowIndex,6)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio(rowIndex,6)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template></td>
        <td (click)="cambioClick(rowIndex,7)">
            <div *ngIf="data[7]===1; else apagado">
                <p-toggleButton [(ngModel)]="checkedon" disabled="true" (onChange)="cambio(rowIndex,7)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </div>
            <ng-template #apagado>
                <p-toggleButton [(ngModel)]="checkedoff" (onChange)="cambio(rowIndex,7)" onLabel="X" offLabel="&nbsp;&nbsp;" [style]="{'width': '5rem'}"></p-toggleButton>
            </ng-template></td>
    </tr>
</ng-template>
</p-table>
</p-fieldset>