<div class="grid">
    <div class="col-12">
        <p-table [value]="tablaResumenDx" [rowHover]="true" styleClass="p-datatable-gridlines"
                 [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        RESUMEN DE RESULTADOS DE EVALUACIONES - TESTS - TAMIZAJES - INMUNIZACIONES - LABORATORIO
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">EDAD</th>
                    <th style="text-align: center" class="font-2">NOMBRE</th>
                    <th style="text-align: center" class="font-2">EVALUACION</th>
                    <th style="text-align: center" class="font-2">RESULTADO</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-listaResumen let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                <tr [ngClass]="{'fondoamarillo': listaResumen.nombre === 'INMUNIZACIONES','fondoverde':listaResumen.nombre === 'TAMIZAJES','fondoceleste':listaResumen.nombre === 'EVALUACIONES O TEST','fondogris':listaResumen.nombre === 'LABORATORIO'}">
                    <td style="text-transform:uppercase;text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia' }">
                        {{rowIndex+1}}
                    </td>
                    <td style="text-transform:uppercase;text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia' }">
                        {{this.dataConsulta.anio }} (años)    {{this.dataConsulta.mes }} (meses)    {{this.dataConsulta.dia }} (dias)
                    </td>
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.nombre}}
                    </td>
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.evaluacion}}
                    </td >
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.resultado}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <br>
    <!-- Diagnosticos-->
<!--    <p-toolbar>-->
<!--        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"-->
<!--                style="background-color: #0c3866" (click)="SaveDiagnostico()"></button>-->
<!--    </p-toolbar>-->
    <div class="col-12 lg:col-12 md:col-12 col-fixed">
        <p-table [value]="diagnosticos" [rowHover]="true" styleClass="p-datatable-gridlines"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        1. DIAGNÓSTICO NOSOLÓGICO O SINDRÓMICO
                    </div>
                    <div>
                        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"
                                style="background-color: #0c3866" (click)="openDiagnostico()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">CODIGO DE PRESTACION</th>
                    <th style="text-align: center" class="font-2">NOMBRE UPS</th>
                    <th style="text-align: center" class="font-1">DIAGNÓSTICO HIS</th>
                    <th style="text-align: center" class="font-2">CIE 10 HIS</th>
                    <th style="text-align: center" class="font-1">DIAGNÓSTICO SIS</th>
                    <th style="text-align: center" class="font-2">CIE 10 SIS</th>
                    <th style="text-align: center" class="font-2">TIPO</th>
                    <th style="text-align: center" class="font-2">FACTOR CONDICIONAL</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.codPrestacion }}</td>
                    <td style="text-align: center">{{ rowData.nombreUPS }}</td>
                    <td style="text-align: center">{{ rowData.diagnosticoHIS }}</td>
                    <td style="text-align: center">{{ rowData.cie10HIS }}</td>
                    <td style="text-align: center">{{ rowData.diagnosticoSIS }}</td>
                    <td style="text-align: center">{{ rowData.cie10SIS }}</td>
                    <td style="text-align: center">{{ rowData.tipo }}</td>
                    <td style="text-align: center">{{ rowData.factorCondicional }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">
                        </button>
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
<!--     Procedimientos-->
<!--    <div class="col-12 lg:col-12 md:col-12 col-fixed">-->
<!--        <p-table [value]="procedimientos" [rowHover]="true" styleClass="p-datatable-gridlines"-->
<!--                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"-->
<!--                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"-->
<!--                 [filterDelay]="0">-->
<!--            <ng-template pTemplate="caption">-->
<!--                <div class="flex justify-content-between">-->
<!--                    <div class="table-header mt-2">-->
<!--                        2. PROCEDIMIENTOS-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"-->
<!--                                style="background-color: #0c3866" (click)="openProcedimiento()"></button>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate="header">-->
<!--                <tr>-->
<!--                    <th style="text-align: center" class="font-2">Nro</th>-->
<!--                    <th style="text-align: center" class="font-2">COD. PROCEDIMIENTO SIS</th>-->
<!--                    <th style="text-align: center" class="font-2">PROCEDIMIENTO SIS</th>-->
<!--                    <th style="text-align: center" class="font-1">COD. PROCEDIMIENTO HIS</th>-->
<!--                    <th style="text-align: center" class="font-2">PROCEDIMIENTO SIS</th>-->
<!--                    <th style="text-align: center" class="font-1">COD. PRESTACIÓN</th>-->
<!--                    <th style="text-align: center" class="font-2">CIE 10 SIS</th>-->
<!--                    <th style="text-align: center" class="font-2">ACCIÓN</th>-->
<!--                </tr>-->
<!--            </ng-template>-->
<!--            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">-->
<!--                <tr>-->
<!--                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.codProcedimientoSIS }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.procedimientoSIS }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.codProcedimientoHIS }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.procedimientoHIS }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.codPrestacion }}</td>-->
<!--                    <td style="text-align: center">{{ rowData.cie10SIS }}</td>-->
<!--                    <td style="text-align: center">-->
<!--                        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-danger m-1"-->
<!--                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">-->
<!--                        </button>-->
<!--                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"-->
<!--                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">-->
<!--                        </button>-->

<!--                    </td>-->
<!--                </tr>-->
<!--            </ng-template>-->
<!--        </p-table>-->
<!--    </div>-->



</div>

<!-- Diagnóstico --->
<p-dialog header="INGRESAR UN DIAGNOSTICO" [(visible)]="diagnosticoDialog" [modal]="true" [style]="{width: '80%', height: '70%'}"
          [draggable]="false" [resizable]="false">
    <form [formGroup]='formDiagnostico'>
        <div class="grid mt-2 ">
            <div class="col-12 p-fluid">
                <label>Prestacion:</label>
                <p-dropdown [options]="ListaPrestacion" formControlName="prestacion" placeholder="Seleccionar un Diagnostico" optionLabel="descripcion" (onChange)="onChangePrestacion()" >
                    <ng-template let-prestaciones pTemplate="item">
                        <div class="flex align-items-center">
                            <div>{{prestaciones.codigo}}-{{prestaciones.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
<!--                <p-dropdown inputId="dropdown" [options]="ListaPrestacion" formControlName="prestacion"-->
<!--                            placeholder="Seleccionar" optionLabel="descripcion" defaultLabel="Seleccione:" appendTo="body"-->
<!--                            class="inputfield p-fluid w-full" (onChange)="onChangePrestacion()">-->
<!--                </p-dropdown>-->
            </div>
            <div class="col-6 p-fluid">
                <label>Nombre UPS:</label>
                <input type="text" style="text-transform:uppercase"  pInputText class="inputfield p-fluid w-full" formControlName="nombreUPS" disabled/>
            </div>

            <div class="col-6 p-fluid">
                <label>Tipo diagnostico:</label>
                <p-dropdown inputId="dropdown" [options]="tipoList" formControlName="tipoDiagnostico" placeholder="Seleccione"
                            optionLabel="label" optionValue="value" defaultLabel="Seleccione:" appendTo="body"
                            class="inputfield p-fluid w-full">
                </p-dropdown>
            </div>

            <div class="col-12 md:col-6 lg:col-6">
                <p-fieldset legend="DIAGNOSTICO SIS">
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <p-dropdown [options]="listaDeCIEHIS" formControlName="buscarDxSIS" placeholder="Seleccionar un Diagnostico" optionLabel="diagnostico" (onChange)="selectDxSIS()" >
                                <ng-template let-diagnosticos pTemplate="item">
                                    <div class="flex align-items-center">
                                        <div>{{diagnosticos.grupo}}-{{diagnosticos.diagnostico}}-{{diagnosticos.criterio}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <textarea style="text-transform:uppercase"  rows="5" cols="30" pInputTextarea formControlName="diagnosticoSIS"></textarea>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <label>CIE 10: </label>
                        </div>
                        <div class="col-12 p-fluid">
                            <input style="text-transform:uppercase"   pInputText formControlName="cie10SIS">
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-6">
                <p-fieldset legend="DIAGNOSTICO HIS">
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"
                                            appendTo="body" field="descripcionItem" [minLength]="1" class="areaText"
                                            class="inputfield p-fluid w-full" formControlName="buscarDxHIS"
                                            (onSelect)="selectedDxHIS($event)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <textarea rows="5" cols="30" pInputTextarea formControlName="diagnosticoHIS"></textarea>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <label>CIE 10: </label>
                        </div>
                        <div class="col-12 p-fluid">
                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"
                                            appendTo="body" field="codigoItem" [minLength]="1" class="areaText"
                                            class="inputfield p-fluid w-full" formControlName="cie10HIS"
                                            (onSelect)="selectedDxHIS($event)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">
                            </p-autoComplete>
<!--                     <input pInputText formControlName="cie10HIS">-->
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-12">
                <div class="grid mt-2">
                    <div class="col-12 p-fluid">
                        <label >FACTOR CONDICIONAL: </label>
                    </div>
                    <div class="col-12 p-fluid">
                        <input style="text-transform:uppercase"  pInputText formControlName="factorCondicional">
                    </div>
                </div>
            </div>


    </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelDiagnostico()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="getDatatoSaveDx()"></button>

    </ng-template>

</p-dialog>


<!-- Procedimiento --->
<!--<p-dialog header="INGRESAR UN PROCEDIMIENTO" [(visible)]="procedimientoDialog" [modal]="true" [style]="{width: '80%', height: '70%'}"-->
<!--          [draggable]="false" [resizable]="false">-->
<!--    <form [formGroup]='formProcedimiento'>-->
<!--        <div class="grid mt-2 ">-->
<!--            <div class="col-12 p-fluid">-->
<!--                <label>Prestacion:</label>-->
<!--                <p-dropdown [options]="ListaPrestacion" formControlName="prestacion" placeholder="Seleccionar un Diagnostico"  optionLabel="descripcion" (onChange)="onChangePrestacion(2)" >-->
<!--                    <ng-template let-prestaciones pTemplate="item">-->
<!--                        <div class="flex align-items-center">-->
<!--                            <div>{{prestaciones.codigo}}-{{prestaciones.descripcion}}</div>-->
<!--                        </div>-->
<!--                    </ng-template>-->
<!--                </p-dropdown>-->
<!--                &lt;!&ndash;                <p-dropdown inputId="dropdown" [options]="ListaPrestacion" formControlName="prestacion"&ndash;&gt;-->
<!--                &lt;!&ndash;                            placeholder="Seleccionar" optionLabel="descripcion" defaultLabel="Seleccione:" appendTo="body"&ndash;&gt;-->
<!--                &lt;!&ndash;                            class="inputfield p-fluid w-full" (onChange)="onChangePrestacion()">&ndash;&gt;-->
<!--                &lt;!&ndash;                </p-dropdown>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="col-12 md:col-6 lg:col-6">-->
<!--                <p-fieldset legend="DIAGNOSTICO SIS">-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <p-dropdown [options]="listaDeProcedimientos" formControlName="buscarPDxSIS" placeholder="Seleccionar un Diagnostico" optionLabel="procedimiento" (onChange)="selectDxSIS(2)" >-->
<!--                                <ng-template let-procedimientos pTemplate="item">-->
<!--                                    <div class="flex align-items-center">-->
<!--                                        <div>{{procedimientos.codigo}}-{{procedimientos.procedimiento}}</div>-->
<!--                                    </div>-->
<!--                                </ng-template>-->
<!--                            </p-dropdown>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <textarea style="text-transform:uppercase"  rows="5" cols="30" pInputTextarea formControlName="procedimientoSIS"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <label>CIE 10: </label>-->
<!--                        </div>-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <input style="text-transform:uppercase"   pInputText formControlName="codProcedimientoSIS">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </p-fieldset>-->
<!--            </div>-->
<!--            <div class="col-6">-->
<!--                <p-fieldset legend="DIAGNOSTICO HIS">-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"-->
<!--                                            appendTo="body" field="descripcionItem" [minLength]="1" class="areaText"-->
<!--                                            class="inputfield p-fluid w-full" formControlName="buscarPDxHIS"-->
<!--                                            (onSelect)="selectedDxHIS($event,2)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">-->
<!--                            </p-autoComplete>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <textarea rows="5" cols="30" pInputTextarea formControlName="procedimientoHIS"></textarea>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="grid mt-2">-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <label>CIE 10: </label>-->
<!--                        </div>-->
<!--                        <div class="col-12 p-fluid">-->
<!--                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"-->
<!--                                            appendTo="body" field="codigoItem" [minLength]="1" class="areaText"-->
<!--                                            class="inputfield p-fluid w-full" formControlName="codProcedimientoHIS"-->
<!--                                            (onSelect)="selectedDxHIS($event,2)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">-->
<!--                            </p-autoComplete>-->
<!--                            &lt;!&ndash;                     <input pInputText formControlName="cie10HIS">&ndash;&gt;-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </p-fieldset>-->
<!--            </div>-->


<!--        </div>-->
<!--    </form>-->
<!--    <ng-template pTemplate="footer">-->
<!--        <button pButton type="button" label="Cancelar" class="button-cancelar"-->
<!--                icon="pi pi-times" (click)="cancelProcedimiento()"></button>-->
<!--        <button class="button-agregar" icon="pi pi-save" pButton type="button"-->
<!--                label="Guardar" (click)="getDatatoSavePx()"></button>-->

<!--    </ng-template>-->

<!--</p-dialog>-->
