<div class="grid">
    <div class="col-12">
        <p-table [value]="tablaResumenDx" styleClass="p-datatable-gridlines"  responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        RESUMEN DE RESULTADOS DE EVALUACIONES - TESTS - TAMIZAJES - INMUNIZACIONES - LABORATORIO
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">NOMBRE</th>
                    <th style="text-align: center" class="font-2">EVALUACION</th>
                    <th style="text-align: center" class="font-2">RESULTADO</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-listaResumen let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
                <tr [ngClass]="{'fondoamarillo': listaResumen.nombre === 'INMUNIZACIONES','fondoverde':listaResumen.nombre === 'TAMIZAJES','fondoceleste':listaResumen.nombre === 'EVALUACIONES O TEST','fondogris':listaResumen.nombre === 'LABORATORIO'}">
                    <td style="text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' }">
                        {{rowIndex+1}}
                    </td>
                    <td style="text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' }">
                        {{listaResumen.nombre}}
                    </td>
                    <td style="text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' }">
                        {{listaResumen.evaluacion}}
                    </td >
                    <td style="text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' }">
                        {{listaResumen.resultado}}
                    </td>

                </tr>
            </ng-template>

        </p-table>


    </div>

    <div class="col-12 lg:col-12 md:col-12 col-fixed">
        <p-table [value]="diagnosticoNosologico" [rowHover]="true"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        1. DIAGNÓSTICO NOSOLÓGICO O SINDRÓMICO
                    </div>
                    <div>
                        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"
                                style="background-color: #0c3866" (click)="openDiagnostico()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-1">CIE 10</th>
                    <th style="text-align: center" class="font-2">DIAGNOSTICOS</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.codigoItem }}</td>
                    <td style="text-align: center">{{ rowData.descripcionItem }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <div class="col-12 lg:col-12 md:col-12 col-fixed">
        <p-table [value]="diagnosticoNosologico" [rowHover]="true"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        1. TABLA DE REGISTRO HIS
                    </div>
                    <div>
                        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"
                                style="background-color: #0c3866" (click)="openDiagnostico()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-1">Cod. Prestación de Servicios</th>
                    <th style="text-align: center" class="font-2">Descripción</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.codigoItem }}</td>
                    <td style="text-align: center">{{ rowData.descripcionItem }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                                (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">
                        </button>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>


</div>

<!-- Diagnóstico --->
<p-dialog header={{titulo()}} [(visible)]="diagnosticoDialog" [modal]="true" [style]="{width: '50%', height: '60%'}"
          [draggable]="false" [resizable]="false">
    <div class="grid">
        <div class="col-6 justify-content-center">
            <div class="p-field-radiobutton">
                <p-radioButton name="city"
                               [(ngModel)]="opcionBusqueda"
                               value="porDescripcion"
                               inputId="opcion1">

                </p-radioButton>
                <label>Buscar por Descripcion</label>
            </div>
        </div>
        <div class="col-6 justify-content-center">
            <div class="p-field-radiobutton">
                <p-radioButton name="city"
                               [(ngModel)]="opcionBusqueda"
                               value="porcie10"
                               inputId="opcion2">

                </p-radioButton>
                <label>Buscar por Cie10</label>
            </div>
        </div>
    </div>
    <form [formGroup]='form' (ngSubmit)="saveDiagnostico(formTemplate)" #formTemplate="ngForm">
        <div class="grid" style="margin-top:10px;">
            <div class="grid col-12 justify-content-center">
                <label *ngIf="opcionBusqueda=='porDescripcion'">
                    Descripción del diagnóstico:
                </label>
            </div>
            <div class="grid col-12 p-fluid" style="margin-top:10px;">
                <p-autoComplete *ngIf="opcionBusqueda==='porDescripcion'"
                                formControlName="diagnostico"
                                [suggestions]="Cie10"
                                (completeMethod)="filterDiagnostico($event)"
                                field="descripcionItem"
                                [minLength]="1"
                                placeholder="Descripcion"
                                scrollHeight="400px"
                                autoHighlight="true"
                                class="areaText">
                </p-autoComplete>
            </div>
        </div>
        <div class="grid">
            <div class="grid col-12 justify-content-center">
                <label *ngIf="opcionBusqueda=='porcie10'">Busqueda por CIE 10:</label>
            </div>
            <div class="grid col-12 p-fluid" style="margin-top:10px;">
                <p-autoComplete *ngIf="opcionBusqueda=='porcie10'" formControlName="diagnostico"
                                [suggestions]="Cie10" disabled
                                (completeMethod)="filterDiagnostico($event)" field="codigoItem"
                                [minLength]="1" placeholder="CIE 10">
                </p-autoComplete>
            </div>
        </div>

    </form>
    <div *ngIf="hayError"
         class="alert alert-danger">
        No se encontró nada en el término
    </div>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelDiagnostico()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="saveDiagnostico(formTemplate)"></button>

    </ng-template>
</p-dialog>
