p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}
.rojo{
    font-weight: 700;
    color: #bf0d21;
}
:host ::ng-deep .rojofondo {
    background-color: #fcbfba !important;
}
:host ::ng-deep .fondoamarillo {
    background-color: #ffff9e !important;
}
:host ::ng-deep .fondoverde {
    background-color: #d3ffaa !important;
}
:host ::ng-deep .fondoceleste {
    background-color: #d9e5ff !important;
}
:host ::ng-deep .fondogris {
    background-color: #d5d5d5 !important;
}
.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

.button-toolbar {
    margin: 5px;
}

.button-cancelar {
    background: #BF0D21;
}

.button-agregar {
    background: #003C71;
}

p-calendar >>> .p-button.p-button-icon-only {
    background-color: #003c71;
}

p {
    margin: 0;
}

.table-over {
    overflow-x: auto;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-d-inline {
    width: auto;
    z-index: 5;
}

:host >>> .p-dialog {
    z-index: 5;
    width: auto;
    background: #FFFFFF;
}

.p-table >>> .p-table {
    overflow-x: auto;
}

p-panel >>> .p-panel .p-panel-header {
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;

}

p-panel >>> .p-panel .p-panel-content {
    border: 1px solid #D32F2F;

}

/*estilo para responsive formulario*/
.resp {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 0.5rem;
    padding: 2px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media (min-width: 300px) {

}

@media (min-width: 500px) {

}

@media (min-width: 900px) {

}
p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
}

