p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
  background: #0c3866;
  border-color: #0c3866;
}
p-calendar >>> .p-button {
  background: #0c3866;
  border: 1px solid #0c3866;
  align-self: center;
}
.guardar {
  background: #0c3866;
  border-color: #0c3866;
  align-items: center;
}
p-card >>> .p-card .p-button {
  background: #0c3866;
  border-color: #0c3866;
  align-items: center;
}
