<div class="p-panel">
    <br>
    <div class="grid">
        <div class="col-12 md:col-6 lg:col-12 p-field" style="text-align:center;">
            <label style="font-size: 16px;">LISTA DE SOLICITUD DE LABORATORIOS</label>
        </div>
    </div>
    <br>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <form [formGroup]="formListaLabo">
                <div class="grid">
                    <div class="col-12 md:col-4 lg:col-3 p-fluid">
                        <label class="">TIPO DOC</label>
                        <p-dropdown [options]="listaDocumentosIdentidad"
                                    formControlName="tipoDoc"
                                    placeholder="Tipo Documento"
                                    optionLabel="abreviatura"
                                    optionValue="abreviatura"
                                    [showClear]="false">
                        </p-dropdown>
                    </div>
                    <div class="col-12 md:col-4 lg:col-5 p-field">
                        <label class="">DOCUMENTO DEL PACIENTE</label>
                        <div class="p-inputgroup">
                            <input type="text" pInputText formControlName="nroDoc"/>
                            <p-button icon="pi pi-search"></p-button>
                        </div>
                    </div>
                    <div class="col-12 md:col-4 lg:col-4 p-field">
                        <label class="">FILTRAR POR FECHA</label>
                        <div class="p-inputgroup">
                            <p-calendar dateFormat="yy-mm-dd"
                                        formControlName="fechaBusqueda"
                                        [readonlyInput]="true"
                                        (onSelect)="listaLab()">
                            </p-calendar>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="right">
            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-success"></button>
        </ng-template>
    </p-toolbar>
</div>

<p-accordion>
    <p-accordionTab header="LISTA DE PACIENTES CON CUPOS PARA EL DIA DE HOY" [selected]="true">
        <p-table [value]="DataLisLab" #dt [globalFilterFields]="['fecha']" styleClass="p-datatable-gridlines "
                 [rows]="10" [loading]="loading" responsiveLayout="scroll" class="CitasList"
                 [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center; font-size: 11px">Nro</th>
                    <th style="text-align: center; font-size: 11px">DNI</th>
                    <th style="text-align: center; font-size: 11px">APELLIDOS</th>
                    <th style="text-align: center; font-size: 11px">NOMBRES</th>
                    <th style="text-align: center; font-size: 11px">FECHA REGISTRO</th>
                    <th style="text-align: center; font-size: 11px">SERVICIO</th>
                    <th style="text-align: center; font-size: 11px">NOMBRE DEL EXAMEN</th>

                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center; font-size: 11px">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.datosPaciente.nroDoc}}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.datosPaciente.apeMaterno}}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.datosPaciente.primerNombre}}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.fechaRegistro}}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.datosLaboratorio.servicio}}</td>
                    <td style="text-align: center; font-size: 11px">{{ rowData.datosLaboratorio.nombreExamen}}</td>

                    <td style="text-align: center">
                        <button pButton pRipple type="button" label="Resultados"
                                class="p-button-secondary"
                                style="; font-size: 11px" (click)="openDialogLab(rowData)"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-accordionTab>
</p-accordion>

<p-table [value]="data" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="8">Resultados: Análisis</th>
            <th colspan="4">Tipo de Muestra:</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-editing="editing">
        <tr>
            <td>Hemoglobina:</td>
            <td colspan="3" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.hemoglobina" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.hemoglobina | currency: ' g/dl '}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Rcto. Globulos rojos:</td>
            <td colspan="3" pEditableColumn>
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.rctoGlobulosRojos" required >
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.rctoGlobulosRojos}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td colspan="2" rowspan="2">Velocidad de Sedimentación Globular(VSG)</td>
            <td colspan="3">16</td>
        </tr>
        <tr>
            <td>Hematocrito:</td>
            <td colspan="3">12</td>
            <td>Rcto. Plaquetas:</td>
            <td colspan="3">14</td>
            <td colspan="2">16</td>
        </tr>
        <tr>
            <td>Grupo sanguíneo:</td>
            <td colspan="3">12</td>
            <td>Rcto. Globulos Blancos:</td>
            <td colspan="3">14</td>
            <td colspan="4">CONSTANTES CORPUSCULARES</td>
        </tr>
        <tr>
            <td>Factor Rh:</td>
            <td colspan="3">12</td>
            <td colspan="4">FORMULA LEUCOCITARIA</td>
            <td>V.C.M.</td>
            <td>1</td>
            <td>V.R.</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Tiempo de Sangría:</td>
            <td colspan="3">12</td>
            <td>Blastos:</td>
            <td>1</td>
            <td>Linfocitos:</td>
            <td>1</td>
            <td>C.H.C.M.</td>
            <td>1</td>
            <td>V.R.</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Tiempo de Coagulación:</td>
            <td colspan="3">12</td>
            <td>Juveniles:</td>
            <td>1</td>
            <td>Monocitos:</td>
            <td>1</td>
            <td>H.C.M.</td>
            <td>1</td>
            <td>V.R.</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Tiempo de Protrombina:</td>
            <td>12</td>
            <td>V.R.</td>
            <td>1</td>
            <td>Neutrófilos:</td>
            <td>1</td>
            <td>Eonófilos:</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Tiempo de Tromboplastina:</td>
            <td>12</td>
            <td>V.R.</td>
            <td>1</td>
            <td>Abastonados:</td>
            <td>1</td>
            <td>Basófilos:</td>
            <td>1</td>
        </tr>
        <tr>
            <td>Reticulocitos:</td>
            <td>12</td>
            <td>V.R.</td>
            <td>1</td>
            <td>N. Segmenentados:</td>
            <td>1</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Compatibilidad sanguínea</td>
            <td colspan="7"></td>
        </tr>
    </ng-template>
</p-table>