p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}

.pesoTalla {
    border-radius: 10px;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}

p-checkbox >>> .p-checkbox .p-checkbox-box .p-chkbox-icon {
    border-radius: 50% !important;
    /* content: url("src\assets\svg-icons\check-svgrepo-com.svg"); */
    /* font-family: 'FontAwesome'; /* Indicamos que la tipografía es FontAwesome */
    content: "\f140";
}

/* ::ng-deep .p-checkbox .p-checkbox-icon{
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
    width: 15px;
    height: 15px;   
} */

p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

.texto {
    font-size: 0.65rem;
    font-weight: bold;
}

.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}

.amarillo .p-checkbox .p-checkbox-box {
    background: red !important;
}

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
    background: rgb(242, 236, 56);
    border-color: rgb(242, 236, 56);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
    content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
    background: rgb(242, 236, 56);
    border: rgb(242, 236, 56);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
    background: red;
    border: red;
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: red;
    background: red;
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box {
    border-color: red;
    background: red;
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover {
    border-color: red;
    background: red;
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon {
    background: #2196f3;
    border: #2196f3;
}

::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight {
    background: #2196f3;
    border: #2196f3;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type='number'] {
    padding-left: 0.3em;
    text-align: left;
}

