p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
  background: rgb(149 158 166);
  border-color: rgb(149 158 166);
}

p-calendar >>> .p-button {
  background: #0c3866;
  border: 1px solid #0c3866;
  align-self: center;
}

.guardar {
  background: #0c3866;
  border-color: #0c3866;
  align-items: center;
}

p-toolbar >>> * {
  align-self: center;
}

.pesoTalla {
  border-radius: 10px;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: #d8dee5;
  font-weight: 600;
  border-radius: 5px;
  font-size: small;
}

p-checkbox >>> .p-checkbox .p-checkbox-box .pi-check:before {
  content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

.texto {
  font-size: 0.65rem;
  font-weight: bold;
}

.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
  font-size: 3em;
}

/*.amarillo .p-checkbox .p-checkbox-box {*/
/*  background: rgba(197, 0, 9, 0.63) !important;*/
/*}*/

::ng-deep .amarillo .p-checkbox .p-checkbox-box {
  background: rgb(234, 187, 38);
  border-color: rgb(206 212 218);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-icon {
  content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-box,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon {
  background: rgb(234, 187, 38);
  border-color: rgb(206 212 218);
}

::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box,
::ng-deep .rojo .p-radiobutton .p-radiobutton-box.p-highlight:hover,
::ng-deep .rojo .p-radiobutton .p-radiobutton-icon {
  border-color: rgb(246, 26, 26);
  background: rgba(197, 0, 9, 0.63);
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight,
::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight:hover {
  background: #ffffff;
  border-color: rgb(206 212 218);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  padding-left: 0.1em;
  text-align: left;
}

::ng-deep .dialogo .p-dialog-mask .p-element {
  display: block;
}

::ng-deep .p-inputtextarea .p-disabled  {
  background: rgba(197, 0, 9, 0.63);
}

.p-inputtextarea:disabled{
  opacity: 1;
}


.border {
  border: 1px solid rgb(222 226 230);
  border-radius: 3px;
  background:#FFFFFF;
}
.border2 {
  border: 1px solid rgb(222 226 230);
  border-radius: 3px;
  background: #f3f3f3;
}

p-toolbar >>> .p-toolbar {
  background: rgb(216 222 229);
  border: 1px solid rgb(222 226 230);
  padding: 0.5rem;
  height: auto;
  border-radius: 3px;
}

p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover {
  border-color: rgb(164, 164, 164);
}


p-checkbox >>> .p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
  border: rgb(164, 164, 164);
  background: rgb(164, 164, 164);

}

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled).p-radiobutton-box.p-highlight:hover {
  border: rgb(164, 164, 164);
  background: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton:not(.p-radiobutton-disabled) .p-radiobutton-box:hover {
  border-color: rgb(164, 164, 164);
}

p-radiobutton >>> .p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border: rgb(164, 164, 164);
  background: rgb(164, 164, 164);
}


label {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*font-weight: bold;*/
  color: rgb(135 135 135);
}
