
.font-1{
    font-size: .8em;
}
.font-2{
    font-size: .7em;
}
.button-toolbar{
    margin: 5px;
}
.button-cancelar{
     background: #BF0D21;

 }
.button-agregar{
    background: #003C71;

}
.button-graficar {
    background: #CE9104;
}
.input .label {
    display: flex;
    padding: 15px;
    font-size: 16px;
}

.form-register{
    width: 95%;

    maring: auto;
    background: white;
    border-radius: 7px;
    height: 90%;
    font-size: small;
}
p {
    margin: 0;
}
.table-over{
    overflow-x: auto;
}

.confirmation-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*PANTALLA TABLET*/
@media only screen and (max-width: 961px){
.table-over{
    overflow-x: auto;
}
}
/*PANTALLA  SMARTPHONE*/
@media only screen and (min-width: 400px) and (max-width: 700px){

}
