p-panel>>>.p-panel {

    border: 1px solid #D32F2F;
    color: #FFFFFF;

}
.button-agregar{
    background: #003C71;
}
.button-graficar {
    background: #003C71;
}
.input .label {
    display: flex;
    padding: 15px;
    font-size: 16px;
}

.form-register{
    width: 95%;

    maring: auto;
    background: white;
    border-radius: 7px;
    height: 90%;
    background:#FFFFFF;
    font-size: small;
}

/*.grid-res{*/
/*    display:grid;*/
/*    gap: 1rem;*/
/*    grid-auto-rows: 22rem;*/
/*    grid-template-columns: repeat(auto-fill,minmax(15rem,1fr));*/

/*    grid-auto-flow: dense;*/
/*}*/
/*PANTALLA TABLET*/
@media only screen and (min-width: 40rem){

}
/*PANTALLA  SMARTPHONE*/
@media only screen and (min-width: 400px) and (max-width: 700px){
    /*.input-50{*/
    /*    width: 80%;*/
    /*    margin: 0 auto;*/
    /*    font-size: 15px;*/
    /*}*/
}
/*p-panel>>>.p-panel .p-panel-content{*/
/*    border: 1px solid #D32F2F;*/
/*    color: #FFFFFF;*/

/*}*/