.form input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #ffffff;
    width: 83%;
    margin: 1px 0 12px;
    padding: 12px;
    box-sizing: border-box;
    font-size: 12px;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.logo_Region {
    width: 40%;
    height: 60%;
}


p-password >>> .p-password input {
    width: 15rem;
    font-size: 12px;
    padding: 12px;
    font-family: "Roboto", sans-serif;
}


.login-page {
    width: 350px;
    padding: 8% 0px 5%;
    margin: auto;
}

.form {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 350px;
    margin: 0px auto 0;
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #AF0017;
    width: 35%;
    margin: 15px;
    padding: 10px;
    color: #ffeaf3;
    font-size: 14px;
    border-color: #AF0017;
    /*-webkit-transition: all 0.3 ease;*/
    /*transition: all 0.3 ease;*/
    cursor: pointer;
}

.form button:hover, .form button:active, .form button:focus {
    border-color: #AF0017;
    background-color: #ffffff;
    color: #AF0017;
}

.form .message {
    margin: 15px 0 0;
    color: #333232;
    font-size: 12px;
}

.form .message a {
    color: #AF0017;
    text-decoration: none;
}

.form .register-form {
    display: none;
}

html {
    margin: auto;
    height: 101vh;
    width: auto;
    webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}