:host ::ng-deep .table-over .p-table {
    margin: 0;
    padding: 0;
}
.divcero {
    margin: 0;
    padding: 0;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    font-size: small;
    word-wrap: break-word;
    padding: 0.2rem;
    border: 1px solid #b6b6b6;
    background-color: #dddddd;
}
p-table >>> .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    font-size: x-small;
    word-wrap: break-word;
    padding: 0.2rem;
}

p-table >>> .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    font-size: x-small;
    word-wrap: break-word;
    color: rgb(6, 51, 95);
    border: 1px solid #b6b6b6;
}
.label-text{
    display: flex;
    align-items: center;
}