<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Datos Generales de la Gestante</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <form [formGroup]='form'>
        <div class="grid">
            <div class=" col-12 md:col-3 py-5">
                <div class="imagen"></div>
            </div>
            <div class="col-12 md:col-9">
                <div class="formgrid grid">
                    <div class="field col-12">
                        <div class="grid pr-3">
                            <div class="col-3 text-right">
                                <label>Nombre de la gestante:</label>
                            </div>
                            <div class="col-9">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-6 md:col-2">
                        <div class="grid pr-3">
                            <div class="col-4">
                                <label>Edad: </label>
                            </div>
                            <div class="col-8">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-6 md:col-3">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>H. Cl.: </label>
                            </div>
                            <div class="col-9">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-6 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-6">
                                <label>Grupo Sanguineo: </label>
                            </div>
                            <div class="col-6">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-6 md:col-3">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>FPP: </label>
                            </div>
                            <div class="col-9">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="grid pr-3">
                            <div class="col-4">
                                <label>Dirección (Comunidad, Sector, Anexo): </label>
                            </div>
                            <div class="col-8">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>Dirección de Referencia: </label>
                            </div>
                            <div class="col-9">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>E.E.S.S.: </label>
                            </div>
                            <div class="col-9">
                                <p-dropdown class="p-fluid w-full" placeholder="Seleccionar E.E.S.S"
                                    optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>MICRO RED: </label>
                            </div>
                            <div class="col-9">
                                <p-dropdown class="p-fluid w-full" placeholder="Seleccionar Micro Red"
                                    optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-2">
                                <label>RED: </label>
                            </div>
                            <div class="col-10">
                                <p-dropdown class="p-fluid w-full" placeholder="Seleccionar Red"
                                    optionLabel="name" [showClear]="true"></p-dropdown>
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-5">
                                <label>Telf. del E.E.S.S.:</label>
                            </div>
                            <div class="col-7">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-6">
                                <label>Frecuencia de Radio del EE.SS.: </label>
                            </div>
                            <div class="col-6">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12 md:col-4">
                        <div class="grid pr-3">
                            <div class="col-4">
                                <label>Telf. de la Comunidad: </label>
                            </div>
                            <div class="col-8">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="grid pr-3">
                            <div class="col-3">
                                <label>Nombre del promotor de Salud: </label>
                            </div>
                            <div class="col-9">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                    <div class="field col-12">
                        <div class="grid pr-3">
                            <div class="col-5 text-right">
                                <label>Tiempo que tarda en llegar al establecimiento: </label>
                            </div>
                            <div class="col-7">
                                <input class="inputfield w-full" type="text" pInputText formControlName='descripcion'
                                    required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>