<div>
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">PUERPERIO</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
            <button pButton pRipple label="Guardar" iconPos="right" icon="pi pi-save"
                    class="guardar mr-2"></button>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" (click)="confirm()" icon="pi pi-save" class="p-button-danger mr-2"
                    style="background: #2196F3; border: 1px solid #2196F3;"></button>
            <button pButton pRipple label="Continuar" routerLink=".." icon="pi pi-angle-right" iconPos="right" style="background-color: #003c71"
            ></button>
        </ng-template>

    </p-toolbar>
    <p-table [value]="puerperios" #dt [rows]="5" styleClass="p-datatable-gridlines" [paginator]="true"
             [autoLayout]="true" class="m-3"
             currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
             [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <h3>Recien Nacidos</h3>
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                        (click)="openDialogPuerperio()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Fecha Aten.</th>
                <th style="text-align: center">Pulso</th>
                <th style="text-align: center">Horas/Dias Post</th>
                <th style="text-align: center">Invol. Uterina</th>
                <th style="text-align: center">T°</th>
                <th style="text-align: center">P.A.</th>
                <th style="text-align: center">Herida Operacion</th>
                <th style="text-align: center">Carac. Loquios</th>
                <th style="text-align: center">Obs.</th>
                <th style="text-align: center;width: 8rem">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr style="text-align: center">
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.fechaAtencion }}</td>
                <td style="text-align: center">{{ rowData.pulso}}</td>
                <td style="text-align: center">{{ rowData.horasDiasPostPartoAborto}}</td>
                <td style="text-align: center">{{ rowData.involucionUteriana}}</td>
                <td style="text-align: center">{{ rowData.temperatura }}
                <td style="text-align: center">{{ rowData.presionArterialMaxima }}</td>
                <td style="text-align: center">{{ rowData.heridaOperacion }}</td>
                <td style="text-align: center">{{ rowData.caracteristicasLoquios }}</td>
                <td style="text-align: center">{{ rowData.observaciones }}</td>

                <td style="text-align: center;width: 8rem; display: flex">
                    <button pButton (click)="openDialogEditarPuerperio(rowData,rowIndex)" pTooltip="Editar" pRipple type="button"
                            icon="pi pi-pencil" class="p-button-rounded m-1">
                    </button>
                    <button pButton (click)="openDialogEditarPuerperio2(rowData,rowIndex)" pTooltip="Visualizar" pRipple type="button"
                            icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <br>

</div>
