<form [formGroup]="formInmunologia">
    <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
        <div class="grid m-2">
            <div class="col-12 md:col-12 md:col-6 lg:col-12 p-field">
                <div class="grid">
                    <div class="col-12 md:col-6 lg:col-6 flex align-items-center">
                        <div class="col-fixed" style="width:140px"><span>Apellidos y Nombres:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="apellidosNombres"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:50px"><span>Edad:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="edad"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:70px"><span>N° H.CL:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="nroHistoria"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:70px"><span>N° S.I.S:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="nroSis"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-5 flex align-items-center">
                        <div class="col-fixed" style="width:90px"><span>Solicitante:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="solicitante"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-3 flex align-items-center">
                        <div class="col-fixed" style="width:120px"><span>Hora de Muestra:</span></div>
                        <p-calendar
                                class="w-full text-center justify-content-center"
                                [timeOnly]="true"
                                [ngModel]="fecha"
                                formControlName="horaMuestra"
                                inputId="timeonly">
                        </p-calendar>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:90px"><span>N° Muestra:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="nroMuestra"/>
                    </div>
                    <div class="col-12 md:col-6 lg:col-2 flex align-items-center">
                        <div class="col-fixed" style="width:70px"><span>N° Cama:</span></div>
                        <input type="text" pInputText class="w-full text-center" formControlName="nroCama"/>
                    </div>
                </div>
                <p-divider align="center" type="dashed">
                </p-divider>
            </div>
        </div>
    </div>
</form>
<p-table [value]="dataInmunologia" responsiveLayout="scroll" styleClass="p-datatable-gridlines">
    <ng-template pTemplate="header">
        <tr>
            <th colspan="6" style="text-align:center">Resultados: Análisis Inmunológicos</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data let-editing="editing">
        <tr>
            <td>Reaccion de Widal:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.reaccionWidal" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.reaccionWidal }}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Proteína C.Reactiva-PCR:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.proteinaCReactiva" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.proteinaCReactiva}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Tipo de Muestra:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.tipoMuestra" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.tipoMuestra}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>Ag. Típhyco "O":</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.agTiphyco_o" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.agTiphyco_o | currency:'dils.':'symbol':'1.1-1':'fr'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Factor Reumatoideo:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.factorReumatoideo" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.factorReumatoideo}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td colspan="2" style="text-align:center">B-HCG (Test de Embarazo)</td>
        </tr>
        <tr>
            <td>Ag. Típhyco "H":</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.agTiphyco_h" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.agTiphyco_h | currency:'dils.':'symbol':'1.1-1':'fr'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Antiestreptolisinas "O" ASO:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.antiestreptolisinasO" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.antiestreptolisinasO}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Resultado:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.bhcg.resultado" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.bhcg.resultado}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>Ag. Paratíphyco "A":</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.agTiphyco_a" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.agTiphyco_a  | currency:'dils.':'symbol':'1.1-1':'fr'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>R.P.R.:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.rpr" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.rpr | currency:'dils.':'symbol':'1.1-1':'fr'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Muestra:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.bhcg.muestra" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.bhcg.muestra}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>Ag Paratíphyco "B":</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.agTiphyco_b" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.agTiphyco_b | currency:'dils.':'symbol':'1.1-1':'fr'}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Sifilis (prueba rápida):</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.sifilis" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.sifilis}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Reactivo:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.bhcg.reactivo" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.bhcg.reactivo}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>HBsAg:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.hbsAg" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.hbsAg}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>V.I.H.1 y V.I.H.2 (prueba rápida):</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.vih12" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.vih12}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>Grupo sanguíneo:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.grupoSanguineo" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.grupoSanguineo}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>PSA Total (prueba rápida)</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.psaTotal" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.psaTotal}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
        <tr>
            <td>Factor Rh:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.factorRH" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.factorRH}}
                    </ng-template>
                </p-cellEditor>
            </td>
            <td>Otros:</td>
            <td pEditableColumn style="text-align:center">
                <p-cellEditor>
                    <ng-template pTemplate="input">
                        <input pInputText type="text" [(ngModel)]="data.otros" required>
                    </ng-template>
                    <ng-template pTemplate="output">
                        {{data.otros}}
                    </ng-template>
                </p-cellEditor>
            </td>
        </tr>
    </ng-template>
</p-table>
<div class="flex justify-content-end">
    <ng-template [ngIf]="!config.data.edit">
        <button [hidden]="config.data.edit" style="background-color: #0c3866" class=""
                pButton type="button"
                (click)="Guardar()">Guardar
        </button>
    </ng-template>
</div>