<p-card>
  <p-table
    [value]="data"
    #dt
    styleClass="p-datatable-gridlines"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [autoLayout]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <h3>Condicion paciente discapacidad</h3>
        <button
          pButton
          type="button"
          label="Agregar"
          icon="pi pi-plus"
          (click)="isUpdate = false; agregarActualizar()"
          pTooltip="Agregar condicion pasiente discapacidad"
          tooltipPosition="bottom"
          class="p-button-danger p-button-sm"
          pRipple
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th class="text-center">Nro</th>
        <th class="text-center">Id CPD</th>
        <th class="text-center">Nombre</th>
        <th class="text-center">Acciones</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td class="text-center text-800">{{ rowIndex + 1 }}</td>
        <td class="text-center text-800">{{ rowData.idcpd }}</td>
        <td class="text-center text-800">{{ rowData.nombre }}</td>
        <td class="flex justify-content-around">
          <span class="p-column-title">Acciones</span>
          <button
            pButton
            pRipple
            type="button"
            (click)="isUpdate = true; agregarActualizar(rowIndex)"
            icon="pi pi-pencil"
            pTooltip="Actualizar condicion paciente discapacidad"
            tooltipPosition="bottom"
            class="p-button-raised p-button-info p-button-rounded"
          ></button>
          <button
            pButton
            pRipple
            type="button"
            (click)="deleteCPD(rowIndex)"
            icon="pi pi-trash"
            pTooltip="Eliminar condicion paciente discapacidad"
            tooltipPosition="bottom"
            class="p-button-raised p-button-danger p-button-rounded"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
<p-confirmDialog
  [breakpoints]="{ '960px': '25vw', '640px': '100vw' }"
  [style]="{ width: '25vw' }"
  key="positionDialog"
  [baseZIndex]="10000"
></p-confirmDialog>
<p-toast></p-toast>
