:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr  {
    display: flex;
    flex-direction: row;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr  {
    display: flex;
    flex-direction: row;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr  {
    display: flex;
    flex-direction: row;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr  {
    display: flex;
    flex-direction: row;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    margin: 0px;
    padding: 5px;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    margin:0px;
    padding: 5px;
}
::ng-deep  .p-datatable table {
    width: auto;
}
/*stylos para poner frozen*/
.frozenCol {
    background: inherit;
    grid-area: topright;
    border: solid 1px black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .frozenCol:after {
    bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 1px black !important;
  }
  .frozenCol-th {
      background: inherit;
    position: sticky;
    top: 0;
  }
  .frozenCol-th::after {
    position: absolute;
    overflow-x: auto;
  }
  