<p-card>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">EVALUACION DE LA ALIMENTACIÓN DE LA NIÑA Y EL NIÑO</h3>
        </ng-template>
    </p-toolbar>
    <div>

        <p-table
                [scrollable]="true"
                scrollHeight="600px"
                scrollWidth="100%"
                [value]="evaluacionAlimenticia"
                scrollDirection="both"
                dataKey="id"
                responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:300px; height: 30px">EDAD</th>
                    <th style="width:100px; height: 30px">RN</th>
                    <th style="width:100px; height: 30px">1m</th>
                    <th style="width:100px; height: 30px">2m</th>
                    <th style="width:100px; height: 30px">3m</th>
                    <th style="width:100px; height: 30px">4m</th>
                    <th style="width:100px; height: 30px">5m</th>
                    <th style="width:100px; height: 30px">6m</th>
                    <th style="width:100px; height: 30px">7m</th>
                    <th style="width:100px; height: 30px">8m</th>
                    <th style="width:100px; height: 30px">9m</th>
                    <th style="width:100px; height: 30px">10m</th>
                    <th style="width:100px; height: 30px">11m</th>
                    <th style="width:100px; height: 30px">12m</th>
                    <th style="width:100px; height: 30px">14m</th>
                    <th style="width:100px; height: 30px">16m</th>
                    <th style="width:100px; height: 30px">18m</th>
                    <th style="width:100px; height: 30px">20m</th>
                    <th style="width:100px; height: 30px">22m</th>
                    <th style="width:100px; height: 30px">24m</th>
                    <th style="width:100px; height: 30px">27m</th>
                    <th style="width:100px; height: 30px">30m</th>
                    <th style="width:100px; height: 30px">33m</th>
                    <th style="width:100px; height: 30px">36m</th>
                    <th style="width:100px; height: 30px">39m</th>
                    <th style="width:100px; height: 30px">42m</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-datos>
                <tr *ngIf="datos.titulo ==='Fecha'">
                    <td style="width:300px; height: 40px;" class="titulotablaFecha">{{datos.titulo}}</td>
                    <td style="width:100px; height: 40px;" pEditableColumn>{{datos.valorRN| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor1M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor2M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor3M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor4M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor5M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor6M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor7M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor8M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor9M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor10M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor11M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor12M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor14M| date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor16M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor18M| date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor20M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor22M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor24M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor27M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor30M | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor33M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor36M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor39M | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>{{datos.valor42M | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                </tr>
                <tr *ngIf="datos.titulo !=='Fecha'">
                    <td *ngIf="datos.titulo !=='Observaciones'" style="width:300px; height: 40px"
                        class="titulotabla">{{datos.titulo}}</td>
                    <td *ngIf="datos.titulo ==='Observaciones'" style="width:300px; height: 40px"
                        class="titulotablaFecha">{{datos.titulo}}</td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valorRN" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor1M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor2M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor3M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor4M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor5M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor6M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor7M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor8M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor9M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor10M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor11M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor12M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor14M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor16M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor18M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor20M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor22M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor24M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor27M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor30M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor33M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor36M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor39M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                    <td style="width:100px; height: 40px" pEditableColumn>
                        <p-toggleButton [(ngModel)]="datos.valor42M" onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="true"></p-toggleButton>
                    </td>
                </tr>
            </ng-template>
        </p-table>

    </div>
</p-card>