::ng-deep .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    /* font-size: 0.9rem; */
  }