.guardar {
  background: #0c3866;
  border-color: #0c3866;
  align-items: center;
}
p-calendar >>> .p-button {
  background: #0c3866;
  border: 1px solid #0c3866;
  align-self: center;
}
p-calendar >>> .p-calendar {
  height: 200px;
  width: 200px;
}
