.crearDocumento{
    border-right: 1px solid;
    /* border-radius: 10px; */
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

span {
    position: relative;
    margin-right: -20px
}

input[type='number'] {
    padding-left: -20px;
    text-align: left;
}