p-card >>> * {
    font-size: small;
    align-self: center;
    justify-self: center;
}
p-dropdown >>> *{
    width: 200px;
}
p-card >>> .p-card-body {
    padding: 2px;
    font-size: small;
}
p-card >>> .p-card-content {
    padding: 2px;
}
p-tabview >>> .p-tabview-title{
    font-size: small;
}
p-tabview >>> .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #AF0017;
    border-color: #AF0017;
    color: #FFFFFF;
}
p-tabview >>> .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #dcb4b4;
}
p-tabview >>> .p-tabview .p-tabview-panels {
    height: 650px;
}
.left-datos {
    float:left;
    width: 20%;
    padding: 100px 10px;
}
.right-datos {
    float:left;
    width: 80%
}
.p-button {
    color: #ffffff;
    background: #AF0017;
    border: 1px solid #AF0017;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.p-button:hover{
    outline: 0 none;
    outline-offset: 0;
    background: #AF0017;
    border-color: #AF0017;
    box-shadow: 0 0 0 0.2rem #dcb4b4;
}