<p-card>
  <form class="p-fluid p-formgrid p-grid">
<div class="busqueda">
  <div class="anios">
      <p-dropdown
              [options]="anios"
              optionLabel="anio" formControlName="busquedaAnio"
              optionValue="anio"
              placeholder="Año"
              [showClear]="false"
              [style]="{ width: '100%' }"
              >
      </p-dropdown>
  </div>
  <div class="meses">
      <p-selectButton [options]="meses"  optionValue="value" formControlName="busquedaMes"
                      optionLabel="label"></p-selectButton>
  </div>
</div>
</form>
</p-card>