p-card >>> * {
    margin: 1px;
    padding: 1px;
    font-size: small;
    align-self: center;
    justify-self: center;
  }
  p-card >>> .p-card-body {
    padding: 1px;
    font-size: x-small;
  }
  p-card >>> .p-card-content {
    padding: 1px;
  }

  
p-selectbutton >>> .p-button.p-highlight {
    background: #d32f2f;
    border-color: #d32f2f;
  }
  p-selectbutton >>> .p-button.p-highlight:hover {
    background: #d32f2f;
    border-color: #d32f2f;
  }
  p-selectbutton >>> .p-buttonset .p-component {
    padding: 5px;
    align-self: center;
    justify-self: center;
  }
  
  p-dropdown >>> .p-dropdown-items-wrapper {
    padding: 1px;
  }
  p-dropdown >>> .p-dropdown-clear-icon {
    margin: -7px;
  }
  p-dropdown >>> .p-dropdown-label {
    text-align: center;
  }
  p-dropdown >>> .p-dropdown-clearable .p-dropdown-label {
    padding-right: 0rem;
  }
.busqueda{
  display: grid;
  grid-template-columns: 100px auto;
}