<div class="p-card">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">II. Valoración Mental</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" iconPos="right" icon="pi pi-save"
                    class="guardar-boton" (click)="agregarActualizar()" ></button>
            <button pButton pRipple label="Nuevo" iconPos="right" icon="pi pi-file"
                    class="boton-listar" (click)="nuevaValoracion()"></button>
            <button pButton pRipple label="Listar Valoraciones Funcional" iconPos="right" icon="pi pi-list"
                    class="boton-listar" (click)="listarValoraciones()"></button>

        </ng-template>
    </p-toolbar>
    <br>
    <div class="grid">
        <div class="col-12 md:col-7 lg:col-7">
            <p-fieldset legend="Estado Cognitivo (Pfeiffer)" [toggleable]="true">
                <div class="grid">
                    <div class="col-8">

                    </div>
                    <div class="col-4">
                        <label>¿Correcto?</label>
                    </div>
                </div>
                <form [formGroup]="formValoracionMental" >
                <!--primera fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Cuál es la fecha de hoy? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeFecha"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--2 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Qué día de la semana es? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeSemana"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--3 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿En qué lugar estamos?(Vale cualquier descripción correcta del lugar) </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeLugar"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--4 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Cuál es su número de teléfono? Si no tiene</label>
                        <label class="">¿Cuál es su dirección completa? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeTelefonoDireccion"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--6 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Cuántos años tiene?</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeEdad"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!-- 7 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Dónde nació?</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeLugarNac"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!-- 8 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Cuál es el nombre del presidente del Perú?</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabePresidente"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!-- 8 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Cuál es el nombre del anterior presidente del Perú?</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeAnteriorPresidente"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!-- 9 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">Digame el primer apellido de su madre</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeApeMadre"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--10 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">Restar de 3 en 3 desde 30 (cualquier error hace errónea la respuesta)</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="sabeResta"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                </form>
            </p-fieldset>
        </div>
        <div class="col-12 md:col-5 lg:col-5">
            <p-fieldset legend="Valoración Cognitiva" [toggleable]="true">
                <form [formGroup]="formValoracionMental" >
                <!--primera fila-->
                <div class="grid">
                    <div class="col-12">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="diagnosticoCognitivo" formControlName="diagnosticoCognitivo" value="NO DETERIORO COGNITIVO"  ></p-radioButton>
                            <label class=""> Normal </label>
                        </div>
                    </div>
                    <br>
                <!--2 fila-->
                    <div class="col-12">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="diagnosticoCognitivo" formControlName="diagnosticoCognitivo" value="DETERIORO COGNITIVO LEVE" ></p-radioButton>
                            <label class=""> DC Leve </label>
                        </div>
                    </div>
                    <!--3 fila-->
                    <br>
                    <div class="col-12">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="diagnosticoCognitivo" formControlName="diagnosticoCognitivo" value="DETERIORO COGNITIVO MODERADO" ></p-radioButton>
                            <label class=""> DC Moderado </label>
                        </div>
                    </div>
                    <!--4 fila-->
                    <br>
                    <div class="col-12">
                        <div class="p-field-radiobutton">
                            <p-radioButton name="diagnosticoCognitivo" value="DETERIORO COGNITIVO SEVERO"  formControlName="diagnosticoCognitivo"></p-radioButton>
                            <label class=""> DC Severo </label>
                        </div>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-12">
                        <p align="center">DC: Deterioro Cognitivo</p>
                        <p align="justify">Nota: Colocar un punto por cada error, Nivel educativo bajo: se admite un error más, Nivel educativo alto: se admite error menos.</p>
                                <p>-No Deterioro Cognitivo       :<=2E</p>
                                <p>-Deterioro Cognitivo Leve     :3 a 4E</p>
                                <p>-Deterioro Cognitivo Moderado :5 a 7E</p>
                                <p>-Deterioro Cognitivo Severo   :8 a 10E</p>
                    </div>
                </div>
                </form>
            </p-fieldset>
        </div>
    </div>
    <div class="grid">
        <div class="col-12 md:col-7 lg:col-7">
            <p-fieldset legend="Estado Afectivo (Escala abreviatura de Yesavage)" [toggleable]="true">
                <form [formGroup]="formValoracionMental" >
                <!--primera fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Esta satisfecho de la vida? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="satisfecho"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--2 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Se siente importante o indefenso? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="importante"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--3 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Tiene problemas de memoria? </label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="probMemoria"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                <!--4 fila-->
                <div class="grid">
                    <div class="col-8 p-field" style="text-align: right">
                        <label class="">¿Siente desgano o se siente imposibilitado respecto a actividades e intereses?</label>
                    </div>
                    <div class="col-4 p-field">
                        <p-selectButton [options]="sino"  optionValue="value" formControlName="desganado"
                                        optionLabel="label"></p-selectButton>
                    </div>
                </div>
                </form>
            </p-fieldset>
        </div>
        <div class="col-12 md:col-5 lg:col-5">
            <p-fieldset legend="Manifestaciones Depresivas" [toggleable]="true">
                <form [formGroup]="formValoracionMental" >
                <!--primera fila-->
                <div class="grid">
                    <div class="p-field-radiobutton">
                        <p-radioButton name="diagnosticoAfectivo" value="SIN MANIFESTACIONES DEPRESIVAS" formControlName="diagnosticoAfectivo" ></p-radioButton>
                        <label> Sin Manifestaciones Depresivas (0-1 positivas) </label>
                    </div>
                    <br>
                    <br>
                    <div class="p-field-radiobutton">
                        <p-radioButton name="diagnosticoAfectivo" value="CON MANIFESTACIONES DEPRESIVAS" formControlName="diagnosticoAfectivo" ></p-radioButton>
                        <label> Con Manifestaciones Depresivas (2 o más positivas)</label>
                   </div>
                </div>
                </form>
            </p-fieldset>
        </div>
    </div>
</div>

