<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Interrogatorio</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <form [formGroup]='form'>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Funciones Vitales">
                    <div class="grid">
                        <label>T°:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>PA:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>F.C:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>T°:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>PESO:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>TALLA:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                        <label>IMC:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesVitales inputfield w-full">
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Estado Actual: Funciones Biológicas">
                    <div class="grid">
                        <label>Apetito:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                        <label>Sed:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                        <label>Sueños:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                        <label>Estado de Animo:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                        <label>Orina:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                        <label>Deposiciones:</label>
                        <input type="text" pInputText formControlName='temperatura' placeholder=""
                            class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Interrogatorio">
                    <div class="grid">
                        <div class="col-6">
                            <label>Motivo de Consulta:</label>
                            <textarea [rows]="4" class="inputfield w-full" autoResize="autoResize"
                                formControlName="motivoConsulta" pInputTextarea></textarea>
                        </div>
                        <div class="col-6">
                            <label>Tiempo de la Enfermedad:</label>
                            <textarea [rows]="4" class="inputfield w-full" autoResize="autoResize"
                                formControlName="motivoConsulta" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="grid">
                        <div class="col-2 text-right">
                            <label>Otro(Especifique):</label>
                        </div>
                        <div class="col-10">
                            <input type="text" pInputText formControlName='interrogatorioOtro' placeholder=""
                                class="inputfield w-full">
                        </div>
                    </div>
                    <p-fieldset legend="Examen Fisico">
                        <div class="col-12">
                            <div class="grid">
                                <label>Piel:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Mucosas:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Cabeza:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Cuello:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Cardio Base:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                            </div>
                            <div class="grid">
                                <label>Pulmones:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Mamas:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Pezones:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                <label>Abdomen:</label>
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                            </div>
                            <div class="grid">
                                <div class="col-2 text-right">
                                    <label>Otro(Especifique):</label>
                                </div>
                                <div class="col-10">
                                    <input type="text" pInputText formControlName='interrogatorioOtro' placeholder=""
                                        class="inputfield w-full">
                                </div>
                            </div>
                            <div class="grid">
                                <label>EXAMEN OBSTETRICO:</label>
                                <span>Altura Uterina</span>
                                <div class="col-1">
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm  inputfield w-full">
                                </div>
                                <span>Situación</span>
                                <p-dropdown [options]="listaSituacion" formControlName="selectSitiacion"
                                    optionLabel="name" optionValue="code" class="inputfield p-fluid w-full examenObst">
                                </p-dropdown>
                                <span>Presentación</span>
                                <p-dropdown [options]="listaPresentacion" formControlName="selectSitiacion"
                                    optionLabel="name" optionValue="code" class="inputfield p-fluid w-full examenObst">
                                </p-dropdown>
                                <span>Posición</span>
                                <p-dropdown [options]="listaPosicion" formControlName="selectSitiacion"
                                    optionLabel="name" optionValue="code" class="inputfield p-fluid w-full examenObst">
                                </p-dropdown>
                            </div>
                        </div>
                        <div class="grid">
                            <!-- <div class="col-1"> -->
                            <label>Fetal:</label>
                            <!-- </div> -->
                            <div class="col-11">
                                <input type="text" pInputText formControlName='temperatura' placeholder=""
                                    class="p-inputtext-sm inputfield w-full">
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-6">
                                <div class="grid">
                                    <label>Movimiento Fetal:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="grid">
                                    <label>Latidos Cardíacos Fetales:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-7">
                                <div class="grid">
                                    <label>Miembros Inferiores:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                            <div class="col-5">
                                <label>Reflejo Osteotendinoso: </label>
                                <label class="text-sm">O: </label>
                                <p-radioButton name="clinico" formControlName="clinico" value="sin examen"
                                    class="amarillo">
                                </p-radioButton>
                                <label class="text-sm">X: </label>
                                <p-radioButton name="clinico" formControlName="clinico" value="sin examen"
                                    class="amarillo">
                                </p-radioButton>
                                <label class="text-sm">XX: </label>
                                <p-radioButton name="clinico" formControlName="clinico" value="sin examen"
                                    class="amarillo">
                                </p-radioButton>
                                <label class="text-sm">XXX: </label>
                                <p-radioButton name="clinico" formControlName="clinico" value="sin examen"
                                    class="amarillo">
                                </p-radioButton>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-12">
                                <div class="grid">
                                    <label>Genitales Externos:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                    <label>Vagina:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                    <label>Cuello Uterino:</label>
                                    <input type="text" pInputText formControlName='temperatura' placeholder=""
                                        class="p-inputtext-sm funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </p-fieldset>
            </div>
        </div>
    </form>
</div>