::ng-deep .tablePautaB .p-datatable table {
  width: auto;
}

::ng-deep .tablePautaB .p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  border: 1px solid #b6b6b6;
  background-color: #dddddd;
  padding: 0.3rem;
}
::ng-deep .tablePautaB .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: medium;
  word-wrap: break-word;
}
