<div style="background: #f8f9fa; height: 100%; width: 100%">
  <p-card>
    <div
      class="grid"
      style="background-color: #af0017; opacity: 0.9; display: inline-flex"
    >
      <div
        class="col-12 md:col-10"
        style="
          color: #ffff;
          font-size: small;
          text-align: justify;
          align-items: stretch;
        "
      >
        <h1 style="text-align: center; vertical-align: top; font-size: x-large">
          PROYECTO "MEJORAMIENTO DE LOS SERVICIOS INTEGRALES DE SALUD PARA LA
          PREVENCIÓN DE LA DESNUTRICIÓN CRÓNICA Y ANEMIA EN NIÑOS MENORES DE 5
          AÑOS Y MADRES GESTANTES EN LA REGIÓN CUSCO"
        </h1>
        <h3
          style="
            text-align: left;
            font-size: large;
            align-items: center;
            margin-left: 100px;
          "
        >
          Sobre el proyecto
        </h3>
        <p
        style="
        text-align: left;
        font-size: medium;
        align-items: center;
        margin-left: 100px;
      "
        >
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem quas
          nobis assumenda quia, ipsam dolor, ipsa ab magnam ea veniam officiis.
          Magni dicta, voluptatum aspernatur temporibus impedit ullam facere
          perspiciatis.
        </p>
      </div>
      <div
        class="col-12 md:col-2"
        style="
          background-color: #af0017;
          margin-top: 50px;
          text-align: right;

        "
      >
        <img
          src="../../../../assets/images/logo-about.jpg"
          alt="imagen"
          style="width: 100%; border-radius: 8px"
        />
      </div>
    </div>
  </p-card>
  <p-card>
    <div class="col-12">
      <span style="text-align: center; font-size: medium">
        <h2>Nuestro Equipo</h2>
      </span>
      <div class="col-12" style="text-align: center; background: #f8f9fa">
        <span style="font-size: medium"> Jefes de Proyecto </span>
      </div>
      <div class="col-12" style="display: flex; flex-wrap: wrap;">
        <div *ngFor="let profile of profiles">
          <app-card [profile]="profile"></app-card>
        </div>
      </div>
      <div class="col-12" style="text-align: center; background: #f8f9fa">
        <span style="font-size: medium"> Equipo Front End </span>
      </div>
      <div class="col-12" style="display: flex; flex-wrap: wrap">
        <div *ngFor="let profile of profiles">
          <div>
            <app-card [profile]="profile"></app-card>
          </div>
        </div>
      </div>
      <div class="col-12" style="text-align: center; background: #f8f9fa">
        <span style="font-size: medium"> Equipo Back End </span>
      </div>
      <div class="col-12" style="display: flex; flex-wrap: wrap">
        <div *ngFor="let profile of profiles">
            <app-card [profile]="profile"></app-card>
        </div>
      </div>
    </div>
  </p-card>
</div>
