<p-tabView>
    <p-tabPanel header="INMUNIZACIONES">
        <ng-template pTemplate="content">
            <app-inmunizaciones></app-inmunizaciones>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="CONTROL DE CRECIMIENTO">
        <ng-template pTemplate="content">
            <app-control-crecimiento></app-control-crecimiento>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="DOSAGE DE EMOGLOBINA">
        <ng-template pTemplate="content">
            <app-tratamiento-seguimiento-anemia></app-tratamiento-seguimiento-anemia>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="SUPLEMENTACIONES">
        <ng-template pTemplate="content">
            <app-suplementaciones-micronutrientes></app-suplementaciones-micronutrientes>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="SESIONES DE ATENCION TEMPRANA">
        <ng-template pTemplate="content">
            <app-sesiones-atencion-temprana></app-sesiones-atencion-temprana>
        </ng-template>
    </p-tabPanel>
    <p-tabPanel header="MAS DESCARTES">
        <ng-template pTemplate="content">
            <app-descartes></app-descartes>
        </ng-template>
    </p-tabPanel>
</p-tabView>



