<p-tabView>
    <p-tabPanel header="INMUNIZACIONES">
        <app-inmunizaciones></app-inmunizaciones>
    </p-tabPanel>
    <p-tabPanel header="CONTROL DE CRECIMIENTO">
        <app-control-crecimiento></app-control-crecimiento>
    </p-tabPanel>
    <p-tabPanel header="SUPLEMENTACIONES CON SF MICRONUTRIENTES">
        <app-suplementaciones-micronutrientes></app-suplementaciones-micronutrientes>
    </p-tabPanel>
    <p-tabPanel header="TRATAMIENTO Y SEGUIMIENTO DE ANEMIA">
        <app-tratamiento-seguimiento-anemia></app-tratamiento-seguimiento-anemia>
    </p-tabPanel>
    <p-tabPanel header="SESIONES DE ATENCION TEMPRANA">
        <app-sesiones-atencion-temprana></app-sesiones-atencion-temprana>
    </p-tabPanel>
    <p-tabPanel header="MAS DESCARTES">
        <app-descartes></app-descartes>
    </p-tabPanel>
</p-tabView>



