.recuadro {
    border-style:solid;
    border-width: 1px;
    border-radius: 5px;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}

.personal {
    border: 1px solid #2570c4;
    border-radius: 10px;
}
