<div>
    <p class="text-blue-700 text-2xl text-center font-semibold">AGREGAR OFERTAS EXTRAS AL PERSONAL DE SALUD</p>
    <form [formGroup]="form">
        <div class="grid align-items-end m-1 p-fluid">
            <div class="col-6 md:col-4 lg:col-2 p-field">
                <span class="">Filtrar por fecha</span>
                <div class="p-inputgroup">
                    <p-calendar dateFormat="yy-mm-dd" formControlName="fechaFiltro" [readonlyInput]="true"
                                (onSelect)="getListaOfertasXServicio()">
                    </p-calendar>
                </div>
            </div>

            <div class="col-6 md:col-4 lg:col-3 p-field">
                <span class="">Filtrar por Servicio</span>
                <div class="">
                    <p-dropdown [options]="servicios"
                                formControlName="servicio"
                                placeholder="Seleccione un servicio"
                                optionLabel="nombreUPS"
                                optionValue="nombreUPS"
                                [showClear]="false"
                                (onChange)="getListaOfertasXServicio()">
                    </p-dropdown>
                </div>
            </div>

            <div class="col-6 md:col-4 lg:col-3 p-field">
                <span class="font-semibold">Ingrese número de documento:</span>
                <div class="">
                    <input type="text" class="inputfield w-9" pInputText formControlName="nroDoc"/>
                    <p-button icon="pi pi-search" (click)="getListaOfertaXDocumento()"></p-button>
                </div>
            </div>
        </div>
    </form>
    <div class="p-card ">
        <p-toolbar styleClass="p-mb-4">
            <ng-template pTemplate="left">
                <h3 class="p-m-0">Lista de ofertas por cada turno del personal</h3>
            </ng-template>
        </p-toolbar>
        <p-table [value]="data" #dt [globalFilterFields]="['fecha','personal.nombre','ipress.servicio']"
                 styleClass="p-datatable-gridlines" [rows]="10"
                 [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true"
                 currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center">Nro</th>
                    <th style="text-align: center">FECHA</th>
                    <th style="text-align: center">PERSONAL</th>
                    <th style="text-align: center">Nro DE OFERTAS</th>
                    <th style="text-align: center">SERVICIO</th>
                    <th style="text-align: center">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr style="text-align: center">
                    <td style="text-align: center">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.fechaOferta }}</td>
                    <td style="text-align: center">{{ rowData.personal.nombre }}</td>
                    <td style="text-align: center">{{ rowData.totalOfertas }}</td>
                    <td style="text-align: center">{{ rowData.ipress.servicio }}</td>
                    <td style="text-align: center">
                        <button pButton pRipple type="button" icon="pi pi-plus" label="Ofertas"
                                (click)="openNewOfertaAgregar(rowData)"></button>
                        <button pButton pRipple type="button" icon="pi pi-angle-double-right" label="Transferir"
                                (click)="eventTransferirCupo(rowData)"
                                class="p-button-secondary"></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<p-dialog [(visible)]="ofertasDialog" [style]="{width: '700px'}" [modal]="true"
          [draggable]="false" [resizable]="false">
    <ng-template pTemplate="body">
        <p class="text-pink-700 text-xl text-center font-semibold m-0">AGREGAR OFERTAS</p>
        <form [formGroup]='formOfertas'>
            <p-fieldset legend="Personal">
                <div class="grid">
                    <div class="p-field col-6 md:col-4">
                        <label>Nro Documento:</label>
                        <input type="text" pInputText formControlName='nroDoc' placeholder="Nro documento"/>
                    </div>
                    <div class="p-field col-12 md:col-8">
                        <label>Nombre del personal:</label>
                        <input type="text" pInputText formControlName='nombre' placeholder="Nombre personal"/>
                    </div>
                    <div class="p-field col-6 md:col-4">
                        <label>Servicio:</label>
                        <input type="text" pInputText formControlName='servicio' placeholder="Servicio"/>
                    </div>
                    <div class="p-field col-6 md:col-4">
                        <label>Ambiente:</label>
                        <input type="text" pInputText formControlName='ambiente' placeholder="Ambiente"/>
                    </div>
                    <div class="p-field col-6 md:col-4">
                        <label>Fecha:</label>
                        <input type="text" pInputText formControlName='fecha' placeholder="Fecha"/>
                    </div>
                </div>
            </p-fieldset>
            <div class="grid m-2">
                <div class="p-field col-12 md:col-4">
                    <label>Nro de ofertas actuales:</label>
                    <input type="text" pInputText formControlName='nroOfertasActuales' placeholder="Ofertas actuales"/>
                </div>
                <div class="p-field col-12 md:col-4">
                    <label>Nro de ofertas extra:</label>
                    <input type="number" pInputText formControlName='nroOfertasAgregar' placeholder="Ofertas extras"/>
                </div>
            </div>
            <div class="card ml-3 mb-1">
                <h5>Ofertas</h5>
                <p-table [value]="horas" [scrollable]="true" scrollHeight="160px">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width:150px">Nro</th>
                            <th style="min-width:150px">Hra. inicio</th>
                            <th style="min-width:150px">Hra. fin</th>
                            <th style="min-width:150px">Estado</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr>
                            <td style="min-width:150px">{{rowIndex + 1}}</td>
                            <td style="min-width:150px">{{rowData.horaInicio}}</td>
                            <td style="min-width:150px">{{rowData.horaFin}}</td>
                            <td style="min-width:150px">
                                <p-tag *ngIf="rowData.estado == 'LIBRE'" severity="info" value="LIBRE"></p-tag>
                                <p-tag *ngIf="rowData.estado == 'OCUPADO'" severity="danger" value="OCUPADO"></p-tag>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Guardar" class="m-1 w-8rem" (click)="guardarOfertasExtra()"></button>
        <button pButton type="button" label="Cancelar" class="m-1 w-8rem p-button-danger" (click)="cancelar()"></button>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="DialogTransferir" [style]="{width: '1200px'}" [modal]="true"
          [draggable]="false" [resizable]="false">
    <p-toast key="myKey1"></p-toast>
    <div class="col-12 md:col-6 lg:col-12 p-field">
        <div class="grid">
            <div class="col-12 md:col-6 lg:col-12 p-field" style="text-align:center">
                <p class="text-blue-700 text-2xl text-center font-semibold">TRANSFERIR CUPOS</p>
            </div>
        </div>

        <div class="grid">
            <div class="col-12 md:col-6 lg:col-7 p-field">
                <form [formGroup]='formTransferirCupos'>
                    <label class="color-span">PERSONAL DE SALUD QUE VA TRANSFERIR</label>
                    <div class="personal">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">NRO DOCUMENTO</span>
                                <div class="p-inputgroup">
                                    <input type="number" pInputText
                                           formControlName="nroDoc"
                                           placeholder="Nro documento"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-8 p-field">
                                <span class="color-span">APELLIDOS</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="nombre"/>
                                </div>
                            </div>
                        </div>
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">SERVICIO</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="servicio"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">AMBIENTE</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="ambiente"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">FECHA</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="fecha"/>
                                </div>
                            </div>
                        </div>

                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">NUMERO DE OFERTAS</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="nroOfertasActuales2"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field">
                                <span class="color-span">HORA INICIO</span>
                                <div class="p-inputgroup">
                                    <p-calendar [timeOnly]="true" [hourFormat]="24" inputId="timeonly"
                                                placeholder=""
                                                formControlName="horaInicio"
                                                [disabled]="activarInput!='Transferencia Parcial'"></p-calendar>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-4 p-field"><span
                                    class="color-span">HORA FIN</span>
                                <div class="p-inputgroup">
                                    <p-calendar [timeOnly]="true" [hourFormat]="24" inputId="timeonly"
                                                placeholder=""
                                                formControlName="horaFin"
                                                [disabled]="activarInput!='Transferencia Parcial'"></p-calendar>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <br>
                <p-panel>
                    <ng-template class="color-span" pTemplate="header">
                        <span class="color-span">OFERTAS</span>
                    </ng-template>
                    <p-table [value]="horas" [(selection)]="selectedHorario" responsiveLayout="scroll"
                             scrollHeight="260px">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center">Nro</th>
                                <th style="text-align: center">HORA INICIO</th>
                                <th style="text-align: center">HORA FIN</th>
                                <th style="text-align: center">ESTADO</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr>
                                <td style="text-align: center">{{rowIndex + 1}}</td>
                                <td style="text-align: center">{{rowData.horaInicio}}</td>
                                <td style="text-align: center">{{rowData.horaFin}}</td>
                                <td style="text-align: center">
                                    <p-tag *ngIf="rowData.estado == 'LIBRE'" severity="info"
                                           value="LIBRE"></p-tag>
                                    <p-tag *ngIf="rowData.estado == 'OCUPADO'" severity="danger"
                                           value="OCUPADO"></p-tag>
                                </td>
                                <!--                                <td style="text-align: center">-->
                                <!--                                    <p-checkbox  [value]="rowData" [(ngModel)]="selectedHorario"-->
                                <!--                                                     (onChange)="SelectHorarios($event)"></p-checkbox >-->
                                <!--                                </td>-->
                            </tr>
                        </ng-template>
                    </p-table>
                </p-panel>
            </div>
            <div class="col-12 md:col-6 lg:col-5 p-field">
                <form [formGroup]='formTransferirCupos2'>
                    <label class="color-span">PERSONAL DE SALUD QUE REEMPLAZA </label>
                    <div class="personal">
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-6 p-field">
                                <span class="color-span">NRO DOCUMENTO</span>
                                <div class="p-inputgroup">
                                    <input type="number" pInputText
                                           formControlName="nroDoc2"
                                           placeholder="Nro documento"/>
                                    <p-button span="" icon="pi pi-search"
                                              (click)="listarPersonalRolGuardia()"></p-button>
                                </div>
                            </div>
                        </div>
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-12 p-field">
                                <span class="color-span">APELLIDOS Y NOMBRES</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="apellidos2"/>
                                </div>
                            </div>
                        </div>
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-6 p-field">
                                <span class="color-span">SERVICIO</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           formControlName="servicio2"/>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 lg:col-6 p-fluid">
                                <span class="color-span">SELECIONE EL TURNO</span>
                                <div class="">
                                    <p-dropdown [options]="TurnosPersonal"
                                                placeholder="Select Turno"
                                                optionLabel="nombre"
                                                optionValue="dia"
                                                formControlName="turnos"
                                                [showClear]="false"
                                                (onChange)="VerDiasDelTurno($event)">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="grid m-2">
                            <div class="col-12 md:col-6 lg:col-3 p-field">
                                <span class="color-span">DIA</span>
                                <div class="p-inputgroup">
                                    <input type="text"
                                           pInputText
                                           id="txt1"
                                           formControlName="dia"/>
                                </div>
                            </div>
                        </div>

                    </div>
                    <br>

                    <div class="grid m-2">
                        <div class="col-12 md:col-6 lg:col-6 p-field">
                            <div class="m-1 p-inputgroup">
                                <p-radioButton class="default" name="transferir" value="Transferencia Total"
                                               formControlName="transferir" (click)="SelectHorarios()"
                                               [disabled]="DataPersonalBusqueda==null"></p-radioButton>
                                <span class="color-span">TRANSFERIR TODO</span>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 lg:col-6 p-field">
                            <div class="m-1 p-inputgroup">
                                <p-radioButton class="default" name="transferir" value="Transferencia Parcial"
                                               formControlName="transferir" (click)="SelectHorarios()"
                                               [disabled]="DataPersonalBusqueda==null"></p-radioButton>
                                <span class="color-span">TRANSFERENCIA PARCIAL</span>
                            </div>
                        </div>
                    </div>

                    <div class="grid m-2">
                        <div class="col-12 md:col-6 lg:col-12 p-field">
                            <div class="p-inputgroup lg:text-center">
                                <button pButton type="button" label="Transferir cupos" icon="pi pi-angle-double-right"
                                        class="p-button-success mr-2"
                                        (click)="cambiodeCupos()"
                                        [disabled]="activarBoton==''"></button>
                                <button pButton pRipple type="button" label="Nuevo personal" class="p-button-info mr-2"
                                        icon="pi pi-refresh" (click)="nuevoTransferencia()"
                                        [disabled]="activarBoton==''"></button>
                                <button pButton pRipple type="button" label="Cancelar" class="p-button-danger"
                                        icon="pi pi-ban" (click)="cancelarTransferencia()"></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</p-dialog>
