<div class="grid">
    <div class="col-12">
        <form [formGroup]='formTriaje'>
            <div class="col-12 md:col-12  pb-5">
                <div class="grid mb-3 margen">
                    <div class="col-2">
                        <label>Nro Doc:</label>
                        <span class="font-italic font-bold">{{' ' +datosPersonales.paciente.nroDoc}}</span>
                    </div>
                    <div class="col-4">
                        <label>NOMBRES:</label>
                        <span class="font-italic font-bold">{{' ' + datosPersonales.paciente.nombre+ ' ' +
                            datosPersonales.paciente.apellidos}}</span>
                    </div>
                    <div class="col-3">
                        <label>Servicio:</label>
                        <span class="font-italic font-bold">{{' ' +datosPersonales.ipress.servicio}}</span>
                    </div>
                    
                    <div class="col-3">
                        <label>Edad:</label>
                        <span class="font-italic font-bold">{{' ' +ponerEdadEnLetras()}}</span>
                    </div>
                </div>
                <div class="grid">
                    <!-- <div class="col-12 md:col-12 lg:col-3 imagen">
                    </div> -->
                    <div class="col-3">
                        <img class="image" alt="Imagen" src="{{'data:image/jpg;base64,' + imagePath}}" />
                    </div>
                    <div class="col-12 md:col-12 lg:col-9">
                        <p-fieldset legend="Funciones Vitales">
                            <div class="grid ">
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>T°:</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='temperatura'
                                                placeholder="Temp." class="nputfield w-full">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">C</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>PA(S):</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='presionSis'
                                                placeholder="Sistolica" class="inputfield w-full">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">mm.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>PA(D):</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='presionDias'
                                                placeholder="Diastolica" class="inputfield w-full">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">Hg.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>F.C:</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='fc'
                                                placeholder="Frec. card." class="inputfield w-full">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">por min.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>F.R:</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='fr'
                                                placeholder="Frec. resp." class="inputfield w-full">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">por min.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>Peso:</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='peso' placeholder="Peso"
                                                class="inputfield w-full" (blur)="calcularIMC()">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">kg.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <div class="grid">
                                        <div class="col-3 mt-2 text-right">
                                            <label>Talla:</label>
                                        </div>
                                        <div class="col-5">
                                            <input type="number" pInputText formControlName='talla' placeholder="Talla"
                                                class="inputfield w-full" (blur)="calcularIMC()">
                                        </div>
                                        <div class="mt-2 col-4 text-left">
                                            <span class="font-italic">cm.</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 md:col-6 lg:col-4 text-center">
                                    <p-message *ngIf="imcOption == 1" severity="error" text="Bajo peso"></p-message>
                                    <p-message *ngIf="imcOption == 2" severity="success" text="Rango de peso normal">
                                    </p-message>
                                    <p-message *ngIf="imcOption == 3" severity="warn" text="Rango de sobrepeso">
                                    </p-message>
                                    <p-message *ngIf="imcOption == 4" severity="error" text="Rango de obesidad">
                                    </p-message>
                                </div>
                            </div>
                        </p-fieldset>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>
<div class="footer mt-4">
    <button *ngIf="!ver" pButton type="button" label="Guardar" class="p-button-primary mt-4 mr-2" (click)="guardarTriaje()"></button>
    <button *ngIf="ver" pButton type="button" label="Salir" class="p-button-primary mt-4 mr-2" (click)="closeDialog()"></button>
    <button *ngIf="!ver"pButton type="button" label="Cancelar" class="p-button-danger mt-4" (click)="closeDialog()"></button>
</div>