.margen {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.footer {
  text-align: right;
  /* display: flexbox; */
  /* text-align: center; */
  background: white;
  position: absolute;
  /* margin-top: 2.5; */
  bottom: 0;
  width: 95%;
  height: 5em;
  color: white;
  bottom: 0;
  z-index: 200;
}
p-fieldset >>> .p-fieldset .p-fieldset-legend {
  padding: 0.5rem;
  border: 1px solid #dee2e6;
  color: #495057;
  background: #d8dee5;
  font-weight: 600;
  border-radius: 5px;
  font-size: small;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"] {
  padding-left: 0.5em;
  text-align: left;
}

.imagen{
  content: url("src\assets\images\signos-vitales.svg");
  width: 170px;
  display:block;
  margin:auto;
}