<div class="p-card">
    <p-toolbar>
        <ng-template pTemplate="left">
            <h3 class="mt-2">LISTA DE PROBLEMAS</h3>
        </ng-template>

    </p-toolbar>
    <br>
    <div class="grid p p-fluid">
        <div class="col-12 md:col-6 lg:col-6">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <h3 class="mt-2">Problemas Crónicos</h3>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus"
                    class="agregar-boton"  (click)="cronicoAgudo='cronico';openNewAgudo()"></button>
                </ng-template>
            </p-toolbar>
            <p-table class="table-over" [value]="dataProblemasCronicos" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro </th>
                        <th style="text-align: center" class="font-2">Problema</th>
<!--                        <th style="text-align: center" class="font-2">Controlado</th>-->
                        <th style="text-align: center" class="font-1">Fecha 1</th>
                        <th style="text-align: center" class="font-1">Fecha 2</th>
                        <th style="text-align: center" class="font-1">Fecha 3</th>
                        <th style="text-align: center" class="font-2">Observaciones</th>
                        <th style="text-align: center" class="font-2">Acciones</th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.nombreProblema }}</td>
                        <td>
                            <div style="text-align: center" *ngIf="rowData.fecha1;else noEs">
                                {{ rowData.fecha1 }}
                            </div>
                            <ng-template #noEs>
                                <p-tag
                                        value="No Atendido"

                                        severity="warning"
                                        styleClass="text-sm"
                                ></p-tag>
                            </ng-template>
                        </td>
                        <td>
                            <div style="text-align: center" *ngIf="rowData.fecha2;else noEs">
                                {{ rowData.fecha2 }}
                            </div>
                            <ng-template #noEs>
                                <p-tag
                                        value="No Atendido"

                                        severity="warning"
                                        styleClass="text-sm"
                                ></p-tag>
                            </ng-template>
                        </td>
                        <td>
                            <div style="text-align: center" *ngIf="rowData.fecha3;else noEs">
                                {{ rowData.fecha3 }}
                            </div>
                            <ng-template #noEs>
                                <p-tag
                                        value="No Atendido"

                                        severity="warning"
                                        styleClass="text-sm"
                                ></p-tag>
                            </ng-template>
                        </td>
                        <td style="text-align: center"><div *ngIf="rowData.observacion1!=null || undefined">{{ "Obs. 1:" + rowData.observacion1}}</div>
                            <hr> <div *ngIf="rowData.observacion2!=null || undefined">{{ "Obs. 2:"+rowData.observacion2}}</div>
                            <hr> <div *ngIf="rowData.observacion3!=null || undefined">{{ "Obs. 3:" +rowData.observacion3 }}</div>
                        </td>
                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary m-1"
                                    pTooltip="Agregar" (click)="cronicoAgudo='cronico';openAgregarAtenciones(rowData,rowIndex)">
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
        <div class="col-12 md:col-6 lg:col-6">
            <p-toolbar>
                <ng-template pTemplate="left">
                    <h3 class="mt-2">Problemas Agudos</h3>
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton pRipple label="Agregar" iconPos="right" icon="pi pi-plus"
                            class="agregar-boton"  (click)="cronicoAgudo='agudo';openNewAgudo()"></button>
                </ng-template>
            </p-toolbar>
            <p-table class="table-over" [value]="dataProblemasAgudos" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                     [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas" >
                <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
                    <tr>
                        <th style="text-align: center" class="font-2">Nro </th>
                        <th style="text-align: center" class="font-2">Problema</th>
                        <th style="text-align: center" class="font-1">Fecha 1</th>
                        <th style="text-align: center" class="font-1">Fecha 2</th>
                        <th style="text-align: center" class="font-1">Fecha 3</th>
                        <th style="text-align: center" class="font-2">Observaciones</th>
                        <th style="text-align: center" class="font-2">Acciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                    <tr>
                        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                        <td style="text-align: center">{{ rowData.nombreProblema }}</td>
                        <td>
                            <div style="text-align: center" *ngIf="rowData.fecha1;else noEs">
                                {{ rowData.fecha1 }}
                            </div>
                            <ng-template #noEs>
                                <p-tag
                                        value="No Atendido"

                                        severity="warning"
                                        styleClass="text-sm"
                                ></p-tag>
                            </ng-template>
                        </td>
                        <td>
                            <div style="text-align: center" *ngIf="rowData.fecha2;else noEs">
                                {{ rowData.fecha2 }}
                            </div>
                            <ng-template #noEs>
                                <p-tag
                                        value="No Atendido"

                                        severity="warning"
                                        styleClass="text-sm"
                                ></p-tag>
                            </ng-template>
                        </td>
                        <td>
                        <div style="text-align: center" *ngIf="rowData.fecha3;else noEs">
                                    {{ rowData.fecha3 }}
                        </div>
                        <ng-template #noEs>
                            <p-tag
                                    value="No Atendido"

                                    severity="warning"
                                    styleClass="text-sm"
                            ></p-tag>
                        </ng-template>
                        </td>
                        <td style="text-align: center"><div *ngIf="rowData.observacion1!=null || undefined">{{ "Obs. 1:" + rowData.observacion1}}</div>
                            <hr> <div *ngIf="rowData.observacion2!=null || undefined">{{ "Obs. 2:"+rowData.observacion2}}</div>
                            <hr> <div *ngIf="rowData.observacion3!=null || undefined">{{ "Obs. 3:" +rowData.observacion3 }}</div>
                        </td>

                        <td style="text-align: center">
                            <button pButton pRipple icon="pi pi-plus" class="p-button-rounded p-button-primary m-1"
                                     pTooltip="Agregar" (click)="cronicoAgudo='agudo';openAgregarAtenciones(rowData,rowIndex)">
                            </button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
        </div>
    </div>
</div>

<p-dialog  [(visible)]="dialogAtencion"
           [modal]="true"
           [style]="{width: '30%'}">
    <ng-template pTemplate="header">
        <div style="font-weight: bold" *ngIf="cronicoAgudo=='cronico';else agudo">
            PROBLEMA CRÓNICO
        </div>
        <ng-template #agudo>
            <div style="font-weight: bold">
                PROBLEMA AGUDO
            </div>
        </ng-template>
    </ng-template>
    <form [formGroup]='formAtencion'>
        <div class="grid p-fluid">
            <br>
            <div class="col-12 md:col-8 lg:col-8 p-field">
                <label>Fecha:</label>
                <input type="date" pInputText formControlName='fechaA'>
            </div>
            <div class="col-12">
                 <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="observacionesA" rows="5" cols="30" pInputTextarea formControlName="observacionesA"> </textarea>
                    <label for="observacionesA">Observaciones:</label>
                 </span>
            </div>
        </div>
    </form>
    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="saveAtencion()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
    </div>
</p-dialog>
<p-dialog  [(visible)]="dialogProblemaAgudo"
           [modal]="true"
           [style]="{width: '30%'}">
    <ng-template pTemplate="header">
        <div style="font-weight: bold" *ngIf="cronicoAgudo=='cronico';else agudo">
            PROBLEMA CRÓNICO
        </div>
        <ng-template #agudo>
            <div style="font-weight: bold">
                PROBLEMA AGUDO
            </div>
        </ng-template>
    </ng-template>
    <form [formGroup]='formProblemasAgudos'>
        <div class="grid p-fluid">
            <br>
            <div class="col-12">
                <br>
                <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="ProblemasAgudos" rows="5" cols="30" pInputTextarea formControlName="nombreProblema"> </textarea>
                    <label for="ProblemasAgudos">Nombre Problema:</label>
                 </span>
            </div>
            <br>
            <div class="col-12 md:col-8 lg:col-8 p-field">
                <label>Fecha 1:</label>
                <input type="date" pInputText formControlName='fecha'>
            </div>
            <div class="col-12">
                 <span class="p-float-label">
                    <textarea style="border-radius: 10px" id="observaciones" rows="5" cols="30" pInputTextarea formControlName="observaciones"> </textarea>
                    <label for="observaciones">Observaciones:</label>
                 </span>
            </div>
        </div>
    </form>
    <div class="footer">
        <button pButton type="button" label="Guardar" (click)="saveAgudo()" class="p-button-danger mt-4"></button>
        <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
    </div>
</p-dialog>