    <ng-template pTemplate="header">
        <h3>NUEVO EXAMEN AUXILIAR</h3>
    </ng-template>
    <ng-template pTemplate="body">
        <div class="grid mt-2">
            <div class="p-fluid col-4">
                <label>Nombre Examen:</label>
                <p-dropdown [options]="listaExamenes"  placeholder="SELECCIONA UN EXAMEN"
                            [showClear]="false" appendTo="body" optionLabel="nombreExam">
                </p-dropdown>
            </div>
            <div class="p-fluid col-3">
                <label>Lugar:</label>
                <p-dropdown [options]="listaLugares"  placeholder="SELECCIONA UN LUGAR"
                            [showClear]="false" appendTo="body" optionLabel="lugarLab">
                </p-dropdown>
            </div>
            <!-- CAMPOS DE HEMOGLOBINA EN CONSULTORIO -->
            <div class="p-fluid col-9" *ngIf="lugarLab.index == 1 && examLab.tipoExam == 2">
                <form [formGroup]="formHematologia">
                    <div class="grid border">
                        <div class="col-4 mt-3">
                            <label>Hemoglobina:</label>
                            <div class="flex flex-row">
                                <div class="col-9 p-0">
                                    <input type="text" oninput="this.value=this.value.toUpperCase()" pInputText
                                           placeholder="" class="inputfield w-full" formControlName="hemoglobina">
                                </div>
                                <div class="infoInput">
                                    g/dl
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-1"></div> -->
                        <div class="col-4">
                            <label>Hemoglobina con factor de correción:</label>
                            <div class="flex flex-row">
                                <div class="col-9 p-0">
                                    <input type="text" oninput="this.value=this.value.toUpperCase()" pInputText
                                           placeholder="" class="inputfield w-full"
                                           formControlName="hemoglobinaFactorCorrec">
                                </div>
                                <div class="infoInput">
                                    g/dl
                                </div>
                            </div>
                        </div>
                        <!-- <div class="col-1"></div> -->
                        <div class="col-4 mt-3">
                            <label>Hematocritos:</label>
                            <div class="flex flex-row">
                                <div class="col-9 p-0">
                                    <input type="text" oninput="this.value=this.value.toUpperCase()" pInputText
                                           placeholder="" class="inputfield w-full" formControlName="hematocrito">
                                </div>
                                <div class="infoInput">
                                    g/dl
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <!-- CAMPOS DE PARASITOLOGIA EN CONSULTORIO -->

            <div class="col-12" *ngIf="lugarLab.index == 1">
                <label>Obervaciones:</label>
                <textarea [rows]="3" class="inputfield w-full mt-2" [(ngModel)]="observaciones" pInputTextarea
                          oninput="this.value=this.value.toUpper    Case()"></textarea>
            </div>
        </div>
    </ng-template>
    <ng-template pTemplate="footer" class="text-right">
        <button *ngIf="isUpdate" pButton type="button" label="Actualizar" (click)="agreeExamEdit()"></button>
        <button *ngIf="!isUpdate && !toShow" pButton type="button" label="Guardar"
                (click)="agreeAddExamDialog()"></button>
        <button pButton type=" button" label="Cancelar" class="p-button-danger" (click)="closeExamDialog()"></button>
    </ng-template>
