::ng-deep .container {
  display: grid;
  /* background: blue; */
  text-align: center;
}

.table-header {
  display: flex;
  justify-content: space-between;
}

::ng-deep .p-element .p-progress-spinner {
  /* grid-column: 3 / span 2; */
  z-index: 3;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  
}

::ng-deep .container .title-spinner {
  z-index: 5;
  color: #545D63;
  font-size: 2rem;

  /* transform: translateX(-50%) translateY(-50%);  */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  backdrop-filter: blur(2px);
}

.progress-spinner {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}
::ng-deep .load-sinner .p-dialog .p-dialog-content{
  border-radius: 25%;
}

/* ::ng-deep .container .spinner-text{
  transition: all 0.5s;
  animation: animate 2s infinite;
}
::ng-deep .container .spinner-text h3:nth-child(1) {
  animation-delay: 0;
}
::ng-deep .container .spinner-text h3:nth-child(2) {
  animation-delay: 0.1s;
}

::ng-deep .container .spinner-text h3:nth-child(3) {
  animation-delay: 0.2s;
}

::ng-deep .container .spinner-text h3:nth-child(4) {
  animation-delay: 0.3s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    margin-left: 0;
  }

  25% {
    transform: translateY(-1rem);
    margin-left: 0.8rem;
  }

  100% {
    transform: translateY(0);
    margin-left: 0;
  }
} */