<div class="p-card">
    <p-toolbar styleClass="p-mb-4">

        <ng-template pTemplate="left">
            <h3 class="p-m-0">Lista de Ubicaciones</h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                    (click)="openNew()"></button>

            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>

    <p-table
            [value]="dataUbicacion"
            #dt
            styleClass="p-datatable-gridlines   "
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            [autoLayout]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th>Nro</th>
                <th>Ubigeo</th>
                <th>Departamento</th>
                <th>Provincia</th>
                <th>Distrito</th>
                <th>Poblacion</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>Altura</th>
                <th style="text-align: center">Estado</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ rowData.ubigeo }}</td>
                <td>{{ rowData.departamento }}</td>
                <td>{{ rowData.provincia }}</td>
                <td>{{ rowData.distrito }}</td>
                <td>{{ rowData.poblacion }}</td>
                <td>{{ rowData.latitude }}</td>
                <td>{{ rowData.longitude }}</td>
                <td>{{ rowData.altura }}, m.s.n.m.</td>
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary "
                            (click)="edit(rowData)"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success "
                    ></button>
                </td>

            </tr>
        </ng-template>
    </p-table>

</div>


<p-dialog [(visible)]="ubicacionDialog" [style]="{width: '1080px'}" header="Registrar Ubicación"
          [modal]="true" [responsive]="dataDepartamntos"
          styleClass="p-fluid">
    <br>

    <ng-template pTemplate="body">
        <form [formGroup]='form'>
            <div class="grid">
                <div class=" col-4">
                    <label>DEPARTAMENTO</label>
                    <div class="p-field">
                        <p-dropdown inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="dataDepartamntos"
                                    (onChange)="selectedDepartamento()"
                                    [showClear]="true"
                                    optionLabel="departamento"
                                    defaultLabel="Seleccione un Departamento"
                                    placeholder="-TODOS-"
                                    id="departamento">
                        </p-dropdown>
                    </div>
                </div>
                <div class="p-field col-4">
                    <label>PROVINCIA</label>
                    <div class="p-field">
                        <p-dropdown
                                inputId="dropdown"
                                [autoDisplayFirst]="false"
                                [options]="dataProvincia"
                                optionLabel="provincia"
                                defaultLabel="Seleccione un Departamento"
                                placeholder="-TODOS-"
                                id="provincia"
                                [showClear]="true"
                                [(ngModel)]="dataUbicacion.provincia"
                                (onChange)="selectedProvincia()">

                        </p-dropdown>
                    </div>
                </div>
                <div class="p-field col-4">
                    <label>DISTRITO</label>
                    <div class="p-field">
                        <p-dropdown inputId="dropdown"
                                    [autoDisplayFirst]="false"
                                    [options]="dataDistrito"
                                    [(ngModel)]="dataUbicacion.distrito"
                                    optionLabel="distrito"
                                    defaultLabel="Seleccione un distrito"
                                    placeholder="-TODOS-"
                                    id="distrito"
                                    [showClear]="true">
                        </p-dropdown>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="p-field col-6">
                    <label>CENTRO POBLADO</label>
                    <div class="p-inputgroup">
                        <input type="text" pInputText formControlName='ccpp' required/>
                    </div>
                </div>
                <div class="p-field col-3">
                    <label>UBIGEO</label>
                    <input type="text" pInputText formControlName='ubigeo' required/>
                </div>

                <div class="p-field col-3">
                    <label>POBLACION</label>
                    <input type="text" pInputText formControlName='poblacion' required/>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="canceled()"></button>
        <button *ngIf="!isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar"
                (click)="saveForm()"></button>
        <button *ngIf="isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar"
                (click)="editarDatos()"></button>
    </ng-template>
</p-dialog>
