<div class="card">
    <p-tabView>
        <p-tabPanel header="GENERAR OFERTAS">
            <app-generar-ofertas></app-generar-ofertas>
        </p-tabPanel>
        <p-tabPanel header="OFERTAS">
            <app-ofertas></app-ofertas>
        </p-tabPanel>
        <p-tabPanel header="REGISTRAR CUPOS">
            <div>
                <app-cupos></app-cupos>
            </div>
        </p-tabPanel>
        <p-tabPanel header="CITAS">
            <app-citas></app-citas>
        </p-tabPanel>
        <!--<p-tabPanel header="INTERCONSULTA">
            <app-interconsulta></app-interconsulta>
        </p-tabPanel>-->
    </p-tabView>
</div>
