<div class="p-card">
    <!-- <p-toolbar>
        <ng-template pTemplate="left">
            <span>RECIÉN NACIDOS</span>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
            <button pButton pRipple label="Siguiente" iconPos="right" icon="pi pi-angle-right"
                    (click)="guardarRecienNacidos()" class="guardar mr-2" style="background-color: #0c3866"></button>
        </ng-template>
    </p-toolbar> -->
    <br>
    <p-table [value]="todosRN" #dt [rows]="5" styleClass="p-datatable-gridlines" [paginator]="true"
             [autoLayout]="true" class="m-3"
             currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
             [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <h3>Recien Nacidos</h3>
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                        (click)="openDialogRN()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Sexo</th>
                <th style="text-align: center">N Hcl.</th>
                <th style="text-align: center;width: 8rem">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr style="text-align: center">
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.nombreRecienNacido }}</td>
                <td style="text-align: center">{{ rowData.sexo }}</td>
                <td style="text-align: center">{{ rowData.recienNacidoHcl }}</td>
                <td style="text-align: center;width: 8rem; display: flex">
                    <button pButton (click)="openDialogEditarRN(rowData,rowIndex)" pTooltip="Editar" pRipple
                            type="button"
                            icon="pi pi-pencil" class="p-button-rounded m-1">
                    </button>
                    <button pButton (click)="openDialogRN()" pTooltip="Visualizar" pRipple type="button"
                            icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



