.hora,
.hoy,
.maniana {
    background: rgb(41, 182, 197);
    border: 1px solid black;
    width: 4em;
    height: 3em;
    /* text-align: center; */
    margin: 0.5px;
    padding: auto;
}

.datosPersonales,
.datosExtra,
.datosServicio {
    border: 1px solid #dee2e6;
    border-radius: 10px;
}

.btn-buscar {
    margin-top: 1.8em;
}

p-panel>>>.p-panel .p-panel-header{
    background: #C50009;
    border: 1px solid #C50009;
    color: #FFFFFF;
}

p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #C50009;
}


/* .p-field{
    font-weight: bold;
} */

/* .table{
    background: red;
} */
