
p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header > a {
    background-color: #ffffff !important;
    /*border: 0px 5px 0px 0px;*/
    border-top: none !important;
    border-left: 5px solid #e7e7e7;
    border-bottom: none !important;
    border-radius: 0 5px 5px 0;
    border-left: 5px solid #AF0017; /*jiimmy*/
    width: 200px;
}

p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header > a:hover {
    background-color: #AF0017 !important;
    border-color: #FBF3F4 !important;
    color: #FBF3F4 !important;
    width: 200px;
}

p-panelmenu >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
    width: 250px;
}

p-panelmenu >>> .p-panelmenu .p-panelmenu-content {
    padding: 0.25rem 0;
    border: 1px solid #FFF;
}

p-panelmenu >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-icon {
    font-size: 1.2rem;
}

p-panelmenu >>> .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-panelmenu-icon {
    margin-left: -50px;
    color: transparent;
}

p-panelmenu >>> .p-panelmenu-content .p-menuitem .p-menuitem-link {
    padding: 0.75rem 3em;
}

p-panelmenu >>> .p-panelmenu .p-panelmenu-header > a .p-menuitem-icon {
    margin-left: -20px;
}

p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header .p-menuitem-icon {
    font-size: 2rem;
}

p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header .p-panelmenu-icon {
    color: transparent !important;
}


p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header .p-menuitem-text {
    /*color: white;*/
}

p-panelmenu >>> .p-panelmenu-header.p-highlight:not(.p-enabled) > a {
    border-color: #FBF3F4;
    background-color: #AF0017 !important;
    color: #FBF3F4 !important;
}

/*p-panelmenu>>> .pi-chevron-right:before {*/
/*    content: none !important; rgb(12 56 102)*/
/*}*/

.size-panel-menu {
    width: 30px;
    /*width: auto;
    max-width: calc(100% - 200px);*/
}

p-autocomplete >>> .p-autocomplete {
    display: inline-flex;
    position: relative;
    width: 100% !important;
}

.fondo {
    background-color: #e7e7e7;
    width: 100% !important;
}

p-autocomplete >>> .p-inputtext {
    /* border: none; */
    /*background-color: none;*/
    width: 90% !important;
}

/*.menu{*/
/*    background-color: #ffffff !important;*/
/*    height: 44vw !important;*/
/*}*/

p-menu >>> .p-menu {
    border: 2px solid #e9ecef;
    border-radius: 2px;
}

/*p-menu >>> .p-menuitem >p {*/
/*    background: #AF0017;*/
/*}*/


p-menu >>> .p-submenu-header {
    color: #AF0017;
}

p-menu >>> .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
    color: #042079;

}

p-menu >>> .p-menuitem-link:not(.p-disabled):hover {
    background: #d9dfe3;
    /*color: #965656;*/
}

p-menu >>> .p-menuitem-link {
    border-radius: 10px;
}


/*pi-file>>> .pi-file {*/
/*    color: #AF0017;*/
/*}*/


p-panelmenu >>> .p-panelmenu-header.p-highlight:not(.p-enabled) > a {
    border-color: #7e7e7e;
}

p-panelmenu >>> .p-panelmenu-panel .p-panelmenu-header > a:hover {
    border-color: #FBF3F4 !important
}


/*p-panelMenu>>>.p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link .p-menuitem-text {*/
/*    padding: 0px 12px;*/
/*    font-size: 13px;*/
/*    border-top: 0 none;*/
/*    border-top-width: 0px;*/
/*    border-top-style: none;*/
/*    border-top-color: initial;*/
/*}*/
