.border {
  border: 1px solid #dee2e6;
  border-radius: 5px;
  margin-top: 0.3rem;
  margin-left: 0.4rem;
  /* background: red; */
}
/* ::ng-deep .p-checkbox .p-checkbox-box {
    width: 5rem;
} */
::ng-deep .diagnostico .p-datatable table {
  width: auto;
}

::ng-deep .diagnostico .p-datatable .p-datatable-thead > tr > th {
  text-align: center !important;
  border: 1px solid #b6b6b6;
  background-color: #dddddd;
  padding: 0.3rem;
}
::ng-deep .diagnostico .p-datatable .p-datatable-tbody > tr > td {
  text-align: center;
  font-size: medium;
  word-wrap: break-word;
  font-size: 1rem;
}
::ng-deep .p-selectbutton .p-button.p-highlight,
::ng-deep .p-selectbutton .p-button.p-highlight:hover {
  background: #0c3866;
  border-color: #0c3866;
}
.gestante{
  height: auto;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
span{
  font-weight: 500;
}
.p-inputtext {
  opacity: 1;
}