
    <p-toolbar>
            <div class="p-toolbar-group-left">
                <h1 class="p-m-0">De la Atención</h1>
            </div>
            <ng-template pTemplate="right" class="button" style="text-align: right">

            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-danger mr-2"
                    style= "background: #C50009; border: 1px">
            </button>
        </ng-template>
    </p-toolbar>
    <form [formGroup]="formDeLaAtencion">
        <div class="grid">
                <div class="col-12 md:col-6 xs:col-12 lg:col-4">
                    <div class="grid">
                        <div class="col-12">
                            <p-fieldset legend="Fecha de Atención">
                                    <div class="p-field">
                                        <div class="col-12 p-fluid">
                                            <label>Fecha de Atención:</label>
                                        </div>
                                        <div class="col-12 p-fluid">
                                             <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
                                        </div>
                                    </div>
                                    <div class="p-field">
                                        <div class="col-12 p-fluid">
                                             <label>Hora de Atención:</label>
                                        </div>
                                        <div class="col-12 p-fluid">
                                            <p-calendar [timeOnly]="true" inputId="timeonly"></p-calendar>
                                        </div>
                                    </div>
                            </p-fieldset>
                        </div>
                        <div class="col-12">
                            <p-fieldset legend="Reporte Vinculado">
                                <div class="col-12 p-fluid">
                                    <label>Cod. Autorización</label>
                                </div>
                                <div class="col-12 p-fluid">
                                    <input type="text"  pInputText placeholder="Ingrese código de autorización">
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6 xs:col-12 lg:col-4">
                    <div class="grid">
                        <p-card class="col-12 margin">
                                    <div class="col-12 p-fluid">
                                        <label>UPS:</label>
                                    </div>
                                    <div class="col-12 p-fluid">
                                            <input type="text"  pInputText placeholder="Ingrese UPS">
                                        </div>
                                    <div class="col-12 p-fluid">
                                        <label>Cod. Prestación:</label>
                                    </div>
                                    <div class="col-12 p-fluid">
                                        <input type="text" pInputText placeholder="Ingrese código de prestación">
                                    </div>
                                    <div class="col-12 p-fluid">
                                    </div>
                                        <label>Cod. Prestación(es) Adicional(es):</label>
                                    <div class="col-12 p-fluid">
                                        <input type="text"   pInputText placeholder="Ingrese código de prestación adicional">
                                    </div>

                        </p-card>
                        <div class="col-12">
                            <p-fieldset legend="N° FUA a vincular">
                                <div class="col-12 p-fluid">
                                <label>Cod. Prestación(es) Adicional(es)</label>
                                </div>
                                <div class="col-12 p-fluid">
                                <input type="text"  pInputText  placeholder="Ingrese N° de FUA a vincular">
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-12 xs:col-12 lg:col-4">
                    <div class="grid">
                        <div class="col-12">
                            <p-fieldset legend="Hospitalización">
                                <div class="col-12">
                                    <label>Fecha de Ingreso</label>
                                </div>
                                <div class="col-12 p-fluid">
                                    <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
                                </div>
                                <div class="col-12"l>
                                    <label>Fecha de Alta</label>
                                </div>
                                <div class="col-12 p-fluid">
                                    <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
                                </div>
                                <div class="col-12">
                                    <label>Fecha de Corte Administrativo</label>
                                </div>
                                <div class="col-12 p-fluid">
                                    <p-calendar  [showIcon]="true" inputId="icon"></p-calendar>
                                </div>
                            </p-fieldset>
                        </div>
                    </div>
                </div>
      </div>
    </form>