<div>
        <form [formGroup]="formTamizajeCred">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="TAMIZAJE AUDITIVO" toggleable="true">
                        <div class="grid">
                                <div class="col-6" style="text-align: right">
                                    <label class="">¿El niño nació prematuro?: </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="prematuro"
                                                    optionLabel="label"></p-selectButton>
                                </div>
                            <!--2 fila-->
                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Permaneció en UCI?: </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value"
                                                    optionLabel="label" formControlName="uci"></p-selectButton>
                                </div>
                            <!--3 fila-->

                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Tuvo alta concentración de Billirubina y requirió transfusión sanguínea?</label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="billirubina"
                                                    optionLabel="label"></p-selectButton>
                                </div>

                            <!--4 fila-->

                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Tiene antecedentes familiares de pérdida de audición? </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="perdidaAudicion"
                                                    optionLabel="label"></p-selectButton>
                                </div>

                            <!--5 fila-->

                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Tuvo infecciones frecuentes en los oídos?: </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="infeccionOido"
                                                    optionLabel="label"></p-selectButton>
                                </div>
                            <!--6 fila-->

                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Tuvo infecciones como: meningitis o citomegalovirus? </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="meningitis"
                                                    optionLabel="label"></p-selectButton>
                                </div>
                            <!-- 7 fila-->
                                <div class="col-6 p-field" style="text-align: right">
                                    <label class="">¿Estuvo expuesto a sonidos muy fuerte?(Incluso por poco tiempo? </label>
                                </div>
                                <div class="col-6 p-field">
                                    <p-selectButton [options]="sino"  optionValue="value" formControlName="expuestoSonido"
                                                    optionLabel="label"></p-selectButton>
                                </div>
                        </div>
                        <br>
                        <div class="grid">
                            <div class="col-12 p-fluid">
                                    <span class="p-float-label" p-fluid>
                                        <textarea id="float-input" rows="8" cols="30" pInputTextarea formControlName="tamizajeAuditivo"></textarea>
                                        <label for="float-input">Observaciones:</label>
                                    </span>
                            </div>
                        </div>
                    </p-panel>
                </div>

                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="EXÁMEN OCULAR" toggleable="true">
                        <div class="grid">
                            <div class="col-6 p-fluid">
                                <label>OD</label><br>
                                <input type="text" pInputTextarea placeholder="Ojo Derecho" formControlName="ojoDerecho" p-fluid >
                            </div>
                            <div class="col-6 p-fluid">
                                <label>OI</label><br>
                                <input type="text" pInputTextarea  placeholder="Ojo Izquierdo" formControlName="ojoIzquierdo" p-fluid>
                            </div>
                            <br>
                            <br>
                            <div class="col-12 p-fluid">
                                  <span class="p-float-label" >
                                    <textarea id="float-input1" rows="5" cols="30" pInputTextarea formControlName="descripcionTamizajeOcular" p-fluid></textarea>
                                    <label for="float-input1">Descripcion:</label>
                                </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="TAMIZAJE DE SALUD MENTAL (VIF)" toggleable="true">
                        <label>Preguntar al Adulto(a):</label>
                        <div class="grid">
                            <div class="col-6 p-fluid p-field" style="text-align: right">
                                <label class="">¿Alguna vez algún miembro de su familia lo insulta, lo golpea, le chantajea o le obliga a tener relaciones sexuales?: </label>
                            </div>
                            <div class="col-3 p-fluid p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="prematuro"
                                                optionLabel="label"></p-selectButton>
                            </div>
                            <div class="col-3 p-fluid p-field">
                                <label>Quién?</label>
                                <input type="text" pInputText>
                            </div>

                            <!--2 fila-->
                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Permaneció en UCI?: </label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value"
                                                optionLabel="label" formControlName="uci"></p-selectButton>
                            </div>
                            <!--3 fila-->

                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Tuvo alta concentración de Billirubina y requirió transfusión sanguínea?</label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="billirubina"
                                                optionLabel="label"></p-selectButton>
                            </div>

                            <!--4 fila-->

                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Tiene antecedentes familiares de pérdida de audición? </label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="perdidaAudicion"
                                                optionLabel="label"></p-selectButton>
                            </div>

                            <!--5 fila-->

                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Tuvo infecciones frecuentes en los oídos?: </label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="infeccionOido"
                                                optionLabel="label"></p-selectButton>
                            </div>
                            <!--6 fila-->

                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Tuvo infecciones como: meningitis o citomegalovirus? </label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="meningitis"
                                                optionLabel="label"></p-selectButton>
                            </div>
                            <!-- 7 fila-->
                            <div class="col-6 p-field" style="text-align: right">
                                <label class="">¿Estuvo expuesto a sonidos muy fuerte?(Incluso por poco tiempo? </label>
                            </div>
                            <div class="col-6 p-field">
                                <p-selectButton [options]="sino"  optionValue="value" formControlName="expuestoSonido"
                                                optionLabel="label"></p-selectButton>
                            </div>
                        </div>
                        <br>
                        <!-- 2 fila-->


                        <div class="grid">
                            <div class="col-12 p-fluid">
                                 <span class="p-float-label" >
                                        <textarea id="float-input4" rows="8" cols="30" pInputTextarea formControlName="tamizajeMental"></textarea>
                                        <label for="float-input4">Descripcion:</label>
                                 </span>
                            </div>
                        </div>
                    </p-panel>
                </div>

            </div>
        </form>
    <p-toast></p-toast>
</div>