<div>
        <form [formGroup]="formTamizajeCred">
            <div class="grid">
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="TAMIZAJE AUDITIVO" toggleable="true">
                        <br>
                        <div class="grid">
                            <div class="col-12 p-fluid">
                                    <span class="p-float-label" p-fluid>
                                        <textarea id="float-input" rows="8" cols="30" pInputTextarea formControlName="tamizajeAuditivo"></textarea>
                                        <label for="float-input">Descripcion:</label>
                                    </span>
                            </div>
                        </div>
                    </p-panel>
                </div>

                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="EXÁMEN OCULAR" toggleable="true">
                        <div class="grid">
                            <div class="col-6 p-fluid">
                                <label>OD</label><br>
                                <input type="text" pInputTextarea placeholder="Ojo Derecho" formControlName="ojoDerecho" p-fluid >
                            </div>
                            <div class="col-6 p-fluid">
                                <label>OI</label><br>
                                <input type="text" pInputTextarea  placeholder="Ojo Izquierdo" formControlName="ojoIzquierdo" p-fluid>
                            </div>
                            <br>
                            <br>
                            <div class="col-12 p-fluid">
                                  <span class="p-float-label" >
                                    <textarea id="float-input1" rows="5" cols="30" pInputTextarea formControlName="descripcionTamizajeOcular" p-fluid></textarea>
                                    <label for="float-input1">Descripcion:</label>
                                </span>
                            </div>
                        </div>
                    </p-panel>
                </div>
<!--                <div class="col-12 md:col-6 lg:col-6 p-field">-->
<!--                    <p-panel header="EXÁMEN ESTOMATOLÓGICO" toggleable="true">-->
<!--                        <br>-->
<!--                        <span class="p-float-label">-->
<!--                                    <textarea id="float-input3" rows="8" cols="30" pInputTextarea formControlName="estomatologico"></textarea>-->
<!--                                    <label for="float-input3">Descripcion:</label>-->
<!--                                </span>-->
<!--                    </p-panel>-->
<!--                </div>-->
                <div class="col-12 md:col-6 lg:col-6 p-field">
                    <p-panel header="TAMIZAJE DE SALUD MENTAL (VIF)" toggleable="true">
                        <br>
                        <div class="grid">
                            <div class="col-12 p-fluid">
                                 <span class="p-float-label" >
                                        <textarea id="float-input4" rows="8" cols="30" pInputTextarea formControlName="tamizajeMental"></textarea>
                                        <label for="float-input4">Descripcion:</label>
                                 </span>
                            </div>
                        </div>
                    </p-panel>
                </div>

            </div>
        </form>
</div>