.button-agregar{
    background: #0c3866;

}
p-panel>>>.p-panel.p-panel-toggleable .p-panel-header {
    padding: 0.5rem 1rem;
    background: #f8f9fa;
    color: rgb(135 135 135);
}
p-panel>>>.p-panel .p-panel-header .p-panel-header-icon {
    width: 2rem;
    height: 2rem;
    color: rgb(135 135 135);
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}
p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background-color: #0c3866;
}
p-checkbox >>>.p-checkbox .p-checkbox-box.p-highlight {
    border-color: #0c3866;
    background: #0c3866;
}
p-checkbox>>>.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover {
    border-color: #0c3866;
    background: #0c3866;
    color: #ffffff;
}

/*estilos del dialog Guia*/
p-dialog>>>.p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid red;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
    border-color:red;
}
p-dialog>>>.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: red;
    font-size:20px;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
p-datatable>>>.p-datatable.p-datatable-gridlines .p-datatable-thead > tr > th {
    border-width: 1px 1px 1px 1px;
    border-color:red;
}

.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
}