<div>
    <div class="container_steps">
        <div *ngFor="let item of items; index as indexItem">
            <div *ngIf="indexItem === indexSelected">
                <div class="steps">
                    <div class="div-titulo-nro">
                        <label class="steps-titulo-edadNro">{{item.edadNro}}</label>
                    </div>
                    <div class="div-line"></div>
                    <div class="div-titulo-mes">
                        <label class="steps-titulo-edadMes">{{item.edad}}</label>
                    </div>
                </div>
            </div>
            <div *ngIf="indexItem !== indexSelected">
                <div class="steps_NoSelected" (click)="changeStep(indexItem, item.edadNro, item.edad)">
                    <div class="div-titulo-nro">
                        <label class="steps-titulo-edadNro">{{item.edadNro}}</label>
                    </div>
                    <div class="div-line"></div>
                    <div class="div-titulo-mes">
                        <label class="steps-titulo-edadMes">{{item.edad}}</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="div_line_Separate_card"></div>
    <div>
        <p-fieldset legend="{{edadNroSelected + ' ' + edadSelected}}">
            <div class="container_input_datos">
                <div>
                    <input class="input_Evaluacion" id="Nvalue" width="" [(ngModel)]="resultadoEvaluacion" pInputText />
                </div>
                <div style="margin-left: 40px;">
                    <label class="label_fecha" style="margin-right: 8px;">Fecha</label>
                    <input type="date" [(ngModel)]="fechaEvaluacion" pInputText>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="fechaEvaluacion" dateFormat="yy-mm-dd">
                    </p-calendar>
                </div>
                <div style="margin-left: 40px;">
                    <label class="label_fecha">Examinador</label>
                    <input class="input_examinador" pInputText placeholder="Ingrese Examinador"
                        [(ngModel)]='examinador' />
                </div>
            </div>
            <div style="margin-top: 20px;">
                <p-table dataKey="id" [value]="arrayEdadEEDPSelected" responsiveLayout="scroll">
                    <ng-template pTemplate="header">
                        <tr>
                            <th rowspan="2" colspan="8">ITEM</th>
                            <th colspan="2">{{'PUNTAJE ' + puntaje + ' C/U'}}</th>
                            <th colspan="4">PAUTA BREVE</th>
                        </tr>

                        <tr>
                            <th colspan="2">EEDP</th>
                            <th colspan="2">N</th>
                            <th colspan="2">R</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-datos>
                        <tr>
                            <td colspan="2">{{datos.areEvaluacion}}</td>
                            <td colspan="6" pEditableColumn>{{datos.descripcion}}</td>
                            <td colspan="2">
                                <p-cellEditor (onChange)="calcularResultado()">
                                    <ng-template pTemplate="input">
                                        <input style="width:50px; text-align: center;" pInputText type="text"
                                            [(ngModel)]="datos.puntajeEEDP">
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <input style="width:50px" pInputText type="text" [(ngModel)]="datos.puntajeEEDP"
                                            (blur)="calcularResultado()" onClick="this.select();">
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td colspan="2">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-checkbox [(ngModel)]="datos.puntajeBreveN" binary="true" inputId="binary">
                                        </p-checkbox>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <p-checkbox [(ngModel)]="datos.puntajeBreveN" binary="true" inputId="binary">
                                        </p-checkbox>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                            <td colspan="2">
                                <p-cellEditor>
                                    <ng-template pTemplate="input">
                                        <p-checkbox [(ngModel)]="datos.puntajeBreveR" binary="true" inputId="binary">
                                        </p-checkbox>
                                    </ng-template>
                                    <ng-template pTemplate="output">
                                        <p-checkbox [(ngModel)]="datos.puntajeBreveR" binary="true" inputId="binary">
                                        </p-checkbox>
                                    </ng-template>
                                </p-cellEditor>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="grid mt-2">
                <p-button [disabled]="disabledUpdate" (click)="updateEscalaEEDP()">Actualizar</p-button>
                <p-button [disabled]="disabled" (click)="saveTest()">Guardar</p-button>
            </div>
        </p-fieldset>
    </div>
</div>