
<div class="grid mt-3">
    <div class="col-4" >
        <div class="grid bg-rojo" (click)="clickEnDiv()">
            <img src="../../../../../assets/images/psicologia.png" class="imgPsico">
        </div>
        <div class="grid bg-blanco" (click)="clickEnDiv()">
            <span class="texto">Psicología</span>
        </div>
    </div>
    <div class="col-4">
        <div class="grid bg-rojo">
            <img src="../../../../../assets/images/odontologia.png" class="imgPsico">
        </div>
        <div class="grid bg-blanco">
            <span class="texto">Odontología</span>
        </div>
    </div>
    <div class="col-4">
        <div class="grid bg-rojo">
            <img src="../../../../../assets/images/nutricion.png" class="imgPsico">
        </div>
        <div class="grid bg-blanco">
            <span class="texto">Nutrición</span>
        </div>
    </div>
    <div class="col-4 mt-3">
        <div class="grid bg-rojo">
            <img src="../../../../../assets/images/laboratorio.png" class="imgPsico">
        </div>
        <div class="grid bg-blanco">
            <span class="texto">Laboratorio</span>
        </div>
    </div>
    <div class="col-4 mt-3">
        <div class="grid bg-rojo">
            <img src="../../../../../assets/images/medicina.png" class="imgPsico">
        </div>
        <div class="grid bg-blanco">
            <span class="texto">Medicina</span>
        </div>
    </div>
    <div class="div">
    </div>
</div>