<p-card>
  <p-table
    #dt
    styleClass="p-datatable-responsive-demo"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [paginator]="true"
    [autoLayout]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
  >
    <ng-template pTemplate="caption">
      <div class="flex justify-content-between">
        <h5>Lista de tipos de personal</h5>
        <button
          pButton
          type="button"
          label="Agregar"
          icon="pi pi-plus"
          (click)="agregar()"
          pTooltip="Agregar tipo de personal"
          tooltipPosition="bottom"
          class="p-button-danger p-button-sm"
          pRipple
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
      <tr>
        <th>Nro</th>
        <th>Codigo SIS</th>
        <th>Nombre</th>
        <th>Profesinal</th>
        <th>Abreviatura</th>
        <th>Especialidad</th>
        <th>Estado</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
    </ng-template>
  </p-table>
</p-card>
