<div class="grid">
    <div class="col-12">
        <label class="text-5xl text-blue-700 centrar p-4">CAJA</label>
    </div>
    <div class="col-12">
        <p-tabView>
            <p-tabPanel header="PAGO CUPOS">
                <app-pagos></app-pagos>
            </p-tabPanel>
            <p-tabPanel header="PAGO DE PROCEDIMIENTOS">
                <app-pago-procedimientos></app-pago-procedimientos>
            </p-tabPanel>
            <p-tabPanel header="RESUMEN DE PAGOS">
                <app-resumen-pagos></app-resumen-pagos>
            </p-tabPanel>
        </p-tabView>
    </div>
</div>