<div>
    <p-panel>
        <ng-template pTemplate="header">
            <label class="">GESTANTES > COSULTAS OBSTETRICA</label>
        </ng-template>

        <div class="grid">
            <div class="col-12 md:col-6 lg:col-3 p-field">
                <div class="">
                    <span class="">TIPO DOCUMENTO</span>
                </div>
                <div class="">
                    <p-dropdown placeholder="Seleccionarddd" [options]="options" optionLabel="name">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-12 md:col-6 lg:col-3 p-field">
                <div class="">
                    <span class="">NUMERO DE DOCUMENTO</span>
                </div>
                <div class="p-inputgroup">
                    <input type="text" pInputText>
                    <button pButton type="button" icon="pi pi-search" iconPos="right" class="p-button-danger"></button>
                </div>
            </div>

        </div>

    </p-panel>


    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <span class="p-m-0">
                LISTA DE CONSULTA REALIZADAS EL DIA DE HOY
            </span>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Agregar" icon="pi pi-save" (click)="openNew()"
                class="p-button-raised p-button-secondary"></button>
        </ng-template>
    </p-toolbar>


    <p-table [value]="citas" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
        [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">

        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">DNI</th>
                <th style="text-align: center">APELLIDOS</th>
                <th style="text-align: center">NOMBRES</th>
                <th style="text-align: center">CONSULTORIO</th>
                <th style="text-align: center">HORARIO</th>
                <th style="text-align: center">FECHA</th>
                <th style="text-align: center">ACCIONES</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.dni }}</td>
                <td style="text-align: center">{{ rowData.apellidos }}</td>
                <td style="text-align: center">{{ rowData.nombres }}</td>
                <td style="text-align: center">{{ rowData.consultorio }}</td>
                <td style="text-align: center">{{ rowData.horario }}</td>
                <td style="text-align: center">{{ rowData.fecha }}</td>
                <td style="text-align: center">
                    <span class="p-buttonset">
                        <button pButton pRipple (click)="openNew()" class="p-button-info" label="Editar"
                            icon="pi pi-check"></button>
                        <button pButton pRipple class="p-button-danger" label="Cancelar" icon="pi pi-times"></button>
                    </span>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<!-- dialogo consulta -->
<p-dialog [(visible)]="consultaDialog" [style]="{width: '1450px'}" [modal]="true" styleClass="p-fluid ">
    <ng-template pTemplate="header" class="align-self-center">
        <h3 class="titulo text-pink-600">CONSULTA</h3>
    </ng-template>
    <ng-template pTemplate="body">
        <form [formGroup]='form'>
            <div class="grid ">
                <div class="col-12 md:col-6 mt-6">
                    <div class="margen border-300">
                        <div class="grid ">
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Fecha de atención:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="p-inputtext-sm " pInputText />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-2 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Hora:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="p-inputtext-sm " pInputText />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-2 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Edad:</label>
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="p-inputtext-sm " pInputText />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-6">
                                        <label class="text-sm">N° de A. Prenatal:</label>
                                    </div>
                                    <div class="col-6">
                                        <input type="text" class="p-inputtext-sm " pInputText />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="grid">
                                    <div class="col-2">
                                        <label class="text-sm">Cambio de Domicilio:</label>
                                    </div>
                                    <div class="col-10">
                                        <input type="text" class="p-inputtext-sm " pInputText />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <p-fieldset legend="Estado Actual: Funciones Biológicas">
                        <div class="grid ">
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Apetito:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar" optionLabel="name"
                                            [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Sed:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar" optionLabel="name"
                                            [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Sueño:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar" optionLabel="name"
                                            [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Estado de animo:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar" optionLabel="name"
                                            [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Orina:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar..."
                                            optionLabel="name" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-4 text-center">
                                <div class="grid">
                                    <div class="col-4">
                                        <label class="text-sm">Deposiciones:</label>
                                    </div>
                                    <div class="col-8">
                                        <p-dropdown class="p-fluid w-full" placeholder="Seleccionar..."
                                            optionLabel="name" [showClear]="true"></p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="col-12 md:col-6">
                    <p-fieldset legend="INTERROGATORIO">
                        <div class="grid ">
                            <div class="col-12 md:col-6 text-left">
                                <div class="grid">
                                    <div class="col-12">
                                        <label class="text-sm">Motivo de Consulta:</label>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="p-fluid w-full" rows="2" cols="45" pInputTextarea></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 md:col-6 text-left">
                                <div class="grid">
                                    <div class="col-12">
                                        <label class="text-sm">Tiempo de Enfermedad:</label>
                                    </div>
                                    <div class="col-12">
                                        <textarea class="p-fluid w-full" rows="2" cols="45" pInputTextarea></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 text-center">
                                <div class="grid">
                                    <div class="col-2">
                                        <label class="text-sm">Observacion:</label>
                                    </div>
                                    <div class="col-10">
                                        <textarea class="p-fluid w-full" rows="2" cols="85" pInputTextarea></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="col-12 md:col-6">
                    <p-fieldset legend="Examen Físico">
                        <div class="grid ">
                            <div class="col-12 text-center">
                                <textarea class="p-fluid w-full" rows="8" cols="85" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
                <div class="col-12 md:col-6">
                    <p-table [value]="prueba" #dt [rows]="3" styleClass="p-datatable-gridlines"
                        [paginator]="true" [autoLayout]="true" class="m-3"
                        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
                        [showCurrentPageReport]="true" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="grid">
                                <div class="col-10">
                                    <h3>DIAGNOSTICOS</h3>
                                </div>
                                <div class="col-2">
                                    <button pButton pRipple label="Agregar" icon="pi pi-plus"
                                        class="p-button-danger bg-blue-700 border-200 h-3rem p-mr-2"
                                        (click)="openNew()"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center">Nro</th>
                                <th style="text-align: center">Diagnostico</th>
                                <th style="text-align: center;width: 8rem">Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr style="text-align: center">
                                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                                <td style="text-align: center">{{ rowData.diagnostico }}</td>
                                <td style="text-align: center">
                                    <span class="p-buttonset">
                                        <button pButton pRipple routerLink="new-consulta" class="p-button-info" label="Editar"
                                            icon="pi pi-check"></button>
                                        <button pButton pRipple class="p-button-danger" label="Cancelar" icon="pi pi-times"></button>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="col-12 text-center">
                        <div class="grid">
                            <div class="col-2">
                                <label class="text-sm">ACTIVIDAD:</label>
                            </div>
                            <div class="col-10">
                                <textarea class="p-fluid w-full" rows="2" cols="85" pInputTextarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <p-table [value]="prueba" #dt [rows]="3" styleClass="p-datatable-gridlines"
                        [paginator]="true" [autoLayout]="true" class="m-3"
                        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
                        [showCurrentPageReport]="true" responsiveLayout="scroll">
                        <ng-template pTemplate="caption">
                            <div class="grid">
                                <div class="col-10">
                                    <h3>TRATAMIENTOS</h3>
                                </div>
                                <div class="col-2">
                                    <button pButton pRipple label="Agregar" icon="pi pi-plus"
                                        class="p-button-danger bg-blue-700 border-200 h-3rem p-mr-2"
                                        (click)="openNew()"></button>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="text-align: center">Nro</th>
                                <th style="text-align: center">Tratamiento</th>
                                <th style="text-align: center;width: 8rem">Acción</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                            <tr style="text-align: center">
                                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                                <td style="text-align: center">{{ rowData.tratamientos }}</td>
                                <td style="text-align: center">
                                    <span class="p-buttonset">
                                        <button pButton pRipple routerLink="new-consulta" class="p-button-info" label="Editar"
                                            icon="pi pi-check"></button>
                                        <button pButton pRipple class="p-button-danger" label="Cancelar" icon="pi pi-times"></button>
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    <div class="col-12 text-center">
                        <div class="grid">
                            <div class="col-3">
                                <label class="text-sm">RECOMENDACIONES:</label>
                            </div>
                            <div class="col-9">
                                <textarea class="p-fluid w-full" rows="2" cols="85" pInputTextarea></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="grid">
                        <div class="col-12 md:col-8 text-center">
                            <div class="grid">
                                <div class="col-4">
                                    <label class="text-sm">PRÓXIMA CITA:</label>
                                </div>
                                <div class="col-8">
                                    <input type="date" class="p-inputtext-sm " pInputText />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 md:col-6">
                    <div class="grid">
                        <div class="col-12 md:col-6 text-center">
                            <div class="grid">
                                <div class="col-4">
                                    <label class="text-sm">REFERENCIA:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="p-inputtext-sm " pInputText />
                                </div>
                            </div>
                        </div>
                        <div class="col-12 md:col-6 text-center">
                            <div class="grid">
                                <div class="col-4">
                                    <label class="text-sm">N° REFERENCIA:</label>
                                </div>
                                <div class="col-8">
                                    <input type="text" class="p-inputtext-sm " pInputText />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <p-fieldset legend="PERSONAL QUE ATENDIÓ">
                        <div class="grid ">
                            <div class="col-12">
                                <textarea class="p-fluid w-full" rows="1" cols="45" pInputTextarea></textarea>
                            </div>
                        </div>
                    </p-fieldset>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="p-button-danger"></button>
        <button *ngIf="!isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar"></button>
        <button *ngIf="isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar"></button>
    </ng-template>
</p-dialog>