.margen{
    border: 1px solid;
    border-radius: 10px;
    padding: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
.p-inputtext-sm{
    width: 100%;
    height: 30px;
    border-radius: 10px;
}
.titulo{
    display:block;
    margin:auto;
}