.botonCancelar {
    height: 2.357rem;
    background: #bf0d21;
    margin:1px;
    border-color: #bf0d21;
}

p-dropdown{
    position: absolute;
}

.botonGuardar{
    background:#0c3866;
    height: 2.357rem;
    margin:1px;
    border-color:#0c3866;
}
.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    background: rgb(252 252 250)
}
p-dialog>>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #ffffff;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    color:#ffffff;
}