<div style="background: #f8f9fa; height: 100%;">
    <div class="card">
        <div class="flex" style="margin-top:20px; margin-bottom:20px">
            <div class="col-12" style="text-align:center;">
                <span style="font-size:2em ;">
                    VISITA DOMICILIARIA DE LA GESTANTE
                </span>
            </div>
        </div>
        <div class="card">
            <p-toolbar  class="p-mb-4">
                <ng-template pTemplate="left" class="p-inputgroup">
                </ng-template>
                <ng-template pTemplate="right" class="button">
                    <button pButton 
                    pRipple label="Estadistica"
                    icon="pi pi-chart-bar" 
                    class="p-button-help mr-2"
                    >
                    </button>
                </ng-template>
            </p-toolbar>
            <p-card>
                <div class="p-fluid p-formgrid p-grid">
                    <div class="busqueda">
                        <div class="anios">
                            <p-dropdown
                                    (onChange)="verVisitasPorAnio($event)"
                                    [options]="anios"
                                    optionLabel="anio"
                                    optionValue="anio"
                                    placeholder="Año"
                                    [showClear]="false"
                                    [style]="{ width: '100%' }"
                                    [(ngModel)]="selectedAnio"
                                    [ngModelOptions]="{standalone: true}"
                                    >
                            </p-dropdown>
                        </div>
                        <div class="meses">
                            <p-selectButton (onChange)="verVisitasPorMes($event)" 
                                            [options]="meses"  
                                            optionValue="value" 
                                            [(ngModel)]="selectedMes"
                                            [ngModelOptions]="{standalone: true}"
                                            optionLabel="label"></p-selectButton>
                        </div>
                    </div>
                </div>
            </p-card>
            
            <!--MapStreet-->
        </div>
    </div>
    <p-accordion>
        <p-accordionTab>
            <p-header >
                <span>VISITA DOMICILIARIA GESTANTES-NÚMERO DE VISITAS : 
                    <i class="pi pi-bell mr-4 p-text-secondary" pBadge style="font-size: 1.25rem" [value]="dataVisitas.length" severity="danger"></i>
                </span>
            </p-header>
            <p-table [value]="dataVisitaGestantes"
                     [paginator]="true"
                     [rows]="10"
                     [showCurrentPageReport]="true"
                     [first]="0"
                     [totalRecords]="dataVisitaGestantes.length"
                     styleClass="p-datatable-gridlines"
                     currentPageReportTemplate="Mostrando {first} a {last} de
                     {{dataVisitaGestantes.length}} entradas"
                     [rowsPerPageOptions]="[10,25,50]"
                     selectionMode="single"
                     [(selection)]="selectedGestante"
            >
                <ng-template pTemplate="header">
                <tr>
                    <th>Nro</th>
                    <th>DNI</th>
                    <th pSortableColumn="nombres_gestante">Nombres<p-sortIcon field="nombres_gestante"></p-sortIcon></th>
                    <th pSortableColumn="apellidos_gestante">Apellidos<p-sortIcon field="apellidos_gestante"></p-sortIcon></th>
                    <th pSortableColumn="nroVisita">Nro Visita<p-sortIcon field="nroVisita"></p-sortIcon></th>
                    <th pSortableColumn="numero_de_gestacion">Nro Gesta<p-sortIcon field="numero_de_gestacion"></p-sortIcon></th>
                    <th pSortableColumn="fecha_creacion_documento ">Fecha de la visita<p-sortIcon field="fecha_creacion_documento "></p-sortIcon></th>
                    <th>Telefono</th>
                    <th>Direccion</th>
                    <th>Anemia</th>
                    <th>Respuestas</th>
                    <th>Acciones</th>
                </tr>
                </ng-template>
                <ng-template pTemplate="body"  let-RowData let-rowIndex="rowIndex">
                    <tr [pSelectableRow]="RowData">
                        <td style="text-align: center">{{rowIndex+1}}</td>
                        <td style="text-align: center">{{RowData.dni_gestante}}</td>
                        <td style="text-align: left">{{RowData.nombres_gestante}}</td>
                        <td style="text-align: left">{{RowData.apellidos_gestante}}</td>
                        <td style="text-align: center">{{RowData.nroVisita}}</td>
                        <td style="text-align: center">{{RowData.numero_de_gestacion}}</td>
                        <td style="text-align: center">{{RowData.fecha_creacion_documento | date:'dd/MM/yyyy'}}</td>
                        <td style="text-align: center">{{RowData.telefono}}</td>
                        <td style="text-align: left">{{RowData.direccion}}</td>
                        <div *ngIf="(RowData.hemoglobina |AnemiaGestantes)==1;then si">
                        </div>
                        <div *ngIf="(RowData.hemoglobina |AnemiaGestantes)==0;then no">

                        </div>
                        <div *ngIf="(RowData.hemoglobina |AnemiaGestantes)==-1;then sin_info">
                        </div>
                        <ng-template #si>
                            <td style="text-align:center">
                                <button pButton type="button"  
                                    iconPos="left" icon="pi pi pi-times" label="SI"
                                    class="p-button-warning p-button-sm">
                                </button>
                            </td>
                        </ng-template>
                        <ng-template #no>
                            <td style="text-align: center">
                                <button pButton type="button"  
                                    iconPos="left" icon="pi pi-check" label="NO"
                                    class="p-button-success p-button-sm">
                                </button>
                            </td>
                        </ng-template>
                        <ng-template #sin_info>
                            <td style="text-align: center">
                            </td>
                        </ng-template>
                        <td style="text-align: center">
                            <button  pButton type="button" label="Ver"  icon="pi pi-eye"  class="buttonAcciones" (click)="openDialogRespuestas(RowData.preguntas)"></button>
                        </td>
                        <td style="text-align: center">
                            <button pButton type="button"  class="buttonAcciones1" (click)="visitas_gestantes_reporte(RowData)"
                            ><a class="link" style="color:#fbfbfb; text-decoration: none;"
                            href="{{visitaReporte}}"
                                target="_blank">Reporte</a>
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        
        </p-accordionTab>
    </p-accordion>
    <p-card>
        <app-map-visitas [dataVisitas]="dataVisitas"></app-map-visitas>
    </p-card>
</div>

<p-toast position="top-right" key="myMessage1"></p-toast>
<p-toast position="top-right" key="myMessage2"></p-toast>