p-dropdown >>> * {
    width: 150px;
}

p-card >>> .p-card-body {
    font-size: small;
}

p-tabview >>> .p-tabview-title {
    font-size: small;
}

p-tabview >>> .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #af0017;
    border-color: #af0017;
    color: #ffffff;
}

p-tabview
    >>> .p-tabview
    .p-tabview-nav
    li
    .p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #dcb4b4;
}

p-tabview >>> .p-tabview .p-tabview-panels {
    height: 650px;
}

:host >>> .p-steps-item {
    cursor: pointer;
}

:host >>> .p-steps {
    margin-bottom: 20px;
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    border-radius: 0;
    width: 140px;
    height: 50px;
    color: transparent;
    background: white;
    border: 1px solid green;
}

:host
    >>> .p-steps
    .p-steps-item.p-steps-current
    .p-menuitem-link
    .p-steps-number {
    border: 1px solid rgb(10, 79, 163);
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    margin-top: -35px;
    z-index: 2;
    margin-bottom: 19px;
    color: green;
}

:host >>> .p-steps .p-steps-item.p-highlight .p-steps-title {
    color: rgb(10, 79, 163);
}

:host >>> .p-steps .p-steps-item:before {
    margin-top: -4px;
}

/* :host::ng-deep .p-steps.step-custom .p-steps-item .p-steps-number {
  background-color: #0081c2;
  color: #FFFFFF;
  display: inline-block;
  width: 36px;
  border-radius: 50%;
  margin-top: -14px;
  margin-bottom: 10px;

} */

p-selectbutton >>> .p-selectbutton .p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
}

p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}

.guardar {
    background: #0c3866;
    border-color: #0c3866;
    align-items: center;
}

p-toolbar >>> * {
    align-self: center;
}
.dato-error {
    color: red;
}

::ng-deep .p-disabled,
.p-component:disabled,
::ng-deep .p-calendar-disabled .p-inputtext {
    opacity: 1;
}

/* interconsulta */
div#opc {
    position: static;
}
p-speeddial >>> .p-button.p-button-icon-only.p-button-rounded {
    background: green;
    border-color: green;
}
:host ::ng-deep .speeddial-semi-circle .p-speeddial-direction-left {
    right: 0;
    top: 300px;
}
:host ::ng-deep .button-agregar .p-button {
    background-color: #0c3866;
}
