<div>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0"></h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-danger mr-2"
                    style="background: #2196F3; border: 1px solid #2196F3;"></button>
        </ng-template>
    </p-toolbar>
    <br>
    <p-fieldset legend="DATOS GENERALES DEL PACIENTE" [toggleable]="true">

        <form [formGroup]='formDatos_Generales'>
            <div class="grid col-12">
                <div class="col-1" style="text-align: right">
                    <label>Ap. Paterno:</label>
                </div>
                <div class="p-field col-3">
                    <input type="text" pInputText
                           class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Ap. Materno:</label>
                </div>
                <div class="p-field col-3">
                    <input type="text"
                           pInputText
                           class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Nombres:</label>
                </div>
                <div class="p-field col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>
            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Establecimiento: </label>
                </div>
                <div class="p-field col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Establecimiento Origen:</label>
                </div>
                <div class="col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Aplica: </label>
                </div>
                <div class="col-2">
                    <p-selectButton [options]="opciones" formControlName="aplica"
                                    optionLabel="name"></p-selectButton>
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Referencia:</label>
                </div>
                <div class="col-2" style="text-align: left">
                    <p-selectButton [options]="opciones" formControlName="referencia"
                                    optionLabel="name"></p-selectButton>
                </div>
            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Código Afiliación SIS:</label>
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-2" style="text-align: right">
                    <label>Documento de Identidad N°:</label>
                </div>
                <div class="col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-2" style="text-align: right">
                    <label>Fecha de Nacimiento:</label>
                </div>
                <div class="col-2">
                    <input type="date" pInputText class="inputfield w-full">
                </div>

            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Ocupacion:</label>
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Edad:</label>
                </div>
                <div class="col-1">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Dirección:</label>
                </div>
                <div class="col-5">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Estudios:</label>
                </div>
                <div class="p-field col-2">
                    <p-dropdown [options]="studies"
                                placeholder="Estudios"
                                optionLabel="name"
                                [showClear]="false">
                    </p-dropdown>
                </div>

                <div class="col-2" style="text-align: right">
                    <label>Años Aprobados:</label>
                </div>
                <div class="col-1">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-2" style="text-align: right">
                    <label>Nombre/N° Sector:</label>
                </div>
                <div class="col-4">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Estado Civil:</label>
                </div>
                <div class="p-field col-1">
                    <p-dropdown [options]="estadoCivil"
                                placeholder="Seleccionar"
                                optionLabel="name"
                                [showClear]="false">
                    </p-dropdown>
                </div>

                <div class="col-2" style="text-align: right">
                    <label>Departamento:</label>
                </div>
                <div class="p-field col-2">
                    <p-dropdown [options]="departamentos"
                                placeholder="Departamento"
                                optionLabel="name"
                                [showClear]="false">
                    </p-dropdown>
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Provincia:</label>
                </div>
                <div class="p-field col-2">
                    <p-dropdown [options]=""
                                placeholder="Seleccione provincia"
                                [showClear]="false">
                    </p-dropdown>
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Distrito:</label>
                </div>
                <div class="p-field col-2">
                    <p-dropdown [options]=""
                                placeholder="Seleccionar distrito"
                                [showClear]="false">
                    </p-dropdown>
                </div>

            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Nombre de RN:</label>
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>


                <div class="col-1" style="text-align: right">
                    <label>Padre de RN:</label>
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>


                <div class="col-1" style="text-align: right">
                    <label>Religion:</label>
                </div>
                <div class="col-3">
                    <input type="text" pInputText class="inputfield w-full">
                </div>
            </div>

            <div class="grid col-12">

                <div class="col-1" style="text-align: right">
                    <label>Cel. N° 1:</label>
                </div>
                <div class="col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Cel. N° 2:</label>
                </div>
                <div class="col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

                <div class="col-1" style="text-align: right">
                    <label>Idioma:</label>
                </div>
                <div class="col-2">
                    <input type="text" pInputText class="inputfield w-full">
                </div>

            </div>
        </form>

    </p-fieldset>
    <br>


    <p-fieldset legend="ANTECEDENTES" [toggleable]="true" collapsed="">

        <div class="grid col-12">
            <div class="col-6">
                <p-fieldset legend="ANTECEDENTES OBSTETRICOS" [toggleable]="false">
                    <!--                    <p>dependency-dashboard works!</p>-->
                    <!--                    <div id="visNetwork" #visNetwork></div>-->
                    <div class="d-flex alig-items-center;">
                        <img class="d-flex alig-items-center; logo_Region" src="../../../../assets/images/grafo.png">
                    </div>
                </p-fieldset>
            </div>

            <div class="col-6">
                <p-fieldset legend="GESTACION ANTERIOR" [toggleable]="false">

                    <div class="grid">
                        <div class="col-6">
                            <div class="grid">
                                <div class="col-3" style="text-align: right">
                                    <label>Fecha:</label>
                                </div>
                                <div class="col-6" style="text-align: left">
                                    <input type="date" pInputText>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="grid">
                                <div class="col-7" style="text-align: right">
                                    <label>Per Intergenésico Adecuado: </label>
                                </div>
                                <div class="col-5">
                                    <p-selectButton [options]="opciones"
                                                    optionLabel="name"></p-selectButton>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="grid">
                        <div class="col-4">
                            <div class="grid col-12">
                                <div class="col-12" style="text-align: right">
                                    <label class="colorear">Terminacion: </label>
                                </div>
                            </div>

                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Parto Vaginal: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox class="colorearBlanco" inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Cesária: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Aborto: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Ectópico: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Aborto Molar: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>No aolica: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">

                            <div class="grid col-12">
                                <div class="col-12" style="text-align: right">
                                    <label class="colorear">Si fuese aborto: </label>
                                </div>
                                <div class="col-12" style="text-align: right">
                                    <label class="colorear">Tipo de aborto </label>
                                </div>
                            </div>

                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Incompleto: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Completo: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Frusto/Retenido: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Séptico: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>No aplica: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                        </div>
                        <div class="col-4">

                            <div class="grid col-12">
                                <div class="col-12" style="text-align: right">
                                    <label class="colorear">Laptancia Materna </label>
                                </div>
                            </div>

                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>No hubo: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label> < 6 meses: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>6 meses o mas: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>No aplica: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                            <div class="grid col-12">
                                <div class="col-12" style="text-align: right">
                                    <label class="colorear">Lugar de parto </label>
                                </div>
                            </div>

                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>EESS </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>

                                <div class="col-4" style="text-align: right">
                                    <label>Domic. </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                        </div>
                    </div>
                </p-fieldset>
                <br>

                <div class="p-fieldset">
                    <br>
                    <div class="grid">

                        <div class="col-6">
                            <div class="grid">
                                <div class="col-7" style="text-align: right">
                                    <label>Captada: </label>
                                </div>
                                <div class="col-5">
                                    <p-selectButton [options]="opciones"
                                                    optionLabel="name"></p-selectButton>
                                </div>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="grid">
                                <div class="col-7" style="text-align: right">
                                    <label>Referida por Ag. Comuni. </label>
                                </div>
                                <div class="col-5">
                                    <p-selectButton [options]="opciones"
                                                    optionLabel="name"></p-selectButton>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>

        <div class="grid col-12">
            <div class="col-6">
                <p-fieldset legend="Antecedentes Familiares">
                    <div class="grid">
                        <div class="col-6">
                            <div class="grid">
                                <div class="col-6" style="text-align: center">
                                    <label></label>
                                </div>
                                <div class="col-6" style="text-align: left">
                                    <label class="colorear">Quien:</label>
                                </div>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="grid">
                                <div class="col-6" style="text-align: center">
                                    <label></label>
                                </div>
                                <div class="col-6" style="text-align: left">
                                    <label class="colorear">Quien: </label>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="grid">
                        <div class="col-6" style="align-self: start">
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Ninguno: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Alergias: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Enf. Hepertens. emb. </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Epilepcia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Diabetes: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Enf. Congénitas: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Emb. Multiple: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>


                        </div>
                        <div class="col-6" style="align-self: start">
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Malaria:</label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Hipertensión Arterial: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Hipotiroidismo:</label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Neoplásica: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>TBC Pulmonar: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-4" style="text-align: right">
                                    <label>Otros: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                                <div class="p-field col-6">
                                    <p-dropdown
                                            [options]="familiares"
                                            optionLabel="name"
                                            placeholder="Seleccionar"
                                            [showClear]="false">
                                    </p-dropdown>
                                </div>
                            </div>
                        </div>
                    </div>

                </p-fieldset>
            </div>
            <div class="col-6">
                <p-fieldset legend="Antecedentes Personales" [toggleable]="false">
                    <div class="grid">
                        <div class="col-4" style="align-self: start">
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Ninguno: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Aborto habitual/recurrente: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Violencia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Cardiopatia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Cirugia Pélvica Uterina: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Eclampsia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Pre Eclampsia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Hemorra. Postparto: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>TBC Pulmonar: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>VIH/SIDA: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                        </div>
                        <div class="col-4" style="align-self: start">
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Alcoholismo: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Alergia a medicamentos: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Asma Bronquial: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Diabetes: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Enferm. Congénitas: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Enferm. Infecciosas: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Epilepsia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Hipertensión Arterial: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Consumo de hoja de coca: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>

                        </div>
                        <div class="col-4" style="align-self: start">
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Infertilidad: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Neoplasias: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Otras Drogas: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Parto Prolong: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Preeclampsia: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Prematuridad: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Reten. Placenta: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Tabaco: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>
                            <div class="grid col-12">
                                <div class="col-10" style="text-align: right">
                                    <label>Transtorn. Mentales: </label>
                                </div>
                                <div class="col-2">
                                    <p-checkbox inputId="ny"></p-checkbox>
                                </div>
                            </div>


                        </div>
                    </div>

                    <div class="grid">
                        <div class="grid col-12">
                            <div class="col-3" style="text-align: right">
                                <label>Otros: </label>
                            </div>
                            <div class="col-1">
                                <p-checkbox inputId="ny"></p-checkbox>
                            </div>

                            <div class="col-8">
                                <input type="text" pInputText class="inputfield w-full">
                            </div>
                        </div>

                    </div>
                </p-fieldset>

            </div>
        </div>
    </p-fieldset>

</div>










