label {
    font-weight: normal;
}

.logo_Region {
    width: 100%;
    height: 100%;
}

.colorear {
    font-weight: bold;
}

/*p-selectButton >>> .p-selectbutton .p-button {*/
/*    background: #FFFFFF;*/
/*    color: #495057;*/
/*    border-color: #2196F3;*/
/*}*/

p-checkbox >>> .p-checkbox .p-checkbox-box {
    border-radius: 10px;
    border: 2px solid #F64D1AFF;
    background: #ffd600;
}
p-checkbox>>>.p-checkbox .p-checkbox-box .p-checkbox-icon {
    color: #AF0017;
}

p-checkbox>>>.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-highlight:hover{
    border-color: #F64D1AFF;
    background: #ffd600;
    color: #AF0017;

}

p-checkbox>>>.p-checkbox .p-checkbox-box.p-highlight{
    border-color: #F64D1AFF;
    background: #ffd600;
}

p-checkbox>>>.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box.p-focus{
    box-shadow: 0 0 0 0.2rem #ffffff;
    border-color: #F64D1AFF;
}

p-checkbox>>>.p-checkbox:not(.p-checkbox-disabled) .p-checkbox-box:hover{
    border-color: rgb(255, 255, 255);
}

.colorearBlanco.p-checkbox .p-checkbox-box{
    border: 2px solid #333232;
    background: #eee7e7;
    border-radius: 10px;
}


/*p-fieldset >>> .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a {*/
/*    padding: 1rem;*/
/*    color: #FFFFFF;*/
/*    border-radius: 3px;*/
/*    transition: box-shadow 0.2s;*/
/*    background: #AF0017;*/
/*}*/
/*p-fieldset>>>.p-fieldset {*/
/*    border: 1px solid #af0017;*/
/*}*/

/*p-toolbar>>>.p-toolbar, .p-toolbar-group-left, .p-toolbar-group-right{*/
/*    background:  #AF0017;*/
/*}*/
