<p-toast key="myKey1"></p-toast>
<div class="border m-1" id="swal">
    <div class="col-12 md:col-6 lg:col-12 p-field">
        <div class="grid m-0">
            <div class="col-12  md:col-6 lg:col-12 p-field">
                <div class="border2">  
                    <div class="grid m-1">
                        <div class="col-12 md:col-7 lg:col-7 p-field">
                            <form [formGroup]="formCuposOferta">
                                <div class="grid">
                                    <div class="col-12 md:col-6 lg:col-3 p-field">
                                        <label class="">FECHA</label>
                                        <div class="p-inputgroup">
                                            <p-calendar dateFormat="yy-mm-dd"
                                                        formControlName="fechaOferta"
                                                        [readonlyInput]="true"
                                                        (onSelect)="changeServicioSelected()" class=" p-fluid w-full">
                                            </p-calendar>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-5 lg:col-5 p-field">
                                        <label class="">SERVICIO (UPS)</label>
                                        <div class="">
                                            <p-dropdown
                                                    [options]="ups"
                                                    formControlName="SelectUPSOferta"
                                                    placeholder="Seleccione un servicio"
                                                    optionLabel="nombreUPS"
                                                    optionValue="nombreUPS"
                                                    [disabled]="estado"
                                                    [showClear]="false"
                                                    (ngModelChange)="changeServicioSelected()"
                                                    class=" p-fluid w-full">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-4 lg:col-4 p-field" *ngIf="listActualTipoConsulta.length > 0">
                                        <label class="">TIPO CONSULTA</label>
                                        <div class="">
                                            <p-dropdown
                                                    [options]="listActualTipoConsulta"
                                                    formControlName="tipoConsulta"
                                                    placeholder="Seleccione"
                                                    optionLabel="name"
                                                    optionValue="value"
                                                    [showClear]="false" 
                                                    class=" p-fluid w-full">
                                            </p-dropdown>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-12 md:col-5 lg:col-5 p-field">
                            <form [formGroup]="formCuposOferta">
                                <div class="grid align-content-center">
                                    <div class="col-12 md:col-6 lg:col-7 p-field">
                                        <div class="">
                                            <label style="padding: 3px; color: #3f3f3e">PERSONAL:</label>
                                            <label style="padding: 3px">{{personalSelected}}</label>
                                        </div>
                                    </div>
                                    <div class="col-12 md:col-6 lg:col-5 p-field">
                                        <div class="">
                                            <label style="padding: 3px; color: #3f3f3e">AMBIENTE:</label>
                                            <label style="padding: 3px">{{dataSelectAmbiente}}</label>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="grid m-2">
            <div class="col-12 md:col-6 lg:col-6 p-field p-card">
                <p-table [value]="dataOfertasCupos" selectionMode="single"
                         [(selection)]="personalSelected"
                         responsiveLayout="scroll" (onRowSelect)="onRowSelect($event)">
                    <ng-template pTemplate="header">
                        <tr>
                            <th>NRO</th>
                            <th>APELLIDOS Y NOMBRES</th>
                            <th>TURNO</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData">
                            <td>{{ rowIndex + 1 }}</td>
                            <td>{{ rowData.personal.nombre }}</td>
                            <td>{{ rowData.nombreTurno }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12 md:col-6 lg:col-6 p-field p-card">
                <p-table [value]="dataSelectHoras" responsiveLayout="scroll" class="horasrx"
                         scrollHeight="480px" selectionMode="single">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="text-align: center">NRO</th>
                            <th style="text-align: center">HORA INICIO</th>
                            <th style="text-align: center">HORA FIN</th>
                            <th style="text-align: center">ESTADO</th>
                            <th style="text-align: center">SELECCIONAR</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                        <tr [pSelectableRow]="rowData">
                            <td style="text-align: center">{{ rowIndex + 1}}</td>
                            <td style="text-align: center">{{ rowData.horaInicio}}</td>
                            <td style="text-align: center">{{ rowData.horaFin}}</td>
                            <td style="text-align: center">
                                <p-tag *ngIf="rowData.estado == 'LIBRE'" severity="info"
                                       value="LIBRE"></p-tag>
                                <p-tag *ngIf="rowData.estado == 'OCUPADO'" severity="danger"
                                       value="OCUPADO"></p-tag>
                            </td>
                            <td style="text-align: center">
                                <p-checkbox name="groupname" [value]="rowData"
                                            *ngIf="rowData.estado == estadoHoras" [disabled]="!estadoHoras"
                                            [(ngModel)]="selectedHorario">
                                </p-checkbox>
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <button pButton type="button" (click)="aceptarDialogCupos()" label="Siguiente"
            class="p-button-primary mt-4 mr-2"></button>
    <button pButton type="button" label="Cancelar" class="p-button-danger mt-4"></button>
</div>



