<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Datos del recien nacido</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <p-table [value]="todosRN" #dt [rows]="5" styleClass="p-datatable-gridlines" [paginator]="true"
        [autoLayout]="true" class="m-3"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
        [showCurrentPageReport]="true" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <h3>Recien Nacidos</h3>
                <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                    (click)="openDialogRN()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Nombre</th>
                <th style="text-align: center">Sexo</th>
                <th style="text-align: center">N Hcl.</th>
                <th style="text-align: center;width: 8rem">Acción</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr style="text-align: center">
                <td style="text-align: center">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.nombre }}</td>
                <td style="text-align: center">{{ rowData.sexo }}</td>
                <td style="text-align: center">{{ rowData.hcl }}</td>
                <td style="text-align: center;width: 8rem; display: flex">
                    <button pButton (click)="openDialogRN()" pTooltip="Editar" pRipple type="button"
                        icon="pi pi-pencil" class="p-button-rounded m-1">
                    </button>
                    <button pButton (click)="openDialogRN()" pTooltip="Visualizar" pRipple type="button"
                        icon="pi pi-eye" class="p-button-rounded p-button-help m-1">
                    </button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>



