<p-toolbar styleClass="mb-4">
  <ng-template pTemplate="left">
    <h3 class="text-base">LO QUE NECESITO PARA MI PARTO</h3>
  </ng-template>
  <ng-template pTemplate="right" class="button">
    <!-- <button
        pButton
        pRipple
        label="Atras"
        icon="pi pi-angle-left"
        class="p-button-primary mr-3"
        style="background-color: #5b5b5b"
      ></button>
      <button
        pButton
        pRipple
        label="Guardar"
        icon="pi pi-save"
        class="p-button-primary"
        style="background-color: #003c71"
      ></button> -->
  </ng-template>
</p-toolbar>
<div class="m-3">
  <div class="grid">
    <div class="col-12 md:col-5">
      <p-fieldset legend="- para el bebé">
        <div class="grid">
          <div class="col-7" style="text-align: right">
            Roponcito de lana y ropita de algodón
          </div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">Frazadilla</div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">
            3 pañales descartables,tela
          </div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">Toalla</div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">Nombre del R.N.</div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-7">
      <p-fieldset legend="- para la mamá">
        <div class="grid">
          <div class="col-7">
            <div class="grid">
              <div class="col-7" style="text-align: right">
                Ropa holgada o bata
              </div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">
                3 calzones limpios
              </div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">
                1 paquete de toallas higiénicas post parto
              </div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">
                4 protectores de cama
              </div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">Útiles de aseo</div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
          </div>
          <div class="col-5">
            <div class="grid">
              <div class="col-7" style="text-align: right">Toalla</div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">Mantita</div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">
                Zapatos fáciles de poner
              </div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">Cuchara</div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
            <div class="grid">
              <div class="col-7" style="text-align: right">Termometro</div>
              <div class="col-5">
                <p-selectButton
                  [options]="twoOptions"
                  optionLabel="label"
                  optionValue="value"
                ></p-selectButton>
              </div>
            </div>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-7">
      <p-fieldset legend="- Documentos">
        <div class="grid">
          <div class="col-7" style="text-align: right">
            1 copia de DNI de gestante y de la pareja
          </div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">
            1 copia del carnet de control de embarazo
          </div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
        <div class="grid">
          <div class="col-7" style="text-align: right">
            2 copias de la hoja defiliación al SIS
          </div>
          <div class="col-5">
            <p-selectButton
              [options]="twoOptions"
              optionLabel="label"
              optionValue="value"
            ></p-selectButton>
          </div>
        </div>
      </p-fieldset>
    </div>
  </div>
  <div style="text-align: right">
    <button
      pButton
      pRipple
      label="Atras"
      icon="pi pi-angle-left"
      iconPos="left"
      class="p-button-primary mr-3"
      style="background-color: #5b5b5b"
    ></button>
    <button
      pButton
      pRipple
      label="Siguiente"
      icon="pi pi-angle-right"
      iconPos="right"
      class="p-button-primary"
      style="background-color: #003c71"
    ></button>
  </div>
</div>

<div class="container">
  <div class="columna1" style="background-color: red; height: 40px">
    item flexbox1
  </div>
  <div class="columna1" style="background-color: yellow; height: 60px">
    item flexbox2
  </div>
  <div class="columna1" style="background-color: red; height: 80px">
    item flexbox3
  </div>
</div>
