<div class="col-12">
  <p-tabView>
    <p-tabPanel header="TEST PERUANO DEL DESARROLLO DEL NIÑO">
      <ng-template pTemplate="content">
        <app-test-peruano></app-test-peruano>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="ESCALA DE EVALUACIÓN DEL DESARROLLO PSICOMOTOR (EEDP)">
      <ng-template pTemplate="content">
        <app-eedp></app-eedp>
      </ng-template>
    </p-tabPanel>
    <p-tabPanel header="PAUTA BREVE">
      <app-pauta-breve></app-pauta-breve>
    </p-tabPanel>
    <p-tabPanel header="PROTOCOLO TEST DE DESARROLLO PSICOMOTOR TEPSI">
      <ng-template pTemplate="content">
        <app-tepsi></app-tepsi>
      </ng-template>
    </p-tabPanel>
  </p-tabView>
</div>
