<div class="border">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <label class="m-1">HISTORIA CLINICA MATERNO PERINATAL</label>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <label>Sr. Jimmy Pimente Cruz</label>
        </ng-template>
    </p-toolbar>
    <p-steps [model]="items" [readonly]="false" [(activeIndex)]="indiceActivo"
             (activeIndexChange)="ChangeStep($event)" class="m-4">
    </p-steps>


    <div class="stepsdemo-content m-4" *ngIf="stepName === 'datosgeneralesfiliacion'">
        <app-datos-generales-filiacion></app-datos-generales-filiacion>
    </div>

    <div class="stepsdemo-content m-4" *ngIf="stepName === 'antecedentes'">
        <app-datos-generales-obtetricia></app-datos-generales-obtetricia>
    </div>


    <div class="stepsdemo-content" *ngIf="stepName === 'basales'">
        <p-card>
            <ng-template pTemplate="content">
                <app-datos-basales></app-datos-basales>
            </ng-template>
        </p-card>
    </div>


    <div class="stepsdemo-content" *ngIf="stepName === 'atenciones'">
        <p-card>
            <ng-template pTemplate="content">
                <app-atenciones></app-atenciones>
            </ng-template>
        </p-card>
    </div>


    <div class="stepsdemo-content" *ngIf="stepName === 'partos'">
        <p-card>
            <ng-template pTemplate="content">
                <app-partos></app-partos>
            </ng-template>
        </p-card>
    </div>


    <div class="stepsdemo-content" *ngIf="stepName === 'nacidos'">
        <p-card>
            <ng-template pTemplate="content">
                <app-recien-nacido></app-recien-nacido>
            </ng-template>
        </p-card>
    </div>

    <div class="stepsdemo-content" *ngIf="stepName === 'puerperio'">
        <p-card>
            <ng-template pTemplate="content">
                <app-puerperio></app-puerperio>
            </ng-template>
        </p-card>
    </div>
</div>
