
<div class="border">
    <form [formGroup]='formAntecedentes'>
        <div class="p-grid p-fluid">
            <div class="grid m-2">
                <div class="col-12">
                    <label>Descripcion del Antecedente:</label>
                    <p-autoComplete formControlName="nombre" [virtualScroll]="true" [suggestions]="listaAntecedentes" [itemSize]="34" (completeMethod)="filterItems($event)" field="codigo" [dropdown]="true">
                    </p-autoComplete>
                </div>
            </div>
            <div class="grid m-2">
                    <div class="col-12 md:col-4 lg:col-4">
                        <div class="grid">
                            <div class="col-12 p-fluid">
                                <label>Fecha de Diagnóstico:</label>
                            </div>
                            <div class="col-12 p-fluid">
                                <p-calendar formControlName='fechaDiagnosticado' [showIcon]="true" inputId="icon"></p-calendar>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 md:col-8 lg:col-8">
                        <div class="grid p-fluid">
                            <div class="col-4 p-fluid">
                                <label>Edad (años):</label>
                            </div>
                            <div class="col-4 p-fluid">
                                <label>Edad (meses):</label>
                            </div>
                            <div class="col-4 p-fluid">
                                <label>Edad (dias):</label>
                            </div>
                        </div>
                        <div class="grid">
                            <div class="col-4 p-fluid">
                                <input type="text"   pInputText formControlName='edadAnio' placeholder="A"
                                       required/>
                            </div>
                            <div class="col-4 p-fluid">
                                <input type="text"  pInputText formControlName='edadMes' placeholder="M"
                                       required/>
                            </div>
                            <div class="col-4 p-fluid">
                                <input type="text"   pInputText formControlName='edadDia' placeholder="D"
                                       required/>
                            </div>
                        </div>
                </div>
            </div>
            <div class="grid m-2" *ngIf="esFamiliar==true">
                <div class="col-3 md:col-4 mb-2 p-fluid">
                    <label>Pariente:</label>
                </div>
                <div class="col-8 md:col-8 mb-2 p-fluid">
                    <p-dropdown  inputId="dropdown" [options]="listaPariente"
                                 formControlName="pariente"
                                 placeholder="seleccionar"
                                 optionLabel="codigo" optionValue="value"
                                 defaultLabel="Seleccione:" >
                    </p-dropdown>
                </div>
            </div>
        </div>
    </form>

</div>
<br>
<br>
<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>
    <div class="p-toolbar-group-rigth">
        <button pButton type="button"
                label="Guardar"
                icon="pi pi-save"
                (click)="closeDialogGuardar()"
                class="botonGuardar"></button>
        <button pButton type="button"
                label="Cancelar"
                icon="pi pi-times-circle"
                (click)="canceled()"
                class="botonCancelar"></button>
    </div>
</p-toolbar>