
<div class="border">
    <form [formGroup]='formAntecedentes'>
        <div class="p-grid p-fluid">
            <div class="grid m-2">
                <div class="col-12">
                    <label>Descripcion del Antecedente:</label>
                    <input type="text" pInputText formControlName='nombre' placeholder="Enfermedad o Patología"
                           required/>
                </div>
            </div>
            <div class="grid m-2">
                <div class="col-6">
                    <label>Fecha de Diagnóstico:</label>
                    <p-calendar formControlName='fechaDiagnosticado' [showIcon]="true" inputId="icon"></p-calendar>
                </div>
                <div class="col-2 md:col-2 mb-2">
                    <label>Edad (años):</label>
                    <input type="text"   pInputText formControlName='edadAnio' placeholder="A"
                           required/>
                </div>
                <div class="col-2 md:col-2 mb-2">
                    <label>Edad (meses):</label>
                    <input type="text"  pInputText formControlName='edadMes' placeholder="M"
                           required/>
                </div>
                <div class="col-2 md:col-2 mb-2">
                    <label>Edad (dias):</label>
                    <input type="text"   pInputText formControlName='edadDia' placeholder="D"
                           required/>
                </div>
            </div>
            <div class="grid m-2" *ngIf="esFamiliar==true">
                <div class="col-12 md:col-4 mb-2">
                    <label>Pariente:</label>
                    <input type="text"   pInputText formControlName='pariente' placeholder="Pariente"
                           required/>
                </div>
            </div>
        </div>
    </form>

</div>

<p-toolbar>
    <div class="p-toolbar-group-left">
    </div>
    <div class="p-toolbar-group-rigth">
        <button pButton type="button"
                label="Guardar"
                icon="pi pi-save"
                (click)="closeDialogGuardar()"
                class="botonGuardar"></button>
        <button pButton type="button"
                label="Cancelar"
                icon="pi pi-times-circle"
                (click)="canceled()"
                class="botonCancelar"></button>
    </div>
</p-toolbar>