
<!-------------INICIO DIALOG TRATAMIENTO INMUNIZACIONES--->
<form [formGroup]='formInmunizaciones'>

    <div class="p-grid p-fluid">
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Codigo:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='codigo' placeholder="codigo"
                   required/>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Descripcion:</label>
            <input type="text"  style="border-radius: 10px" pInputText formControlName='descripcion' placeholder="descripcion"
                   required/>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Cantidad:</label>
            <input type="number"  style="border-radius: 10px" pInputText formControlName='numero' placeholder="cantidad"
                   required />
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Dosis:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='dosis' placeholder="dosis"
                   required />
        </div>

        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Via Admin.</label>
                <div class="p-field">
                    <p-dropdown  inputId="dropdown" [options]="viaadministracionList" formControlName="viaAdministracion"
                             placeholder="seleccionar" optionLabel="label" optionValue="value"
                             defaultLabel="Seleccione:" >
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Lote:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='lote' placeholder="Lote"
                   required />
        </div>
        <br>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Fecha Vencimiento:</label>
            <p-calendar type="Date"  showIcon="true" pInputText formControlName='fechaVenc'  dateFormat="yy-mm-dd" [showTime]="true" [showSeconds]="true" inputId="time" required>
            </p-calendar>
        </div>
    </div>
</form>
<div class="footer">
    <button pButton type="button" label="Guardar" (click)="closeDialogGuardar()" class="p-button-danger mt-4"></button>
    <button pButton type="button" label="Cancelar" (click)="closeDialog()"  class="p-button-danger mt-4"></button>
</div>
