.hora,
.hoy,
.maniana {
    background: rgb(41, 182, 197);
    border: 1px solid black;
    width: 4em;
    height: 3em;
    /* text-align: center; */
    margin: 0.5px;
    padding: auto;
}

.datosPersonales,
.datosExtra,
.datosServicio {
    border: 1px solid rgba(33, 150, 243, 0.76);
    border-radius: 10px;
}

.btn-buscar {
    margin-top: 1.8em;
}

p-panel>>>.p-panel .p-panel-header{
    background: #D32F2F;
    border: 1px solid #D32F2F;
    color: #FFFFFF;
}

p-panel>>>.p-panel .p-panel-content{
    border: 1px solid #D32F2F;
}
