.border {
    border: 1px solid rgb(222 226 230);
    border-radius: 3px;
    /*background: rgb(248 249 250)*/
}

p-dialog >>> .p-toolbar {
    align-self: center;
    background: rgb(248 249 250);
    border-color: #0C3866;
    color: #0C3866;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding:2px;

}
p-dialog >>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0C3866;
    color: #FFFFFF;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    z-index:89999;
}
/*p-dialog>>>*{*/
/*    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
/*    color: #0C3866;*/
/*}*/
p-dialog{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0C3866;
}
.p-inputtext:enabled:hover {
    border-color: salmon;

}

