<div class="p-card">
    <p-toolbar styleClass="p-mb-4">

        <ng-template pTemplate="left">
            <h3 class="p-m-0">Personales de salud</h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                    (click)="openNew()"></button>

            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="personals" [rows]="10" [paginator]="true"
             [globalFilterFields]="['nombres','dni','apellidos']"
             [(selection)]="selectedPersonal" [rowHover]="true" dataKey="id"
             currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} listas"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
                <!--                <h5 class="p-m-0">Personales de salud</h5>-->
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text"
                           (input)="dt.filterGlobal($event.target.value,'contains')"
                           placeholder="Buscar..."/>
                </span>
            </div>
        </ng-template>

        <ng-template class="ng-template" pTemplate="header">
            <tr>
                <th style="text-align: center">DNI</th>
                <th style="text-align: center">APELLIDOS</th>
                <th style="text-align: center">NOMBRES</th>
                <th style="text-align: center">SEXO</th>
                <th style="text-align: center">PROFESION</th>
                <th style="text-align: center">TIPO CONTRATO</th>
                <th style="text-align: center"> COLEGIO PROFESIONAL</th>
                <th style="text-align: center"> EDITAR / ESTADO</th>

            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-personal style="text-align: center">
            <tr style="text-align: center">
                <td style="text-align: center">{{personal.nro_doc}}</td>
<!--                <td style="text-align: center">{{personal.apellidos}}</td>-->
<!--                <td style="text-align: center">{{personal.nombres}}</td>-->
<!--                <td style="text-align: center">{{personal.sexo}}</td>-->
<!--                <td style="text-align: center">{{personal.profesion}}</td>-->
<!--                <td style="text-align: center">{{personal.tipo_contrato}}</td>-->
<!--                <td style="text-align: center">{{personal.colegio_profesional}}</td>-->
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary "
                            (click)="editPersonal(personal)"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-rounded p-button-success "
                            (click)="deletePersonal(personal)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total ahi {{personals ? personals.length : 0 }} Personales.
            </div>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="personalDialog" [style]="{width: '1080px'}" header="Registrar Pacientes" [modal]="true"
          styleClass="p-fluid">
    <ng-template pTemplate="body">
        <div class="grid">
            <div class="col-2">
                <label>DOCUMENTO IDENTIDAD</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="nro_doc"
                           [(ngModel)]="personal.nro_doc"
                           pInputText>
                    <p-button icon="pi pi-search"></p-button>
                </div>
            </div>
        </div>
        <br>
        <div class="grid">
            <div class="p-field col-4">
                <label>APELLIDOS</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input style="width: 15rem" type="text" id="apellidos" [(ngModel)]="personal.apellidos"
                           pInputText>
                </div>
            </div>

            <div class="p-field col-4">
                <label>NOMBRE</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input style="width: 15rem" type="text" id="nombres"
                           [(ngModel)]="personal.nombres" pInputText>
                </div>
            </div>

            <div class="p-field col-4">
                <label>OTRO NOMBRE</label>
                <div class="p-inputgroup">
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input style="width: 15rem" type="text" id="otro_nombre"
                           [(ngModel)]="personal.nombres" pInputText>
                </div>
            </div>
        </div>


        <div class="grid">

            <div class="p-field col-3">
                <label>FECHA NACIMIENTO</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="fecha_nacimiento"
                           [(ngModel)]="personal.fecha_nacimiento"
                           pInputText>
                </div>
            </div>

            <div class="p-field col-3">
                <label>SEXO</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="sexo" [(ngModel)]="personal.sexo"
                           pInputText>
                </div>
            </div>

            <div class="p-field col-3">
                <label>ESTADO CIVIL</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="estado_civil" [(ngModel)]="personal.nombres" pInputText>
                </div>
            </div>
        </div>

        <br>

        <div class="grid">
            <div class="p-field col-4">
                <label>PROFESION</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="profesion" [(ngModel)]="personal.profesion"
                           pInputText>
                </div>
            </div>

            <div class="p-field col-4">
                <label>COLEGIO PROFESIONAL</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="colegio_profesional"
                           [(ngModel)]="personal.colegio_profesional"
                           pInputText>
                </div>
            </div>

            <div class="p-field col-4">
                <label>TIPO DE CONTRATO</label>
                <div class="p-inputgroup">
                    <input style="width: 15rem" type="text" id="tipo_contrato" [(ngModel)]="personal.tipo_contrato"
                           pInputText>
                </div>
            </div>
        </div>


    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="canceled()"></button>
        <button pButton type="button" label="Guardar" (click)="save()"></button>

        <!--        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>-->
        <!--        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>-->
    </ng-template>
</p-dialog>


<!--<p-confirmDialog [style]="{width: '250px'}"></p-confirmDialog>-->
