<div class="p-card">
    <p-toolbar styleClass="p-mb-4">

        <ng-template pTemplate="left">
            <h3 class="p-m-0">Lista de Personal de Salud</h3>
        </ng-template>

        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-danger p-mr-2"
                    (click)="openNew()"></button>

            <button pButton pRipple label="Exportar" icon="pi pi-upload" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <p-table
            [value]="data"
            #dt
            styleClass="p-datatable-gridlines   "
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            [autoLayout]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">
            <tr>
                <th>Nro</th>
                <th>Numero Doc</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Primer Nombre</th>
                <th>Otros Nombres</th>
                <th>Fecha Nacimiento</th>
                <th>Tipo Personal</th>
                <th>Colegio Profesional</th>
                <th>Colegiatura</th>
                <th>Especialidad</th>
                <th>Estado</th>
                <th>Tipo Contrato</th>
                <th>Sexo</th>
                <th>IPRESS</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td>{{ rowIndex + 1 }}</td>
                <td>{{ rowData.nroDoc }}</td>
                <td>{{ rowData.apePaterno }}</td>
                <td>{{ rowData.apeMaterno }}</td>
                <td>{{ rowData.primerNombre }}</td>
                <td>{{ rowData.otrosNombres }}</td>
                <td>{{ rowData.fechaNacimiento }}</td>
                <td>{{ rowData.tipoPersonal.nombre }}</td>
                <td>{{ rowData.colegioProfesional.nombre }}</td>
                <td>{{ rowData.colegiatura }}</td>
                <td>{{ rowData.especialidad.nombre }}</td>
                <td>{{ rowData.estado }}</td>
                <td>{{ rowData.tipoContrato }}</td>
                <td>{{ rowData.sexo }}</td>
                <td>{{ rowData.detalleIpress.eess }}</td>

                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary "
                            (click)="editar(rowData)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>


<p-dialog [(visible)]="personalDialog" [style]="{width: '720px'}" [modal]="true"
    styleClass="p-fluid " autoZIndex>
    <ng-template pTemplate="header">
        <h3>{{titulo()}}</h3>
    </ng-template>

    <ng-template pTemplate="body">
        <form [formGroup]='form'>
            <div class="grid">
                <div class="p-inputgroup col-12">
                    <label id="nroDoc">Nro Doc:</label>
                    <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
                    <input type="text" pInputText formControlName='nroDoc' placeholder="Nro Documento">
                </div>
            </div>
            <br>
            <div class="grid">
                <div class="p-field col-4">
                    <label>Tipo Doc:</label>
                    <div class="p-field">
                        <p-dropdown inputId="dropdown" [options]="docList" formControlName="tipoDoc" optionLabel="label" optionValue="value"
                            defaultLabel="Seleccione Tipo de documento" id="tipodocid">
                        </p-dropdown>
                    </div>
                </div>

                <div class="p-field col-4">
                    <label>Apellido Paterno:</label>
                    <input type="text" pInputText formControlName='apePaterno' required />
                </div>

                <div class="p-field col-4">
                    <label>Apellido Materno:</label>
                    <input type="text" pInputText formControlName='apeMaterno' required />
                </div>
                <div class="p-field col-4">
                    <label>Nombre:</label>
                    <input type="text" pInputText formControlName='primerNombre' required />
                </div>
                <div class="p-field col-4">
                    <label>Otros Nombres:</label>
                    <input type="text" pInputText formControlName='otrosNombres' required />
                </div>

                <div class="p-field col-4">
                    <label>Fecha de Nacimiento:</label>
                    <input type="text" pInputText formControlName='fechaNacimiento' required />
                </div>

                <div class="p-field col-4">
                    <label>Tipo de Personal:</label>
                    <input type="text" pInputText formControlName='tipoPersonal' required />
                </div>
                <div class="p-field col-4">
                    <label>Colegio Profesional:</label>
                    <input type="text" pInputText formControlName='colegioProfesional' required />
                </div>

                <div class="p-field col-4">
                    <label>Colegiatura:</label>
                    <input type="text" pInputText formControlName='colegiatura' required />
                </div>

                <div class="p-field col-4">
                    <label>Especialidad:</label>
                    <input type="text" pInputText formControlName='especialidad' required />
                </div>
                <div class="p-field col-4">
                    <label>Estado:</label>
                    <input type="text" pInputText formControlName='estado' required />
                </div>
                <div class="p-field col-4">
                    <label>Tipo Contrato:</label>
                    <input type="text" pInputText formControlName='tipoContrato' required />
                </div>

                <div class="p-field col-4">
                    <label>Sexo:</label>
                    <input type="text" pInputText formControlName='sexo' required />
                </div>

                <div class="p-field col-4">
                    <label>IPRESS:</label>
                    <input type="text" pInputText formControlName='detalleIpress' required />
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="p-button-danger" (click)="canceled()"></button>
        <button *ngIf="!isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar" (click)="saveForm()" ></button>
        <button *ngIf="isUpdate" [disabled]="!form.valid" pButton type="button" label="Guardar" (click)="editarDatos()" ></button>
    </ng-template>
</p-dialog>
