<div class="flex">
    <div class="col-12 md-12 lg-12">
        <div class="col-12">
            <form [formGroup]="FrmAcuerdo">
                <div class="grid">
                    <div class="col-8 flex justify-content-center">
                        <p-dropdown
                            [options]="listAcuerdos"
                            formControlName="acuerdo"
                            placeholder="Acuerdos"
                            optionLabel="descripcion"
                            optionValue="nroAcuerdo"
                            [showClear]="false"
                            scrollHeight="100px"
                        >
                        </p-dropdown>
                        <button
                            style="background-color: #0c3866"
                            class="button-agregar p-button-rounded"
                            icon="pi pi-plus"
                            pButton
                            type="button"
                            (click)="Agregar()"
                        ></button>
                    </div>
                </div>
            </form>
        </div>
        <p-table
            class="table-over"
            [value]="acuerdosAux"
            #dt
            styleClass="p-datatable-gridlines"
            [rows]="10"
            [rowsPerPageOptions]="[10, 25, 50]"
            [paginator]="true"
            [autoLayout]="true"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">
                        NRO ACUERDO
                    </th>
                    <th style="text-align: center" class="font-2">ACUERDO</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">
                        {{ rowIndex + 1 }}
                    </td>
                    <td style="text-align: center">{{ rowData.nroAcuerdo }}</td>
                    <td style="text-align: center">
                        {{ rowData.descripcion }}
                    </td>
                    <td style="text-align: center">
                        <button
                            pButton
                            pRipple
                            icon="pi pi-trash"
                            class="p-button-rounded p-button-danger m-1"
                            (click)="Eliminar(rowIndex)"
                            pTooltip="Eliminar"
                        ></button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<form [formGroup]="FrmObservacion">
    <p-toolbar>
        <ng-template pTemplate="left">
            <span class="p-m-0">OBSERVACIONES</span>
        </ng-template>
        <ng-template pTemplate="right" class="button"> </ng-template>
    </p-toolbar>
    <div class="col-12 justify-content-center">
        <textarea
            style="height: 120px"
            class="w-full"
            pInputTextarea
            formControlName="observaciones"
        >
        </textarea>
    </div>
    <div class="flex col-12 justify-content-end">
        <button
            pButton
            type="button"
            label="Guardar"
            style="background-color: #0c3866"
            class=""
            (click)="Guardar()"
        ></button>
    </div>
</form>
