<div class="card">
    <p-card>
        <div class="grid">
            <div class="col-9" style="margin: 0 0 0 20px;">
                <span style="font-size: 2em;">ADOLESCENTE> Plan de Atención Integral  </span>
            </div>
        </div>
    </p-card>
</div>
<p-steps [model]="items" styleClass="step-custom" [readonly]="false" [(activeIndex)]="indiceActivo"
         (activeIndexChange)="ChangeStep($event)">
</p-steps>
<div class="stepsdemo-content" *ngIf="stepName === 'problemas'">
    <p-card>
        <ng-template pTemplate="content">
            <app-lista-problemas-adolescente></app-lista-problemas-adolescente>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'datos'">
    <p-card>
        <ng-template pTemplate="content">
            <app-datos-generales-adolescente></app-datos-generales-adolescente>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'plan'">
    <p-card>
        <app-plan-atencion-adolescente></app-plan-atencion-adolescente>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'antecedentes'">
    <p-card>
        <ng-template pTemplate="content">
            <app-antecedentes-adolescente></app-antecedentes-adolescente>
        </ng-template>
    </p-card>
</div>
<div class="stepsdemo-content" *ngIf="stepName === 'salud'">
    <p-card>
        <ng-template pTemplate="content">
            <app-salud-adolescente></app-salud-adolescente>
        </ng-template>
    </p-card>
</div>