<div class="p-card">
    <p-table
        #dt
        [value]="listaPacientes"
        [rows]="rows"
        [(first)]="first"
        [paginator]="true"
        [totalRecords]="totalRecords"
        responsiveLayout="scroll"
        [showCurrentPageReport]="true"
        [lazy]="true"
        currentPageReportTemplate="Mostrando de {first} a {last} de {totalRecords} entradas"
        (onLazyLoad)="pagination($event)"
        styleClass="p-datatable-gridlines"
        class="patient-table"
    >
        <ng-template pTemplate="caption">
            <div class="flex justify-content-between">
                <div class="col-8 table-header mt-2">
                    <h3>LISTA DE PACIENTES</h3>
                </div>
                <div class="col-4 text-right">
                    <button
                        pButton
                        pRipple
                        label="Agregar"
                        icon="pi pi-plus"
                        class="mr-2"
                        (click)="openDialogPacienteComp()"
                        style="background-color: #0c3866"
                    ></button>
                </div>
            </div>
            <form [formGroup]="searchForm">
                <div class="grid">
                    <div class="col-4">
                        <label>Buscar...</label>
                        <input
                            type="text"
                            pInputText
                            formControlName="search"
                            placeholder="DNI o nombres"
                            class="p-fluid inputfield w-full"
                            oninput="this.value=this.value.toUpperCase()"
                            onClick="this.select()"
                        />
                    </div>
                    <div class="col-1 flex align-items-end">
                        <button
                            type="button"
                            pButton
                            pRipple
                            icon="pi pi-search"
                            (click)="searchPatient()"
                            class="p-button-outlined p-button-secondary"
                        ></button>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="header" style="text-align: center">
            <tr>
                <th style="text-align: center">Nro</th>
                <th style="text-align: center">Nro Doc</th>
                <th style="text-align: center">Nombres</th>
                <th style="text-align: center">Nacionalidad</th>
                <th style="text-align: center">Tipo Seguro</th>
                <th style="text-align: center">Acción</th>
            </tr>
        </ng-template>
        <ng-template
            pTemplate="body"
            let-paciente
            style="text-align: center"
            let-i="rowIndex"
        >
            <tr>
                <td style="text-align: center">{{ i + 1 }}</td>
                <td style="text-align: center">{{ paciente.nroDoc }}</td>
                <td style="text-align: center">
                    {{
                        paciente.apePaterno +
                            " " +
                            paciente.apeMaterno +
                            ", " +
                            paciente.primerNombre +
                            " " +
                            paciente.otrosNombres
                    }}
                </td>
                <td style="text-align: center">{{ paciente.nacionalidad }}</td>
                <td style="text-align: center">{{ paciente.tipoSeguro }}</td>
                <td style="text-align: center">
                    <button
                        pButton
                        (click)="editar(paciente)"
                        pTooltip="Editar"
                        pRipple
                        type="button"
                        icon="pi pi-pencil"
                        class="p-button-rounded m-1"
                    ></button>
                    <button
                        pButton
                        (click)="eliminarPaciente(paciente)"
                        pTooltip="Eliminar"
                        pRipple
                        type="button"
                        icon="pi pi-trash"
                        class="p-button-rounded p-button-danger m-1"
                    ></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>
