<div class="p-fluid grid">
  <div class="p-field col-12">
    <label for="name">Nombre tipo de personal</label>
    <input type="text" pInputText id="name" required autofocus />
  </div>
  <div class="p-field col-12 md:col-6">
    <label for="name">Es profesional</label>
    <input type="text" pInputText id="name" required autofocus />
  </div>
  <div class="p-field col-12 md:col-6">
    <label for="name">Abreviatura</label>
    <input type="text" pInputText id="name" required autofocus />
  </div>
  <div class="p-field col-12 md:col-6">
    <label for="name">Especialidad</label>
    <input type="text" pInputText id="name" required autofocus />
  </div>
  <div class="p-field col-12 md:col-6">
    <label for="name">Tps</label>
    <input type="text" pInputText id="name" required autofocus />
  </div>
</div>
<div class="ui-dialog-footer p-text-right p-mt-3">
  <p-button
    icon="pi pi-save"
    label="Guardar"
    (onClick)="save()"
    styleClass="p-button-info p-button-sm"
  >
    <!--            styleClass="p-button-info p-button-sm">
                [disabled]="userFG.invalid"

-->
  </p-button>
</div>
