<!--    &lt;!&ndash; INMUNIZACIONES &ndash;&gt;-->
<!--    <p-toolbar>-->

<!--        <ng-template pTemplate="left">-->


<!--            <h3 class="p-m-0">INMUNIZACIONES</h3>-->
<!--        </ng-template>-->

<!--    </p-toolbar>-->
<!--    <p-table class="table-over" [value]="data" #dt styleClass="p-datatable-gridlines" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"-->
<!--             [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"-->
<!--             currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">-->

<!--        <ng-template pTemplate="header" styleClass="p-datatable-gridlines">-->
<!--            <tr>-->
<!--                <th style="text-align: center" class="font-2">Nro </th>-->
<!--                <th style="text-align: center" class="font-1">DESCRIPCIÓN</th>-->
<!--                <th style="text-align: center" class="font-2">CANTIDAD</th>-->
<!--                <th style="text-align: center" class="font-2">DOSIS</th>-->
<!--                <th style="text-align: center" class="font-2">INTERVALO</th>-->
<!--                <th style="text-align: center" class="font-2">VIA ADMIN.</th>-->
<!--                <th style="text-align: center" class="font-2">DURACION</th>-->
<!--                <th style="text-align: center" class="font-2">IND. ADICIONAL</th>-->
<!--                <th style="text-align: center" class="font-2">Acciones</th>-->

<!--            </tr>-->
<!--        </ng-template>-->
<!--        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">-->
<!--            <tr>-->
<!--                <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>-->
<!--                <td style="text-align: center">{{ rowData.descripcion }}</td>-->
<!--                <td style="text-align: center">{{ rowData.cantidad }}</td>-->
<!--                <td style="text-align: center">{{ rowData.dosis }}</td>-->
<!--                <td style="text-align: center">{{ rowData.intervalo }}</td>-->
<!--                <td style="text-align: center">{{ rowData.viaAdministracion }}</td>-->
<!--                <td style="text-align: center">{{ rowData.duracion }}</td>-->
<!--                <td style="text-align: center">{{ rowData.indAdicional }}</td>-->

<!--                <td style="text-align: center">-->
<!--                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-primary m-1"-->
<!--                            (click)="editar(rowData)" pTooltip="Editar">-->
<!--                    </button>-->
<!--                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"-->
<!--                            (click)="eliminar(rowData)" pTooltip="Eliminar">-->
<!--                    </button>-->

<!--                </td>-->
<!--            </tr>-->
<!--        </ng-template>-->

<!--    </p-table>-->
<!--    <p-toolbar>-->
<!--        <div class="p-toolbar-group-right">-->
<!--            <button pButton pRipple label="Agregar Tratamiento" icon="pi pi-plus" pButton type="button" class="button-agregar"-->
<!--                    (click)="openNew()"></button>-->
<!--        </div>-->

<!--    </p-toolbar>-->