<div class="col-12" style="background: #f8f9fa; height: 100%">
    <div class="card">
        <p-card>
            <div class="grid">
                <div class="col-9" style="margin: 0 0 0 20px;">
                    <span style="font-size: 2em;">OBSTETRICIA> Consulta </span>
                </div>
                <!-- <div class="col-3">
                    <button pButton pRipple label="Ver" icon="pi pi-plus"
                        class="button-agregar" (click)="openDialogAtencionesPrenatales()">
                    </button>
                </div>    -->
            </div>
        </p-card>
    </div>

    <p-steps [model]="items" [readonly]="false" [(activeIndex)]="indiceActivo"
             (activeIndexChange)="ChangeStep($event)" class="scrollmenu">
    </p-steps>
    <div class="flotante">
        <div class="speeddial-circle-demo">
            <div class="speeddial-semi-circle">
                <p-speedDial showIcon="pi pi-window-maximize" hideIcon="pi pi-window-minimize"  radius="80"
                    direction="left" type="semi-circle" (onClick)="openDialogAtencionesPrenatales()">
                </p-speedDial>
            </div>
        </div>
    </div>
    <br>
    <div class="stepsdemo-content" *ngIf="stepName === 'datos'">
        <p-card>
            <ng-template pTemplate="content">
                <app-datos-generales></app-datos-generales>
            </ng-template>
        </p-card>
    </div>
    <div class="stepsdemo-content" *ngIf="stepName === 'interrogatorio'">
        <p-card>
            <ng-template pTemplate="content">
                <app-interrogatorio></app-interrogatorio>
            </ng-template>
        </p-card>
    </div>

    <div class="stepsdemo-content" *ngIf="stepName === 'tamizaje'">
        <p-card>
            <ng-template pTemplate="content">
                <app-tamizaje-violencia></app-tamizaje-violencia>
            </ng-template>
        </p-card>
    </div>

    <div class="stepsdemo-content" *ngIf="stepName === 'diagnostico'">
        <p-card>
            <ng-template pTemplate="content">
                <app-giagnosticos></app-giagnosticos>
            </ng-template>
        </p-card>
    </div>
    <div class="stepsdemo-content" *ngIf="stepName === 'evaluaciones'">
        <p-card>
            <ng-template pTemplate="content">
                <app-evaluaciones></app-evaluaciones>
            </ng-template>
        </p-card>
    </div>
    <div class="stepsdemo-content" *ngIf="stepName === 'tratamiento'">
        <p-card>
            <ng-template pTemplate="content">
                <app-tratamiento></app-tratamiento>
            </ng-template>
        </p-card>
    </div>
    <div class="stepsdemo-content" *ngIf="stepName === 'procedimientos'">
        <p-card>
            <ng-template pTemplate="content">
                <app-procedimientos></app-procedimientos>
            </ng-template>
        </p-card>
    </div>

    <div class="stepsdemo-content" *ngIf="stepName === 'finalizar'">
        <p-card>
            <ng-template pTemplate="content">
                <app-resultados></app-resultados>
            </ng-template>
        </p-card>
    </div>
</div>

<!--<div class="stepsdemo-content" *ngIf="stepName === 'puerperio'">-->
<!--    <p-card>-->
<!--        <ng-template pTemplate="content">-->
<!--&lt;!&ndash;            <app-puerperio></app-puerperio>&ndash;&gt;-->
<!--        </ng-template>-->
<!--    </p-card>-->
<!--</div>-->
