p-card >>> * {
    font-size: small;
    align-self: initial;
    justify-self: center;
}

p-dropdown >>> * {
    width: 150px;
}

p-card >>> .p-card-body {
    padding: 2px;
    font-size: small;
    margin-bottom: 10px;
}

p-card >>> .p-card-content {
    padding: 2px;
}

p-tabview >>> .p-tabview-title {
    font-size: small;
}

p-tabview >>> .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    background: #af0017;
    border-color: #af0017;
    color: #ffffff;
}

p-tabview
>>> .p-tabview
.p-tabview-nav
li
.p-tabview-nav-link:not(.p-disabled):focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: 0 0 0 0.2rem #2196F3;
}

p-tabview >>> .p-tabview .p-tabview-panels {
    height: 650px;
}

.p-button {
    color: #ffffff;
    background: #2196F3;
    border: 1px solid #2196F3;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s,
    box-shadow 0.2s;
    border-radius: 3px;
}

.p-button:hover {
    outline: 0 none;
    outline-offset: 0;
    background: #2196F3;
    border-color: #2196F3;
    box-shadow: 0 0 0 0.2rem #2196F3;
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-number {
    border-radius: 0px;
    width: 120px;
    height: 50px;
    color: transparent;
    background: white;
    border: 1px solid green;
    border-radius: 10px;
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-number:hover {
    outline: 0 none;
    outline-offset: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 0.2rem #4c7831;
    cursor: pointer;
}


:host >>> .p-steps .p-steps-item.p-steps-current .p-menuitem-link .p-steps-number {
    border: 1px solid rgb(10, 79, 163);
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-title {
    margin-top: -35px;
    z-index: 2;
    margin-bottom: 19px;
    color: green;
}

:host >>> .p-steps .p-steps-item .p-menuitem-link .p-steps-title:hover {
    cursor: pointer;
}

:host >>> .p-steps .p-steps-item.p-highlight .p-steps-title {
    color: rgb(10, 79, 163);
    display: flex;
}


:host >>> .p-steps .p-steps-item:before {
    margin-top: -4px;
}
