<p-toolbar>
    <ng-template pTemplate="left">
        <h3 class="mt-2">TEST DE EVALUACIONES</h3>
    </ng-template>
    <ng-template pTemplate="right" class="button">
        <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
        <button pButton pRipple label="Guardar" iconPos="right" icon="pi pi-save"
                class="guardar mr-2"></button>
    </ng-template>
</p-toolbar>
<br>
<p-tabView>
    <p-tabPanel header="Evaluacion de la Alimentacion del niño(a)">
        <app-evaluacion-alimentacion></app-evaluacion-alimentacion>
    </p-tabPanel>
    <p-tabPanel
            header="Escala de Evaluacion del desaroolo Psicomotor (EEDP) 0-4 Años"
    >
        <app-eedp></app-eedp>
    </p-tabPanel>
    <p-tabPanel header="Test de desarrollo">
        <app-test-desarrollo></app-test-desarrollo>
    </p-tabPanel>
    <p-tabPanel header="Protocolo Test de Desarrollo Psicomotor Tepsi">
        <app-test-tepsi></app-test-tepsi>
    </p-tabPanel>
</p-tabView>
