<p-tabView>
  <p-tabPanel header="EVALUACIÓN DE ALIMENTACION">
    <ng-template pTemplate="content">
      <app-evaluacion-alimentacion></app-evaluacion-alimentacion>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="TEST (EEDP)">
    <ng-template pTemplate="content">
      <app-eedp></app-eedp>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="PAUTA BREVE">
    <ng-template pTemplate="content">
      <app-plan-pauta-breve></app-plan-pauta-breve>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="TEST PERUANO">
    <ng-template pTemplate="content">
      <app-test-desarrollo></app-test-desarrollo>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="TEST TEPSI">
    <ng-template pTemplate="content">
      <app-test-tepsi></app-test-tepsi>
    </ng-template>
  </p-tabPanel>
  <p-tabPanel header="TAMIZAJES">
    <ng-template pTemplate="content">
      <app-tamizajes></app-tamizajes>
    </ng-template>
  </p-tabPanel>
</p-tabView>
