<div class="border">
    <div class="card">
        <form [formGroup]="formGestante">
            <div class="card">
                <label class="ml-3 my-4">DATOS GENERALES DE LA GESTANTE</label>
                <div class="formgrid grid mx-3">
                        <div class="col-12 md:col-2">
                            <label>Tipo Doc</label>
                            <p-dropdown [options]="listaDocumentos" 
                                        formControlName="formTipoDoc"
                                        placeholder="Seleccione tipo de documento" optionLabel="abreviatura"
                                        optionLabel="value" 
                                        optionValue="value"
                                        [showClear]="false" 
                                        class="p-fluid w-full">
                            </p-dropdown>
                        </div>
                        <div class="col-12 md:col-3">
                            <label for="DNI">DNI</label>
                            <input id="DNI" type="text" pInputText placeholder="DNI"
                                            formControlName="formNroDocGestante"
                                            (keyup)="cargarDatosPadronNominal()"
                                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                        </div>
                        <div class="col-12 md:col-3" >
                            <label>Tiene SIS:</label>
                                <p-dropdown
                                formControlName="formTieneSis"
                                [options]="sis"
                                optionLabel="value" 
                                optionValue="value"
                                placeholder="tiene SIS"
                                [showClear]="false"
                                class="p-fluid w-full"
                                >
                                </p-dropdown>
                        </div> 

                        <div class="col-12 md:col-3">
                            <label>Fecha de nacimiento:</label>
                            <input placeholder="Fecha de Registro" 
                            type="date" pInputText 
                            formControlName='formFechaNacimiento' 
                            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                        </div>

                        <!-- <div class="col-12 md:col-2">
                            <label>Edad:</label>
                            <input placeholder="Edad" type="text" pInputText  class="inputTest"
                                    formControlName="formEdad"   oninput="this.value=this.value.toUpperCase()"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                        </div> -->
                </div>
                <div class="formgrid grid mx-3">
                    <div class="col-12 md:col-2" >
                        <label>Aborto:</label>
                            <p-dropdown
                            formControlName="formAborto"
                            [options]="aborto"
                            optionLabel="label" 
                            optionValue="value"
                            [(ngModel)]="selectedAborto"
                            placeholder="Aborto"
                            [showClear]="false"
                            class="p-fluid w-full"
                            >
                            </p-dropdown>
                    </div>
                    <div class="col-12 md:col-2">
                        <label>NroGesta:</label>
                        <input placeholder="Nro gesta" 
                               type="number" pInputText  class="inputTest"
                                formControlName="formGesta"  
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                    </div>
                    <div class="col-12 md:col-4" >
                        <label>Nombres:</label>
                        <input placeholder="Nombres" type="text" pInputText  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="formNombresGestante" oninput="this.value=this.value.toUpperCase()"/>
                    </div>
                    <div class="col-12 md:col-4">
                        <label>Apellidos:</label>
                        <input placeholder="Apellidos" type="text" pInputText class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="formApellidos" oninput="this.value=this.value.toUpperCase()"/>
                    </div>
            </div>
                <div class="formgrid grid mx-3">
                    <div class="field col" >
                        <label>Cod. EE.SS Anterior:</label>
                        <input placeholder="Cod.EESS.Anterior" 
                                type="text" pInputText  class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                formControlName="formCod_eess_anterior" 
                                oninput="this.value=this.value.toUpperCase()"
                                disabled="true"/>
                    </div>
                    <div class="field col">
                        <label>EE.SS Anterior:</label>
                        <input placeholder="EESS.Anterior" 
                                type="text" pInputText 
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                                formControlName="form_eess_anterior" 
                                oninput="this.value=this.value.toUpperCase()"
                                disabled="true"/>
                    </div>
                    <div class="field col">
                        <label>Cod. EE.SS Actual:</label>
                        <input placeholder="Cod.EESS.Actual" 
                        type="text" pInputText  
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="formCod_eess_actual" 
                        oninput="this.value=this.value.toUpperCase()"
                        disabled="true"/>
                    </div>
                    <div class="field col">
                        <label>EE.SS Actual:</label>
                        <input placeholder="EESS.Actual" 
                        type="text" pInputText  
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"
                        formControlName="form_eess_actual" 
                        oninput="this.value=this.value.toUpperCase()"
                        disabled="true"/>
                    </div>
            </div>
                <div class="formgrid grid mx-3">
                    <div class="field col">
                        <label>H. Clinica:</label>
                        <input placeholder="Historia clinica" 
                        type="text" pInputText formControlName='formHCL' 
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col">
                        <label>Fecha de registro:</label>
                        <input placeholder="Fecha de Registro" 
                        type="date" pInputText formControlName='formFechaRegistro' 
                        class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full" 
                        disabled="true">
                    </div>
                    <div class="field col">
                        <label>FUR:</label>
                                <input type="date" pInputText 
                                placeholder="Fecha de ultima regla"
                                formControlName="formFur"
                                (blur)="calcularFPP()"
                                [(ngModel)]="auxFUR"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                    <div class="field col">
                        <label>FPP:</label>
                        <input type="date" pInputText  placeholder="Fecha de Probable parto"
                                formControlName="formFpp"  
                                disabled="true"
                                [ngModel]="auxFPP"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                    </div>
                </div>
                <div class="formgrid grid mx-3">
                    <div class="field col">
                        <label>Dirección:</label>
                        <input placeholder="direccion" type="text" pInputText  class="inputTest"
                                formControlName="formDireccion"   oninput="this.value=this.value.toUpperCase()"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                    </div>
                    <div class="field col">
                        <label>Referencia:</label>
                        <input placeholder="referencia" type="text" pInputText  class="inputTest"
                                formControlName="formReferencia"   oninput="this.value=this.value.toUpperCase()"
                                class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                    </div>
                </div>
                <div class="formgrid grid mx-3">
                        <div  class="col-12 md:col-2">
                            <label>Telefono:</label>
                            <input placeholder="Telefono" type="text" pInputText  class="inputTest"
                                    formControlName="formTelefono"   oninput="this.value=this.value.toUpperCase()"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                        </div>
                        <div  class="col-12 md:col-5" >
                            <label>Morbilidad potencial:</label>
                            <p-dropdown
                            formControlName="formMorbilidadPotencial"
                            [options]="morbilidad_potencial_a"
                            optionLabel="value" 
                            optionValue="value"
                            placeholder="Morbilidad potencial"
                            [showClear]="false"
                            class="p-fluid w-full"
                            >
                            </p-dropdown>
                        </div>
                        <div  class="col-12 md:col-5">
                            <label>Observaciones:</label>
                            <input placeholder="Observaciones" type="text" pInputText  class="inputTest"
                                    formControlName="formObservaciones"   oninput="this.value=this.value.toUpperCase()"
                                    class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full"/>
                        </div>
                </div>
            </div>
              <!--<div class="card">
                  <label class="ml-3 my-4">DATOS GENERALES DEL PERSONAL</label>
                  <div class="formgrid grid mx-3">
                      <div class="field col">
                          <label>Nombres:</label>
                          <input placeholder="nombres" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      </div>
                      <div class="field col">
                          <label>Apellido paterno:</label>
                          <input placeholder="apellido paterno" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      </div>
                      <div class="field col">
                          <label>Apellido materno:</label>
                          <input placeholder="apellido materno" class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
                      </div>
              </div>
              </div>-->
        </form>
    </div>
    <div class="footer">
        <button
        pButton
        type="button"
        (click)="saveoupdate()"
        label="Guardar"
        class="p-button-primary mt-4 mr-3"
        [disabled]="gestanteRegistrado"
        ></button>
        <button
        pButton
        type="button"
        (click)="closeDialog()"
        label="Cancelar"
        class="p-button-danger mt-4"
        ></button>
    </div>
    <div>
    <p-toast position="top-right" key="myMessage1"></p-toast>
    <p-toast position="top-right" key="myMessage2"></p-toast>
    </div>

