p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}
p-checkbox>>>.p-checkbox .p-checkbox-box{
    border-radius: 50%;
    width: 18px;
    height: 18px;
}
p-fieldset >>> .p-fieldset .p-fieldset-content {
    padding: 1px;
    font-size: small;
}
.p-inputtext-sm{
    width: 100%;
    height: 20px;
    border-radius: 10px;
}
.espacio{
    margin-bottom: 110px;
}
.espacio-final{
    margin-top: 16px;
}
.margen{
    border: 1px solid;
    border-radius: 5px;
    padding: 1rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
}
::ng-deep .rojo .p-checkbox  .p-checkbox-box{
    background: rgb(194, 6, 6);
    border-color: rgb(194, 6, 6);
}

::ng-deep .amarillo .p-checkbox  .p-checkbox-box{
    background: rgb(242, 236, 56);
    border-color: rgb(242, 236, 56);
}