<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Datos del recien nacido</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"></button>
        </ng-template>
    </p-toolbar>
    <div class="grid m-1 ">
        <!-- <p-panel header="Peso y Talla" class="font-bold">
            <h5>Multiple</h5>
            <form [formGroup]='form'>
                <div>
                    <div class="p-field-checkbox">
                        <p-checkbox id="group1" value="New York" formControlName="selectedCities" inputId="ny"></p-checkbox>
                        <label for="ny">New York</label>
                    </div>
                    <div class="p-field">
                        <p-checkbox id="group1" value="San Francisco" formControlName="selectedCities" inputId="sf">
                        </p-checkbox>
                        <label for="sf">San Francisco</label>
                    </div>
                    <div class="p-field-checkbox">
                        <p-checkbox id="group1" value="Los Angeles" formControlName="selectedCities" inputId="la"></p-checkbox>
                        <label for="la">Los Angeles</label>
                    </div>
                    <div class="p-field-checkbox">
                        <p-checkbox id="group1" value="Chicago" formControlName="selectedCities" inputId="ch"></p-checkbox>
                        <label for="ch">Chicago</label>
                    </div>
                </div>
            </form>
        </p-panel> -->
    </div>
</div>