<!--<p-dialog header={{titulo()}} [(visible)]="diagnosticoDialog" [modal]="true" [style]="{width: '60%'}"
          [draggable]="false" [resizable]="false">-->
<form [formGroup]='FormNosologico'>
    <div class="grid">
        <div class="col-6">
            <div class="p-field-radiobutton">
                <p-radioButton name="city" [(ngModel)]="opcionBusqueda" value="porDescripcion"
                               inputId="opcion1"></p-radioButton>
                <label>Buscar por Descripcion</label>
            </div>
        </div>
        <div class="col-6">
            <div class="p-field-radiobutton">
                <p-radioButton name="city" [(ngModel)]="opcionBusqueda" value="porcie10"
                               inputId="opcion2"></p-radioButton>
                <label>Buscar por Cie10</label>
            </div>
        </div>
    </div>
    <form [formGroup]='formDiag' (ngSubmit)="save1(formTemplate)" #formTemplate="ngForm">
        <div class="p-d-inline p-fluid">

            <div class="p-field resp">
                <label *ngIf="opcionBusqueda=='porDescripcion'">Diagnóstico:</label>
                <p-autoComplete *ngIf="opcionBusqueda=='porDescripcion'" formControlName="diagnostico"
                                [suggestions]="Cie10" (completeMethod)="filterDiagnostico($event)"
                                field="descripcionItem" [minLength]="1" placeholder="Descripcion" class="areaText">
                </p-autoComplete>
                <!--                     <i class="pi pi-search"></i>-->
            </div>
            <div class="p-field resp">
                <label *ngIf="opcionBusqueda=='porcie10'">CIE 10:</label>

                <p-autoComplete *ngIf="opcionBusqueda=='porcie10'" formControlName="diagnostico"
                                [suggestions]="Cie10" disabled
                                (completeMethod)="filterDiagnostico($event)" field="codigoItem"
                                [minLength]="1" placeholder="CIE 10">
                </p-autoComplete>
            </div>
        </div>
    </form>
    <div *ngIf="hayError"
         class="alert alert-danger">
        No se encontró nada en el término
    </div>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="canceled1()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="save1(formTemplate)"></button>

    </ng-template>
</form>
<!--</p-dialog>-->


<!--<form [formGroup]='FormNosologico'>
    <div class="p-grid p-fluid">
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Medicamentos:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='descripcion'
                   placeholder="medicamentos"
                   required/>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Cantidad:</label>
            <input type="number" style="border-radius: 10px" pInputText formControlName='numero' placeholder="cantidad"
                   required/>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Dosis:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='dosis' placeholder="dosis"
                   required/>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Intervalo</label>
            <div class="p-field">
                <p-dropdown inputId="dropdown" [options]="intervaloList" formControlName="intervalo"
                            placeholder="seleccionar" optionLabel="label" optionValue="value"
                            defaultLabel="Seleccione:">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Via Admin.</label>
            <div class="p-field">
                <p-dropdown inputId="dropdown" [options]="viaadministracionList" formControlName="viaAdministracion"
                            placeholder="seleccionar" optionLabel="label" optionValue="value"
                            defaultLabel="Seleccione:">
                </p-dropdown>
            </div>
        </div>
        <div class="p-col-6 p-md-4 p-lg-3">
            <label>Duración:</label>
            <input type="text" style="border-radius: 10px" pInputText formControlName='duracion' placeholder="duración"
                   required/>
        </div>
        <br>
        <div class="p-col-6 p-md-4 p-lg-3">
                 <span class="p-float-label">
                 <label>Ind. Adicional:</label>
                <textarea style="border-radius: 10px" id="indAdicional" rows="5" cols="30" pInputTextarea
                          formControlName="observaciones"> </textarea>
                <label for="indAdicional">Ind. Adicional:</label>
                </span>
        </div>
    </div>
</form>
<div class="footer">
    <button pButton type="button" label="Guardar" (click)="closeDialogGuardar()" class="p-button-danger mt-4"></button>
    <button pButton type="button" label="Cancelar" (click)="closeDialog()" class="p-button-danger mt-4"></button>
</div>-->
