.funcionesVitales {
  display: flexbox;
  flex: 7%;
  margin: 0.5em;
}

.funcionesBiologicas {
  flex: 8%;
  margin: 0.7em;
}

.examenObst {
  flex: 11%;
  margin: 0.5em;
}

::ng-deep .p-fieldset .p-fieldset-legend {
  border: 1px solid #dee2e6;
  color: #495057;
  background: #d8dee5;
  font-weight: 600;
  border-radius: 5px;
  font-size: small;
}

p-radiobutton>>>.p-radiobutton .p-radiobutton-icon {
  content: url("src\assets\svg-icons\check-svgrepo-com.svg");
}

::ng-deep .default .p-radiobutton .p-radiobutton-icon {
  background: #2196f3;
  border: #2196f3;
}

::ng-deep .default .p-radiobutton .p-radiobutton-box.p-highlight {
  background: #2196f3;
  border: #2196f3;
}

::ng-deep .dialogo .p-dialog-mask .p-element {
  display: block;
  overflow: auto;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

span {
  position: relative;
  margin-right: -20px;
}

input[type="number"] {
  padding-left: -20px;
  text-align: left;
}

p-dialog>>>.p-dialog .p-dialog-header {
  border-bottom: 0 none;
  background: #0c3866;
  color: #ffffff;
  padding: 1rem;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.button-agregar {
  background: #003C71;
}

.fieldset_data {
  padding: 0%;
}

::ng-deep .p-fieldset.p-fieldset-toggleable .p-fieldset-legend a,
::ng-deep .p-fieldset .p-fieldset-legend {
  padding: 0.5rem;
}

::ng-deep .table-over .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.2rem 0.6rem;
}