<div class="p-card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">Interrogatorio</h3>
        </ng-template>
        <ng-template pTemplate="right" class="button">
            <button pButton pRipple label="Guardar" icon="pi pi-save" class="p-button-primary"
                (click)="guardarDatos()"></button>
        </ng-template>
    </p-toolbar>
    <form [formGroup]='form'>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Funciones Vitales">
                    <div class="grid">
                        <label>T°:</label>
                        <input type="number" pInputText formControlName='temperatura' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>PA Sisto:</label>
                        <input type="number" pInputText formControlName='presionSisto' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>PA Diasto:</label>
                        <input type="number" pInputText formControlName='presionDisto' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>F.C:</label>
                        <input type="number" pInputText formControlName='fc' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>F.R.:</label>
                        <input type="number" pInputText formControlName='fr' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>Peso:</label>
                        <input type="number" pInputText formControlName='peso' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>Talla:</label>
                        <input type="number" pInputText formControlName='talla' placeholder=""
                            class="funcionesVitales inputfield w-full">
                        <label>IMC:</label>
                        <input type="number" pInputText formControlName='imc' placeholder=""
                            class="funcionesVitales inputfield w-full">
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Estado Actual: Funciones Biológicas">
                    <div class="grid">
                        <label>Apetito:</label>
                        <input type="text" pInputText formControlName='apetito' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                        <label>Sed:</label>
                        <input type="text" pInputText formControlName='sed' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                        <label>Sueños:</label>
                        <input type="text" pInputText formControlName='suenos' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                        <label>Estado de Animo:</label>
                        <input type="text" pInputText formControlName='estadoAnimo' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                        <label>Orina:</label>
                        <input type="text" pInputText formControlName='orina' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                        <label>Deposiciones:</label>
                        <input type="text" pInputText formControlName='deposiciones' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                    </div>
                </p-fieldset>
            </div>
        </div>
        <div class="grid">
            <div class="col-12">
                <p-fieldset legend="Interrogatorio">
                    <div class="grid">
                        <div class="col-6">
                            <label>Motivo de Consulta:</label>
                            <textarea [rows]="1" class="inputfield w-full" autoResize="autoResize"
                                formControlName="motivoConsulta" pInputTextarea></textarea>
                        </div>
                        <div class="col-6">
                            <label>Tiempo de la Enfermedad:</label>
                            <textarea [rows]="1" class="inputfield w-full" autoResize="autoResize"
                                formControlName="tiempoEnfermedad" pInputTextarea></textarea>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12">
                            <label>Observaciones:</label>
                            <!-- </div> -->
                            <!-- <div class="col-10"> -->
                            <textarea [rows]="2" class="inputfield w-full" autoResize="autoResize"
                                formControlName="observaciones" pInputTextarea></textarea>
                        </div>
                    </div>
                    <p-fieldset legend="Examen Fisico">
                        <div class="col-12">
                            <div class="grid">
                                <label>Piel:</label>
                                <input type="text" pInputText formControlName='piel' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Mucosas:</label>
                                <input type="text" pInputText formControlName='mucosas' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Cabeza:</label>
                                <input type="text" pInputText formControlName='cabeza' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Cuello:</label>
                                <input type="text" pInputText formControlName='cuello' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Cardio Vasc.:</label>
                                <input type="text" pInputText formControlName='cardioVasc' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                            </div>
                            <div class="grid mt-2">
                                <label>Pulmones:</label>
                                <input type="text" pInputText formControlName='pulmones' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Mamas:</label>
                                <input type="text" pInputText formControlName='mamas' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Pezones:</label>
                                <input type="text" pInputText formControlName='pezones' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                                <label>Abdomen:</label>
                                <input type="text" pInputText formControlName='abdomen' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                            </div>
                            <!-- <div class="grid mt-2">
                                <div class="col-12">
                                    <label>Otros Exámenes:</label>
                                    <textarea [rows]="2" class="inputfield w-full" autoResize="autoResize"
                                        formControlName="examenFisicoOtro" pInputTextarea></textarea>
                                </div>
                            </div> -->
                            <div class="grid mt-2 ">
                                <button pButton pRipple label="Otros Examenes Fisicos" icon="pi pi-plus"
                                    class="p-button-primary" (click)="openDialogExamenesFinal()" class="mt-4"></button>
                            </div>
                            <div class="grid mt-2">
                                <div class="col-4">
                                    <p-table [value]="listaOtrosPruebasFisicas" [showCurrentPageReport]="true"
                                        [filterDelay]="0">
                                        <ng-template pTemplate="caption">
                                            <div class="flex justify-content-between">
                                                <div class="table-header mt-2">
                                                    Otros Examenes Fisicos
                                                </div>
                                            </div>
                                        </ng-template>
                                        <ng-template pTemplate="header">
                                            <tr>
                                                <th>Nro</th>
                                                <th>Nombre</th>
                                                <th>Resultado</th>
                                                <th style="text-align: center; width:4rem">Acción</th>
                                            </tr>
                                        </ng-template>
                                        <ng-template pTemplate="body" let-otrosExam let-i="rowIndex">
                                            <tr>
                                                <td>{{ i + 1}}</td>
                                                <td>{{otrosExam.funcion}}</td>
                                                <td>{{otrosExam.valor}}</td>
                                                <td>
                                                    <button pButton pRipple class="p-button-danger botones"
                                                        icon="pi pi-times" label="Eliminar"
                                                        (click)="eliminarExamFisicos(i)"></button>
                                                </td>
                                            </tr>
                                        </ng-template>
                                    </p-table>
                                </div>
                                <div class="col-1"></div>
                                <div class="col-7 align-content-start">
                                    <label>Observaciones Examen Fisico:</label>
                                    <textarea [rows]="2" class="inputfield w-full" autoResize="autoResize"
                                        formControlName="obsExamFisico" pInputTextarea></textarea>
                                </div>
                            </div>
                        </div>
                    </p-fieldset>
                    <p-fieldset legend="Examen Obstetrico">
                        <div class="grid">
                            <div class="col-4">
                                <div class="grid">
                                    <label>Miembros Inferiores:</label>
                                    <input type="text" pInputText formControlName='miembrosInferiores' placeholder=""
                                        class="funcionesBiologicas p-fluid w-full">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="grid">
                                    <label>Altura Uterina:</label>
                                    <input type="text" pInputText formControlName='alturaUterina' placeholder=""
                                        class="funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="grid">
                                    <label>Edema:</label>
                                    <div class="col-6">
                                        <p-dropdown [options]="listaEdema" formControlName="edema" optionLabel="name"
                                            optionValue="name" class="inputfield p-fluid w-full examenObst"
                                            placeholder="Seleccione una opción">
                                        </p-dropdown>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="grid ">
                            <div class="col-12">
                                <div class="grid">
                                    <label>Genitales Externos:</label>
                                    <input type="text" pInputText formControlName='genitalesExter' placeholder=""
                                        class="funcionesBiologicas inputfield w-full">
                                    <label>Vagina:</label>
                                    <input type="text" pInputText formControlName='vagina' placeholder=""
                                        class="funcionesBiologicas inputfield w-full">
                                    <label>Cuello Uterino:</label>
                                    <input type="text" pInputText formControlName='cuelloUterino' placeholder=""
                                        class="funcionesBiologicas inputfield w-full">
                                </div>
                            </div>
                        </div>
                        <div class="grid mt-2">
                            <div class="col-5">
                                <div class="grid">
                                    <label>Reflejo Osteotendinoso: </label>
                                    <p-radioButton name="osteotendinoso" formControlName="osteotendinoso" value="o"
                                        class="default ml-2">
                                    </p-radioButton>
                                    <span class="mr-2 ml-1">O </span>
                                    <p-radioButton name="osteotendinoso" formControlName="osteotendinoso" value="x"
                                        class="default">
                                    </p-radioButton>
                                    <span class="mr-2 ml-1">X </span>
                                    <p-radioButton name="osteotendinoso" formControlName="osteotendinoso" value="xx"
                                        class="default">
                                    </p-radioButton>
                                    <span class="mr-2 ml-1">XX </span>
                                    <p-radioButton name="osteotendinoso" formControlName="osteotendinoso" value="xxx"
                                        class="default">
                                    </p-radioButton>
                                    <span class="mr-2 ml-1">XXX </span>
                                </div>
                            </div>

                            <label>Semanas:</label>
                            <div class="col-1">
                                <input type="number" pInputText formControlName='semanas' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                            </div>
                            <label class="ml-3">Días:</label>
                            <div class="col-1">
                                <input type="number" pInputText formControlName='dias' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                            </div>
                        </div>
                    </p-fieldset>
                    <div class="col-12 mt-3">
                        <div class="grid">
                            <button pButton pRipple label="Examenes de Feto" icon="pi pi-plus" class="p-button-primary"
                                (click)="openDialogExamenesFeto()" class="mt-4"></button>
                        </div>
                        <div class="grid mt-2">
                            <div class="lg:col-12 md:col-12 col-fixed">
                                <p-table [value]="listaExamenesFetos" [rowHover]="true" [rows]="5"
                                    [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]" [paginator]="true"
                                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                    [filterDelay]="0" styleClass="p-datatable-gridlines">
                                    <ng-template pTemplate="caption">
                                        <div class="flex justify-content-between">
                                            <div class="table-header mt-2">
                                                Examenes de Fetos
                                            </div>
                                        </div>
                                    </ng-template>
                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Nro</th>
                                            <th>Situación Fetal</th>
                                            <th>Presentación Fetal</th>
                                            <th>Posición Fetal</th>
                                            <th>Mov. Fetal</th>
                                            <th>Latidos Card.</th>
                                            <th style="text-align: center; width:4rem">Acción</th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-examFeto let-i="rowIndex">
                                        <tr>
                                            <td>{{ i + 1}}</td>
                                            <td>{{examFeto.situacion}}</td>
                                            <td>{{examFeto.presentacion}}</td>
                                            <td>{{examFeto.posicion}}</td>
                                            <td>{{examFeto.movimientosFetales}}</td>
                                            <td>{{examFeto.fcf}} x min</td>
                                            <td style="display: flex;">
                                                <button pButton pRipple class="p-button-info botones"
                                                    icon="pi pi-pencil" label="Editar"
                                                    (click)="editarExamenFetos(examFeto, i)"></button>
                                                <button pButton pRipple class="p-button-danger botones"
                                                    icon="pi pi-times" label="Eliminar" (click)="eliminar(i)"></button>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>
                        </div>
                    </div>
                </p-fieldset>
            </div>
        </div>
    </form>
</div>

<!-- Dialog de otros examenes fisicos -->
<p-dialog [(visible)]="examenesFisicosDialog" [style]="{width: '40%'}" [modal]="true" styleClass="p-fluid" autoZIndex
    class="dialogo" header="Otros Examenes Fisicos">
    <form [formGroup]='formExamFisico'>
        <div class="grid">
            <div class="col-4">
                <label>Nombre Examen:</label>
                <input type="text" pInputText formControlName='examName' placeholder=""
                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
            </div>
            <div class="col-8">
                <label>Resultado:</label>
                <input type="text" pInputText formControlName='examResult' placeholder=""
                    class="p-inputtext-sm funcionesBiologicas inputfield w-full">
            </div>
        </div>
        <div class="grid mt-4">
            <div class="col-4 text-right">
                <button pButton pRipple label="Agregar" icon="pi pi-plus" class=" bg-blue-700"
                    (click)="btnGuardarExamFis()"></button>
            </div>
            <div class="col-4 text-right">
                <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger"
                    (click)="btnCancelarExamFis()"></button>
            </div>
        </div>
    </form>
</p-dialog>

<!-- Dialog de examenes  fetales -->
<p-dialog [(visible)]="fetalesExamDialog" [style]="{width: '60%'}" [modal]="true" styleClass="p-fluid" autoZIndex class="dialogo" header="AGREGAR NUEVOS FETOS">
    <div class="grid">
        <div class="col-12">
            <form [formGroup]='formExamenFetal'>
                <div class="grid">
                    <div class="col-4">
                        <label>Situación Fetal</label>
                        <p-dropdown [options]="listaSituacion" formControlName="selectSituacion" optionLabel="name"
                            appendTo="body" optionValue="code" class="inputfield p-fluid w-full "
                            placeholder="Seleccione una opción">
                        </p-dropdown>
                    </div>
                    <div class="col-4">
                        <label>Presentación Fetal</label>
                        <p-dropdown [options]="listaPresentacion" formControlName="selectPresentacion"
                            optionLabel="name" appendTo="body" optionValue="code" class="inputfield p-fluid w-full"
                            placeholder="Seleccione una opción">
                        </p-dropdown>
                    </div>
                    <div class="col-4">
                        <label>Posición Fetal</label>
                        <p-dropdown [options]="listaPosicion" formControlName="selectPosicion" optionLabel="name"
                            appendTo="body" optionValue="code" class="inputfield p-fluid w-full " [showClear]="true"
                            placeholder="Seleccione una opción">
                        </p-dropdown>
                    </div>
                </div>
                <div class="grid">
                    <div class="col-4">
                        <label class="">Movimiento Fetal:</label>
                        <input type="text" pInputText formControlName='movimientoFetal' placeholder=""
                            class="funcionesBiologicas inputfield w-full">
                    </div>
                    <div class="col-4 mt-4">
                        <div class="grid">
                            <div class="col-6 text-right">
                                <label class="">Latidos Cardíacos Fetales:</label>
                            </div>
                            <div class="col-4">
                                <input type="number" pInputText formControlName='latidosCardiacos' placeholder=""
                                    class="funcionesBiologicas inputfield w-full">
                            </div>
                            <div class="col-2 text-sm font-italic">
                                <span>X min</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid mt-4">
                    <div class="col-2 text-right" *ngIf="!update">
                        <button pButton pRipple label="Agregar" icon="pi pi-plus" class=" bg-blue-700"
                            (click)="btnGuardarExamFetal()"></button>
                    </div>
                    <div class="col-2 text-right" *ngIf="update">
                        <button pButton pRipple label="Editar" icon="pi pi-plus" class=" bg-blue-700"
                            (click)="btnEditarExamenFetal()"></button>
                    </div>
                    <div class="col-2 text-right">
                        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-danger ml-2"
                            (click)="btnCancelarExamFetal()"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</p-dialog>