<form [formGroup]="formPurperio">
    <div class="grid" >
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Fecha de atencion:</label>
            <br>
            <p-calendar type="date" showIcon="true" type dateFormat="yy-mm-dd"  formControlName="fechaAtencion" class="p-fluid"></p-calendar>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Horas/Dias PostParto:</label>
            <input type="text" pInputText class="inputfield" formControlName="horasDiasPostPartoAborto">
        </div>

        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Pulso (latido/minuto):</label>
            <input type="text" pInputText class="inputfield" formControlName="pulso">
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Involucion Uterina:</label>
            <input type="text" pInputText class="inputfield" formControlName="involucionUteriana">
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Herida operación:</label>
<!--            <input type="text" pInputText class="inputfield" formControlName="heridaOperacion">-->
            <p-dropdown  inputId="dropdown" [options]="heridaOperacionList" formControlName="heridaOperacion"
                         placeholder="seleccionar" optionLabel="name" optionValue="code"
                         defaultLabel="Seleccione:" >
            </p-dropdown>
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Observaciones:</label>
            <input type="text" pInputText class="inputfield" formControlName="observaciones">
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Temperatura:</label>
            <input type="text" pInputText class="inputfield" formControlName="temperatura">

        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Pres. Arterial max/min (mm. Hg.):</label>
            <input type="text" pInputText class="inputfield" formControlName="presionArterialMaxima">
        </div>
        <div class="col-12 sm:col-6 md:col-4 lg:col-4 xl:col-4 p-fluid">
            <label>Caract. Loquios:</label>
            <p-dropdown  inputId="dropdown" [options]="caracteristicasList" formControlName="caracteristicasLoquios"
                         placeholder="seleccionar" optionLabel="name" optionValue="code"
                         defaultLabel="Seleccione:"  appendTo="body">
            </p-dropdown>
<!--            <input type="text" pInputText class="inputfield" formControlName="caracteristicasLoquios">-->
        </div>
    </div>
</form>

<div class="flex justify-content-end">
    <button pButton type="button" label="Guardar" (click)="closeDialogGuardar()" class="p-button-info mt-4 mr-2"></button>
    <button pButton type="button" label="Cancelar" (click)="closeDialog()"  class="p-button-danger mt-4"></button>
</div>
