/*p-toggleButton >>> .p-togglebutton.p-button.p-highlight {*/
/*    background: #0c3866;*/
/*    border-color: #0c3866;*/
/*    color: #ffffff;*/
/*}*/
/*p-toggleButton >>> .p-togglebutton.p-button.p-highlight:hover {*/
/*    background: #0c3866;*/
/*    border-color: #0c3866;*/
/*    color: #ffffff;*/
/*}*/
p-dialog >>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
p-dialog >>> .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #ffffff;
}
p-dialog >>> .p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
}
p-dialog >>> .p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
    color:#0c3866;
}
::ng-deep .debellenar .p-togglebutton.p-button.p-highlight{
    background: red;
    border-color: red;
    color: #ffffff;
}
::ng-deep .debellenar .p-togglebutton.p-button.p-highlight:hover{
    background: red;
    border-color: red;
    color: #ffffff;
}
::ng-deep .llenado .p-togglebutton.p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
    color: #ffffff;
}
::ng-deep .llenado .p-togglebutton.p-button.p-highlight:hover {
    background: #0c3866;
    border-color: #0c3866;
    color: #ffffff;
}
p-calendar >>> .p-calendar .p-datepicker {
    width: 250px;
}