/*p-toggleButton >>> .p-togglebutton.p-button.p-highlight {*/
/*    background: #0c3866;*/
/*    border-color: #0c3866;*/
/*    color: #ffffff;*/
/*}*/
/*p-toggleButton >>> .p-togglebutton.p-button.p-highlight:hover {*/
/*    background: #0c3866;*/
/*    border-color: #0c3866;*/
/*    color: #ffffff;*/
/*}*/
/* :host ::ng-deep .fondorojo {
    background-color: #fcbfba !important;
}
p-dialog >>> .p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #0c3866;
    color: #495057;
    padding: 1.5rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    z-index:89999;
}
p-dialog >>> .p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
    color: #ffffff;
    z-index:89999;
}
p-dialog >>> .p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 2rem;
    height: 2rem;
    color: #ffffff;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
    margin-right: 0.5rem;
    z-index:89999;
}
p-dialog >>> .p-dialog .p-dialog-footer button {
    margin: 0 0.5rem 0 0;
    width: auto;
    color:#0c3866;
    z-index:89999;
}
::ng-deep .debellenar .p-togglebutton.p-button.p-highlight{
    background: #bf0d21;
    border-color: #bf0d21;
    color: #ffffff;

}
::ng-deep .debellenar .p-togglebutton.p-button.p-highlight:hover{
    background: #bf0d21;
    border-color: #bf0d21;
    color: #ffffff;

}
::ng-deep .llenado .p-togglebutton.p-button.p-highlight {
    background: #0c3866;
    border-color: #0c3866;
    color: #ffffff;

}
::ng-deep .llenado .p-togglebutton.p-button.p-highlight:hover {
    background: #0c3866;
    border-color: #0c3866;
    color: #ffffff;
}
:host ::ng-deep  .p-frozen-column {
    font-weight: bold;
    z-index:2;

} */
/*:host ::ng-deep .p-datatable-frozen-tbody {*/
/*    font-weight: bold;*/
/*    z-index:2;*/
/*    font-size: 15px;*/
/*}*/
/* p-calendar{
    z-index:99990;
}
p-calendar >>> .p-button {
    background: #0c3866;
    border: 1px solid #0c3866;
    align-self: center;
}
::ng-deep  .p-datatable table {
    width: auto;
}

::ng-deep  .p-datatable .p-datatable-thead > tr > th {
    text-align: center !important;
    border: 1px solid #b6b6b6;
    background-color: #dddddd;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    word-wrap: break-word;
} */
:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr >th {
    border:1px solid #b6b6b6;
    /* height:45px; */
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr >td {
    border:1px solid #b6b6b6;
    height:45px;
    
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr  {
    display: flex;
    flex-direction: row;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr  {
    display: flex;
    flex-direction: row;
}

:host::ng-deep .tablaModal .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    margin: 0px;
    padding: 5px;
}
:host::ng-deep .tablaModal .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    margin:0px;
    padding: 5px;
}
:host::ng-deep .tablaModal .p-datatable{
    border-collapse: collapse !important;
    width: auto;

}
/*stylos para poner frozen*/
.frozenCol {
    background: inherit;
    grid-area: topright;
    border: solid 1px black;
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
  }
  .frozenCol:after {
    bottom: 0;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 1px black !important;
  }
  .frozenCol-th {
      background: inherit;
    position: sticky;
    top: 0;
  }
  .frozenCol-th::after {
    position: absolute;
    overflow-x: auto;
  }
  