<p-card>
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <h3 class="p-m-0">EVALUACION DE LA ALIMENTACIÓN DE LA NIÑA Y EL NIÑO</h3>
        </ng-template>
    </p-toolbar>
    <form [formGroup]="arregloForm">
        <p-table
        responsiveLayout="scroll"
        [value]="listaPreguntas"
        scrollDirection="both"
        scrollHeight="100%" styleClass="mt-3"
        [virtualRowHeight]="40" 
        styleClass="p-datatable-gridlines">
            <ng-template pTemplate="header">
                <tr>
                    <th style="display: flex ;width:300px;">Edad                      </th>
                    <th *ngFor="let mes of listaMesesEvaluar">{{mes}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-sale let-rowIndex="rowIndex">
                <tr [formArrayName]="rowIndex">
                    <td>
                        {{sale.titulo}}
                    </td>
                    <td *ngFor="let mes of listaMesesEvaluar">
                        <p-checkbox    [binary]="true"></p-checkbox>
                    </td>
                </tr>

            </ng-template>
        </p-table>
    </form>
</p-card>
<!-- <p-dialog header="RECUERDA QUE:" [(visible)]="displayPosition" [position]="position" [modal]="true" [style]="{width: '50vw'}"
          [draggable]="false" [resizable]="false">
    <h3> EL NIÑO(A) TIENE: {{edadMeses}}  MESES. </h3>
    <h4>
        DEBES DE  REGISTRAR LA EVALUACIÓN DE LA ALIMENTACION DEL NIÑO(A)
        CORRESPONDIENTE A SU EDAD, RECUERDE QUE SOLO PUEDE GUARDAR Y EDITAR MIENTRAS ESTE EN ESTA EDAD.</h4>
    <p>Recuerda que si tiene más de 42 meses de edad o se encuentra en una edad que no este en el cuadro de Evaluacion Alimenticia, no se podra registrar evaluaciones.</p>
    <h3 style="text-align: center">GRACIAS</h3>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="displayPosition=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog> -->