
<div style="background: #f8f9fa; height: 100%;">
      <div class="grid" style="margin-top:10px ;">
            <div class="col-12 md:col-4" style="align-items:center;">
                  <img style="width:100%;height: 100%;" src="{{profile.imagen}}" alt="imagen" />
            </div>
            <div class="col-12 md:col-8">
                  <h1>{{profile.nombre}}</h1>
                  <h2 style="color:#af0017;">{{profile.puesto}}</h2>
                  <p>{{profile.descripcion}}</p>
            </div>
      </div>
</div>
