<div class="flex jutify-content-center align-items-center caja">
   <div>
      <strong>Edad:</strong>
   </div>
   <div class="ml-5">
      <input id="float-input" type="text" pInputText placeholder="Mostrar años">
      Años
   </div>
   <div class="ml-5">
      <input id="float-input" type="text" pInputText placeholder="Mostrar meses">
      Meses
   </div>
   <div class="ml-5">
      <input id="float-input" type="text" pInputText placeholder="Mostrar días">
      Días
   </div>
</div>

<div style="margin-top:40px">
   <div>
      <div style='margin-bottom: 10px;'>
         <div class="azul"></div>
         <div class="blanco">1. SUB TEST COORDINACIÓN</div>
      </div>
      <div style='margin-bottom: 10px;'>
         <div class="azul"></div>
         <div class="blanco">2. SUB TEST LENGUAJE</div>
      </div>
      <div style='margin-bottom: 10px;'>
         <div class="azul"></div>
         <div class="blanco">1. SUB TEST MOTROCIDAD</div>
      </div>
   </div>

   <div>

   </div>
</div>