/* You can add global styles to this file, and also import other style files */
/* html {
    font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: normal;
}*/
label {
  font-weight: bold;
}
html,
body {
  margin: 5px;
  background-color: var(--text-b);
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: normal;
}
.text-layout {
  color: var(--text-color);
}
.p-dialog .p-dialog-header {
  background-color: #0C3866;
  color: #ffffff;
  font-size: 1.2rem;
  /* margin-bottom: 7rem; */
}
.p-dialog .p-dialog-content{
  padding-top: 2rem;
}

.leaflet-popup-content img{
  width: 100%;
}
/* :host ::ng-deep .boton-azul .p-button {
  background-color: red;
} */
p-button.boton-azul .p-button {
  background-color: #0C3866;
}
