<div>
  <p-fieldset legend="Examen de laboratorio">
    <div class="grid">
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Grupo S:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="Grupo S" />
        </div>
      </div>
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          F.RH.:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="F.RH." />
        </div>
      </div>
      <div class="col-3 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Hemograma:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="Hemograma" />
        </div>
      </div>
      <div class="col-3 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Hemoglobina:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="Hemoglobina" />
        </div>
      </div>
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Hto:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder=" Hto" />
        </div>
      </div>
      <div class="col-3 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Glucosa:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder=" Glucosa" />
        </div>
      </div>
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          E.Orina:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="E.Orina" />
        </div>
      </div>
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          RPR:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="RPR" />
        </div>
      </div>
      <div class="col-2 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          PREVIH:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder="PREVIH" />
        </div>
      </div>
      <div class="col-3 grid">
        <div class="col-6" style="font-weight: bold; text-align: right">
          Ex.Sec.V:
        </div>
        <div class="col-6 p-fluid">
          <input type="text" pInputText placeholder=" Ex.Sec.V" />
        </div>
      </div>
    </div>
  </p-fieldset>
</div>
