<div class="grid">
    <div class="col-12">
        <p-table [value]="tablaResumenDx" [rowHover]="true" styleClass="p-datatable-gridlines"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0" [responsive]="true" >
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        RESUMEN DE RESULTADOS DE EVALUACIONES - TESTS - TAMIZAJES - INMUNIZACIONES - LABORATORIO
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">EDAD</th>
                    <th style="text-align: center" class="font-2">NOMBRE</th>
                    <th style="text-align: center" class="font-2">EVALUACION</th>
                    <th style="text-align: center" class="font-2">RESULTADO</th>
                </tr>
            </ng-template>

            <ng-template pTemplate="body" let-listaResumen let-rowIndex="rowIndex" >
                <tr [ngClass]="{'fondoamarillo': listaResumen.nombre === 'INMUNIZACIONES','fondoverde':listaResumen.nombre === 'TAMIZAJES','fondoceleste':listaResumen.nombre === 'EVALUACIONES O TEST','fondogris':listaResumen.nombre === 'LABORATORIO'}">
                    <td style="text-transform:uppercase;text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia' }">
                        {{rowIndex+1}}
                    </td>
                    <td style="text-transform:uppercase;text-align: center" [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia' }">
                        {{this.dataConsulta.anio }} (años)    {{this.dataConsulta.mes }} (meses)    {{this.dataConsulta.dia }} (dias)
                    </td>
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.nombre}}
                    </td>
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.evaluacion}}
                    </td >
                    <td style="text-transform:uppercase;text-align: center"  [ngClass]="{'rojo': listaResumen.resultado === 'POSITIVO' || listaResumen.resultado =='RETRASO' || listaResumen.resultado =='NINO CON ALIMENTACION COMPLEMENTARIA INADECUADA' || listaResumen.resultado =='Sobrepeso' || listaResumen.resultado =='Riesgo microcefalia'  }">
                        {{listaResumen.resultado}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <br>

<!--         Procedimientos-->
    <div class="col-12 lg:col-12 md:col-12 col-fixed">
        <p-table [value]="procedimientos" [rowHover]="true" styleClass="p-datatable-gridlines"
                 [rows]="5" [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,15]"
                 [paginator]="true" currentPageReportTemplate="Mostrando {first} al {last} de {totalRecords} entradas"
                 [filterDelay]="0">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between">
                    <div class="table-header mt-2">
                        2. PROCEDIMIENTOS
                    </div>
                    <div>
                        <button pButton pRipple label="Agregar" icon="pi pi-plus-circle" class="guardar mr-2"
                                style="background-color: #0c3866" (click)="openProcedimiento()"></button>
                    </div>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="text-align: center" class="font-2">Nro</th>
                    <th style="text-align: center" class="font-2">COD. PROCEDIMIENTO SIS</th>
                    <th style="text-align: center" class="font-2">PROCEDIMIENTO SIS</th>
                    <th style="text-align: center" class="font-1">COD. PROCEDIMIENTO HIS</th>
                    <th style="text-align: center" class="font-2">PROCEDIMIENTO SIS</th>
                    <th style="text-align: center" class="font-1">COD. PRESTACIÓN</th>
                    <th style="text-align: center" class="font-2">CIE 10 SIS</th>
                    <th style="text-align: center" class="font-2">ACCIÓN</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
                <tr>
                    <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                    <td style="text-align: center">{{ rowData.codProcedimientoSIS }}</td>
                    <td style="text-align: center">{{ rowData.procedimientoSIS }}</td>
                    <td style="text-align: center">{{ rowData.codProcedimientoHIS }}</td>
                    <td style="text-align: center">{{ rowData.procedimientoHIS }}</td>
                    <td style="text-align: center">{{ rowData.codPrestacion }}</td>
                    <td style="text-align: center">{{ rowData.cie10SIS }}</td>
                    <td style="text-align: center">
    <!--                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"-->
    <!--                                    (click)="eliminarDiagnostico(rowIndex)" pTooltip="Eliminar">-->
    <!--                            </button>-->

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

</div>


<!-- Procedimiento --->
<p-dialog header="INGRESAR UN PROCEDIMIENTO" [(visible)]="procedimientoDialog" [modal]="true" [style]="{width: '80%', height: '50%'}"
          [draggable]="false" [resizable]="false">
    <form [formGroup]='formProcedimiento'>
        <div class="grid mt-2 ">
            <div class="col-12 p-fluid">
                <label class="">CIE 10 HIS: </label>
                <p-dropdown  inputId="dropdown" [options]="listaDiagnosticos"
                             formControlName="diagnostico" (onChange)="onChangeDiagnostico()"
                             optionLabel="diagnosticoSIS" placeholder="seleccionar"
                             defaultLabel="Seleccione:" >
                </p-dropdown>
            </div>
            <div class="col-12 p-fluid">
                <label>Prestacion:</label>
                <input style="text-transform:uppercase"   pInputText formControlName="codProcedimientoSIS">
                <p-dropdown [options]="ListaPrestacion" formControlName="prestacion" placeholder="Seleccionar un Diagnostico"  optionLabel="descripcion" (onChange)="onChangePrestacion()" >
                    <ng-template let-prestaciones pTemplate="item">
                        <div class="flex align-items-center">
                            <div>{{prestaciones.codigo}}-{{prestaciones.descripcion}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
                <!--                <p-dropdown inputId="dropdown" [options]="ListaPrestacion" formControlName="prestacion"-->
                <!--                            placeholder="Seleccionar" optionLabel="descripcion" defaultLabel="Seleccione:" appendTo="body"-->
                <!--                            class="inputfield p-fluid w-full" (onChange)="onChangePrestacion()">-->
                <!--                </p-dropdown>-->
            </div>


            <div class="col-12 md:col-6 lg:col-6">
                <p-fieldset legend="PROCEDIMIENTO SIS">
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <p-dropdown [options]="listaDeProcedimientos" formControlName="buscarPDxSIS" placeholder="Seleccionar un Diagnostico" optionLabel="procedimiento" (onChange)="selectDxSIS()" >
                                <ng-template let-procedimientos pTemplate="item">
                                    <div class="flex align-items-center">
                                        <div>{{procedimientos.codigo}}-{{procedimientos.procedimiento}}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <textarea style="text-transform:uppercase"  rows="5" cols="30" pInputTextarea formControlName="procedimientoSIS"></textarea>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <label>CIE 10: </label>
                        </div>
                        <div class="col-12 p-fluid">
                            <input style="text-transform:uppercase"   pInputText formControlName="codProcedimientoSIS">
                        </div>
                    </div>
                </p-fieldset>
            </div>
            <div class="col-6">
                <p-fieldset legend="PROCEDIMIENTO HIS">
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"
                                            appendTo="body" field="descripcionItem" [minLength]="1" class="areaText"
                                            class="inputfield p-fluid w-full" formControlName="buscarPDxHIS"
                                            (onSelect)="selectedDxHIS($event)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">
                            </p-autoComplete>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <textarea rows="5" cols="30" pInputTextarea formControlName="procedimientoHIS"></textarea>
                        </div>
                    </div>
                    <div class="grid mt-2">
                        <div class="col-12 p-fluid">
                            <label>CIE 10: </label>
                        </div>
                        <div class="col-12 p-fluid">
                            <p-autoComplete [suggestions]="listaDeCIEHIS" (completeMethod)="filterCIE10($event)"
                                            appendTo="body" field="codigoItem" [minLength]="1" class="areaText"
                                            class="inputfield p-fluid w-full" formControlName="codProcedimientoHIS"
                                            (onSelect)="selectedDxHIS($event)" [dropdown]="true" placeholder="Seleccionar un Diagnostico">
                            </p-autoComplete>
                            <!--                     <input pInputText formControlName="cie10HIS">-->
                        </div>
                    </div>
                </p-fieldset>
            </div>



        </div>
    </form>
    <ng-template pTemplate="footer">
        <button pButton type="button" label="Cancelar" class="button-cancelar"
                icon="pi pi-times" (click)="cancelProcedimiento()"></button>
        <button class="button-agregar" icon="pi pi-save" pButton type="button"
                label="Guardar" (click)="getDatatoSavePx()"></button>

    </ng-template>

</p-dialog>
