<!-- Datos generales -->
<p-fieldset legend="Información Básica" [toggleable]="true">
  <form [formGroup]="generalInfoFG">
    <div class="grid">
      <div class="col-12 md:col-2 text-center mt-2">
        <label>Nombre completo:</label>
      </div>
      <div class="col-12 md:col-10">
        <input type="text" pInputText formControlName="name" class="inputfield w-full bg_color"
          placeholder="Nombre del paciente " />
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-2 text-center mt-2">
        <label>Fecha de atención:</label>
      </div>
      <div class="col-12 md:col-2">
        <p-calendar [showIcon]="true" formControlName="dateAttention" class="inputfield w-full bg_color" inputId="icon" dateFormat="dd/mm/yy">
        </p-calendar>
      </div>
      <div class="col-12 md:col-1 text-center mt-2">
        <label>Hora:</label>
      </div>
      <div class="col-12 md:col-1">
        <p-calendar [timeOnly]="true" formControlName="hour" inputId="timeonly">
        </p-calendar>
      </div>
      <div class="col-12 md:col-1 text-center mt-2">
        <label>Edad:</label>
      </div>
      <div class="col-12 md:col-3">
        <input type="text" pInputText formControlName="year" class="inputfield w-full bg_color"
          placeholder="Edad del paciente" />
      </div>
    </div>
  </form>
</p-fieldset> <br>
<p-fieldset legend="Descarte de Signos de Peligro" [toggleable]="true" [formGroup]="signoPeligroFG">
  <div class="grid">
    <div class="col-10 md:col-10">
      <div class="grid">
        <div class="md:col-8 mt-2" style="text-align: right">
          <label>NO PRESENTA SIGNOS :</label>
        </div>
        <div class="md:col-4">
          <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
            formControlName="presentSigns" optionValue="value">
          </p-selectButton>
        </div>
      </div>
    </div>
  </div>
  <div class="grid">
    <div class="col-12 md:col-4" *ngIf="ageValidation < 2">
      <form [formGroup]="twoMonthsFG">
        <h4 class="text-center">MENOR DE 2 MESES:</h4>
        <div *ngFor="let formC of twoMonths">
          <div class="grid">
            <div class="md:col-8 mt-2" style="text-align: center">
              {{ formC.label }} :
            </div>
            <div class="md:col-4">
              <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
                [formControlName]="formC.index" optionValue="value">
              </p-selectButton>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 md:col-4" *ngIf="ageValidation < 48 && ageValidation >= 2">
      <form [formGroup]="twoMonthsMoreFG">
        <h4 class="text-center">DE 2 MESES a 4 AÑOS:</h4>
        <div *ngFor="let formC of twoMonthsMore">
          <div class="grid">
            <div class="md:col-8 mt-2" style="text-align: center">
              {{ formC.label }} :
            </div>
            <div class="md:col-4">
              <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
                [formControlName]="formC.index" optionValue="value">
              </p-selectButton>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12 md:col-4">
      <form [formGroup]="allYearFG">
        <h4 class="text-center">PARA TODAS LAS EDADES:</h4>
        <div *ngFor="let formC of allYear">
          <div class="grid">
            <div class="md:col-8 mt-2" style="text-align: center">
              {{ formC.label }} :
            </div>
            <div class="md:col-4">
              <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
                [formControlName]="formC.index" optionValue="value">
              </p-selectButton>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <p-divider></p-divider>
  <form [formGroup]="factorRiesgoFG">
    <h4>IDENTIFIQUE FACTORES DE RIESGO</h4>
    <div class="grid">
      <div class="col-2">
        <label>¿Quién cuida al niño?</label>
      </div>
      <div class="col-10">
        <input type="text" pInputText formControlName="cuidaNinio" class="inputfield w-full" placeholder="Detalle" />
      </div>
    </div>
    <div class="grid">
      <div class="col-12 md:col-6">
        <div class="grid">
          <div class="md:col-8 mt-2" style="text-align: left">
            <label>¿Participa el padre en el cuidado del niño? :</label>
          </div>
          <div class="md:col-4">
            <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
              formControlName="participaPadre" optionValue="value">
            </p-selectButton>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6">
        <div class="grid">
          <div class="md:col-8 mt-2" style="text-align: left">
            <label>¿El niño recibe muestras de afecto? :</label>
          </div>
          <div class="md:col-4">
            <p-selectButton [options]="stateOptions" class="inputfield w-full" optionLabel="label"
              formControlName="recibeAfecto" optionValue="value">
            </p-selectButton>
          </div>
        </div>
      </div>
    </div>
    <div class="grid">
      <div class="col-2">
        <label> Especifique:</label>
      </div>
      <div class="col-10">
        <input type="text" pInputText class="inputfield w-full" formControlName="especificacion"
          placeholder="Detalle" />
      </div>
    </div>
  </form>
</p-fieldset>
<br>
<p-fieldset legend="ANAMNESIS" [toggleable]="true">
  <textarea class="inputfield w-full" [formControl]="anamnesisFC" pInputTextarea>
  </textarea>
</p-fieldset>

<!-- <div id="opc">
  <div class="speeddial-circle-demo">
    <div class="speeddial-semi-circle">
      <p-speedDial showIcon="pi pi-desktop" hideIcon="pi pi-angle-double-down" [model]="tooltipItems" radius="80"
        direction="left" type="semi-circle"></p-speedDial>
    </div>
  </div>
</div> -->
<!-- End Datos generales -->
<!-- Dialog Interconsulta --->
<p-dialog header="INTERCONSULTA" [(visible)]="dialogInterconsulta" [modal]="true" [style]="{ width: '60%' }"
  [draggable]="false" [resizable]="false">
  <form [formGroup]="formInterconsulta">
    <div class="grid align-items-center">
      <div class="col-12 flex align-items-center">
        <div class="col-2 md:col-2">Fecha:</div>
        <div class="col-10 md:col-10 p-fluid">
          <p-calendar class="w-full" [ngModel]="fecha" formControlName="fecha" [showIcon]="true" inputId="icon">
          </p-calendar>
        </div>
      </div>
      <div class="col-12 flex align-items-center">
        <div class="col-6 md:col-2">Motivo:</div>
        <div class="col-6 md:col-10">
          <textarea class="inputfield w-full" formControlName="motivo" pInputTextarea></textarea>
        </div>
      </div>
      <div class="col-6 flex align-items-center">
        <div class="col-3 md:col-3 p-fluid">Servicio:</div>
        <div class="col-9 md:col-9 p-fluid">
          <p-dropdown class="w-full" [options]="servicios" formControlName="servicio"
            placeholder="Seleccione un servicio" optionLabel="nombreUPS" optionValue="nombreUPS" [showClear]="false"
            (onChange)="ListaServicios()">
          </p-dropdown>
        </div>
      </div>
      <div class="col-4 flex align-items-center">
        <div class="col-6 md:col-6 p-fluid">Nivel Urgencia:</div>
        <div class="col-6 md:col-6 p-fluid">
          <p-dropdown class="w-full" [options]="urgencia" formControlName="urgencia" optionLabel="name"
            optionValue="code"></p-dropdown>
        </div>
      </div>
      <div class="col-2 p-fluid">
        <p-button class="boton-azul button-agregar"  label="Agregar" icon="pi pi-plus"
          [loading]="loading" (onClick)="agregarInterconsulta()"></p-button>
      </div>
    </div>
  </form>
  <p-table class="table-over" [value]="listInterconsulta" #dt styleClass="p-datatable-gridlines" [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
    <ng-template pTemplate="header">
      <tr>
        <th style="text-align: center" class="font-2">Nro</th>
        <th style="text-align: center" class="font-2">CITA</th>
        <th style="text-align: center" class="font-2">MOTIVO</th>
        <th style="text-align: center" class="font-2">SERVICIO</th>
        <th style="text-align: center" class="font-2">NIVEL</th>
        <th style="text-align: center" class="font-2">ACCIÓN</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
      <tr>
        <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
        <td style="text-align: center">{{ rowData.fecha }}</td>
        <td style="text-align: center">{{ rowData.motivo }}</td>
        <td style="text-align: center">{{ rowData.servicio }}</td>
        <td style="text-align: center">{{ rowData.nivelUrgencia }}</td>
        <td style="text-align: center">
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
            (click)="eliminarInterconsulta(rowData.idCupos,rowIndex)" pTooltip="Eliminar"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
  <!--<ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancelar"
      style="background-color: #0c3866"
      class="button-cancelar"
      icon="pi pi-times"
      (click)="cancelInterconsulta()"
    ></button>
    <button
      class="button-agregar"
      icon="pi pi-save"
      style="background-color: #0c3866"
      pButton
      type="button"
      label="Guardar"
      (click)="saveInterconsulta()"
    ></button>
  </ng-template>-->
</p-dialog>