<div class="body-psicomotor">
    <p-tabView class="w-full">
        <p-tabPanel header="ALIMENTACION" leftIcon="pi pi-calendar" [selected]="true">
            <ng-template pTemplate="content">
                <app-evaluacion-alimentacion></app-evaluacion-alimentacion>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="CRECIMIENTO Y ESTADO NUTRICIONAL" leftIcon="pi pi-chart-line">
            <ng-template pTemplate="content">
                <app-crecimiento-estado-nutricional></app-crecimiento-estado-nutricional>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="DESARROLLO PSICOMOTOR" leftIcon="pi pi-map">
            <ng-template pTemplate="content">
                <app-desarrollo-psicomotor></app-desarrollo-psicomotor>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="TAMIZAJES" headerStyleClass="w-2 text-center" leftIcon="pi pi-file-o">
            <ng-template pTemplate="content">
                <app-tamizajes></app-tamizajes>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="DOSAJE DE HEMOGLOBINA" headerStyleClass="w-2 text-center" leftIcon="pi pi-shield">
            <ng-template pTemplate="content">
                <app-procedimiento-dosaje-modal-hemoglobina></app-procedimiento-dosaje-modal-hemoglobina>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
<div id="opc">
    <div class="speeddial-circle-demo">
        <div class="speeddial-semi-circle">
            <p-speedDial showIcon="pi pi-desktop" hideIcon="pi pi-angle-double-down" [model]="tooltipItems" radius="80"
                direction="left" type="semi-circle"></p-speedDial>
        </div>
    </div>
</div>
<p-dialog header="INTERCONSULTA" [(visible)]="dialogInterconsulta" [modal]="true" [style]="{ width: '60%' }"
    [draggable]="false" [resizable]="false">
    <form [formGroup]="formInterconsulta">
        <div class="grid align-items-center">
            <div class="col-12 flex align-items-center">
                <div class="col-2 md:col-2">Fecha:</div>
                <div class="col-10 md:col-10 p-fluid">
                    <p-calendar class="w-full" [ngModel]="fecha" formControlName="fecha" [showIcon]="true"
                        inputId="icon">
                    </p-calendar>
                </div>
            </div>
            <div class="col-12 flex align-items-center">
                <div class="col-6 md:col-2">Motivo:</div>
                <div class="col-6 md:col-10">
                    <textarea class="inputfield w-full" formControlName="motivo" pInputTextarea></textarea>
                </div>
            </div>
            <div class="col-6 flex align-items-center">
                <div class="col-3 md:col-3 p-fluid">Servicio:</div>
                <div class="col-9 md:col-9 p-fluid">
                    <p-dropdown class="w-full" [options]="servicios" formControlName="servicio"
                        placeholder="Seleccione un servicio" optionLabel="nombreUPS" optionValue="nombreUPS"
                        [showClear]="false" (onChange)="ListaServicios()">
                    </p-dropdown>
                </div>
            </div>
            <div class="col-4 flex align-items-center">
                <div class="col-6 md:col-6 p-fluid">Nivel Urgencia:</div>
                <div class="col-6 md:col-6 p-fluid">
                    <p-dropdown class="w-full" [options]="urgencia" formControlName="urgencia" optionLabel="name"
                        optionValue="code"></p-dropdown>
                </div>
            </div>
            <div class="col-2 p-fluid">
                <p-button class="w-full button-agregar" style="background-color: #0c3866" label="Agregar"
                    icon="pi pi-plus" [loading]="loading" (onClick)="agregarInterconsulta()"></p-button>
            </div>
        </div>
    </form>
    <p-table class="table-over" [value]="listInterconsulta" #dt styleClass="p-datatable-gridlines" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [paginator]="true" [autoLayout]="true" [showCurrentPageReport]="true"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} entradas">
        <ng-template pTemplate="header">
            <tr>
                <th style="text-align: center" class="font-2">Nro</th>
                <th style="text-align: center" class="font-2">CITA</th>
                <th style="text-align: center" class="font-2">MOTIVO</th>
                <th style="text-align: center" class="font-2">SERVICIO</th>
                <th style="text-align: center" class="font-2">NIVEL</th>
                <th style="text-align: center" class="font-2">ACCIÓN</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rowIndex="rowIndex">
            <tr>
                <td style="text-align: center" class="font-2">{{ rowIndex + 1 }}</td>
                <td style="text-align: center">{{ rowData.fecha }}</td>
                <td style="text-align: center">{{ rowData.motivo }}</td>
                <td style="text-align: center">{{ rowData.servicio }}</td>
                <td style="text-align: center">{{ rowData.nivelUrgencia }}</td>
                <td style="text-align: center">
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger m-1"
                        (click)="eliminarInterconsulta(rowData.idCupos, rowIndex)" pTooltip="Eliminar"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <!--<ng-template pTemplate="footer">
      <button
        pButton
        type="button"
        label="Cancelar"
        style="background-color: #0c3866"
        class="button-cancelar"
        icon="pi pi-times"
        (click)="cancelInterconsulta()"
      ></button>
      <button
        class="button-agregar"
        icon="pi pi-save"
        style="background-color: #0c3866"
        pButton
        type="button"
        label="Guardar"
        (click)="saveInterconsulta()"
      ></button>
    </ng-template>-->
</p-dialog>