<div class="body-psicomotor">
    <p-tabView class="w-full">
        <p-tabPanel header="ALIMENTACION" leftIcon="pi pi-calendar" [selected]="true" >
            <ng-template pTemplate="content">
                <app-evaluacion-alimentacion></app-evaluacion-alimentacion>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel
                header="CRECIMIENTO Y ESTADO NUTRICIONAL"
                leftIcon="pi pi-chart-line"
        >
            <ng-template pTemplate="content">
                <app-crecimiento-estado-nutricional></app-crecimiento-estado-nutricional>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel header="DESARROLLO PSICOMOTOR" leftIcon="pi pi-map">
            <ng-template pTemplate="content">
                <app-desarrollo-psicomotor></app-desarrollo-psicomotor>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel
                header="TAMIZAJES"
                headerStyleClass="w-2 text-center"
                leftIcon="pi pi-file-o"
        >
            <ng-template pTemplate="content">
                <app-tamizajes></app-tamizajes>
            </ng-template>
        </p-tabPanel>
        <p-tabPanel
                header="DOSAJE DE HEMOGLOBINA"
                headerStyleClass="w-2 text-center"
                leftIcon="pi pi-shield">
            <ng-template pTemplate="content">
                <app-procedimiento-dosaje-hemoglobina></app-procedimiento-dosaje-hemoglobina>
            </ng-template>
        </p-tabPanel>
    </p-tabView>
</div>
