.p-button.p-button-danger,
.p-buttonset.p-button-danger > .p-button,
.p-splitbutton.p-button-danger > .p-button {
    color: rgb(255 255 255);
    background: #0c3866;
    border: 1px solid rgba(33, 150, 243, 0.76);
}

.p-button.p-button-danger:enabled:hover,
.p-buttonset.p-button-danger > .p-button:enabled:hover,
.p-splitbutton.p-button-danger > .p-button:enabled:hover {
    background: rgba(33, 150, 243, 0.76);
    color: rgb(255 255 255);
    border: #0c3866;
}



p-button >>> .p-button {
    color: rgb(255 255 255);
    background: #0c3866;
    border: 1px solid rgba(33, 150, 243, 0.76);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
.p-button {
    color: rgb(255 255 255);
    background: #0c3866;
    border: 1px solid rgba(33, 150, 243, 0.76);
    padding: 0.5rem 1rem;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}
