.p-button{
    width: 80%;
    height: 150%;
    text-align: center;
    background: #5B5B5B;
    border-radius: 10px;
    display: flex;

}
.container{
    width: 100%;
    max-height: 80%
}
img{
    max-width: 70%;
    max-heigth: 50%;
}

@media only screen and (max-width: 600px) {
    .font1{
        font-size: 20px;
        color:#AF0017;
        text-align: center;
    }
    .font2{
        font-size: 12px;
        text-align: center;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) {
    .font1{
        font-size: 35px;
        color:#AF0017;
        text-align: center;
    }
    .font2{
        font-size: larger;
        text-align: center;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .font1{
        font-size: 40px;
        color:#AF0017;
        text-align: center;
    }
    .font2{
        font-size: x-large;
        text-align: center;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .font1{
        font-size: 50px;
        color:#AF0017;
        text-align: center;
    }
    .font2{
        font-size: xx-large;
        text-align: center;
    }


}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .font1{
        font-size: 80px;
        color:#AF0017;
        text-align: center;
    }
    .font2{
        font-size: xx-large;
        text-align: center;
    }

   .container{
       max-height: 80%;
   }


}
