<form [formGroup]='formPlan'>
    <div class="grid p-fluid">
        <div class="col-12 md:col-12 lg:col-12 p-field">
            <label>Descripción:</label>
            <input type="text"  pInputText formControlName='descripcion'>
        </div>
        <div class="col-4 md:col-2 lg:col-2 p-field">
            <label>Atendido?:</label>
            <p-selectButton [options]="sino"  optionValue="value"
                            optionLabel="label" formControlName="atendido1"></p-selectButton>

        </div>
        <div class="col-8 md:col-4 lg:col-4 p-field">
            <label>1ra. Fecha :</label>
            <input type="date"  pInputText formControlName='primeraFecha'>
        </div>
        <div class="col-4 md:col-2 lg:col-2 p-field">
            <label>Atendido?:</label>
            <p-selectButton [options]="sino"  optionValue="value"
                            optionLabel="label" formControlName="atendido2"></p-selectButton>

        </div>
        <div class="col-8 md:col-4 lg:col-4 p-field">
            <label>2da. Fecha :</label>
            <input type="date"  pInputText formControlName='segundaFecha'>
        </div>
        <div class="col-4 md:col-2 lg:col-2 p-field">
            <label>Atendido?:</label>
            <p-selectButton [options]="sino"  optionValue="value"
                            optionLabel="label" formControlName="atendido3"></p-selectButton>

        </div>
        <div class="col-8 md:col-4 lg:col-4 p-field">
            <label>3ra. Fecha :</label>
            <input type="date"  pInputText formControlName='terceraFecha'>
        </div>
        <div class="col-12 md:col-6 lg:col-6 p-field">
            <label>Lugar</label>
            <input type="text"  pInputText formControlName='lugar'>
        </div>
    </div>
</form>
<div class="footer">
    <button pButton type="button" label="Guardar" (click)="closeDialogGuardar()" class="p-button-danger mt-4"></button>
    <button pButton type="button" label="Cancelar" (click)="canceled()"  class="p-button-danger mt-4"></button>
</div>