<p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
        <h3 class="text-base">SEÑALES DE PELIGRO DESPUES DEL PARTO Y SEÑALES DE PELIGRO DEL RECIEN NACIDO</h3>
    </ng-template>
    <ng-template pTemplate="right" class="button">
        <!-- <button
            pButton
            pRipple
            label="Atras"
            icon="pi pi-angle-left"
            class="p-button-primary mr-3"
            style="background-color: #5b5b5b"
          ></button>
          <button
            pButton
            pRipple
            label="Guardar"
            icon="pi pi-save"
            class="p-button-primary"
            style="background-color: #003c71"
          ></button> -->
    </ng-template>
</p-toolbar>
<div class="m-3">
    <div class="flex justify-content-between flex-wrap text-5xl">
        <div class=" col-12 md:col-3 borde  m-4">
            <div style="font-size: medium;">SANGRADO VAGINAL DESPÚES DEL PARTO</div>
            <div style=" font-size:medium;">SECRECIÓN VAGINAL DESPUES DEL PARTO</div>
        </div>
        <div class="col-12 md:col-2 borde m-4">
            DOLOR DE CABEZA
        </div>
        <div class="col-12 md:col-2 borde m-4">
            FIEBRE Y ESCALOFRIOS
        </div>
        <div class="col-12 md:col-2 borde m-4" >
            HINCHAZON Y DOLOR DE LAS MAMAS
        </div>
    </div>
    <div class="flex justify-content-between flex-wrap">


        <div class="col-12 md:col-2 borde m-4">
            BEBÉ AMARILLO
        </div>
        <div class="col-12 md:col-2 borde m-4">
            BEBÉ MORADO
        </div>
        <div class="col-12 md:col-2 borde m-4">
            BEBÉ NO KIERE LAPTAR
        </div>
        <div class="col-12 md:col-2 borde m-4">
            BEBÉ BAJO DE PESO
        </div>
    </div>
    <div style="text-align: right" class="m-3 ">
        <button
                pButton
                pRipple
                label="Guardar"
                icon="pi pi-save"
                iconPos="right"
                class="p-button-primary"
                style="background-color: #003c71"
        ></button>
    </div>
</div>