.pesoTalla{
    border-radius: 10px;
}

p-fieldset >>> .p-fieldset .p-fieldset-legend {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #495057;
    background: #d8dee5;
    font-weight: 600;
    border-radius: 5px;
    font-size: small;
}

p-checkbox>>> .p-checkbox .p-checkbox-box{
    border-radius: 50% !important;
}

.texto{
    font-size: .40rem;
}
/* .grid .col-3 .amarillo {
    background: red;
} */

.ng-tns-c135-51 .p-toggleable-content .p-fieldset-content .amarillo {
    font-size: 3em;
}
.amarillo .p-checkbox .p-checkbox-box{
    background: red !important;
}

::ng-deep .amarillo .p-checkbox  .p-checkbox-box{
    background: rgb(242, 236, 56);
    border-color: rgb(242, 236, 56);
}

p-checkbox>>> .p-checkbox .p-checkbox-icon{
    font-family: 'FontAwesome'; /* Indicamos que la tipografía es FontAwesome */
    content: "\f140";
}

p-radiobutton>>> .p-radiobutton .p-radiobutton-icon{
    /* background-image: ; */
    content: url("src\app\gestante\component\datos-basales\assets\icons\check-svgrepo-com.svg");
    /* border-color: red; */
    /* conten */
    /* size: 5px; */
    /* padding: 0px; */
    font-size: 0.5px;
    
}

::ng-deep .amarillo .p-radiobutton .p-radiobutton-icon{
    /* background: #2196f3;
    border: #2196f3; */
    background: yellow;
    border: yellow;
    /* size: ; */
}

::ng-deep .p-radiobutton .p-radiobutton-box.p-highlight{
    border-color: yellow;
    background: yellow;
}

p-radiobutton>>>.p-radiobutton .p-radiobutton-box.p-highlight:active{
    border-color: yellow !important;
    background: yellow !important;
}

