<p-toolbar>
    <ng-template pTemplate="left">
        <h3 class="mt-2">MOTIVO DE CONSULTA</h3>
    </ng-template>
    <ng-template pTemplate="right" class="button">
        <button pButton pRipple label="Atras" icon="pi pi-angle-left" class="p-button-secondary mr-2"></button>
        <button pButton pRipple label="Siguiente" iconPos="right" icon="pi pi-angle-right"
                class="guardar mr-2" style="background-color: #0c3866"></button>
    </ng-template>
</p-toolbar>
<br>
<p-fieldset legend="MOTIVOS DE CONSULTA"
            styleClass="mb-2"
            [toggleable]="true">
    <form [formGroup]="motivoFG">
        <textarea class="inputfield w-full mb-2"
                  formControlName="detailMotivoFC"
                  pInputTextarea>
        </textarea>
        <div class="grid">
            <div class="col-12 md:col-2 mt-2">
                Tipo de enfermedad :
            </div>
            <div class="col-12 md:col-2">
                <input type="text"
                       pInputText
                       formControlName="enfermedadFC"
                       class="inputfield w-full"/>
            </div>
            <div class="col-12 md:col-2 mt-2 text-right">
                Forma de inicio :
            </div>
            <div class="col-12 md:col-2">
                <input type="text"
                       pInputText
                       formControlName="inicioFC"
                       class="inputfield w-full"/>
            </div>
            <div class="col-12 md:col-1 mt-2 text-right">
                Curso :
            </div>
            <div class="col-12 md:col-3">
                <input type="text"
                       pInputText
                       formControlName="cursoFC"
                       class="inputfield w-full"/>
            </div>
        </div>
    </form>
</p-fieldset>

<p-fieldset legend="EXAMEN FÍSICO" [toggleable]="true">
    <p-divider></p-divider>
    <form [formGroup]="examFG">
        <div class="grid">
            <div class="col-12 md:col-2">
                <h3>SIGNOS VITALES :</h3>
            </div>
            <div class="col-12 md:col-10">
                <div class="grid">
                    <ng-container *ngFor="let controlFC of dataExamFisicos">
                        <div class="col-6 md:col-1 text-right">
                            {{controlFC.label}}
                        </div>
                        <div class="col-6 md:col-2">
                            <input type="number"
                                   pInputText
                                   [formControlName]="controlFC.nameFC"
                                   class="inputfield w-full"/>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>
        <p-divider></p-divider>
        <textarea class="inputfield w-full"
                  formControlName="detailFC"
                  pInputTextarea>
        </textarea>
    </form>
</p-fieldset>
