
.image {
    max-width: 100%;
    height: auto;
}

.gestanteList >>> .p-datatable .p-datatable-tbody > tr > td {
    text-align: left;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 0.2rem 1rem;
}

label {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    color: rgb(135 135 135);
    font-size: 11px;
}

.label2 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
}
